[2021-07-21 22:18] aaronshurley commented on #153
Closing out this issue in favor of creating smaller, more focused epics.

[2021-07-21 22:18] #153 closed, assigned to nobody

[2021-07-22 13:54] soumyapanigrahi-code opened #310 "Support kapp-controller Proxy Configuration via a Secret"
**Describe the problem/challenge you have**
Kapp controller exposes the ability to configure the controller via a config map which kapp controller will look for and apply as part of the startup processes. However some of the proxy information including passwords are sensitive in nature.

**Describe the solution you'd like**
Kapp controller exposes the ability to configure the controller via a secr

[2021-07-22 16:10] danielhelfand commented on #306
Curious if #151 would be helpful here.

[2021-07-22 16:43] jorgemoralespou commented on #289
Talking about an specific example:
Someone might want to deploy an application that has been designed to be deployed via Kustomize files (https://github.com/kubeflow/manifests). This repository provides a huge amount of manifests that uses Kustomize to generate the deployment descriptors.
As can be seen in the [README.md](https://github.com/kubeflow/manifests#install-individual-components), `kusto

[2021-07-22 18:07] voor commented on #306
It would indeed, if you combined this with the acknowledgement fetch operations could be destructive, you could effectively do something like:

[code]

[2021-07-22 18:07] joe-kimmel-vmw opened #311 "how will ytt-schema validations render through kapp-controller?"
@jorgemoralespou  points out that the new ytt schemas are pretty-printed when you use ytt, but we haven't thought through yet the user experience (current ux, easy improvements, ideal ux)

[2021-07-22 18:24] danielhelfand opened #312 "Determine if ytt schema errors are user friendly in context of kapp-controller"
One question that came up in the Carvel community meeting is what ytt schema errors look like when seen via a PackageInstall/App status. We do not currently have any testing in place for ytt schemas with kapp-controller so it might be worthwhile to add error case tests to assess if the UX is consumable for users. It would also be helpful to manually view statuses to assess if the information is ea

[2021-07-22 18:26] danielhelfand commented on #312
cc @jorgemoralespou

[2021-07-22 18:29] jorgemoralespou commented on #312
Related #311?

[2021-07-22 18:49] joe-kimmel-vmw commented on #311
duplicated by #312

[2021-07-22 18:49] #311 closed, assigned to vibhas

[2021-07-26 12:08] zynpsnltrkk opened #314 "deploying an App CR to a remote cluster using kapp-controller"
I have 2 rke2 clusters. I want to deploy from the first cluster to the second cluster with a kapp controller.
here is my app cr
[code]
I created second-kubeconfig under the kubeconfigSecretRef with the following steps:

i got kubeconfig file from second cluster (second-cluster-kubeconfig.yaml)
[code]
i encoded that file
[code]
i put that output into the secret and created the secret named second-k

[2021-07-26 16:27] cppforlife commented on #314
looking over at your steps, they seem all right.

how are you determining that? can you run `kapp ls -A` on both clusters and share that output?

what version of kapp-controller are you using, btw?

[2021-07-26 16:35] cppforlife commented on #314
ah noticed it. spec.serviceAccountName + spec.cluster is specified. when that happens serviceAccountName is preferred: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/pkg/deploy/factory.go#L30-L41. just remove spec.serviceAccountName and it should work.

[2021-07-26 16:55] zynpsnltrkk commented on #314
my first cluster:
[code]
my second cluster
[code]
I am using the latest version (kapp deploy -a kc -f https://github.com/vmware-tanzu/carvel-kapp-controller/releases/latest/download/release.yml)
and cluster versions:
[code]
I removed spec.serviceAccountName line but still the application deploys to the first cluster

[2021-07-26 16:59] cppforlife commented on #314
when you removed spec.serviceAccountName, it would not have deleted redis-ctrl from the 1st cluster, but i would expect it to deploy it to the second cluster.

[2021-07-26 17:10] cppforlife commented on #314
(we dont currently support "smart" move from one cluster to another, where software would be deleted from one and reinstalled on another. first cluster would continue to carry deployed app. you can remove it via "kapp delete -a redis-ctrl -n ...")

[2021-07-26 20:57] DennisDenuto commented on #197
[imgpkg v0.13.0](https://github.com/vmware-tanzu/carvel-imgpkg/releases/tag/v0.13.0) when pulling a bundle, no longer requires credentials to every image reference to 'validate' whether a bundle has been 'relocated'

[2021-07-26 21:44] aaronshurley commented on #282
Some notes:
- move the packaging of kapp-controller and secretgen-controller outside of this story. this story will focus on making the integration tests configurable
- consider these tests to be disabled by default (requiring the user to enable them)

[2021-07-26 22:08] danielhelfand commented on #282
Adding a note of how another Carvel project (kbld) implemented test skipping. Not to say this should be the final approach here, but just an example to consider.

https://github.com/vmware-tanzu/carvel-kbld/blob/b39a5bf1bc8c6bd92e949376554d438123944941/.github/workflows/test-gh.yml#L65

https://github.com/vmware-tanzu/carvel-kbld/blob/5ac3423555fe9e2dd8206f1fb343104e5f2aa0c5/test/e2e/build_kubectl

[2021-07-26 22:25] aaronshurley commented on #149
ytt schemas were provided in kapp-controller's most recent version [v0.21.0](https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.21.0) so this functionality is provided by default.

We have another issue that was created to focus more narrowly on schema error messaging: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/312

[2021-07-26 22:25] #149 closed, assigned to nobody

[2021-07-27 04:43] aaronshurley commented on #310
@soumyapanigrahi-code Thank you for surfacing this. We understand the use case and are discussing prioritization right now. We'll update this issue soon once we have a better idea of when we'd be able to start working on this.

[2021-07-27 16:33] danielhelfand commented on #310
Following up here with some initial design thoughts on how to approach this:
* We will continue to support ConfigMap configuration, but we will recommend the use of Secrets moving forward. We will also reinforce this idea by having kapp-controller prefer using the Secret in a scenario where both the kapp-controller-config ConfigMap/Secret exist. Additionally, [documentation](https://carvel.dev/kap

[2021-07-27 16:34] vibhas opened #315 "Package Authors should be able to provide an icon without degrading the readability of the PackageMetadata CR"
**Describe the problem/challenge you have**
Package Authors can provide an icon as an SVG Base64 encoded image in the `iconSVGBase64` field of PackageMetadata CR. However, these Base64 encoded strings can be quite long depending on the image size. This can make the YAML file difficult to read and edit.

**Describe the solution you'd like**
We need to figure out a way where authors can provide an i

[2021-07-27 17:18] cppforlife commented on #315
i would recommend putting this issue in "collecting info" bucket (>=6mo) until we have folks use the API for some time.

this is intentional so that clients only have to bother with supporting one "resizable" format. it does put the burden on package authors to provide necessary media in said format, but i think that trade off is reasonable since icon is optional.

[2021-07-27 17:27] danielhelfand commented on #242
We are estimating this as a larger story based on the following considerations:
* We need as a starting point an integration test between kapp-controller and secretgen-controller for the happy path scenario. Seeing as this will be the first test written for this, it will take some time to fully figure out this pattern.
* Additionally, there is likely to be more than one test needed to fully verify

[2021-07-27 18:36] aaronshurley commented on #310
Due to the proposed security improvement of this request, we have moved this to the top of the backlog and will begin working on this today.

[2021-07-27 19:50] cppforlife commented on #314
@zynpsnltrkk so to circle back, was the app contents installed onto the second cluster (might have taken X amount of time e.g. 30s before next deploy happened)?

[2021-07-28 10:20] zynpsnltrkk commented on #314
yes, it was deployed with the following app cr
[code]
in my first cluster
[code]
kapp ls for second cluster
[code]
thanks for your help

[2021-07-28 13:34] linkdd commented on #283
Hello @danielhelfand,

Sorry to bother you again 😅

After installing the controller with my Helm chart, I get the following error:

[code]

It seems there is a CRD `Package` missing, and I can't find it either in the `release.yml` nor in the `config/crds.yml` file from the repository.

Am I missing something?

[2021-07-28 18:15] cppforlife commented on #314
@zynpsnltrkk 👍. glad it worked. we should probably improve our error message regarding specifying both serviceAccountName and cluster. ill consider this issue resolved then.

[2021-07-28 18:15] #314 closed, assigned to nobody

[2021-07-28 21:28] danielhelfand commented on #310
This feature is available in release v0.22.0: https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.22.0

I will keep this open as a reminder to add documentation changes and close once those updates are made.

[2021-07-29 15:05] #310 closed, assigned to nobody

[2021-07-30 06:00] soumyapanigrahi-code commented on #310
Thanks a lot everyone. The quick turn-around time is much appreciated.

[2021-07-30 14:28] danielhelfand opened #319 "Move kapp-controller Image from DockerHub to New Registry to Avoid Rate Limiting"
As kapp-controller continues to gain wider adoption, an issue that has come up is [DockerHub's rate limiting](https://www.docker.com/increase-rate-limits). In order to assure users can successfully pull the kapp-controller image when deploying kapp-controller to a Kubernetes cluster without hitting rate limits, the kapp-controller image should be relocated to a new image registry.

There are no ha

[2021-07-30 14:51] danielhelfand commented on #283
[code]

This is added by [`kbld`](https://carvel.dev/kbld/), which we use to build the kapp-controller container image and include specific details on the image (e.g. the image digest).

[code]

This annotation is used to help denote the global namespace for kapp-controller. Any repository or individual package installed to this namespace has global scope and can be seen across any namespace on th

[2021-07-30 16:00] linkdd commented on #283
Ok thanks, looking at the source code, I  found the problem:

https://github.com/vmware-tanzu/carvel-kapp-controller/blob/65963fdeca26912025d0aa5ab167cda2c3440f60/pkg/apiserver/apiserver.go#L201

The name of the service is statically defined, and in my chart the service is named `{{ include "kapp-controller.fullname" . }}-packaging-api`

So the API server cannot find the service which triggers a `

[2021-07-30 17:18] danielhelfand commented on #86
This has been addressed and can be closed out: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/d94984a77fa907ac5ecc681e9a842b9877766a6b/pkg/apis/kappctrl/v1alpha1/doc.go#L6

[2021-07-30 17:18] #86 closed, assigned to nobody

[2021-07-30 17:27] danielhelfand commented on #49
This should now be available with our upgrade to CRD v1. With regard to the example above (`kubectl explain app.spec`), it would be nice for us to add description comments for each field and regenerate the CRD schemas using the `./hack/gen-crds.sh`. Currently, we have limited comments for fields:

[code]

We do have descriptive comments on our website for each CR that could be added above each fie

[2021-07-30 17:42] danielhelfand opened #320 "Update Carvel Setup Action to Use exclude Instead of only"
As part of Carvel's test-gh workflow, most of the Carvel tool suite is installed to build/test kapp-controller on pull request submissions/updates. Since most of the tool suite is installed, it might be simpler to use the carvel-setup-actions [exclude](https://github.com/vmware-tanzu/carvel-setup-action/issues/90) property as opposed to only as shown here: https://github.com/vmware-tanzu/carvel-ka

[2021-07-30 22:13] aaronshurley commented on #150
Makes sense. From a priority perspective, we likely won't be planning this soon so we're considering this as `priority/unprioritized-backlog`. We're open to contributions on this. Please voice any concerns about the priority if you have them.

[2021-07-30 22:21] aaronshurley commented on #179
~~For now, prioritizing this as `priority/important-longterm`. It would be great to hear more about the impact of this feature request, though.~~
Oops, wrong issue. Marking this as `awaiting-more-evidence` to learn more before we prioritize this.

[2021-07-30 22:23] aaronshurley commented on #256
For now, prioritizing this as `priority/important-longterm`. It would be great to hear more about the impact of this feature request, though.

[2021-07-30 22:42] aaronshurley commented on #49
Moving this to the unprioritized-backlog for now but we'll accept contributions for this.

[2021-07-30 22:55] aaronshurley commented on #319
Thanks for creating this. We're prioritizing it as `important-soon` so that we can have a more sustainable solution than DockerHub's free capabilities.

[2021-07-30 23:00] aaronshurley commented on #320
Makes sense. Moving this to the unprioritized backlog as _I think_ the impact would be limited to slightly shortening PR feedback loops.  Please let me know if you have any concerns regarding the prioritization. Contributions for this are welcome.

[2021-07-31 12:05] linkdd commented on #283
@danielhelfand So, I've started a PR to parametrize those values. This would help greatly to finalize this Helm Chart 🙂

[2021-08-03 20:13] cppforlife commented on #49
confirmed that this has been resolved (probably in 0.20.0)

[2021-08-04 03:54] joe-kimmel-vmw opened #322 "finish aligning release processes with new ldflags args"
just a placeholder issue so that we remember to revisit and ensure the version is passed correctly in all cases

[2021-08-09 14:05] danielhelfand commented on #49
I am going to reopen this as we still want to track work mentioned in [comment above](https://github.com/vmware-tanzu/carvel-kapp-controller/issues/49#issuecomment-890043648). Part of this issue is that there are also not a lot of field descriptions for our CRs through kubectl explain.

[2021-08-09 14:47] danielhelfand opened #323 "Improve Developer Docs"
In order to make it easier to contribute to kapp-controller, we should look into improving kapp-controller's [dev.md](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/d94984a77fa907ac5ecc681e9a842b9877766a6b/docs/dev.md).

Some things we should consider addressing (this list is a suggestion of things but can be expanded on):
- [ ] Mention to use kapp-controller's [install script](https:

[2021-08-09 16:33] #308 closed, assigned to joe-kimmel-vmw

[2021-08-09 22:26] ewrenn8 opened #325 "Feature: Allow specifying auth details in PackageInstall annotation"
**Describe the problem/challenge you have**
There is no escape hatch for providing authentication details to package fetch stages via a PackageInstall

**Describe the solution you'd like**
An annotation that allows specifying the secret containing auth details and the fetch stage the secret should be used in. This will also stop kapp-controller from creating a placeholder secret and using it for t

[2021-08-10 16:15] voor opened #326 "Add AGE support to Kapp-controller"
**Describe the problem/challenge you have**
SOPS is encouraging folks to migrate from PGP to AGE, AGE also seems to more closely align with the unix pipeline philosophy of Carvel tooling.

**Describe the solution you'd like**
Either directly add AGE support in such a way SOPS can be used for the developer experience and then AGE "just works" in kapp-controller, or add SOPS AGE support.

**Anything

[2021-08-10 19:00] danielhelfand commented on #319
Just wanted to note here that this will also apply to secretgen-controller, which is stored under the k14s repository. We should open a separate issue there to track this work.

[2021-08-10 19:31] vibhas commented on #179
Hey @shyaamsn, wanted to see if you might be able to provide more information to Aaron's comment above.

[2021-08-10 22:36] cppforlife commented on #326
@voor would you still be using sops on your machine with an age backend?

[2021-08-10 22:54] voor commented on #326
Yes, that is the goal

[2021-08-11 13:25] #282 closed, assigned to danielhelfand

[2021-08-11 18:02] vijaykatam opened #328 "kapp-controller crashes in AWS with control plane instances of type t3.medium"
**What steps did you take:**
Deploy kapp-controller 0.21.0 or 0.20.0 using TKG 1.4.RC.1 build in AWS with control plane and worker set to t3.medium

**What happened:**
kapp-controller is in a crash loop
[code]

Logs
[code]

**What did you expect:**
[A description of what was expected]

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.] I have a

[2021-08-11 18:29] cppforlife commented on #328
hmm, does it take longer to become healthy? how does apiservice resource for kapp-controller look like?

[2021-08-12 13:11] cppforlife commented on #328
we are bumping timeout to 60s (https://github.com/vmware-tanzu/carvel-kapp-controller/pull/330)

[2021-08-13 13:43] cppforlife commented on #328
released https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.23.0 to bump timeout to 60s

[2021-08-13 13:43] #328 closed, assigned to nobody

[2021-08-16 17:15] danielhelfand opened #336 "Private Auth Feature Cleanup"
This issue is a placeholder for various issues we need to cleanup with the private authentication feature being developed for kapp-controller's PackageInstall/PackageRepository custom resources. Anyone should feel free to weigh in on additional considerations that need to be improved after the initial implementation.

- [ ] How to handle additional reconciliations for App CRs when placeholder secr

[2021-08-16 21:29] aaronshurley commented on #325
Sounds like this made it into the last release but it needs to be documented.

[2021-08-18 02:46] mhoshi-vm opened #337 "Expose reconcile status as metrics to allow monitoring"
**Describe the problem/challenge you have**
One thing we need is at least be able to expose the reconcile status to an external monitoring sysytem. We have seen a cluster that was running fine for several days until we realized that it was actually failing to reconcile due to someone mistakenly changed the service account role.

This cannot be identified until somebody executes `kubectl get apps`

[2021-08-18 09:27] vdesikanvmware commented on #319
This would also affect my team. For installing our repo bundle, kapp-controller is required. Can we prioritize and have this fixed?

[2021-08-18 17:05] aaronshurley opened #338 "Ensure that private registry authentication documentation mentions IaaS preauth capabilities"
**Describe the problem/challenge you have**
`imgpkg` recently introduced the capability to [leverage preauthed IaaS registries](https://carvel.dev/imgpkg/docs/latest/auth/#via-iaas). This issue is to ensure that kapp-controller [documentation](https://carvel.dev/kapp-controller/docs/latest/private-registry-auth/) notes this workflow.

**Describe the solution you'd like**
The minimum necessary docs

[2021-08-18 21:35] #243 closed, assigned to danielhelfand

[2021-08-19 19:59] #242 closed, assigned to danielhelfand

[2021-08-20 14:43] cppforlife opened #341 "Various small enhancements to packaging"
**Describe the problem/challenge you have**

- [x] package install wont reconcile changes to app (eg spec.canceled/spec.paused) so that app can actually get deleted
- [ ] package install immediately is considered as ReconcileFailed when it previously failed, and change was made to package install. when change to the app kicks in, package install will flip to Reconciling and ReconcileSucceeded if a

[2021-08-23 06:03] mhoshi-vm commented on #337
Hi,
I am currently trying to develop a pull request. Will try to submit in few days for review.

[2021-08-23 13:10] #281 closed, assigned to ewrenn8

[2021-08-23 17:08] danielhelfand opened #347 "Bump kapp to v0.38.0"
kapp-controller should upgrade to the [latest version of kapp](https://github.com/vmware-tanzu/carvel-kapp/releases/tag/v0.38.0). As part of doing so, we should also update e2e tests for kapp-controller to take advantage of kapp's ability to wait for reconciliation of PackageInstalls/PackageRepositories as described in #305.

[2021-08-24 23:03] joe-kimmel-vmw opened #349 "placeholder: can kapp-controller signal kapp to transiently suppress failures when success is expected to take a few cycles?"
**Describe the problem/challenge you have**
Users of kapp-controller, including UI dashboards that rely on kapp-controller under the hood, often see a "reconcile failed" message which resolves into a "reconcile succeeded" message if they wait for some tens of seconds.  This false failure undermines user confidence and presents rough edges to end-users.

**Describe the solution you'd like**
Are the

[2021-08-25 00:02] maralavi opened #350 "Reconciliation failure message being added to the FriendlyDescription instead of usefulErrorMessage"
**What steps did you take:**
Was working on a feature relying on Carvel Kapp Controller, and realized that after the PackageInstall reconciliation failed, the error message was not populated into the UsefulErrorMessage.

**What happened:**
Looked at the pkgi resource and realized that the error message was being added to the FriendlyDescription instead. Looked into the carvel-kapp-controller code

[2021-08-25 15:15] danielhelfand commented on #350
Hi @maralavi,

Thanks for opening this and sorry for the issues.

The error is set [here](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/e5667d3102f34e05df58e42670689b3d6ab5ee29/pkg/packageinstall/packageinstall.go#L115) in the source. This comes from the PackageInstall's App which sets its usefulErrorMessage [here](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/e5667d310

[2021-08-25 16:43] joe-kimmel-vmw opened #351 "Change e2e Tests Retry to iteration count"
Currently our e2e tests use a time-based retry (see e.g. https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/test/e2e/kappcontroller/app_secret_configmap_reconcile_test.go#L98 )  ,  but time is notoriously slippery, especially in "the cloud" (see also https://gist.github.com/timvisee/fcda9bbdff88d45cc9061606b4b923ca ).

Very likely we can replace the existing retry function with a

[2021-08-25 17:11] aaronshurley commented on #351
Thanks for creating this @joe-kimmel-vmw! Accepting this and prioritizing it as `important-longterm` since this will provide engineering improvements but isn't something that we need to address too soon. Moving it towards the bottom of the prioritized backlog. We're open to contributions!

[2021-08-25 17:19] aaronshurley commented on #349
Accepting this issue and moving it to the unprioritized backlog, for now. If we receive more signal for this feature then we can bump the priority.

[2021-08-25 17:26] aaronshurley commented on #341
@cppforlife Could we break these down into separate issues with more context? The current list of issues is a bit challenging to grok, especially if non-maintainers would try to pick up this work.

[2021-08-25 17:30] aaronshurley commented on #337
Thanks for creating this issue and submitting a PR!

[2021-08-26 01:06] joe-kimmel-vmw commented on #349
just to push a little on signal,  this something that I saw previously and that 100+ people saw during a live demo of TMC, which the primary demo-driver wasn't ready for but which their secondary driver was basically expecting. Respect we may still wait to prioritize relative to other incoming signals.

[2021-08-26 15:19] #347 closed, assigned to danielhelfand

[2021-08-26 18:38] joe-kimmel-vmw commented on #319
i'm looking at ~quay.io~ github registry to understand if it could offer a drop-in replacement.

[2021-08-26 20:50] #244 closed, assigned to danielhelfand

[2021-08-27 16:28] aaronshurley opened #352 "GitHub worklow tests should test latest (or a more recent) version of minikube/k8s"
**Describe the problem/challenge you have**
I noticed a [kapp PR](https://github.com/vmware-tanzu/carvel-kapp/pull/274/files) was submitted to test against the latest version of minikube, and therefore a recent version of kubernetes. I noticed that [kapp-controller's version of minikube/k8s is manually updated](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/.github/workflows/t

[2021-08-27 16:52] aaronshurley commented on #349
Thanks @joe-kimmel-vmw for the additional info. I'd be inclined towards increasing the priority of this issue or at least more closely monitoring this issue in the near term so that we can move quickly.

@vibhas thoughts?

[2021-08-30 18:16] vibhas commented on #349
I agree this is important. I would say that let's closely monitor this issue for now and then prioritize it based on a bit more evidence and feedback.

[2021-08-30 21:20] vibhas commented on #325
This was released in v0.23.0
Docs can be found here: https://carvel.dev/kapp-controller/docs/latest/private-registry-auth/#packageinstall

[2021-08-30 21:21] cppforlife commented on #183
included in https://github.com/vmware-tanzu/carvel-kapp-controller/pull/353

[2021-08-30 21:33] cppforlife opened #355 "tracking issue for imgpkg bump to support iaas pre-authed registries"
**Describe the problem/challenge you have**

Waiting on: [imgpkg should support iaas pre-authed registries when running on preconfigured vms/cointainers](https://github.com/vmware-tanzu/carvel-imgpkg/issues/202)

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I

[2021-08-31 02:36] #325 closed, assigned to nobody

[2021-08-31 20:37] linkdd commented on #283
The PR has been merged, I'm waiting for the next release (I just upgraded from v0.21.0 to v0.24.0) then I'll close this issue 🙂

Also, would you be open to a PR adding this chart as an installation method on [this page](https://carvel.dev/kapp-controller/docs/latest/install/)?

[2021-09-01 00:18] voor commented on #306
/remove lifecycle-stale

[2021-09-02 18:38] danielhelfand commented on #338
Further work on this story is blocked by a new release of imgpkg/kapp-controller with the bump of imgpkg. We would like to mention the [support for support iaas pre-authed registries](https://github.com/vmware-tanzu/carvel-imgpkg/issues/202) in imgpkg as part of the blog post.

There is a draft available with the initial feature so including information about this new imgpkg feature in there will

[2021-09-04 00:07] #275 closed, assigned to nobody

[2021-09-04 00:07] #267 closed, assigned to nobody

[2021-09-07 16:51] cppforlife commented on #326
age 1.0.0 was just released: https://github.com/FiloSottile/age/releases/tag/v1.0.0

[2021-09-07 17:19] vibhas opened #357 "kapp-controller website improvements"
**Describe the problem/challenge you have**
We made many changes to the kapp-controller website when we launched it as a Package Manager. However, there are still a few more changes that could be made in order for our new users to get a better understanding of the tool and help them get started quickly.

- [ ] Create a custom slug such as "carvel.dev/kubecon" that could be shared in the Kubecon vi

[2021-09-10 00:09] #197 closed, assigned to nobody

[2021-09-13 18:11] vibhas opened #359 "Community meeting demo for private registry authentication"
**Describe the problem/challenge you have**
Now that we support private registry authentication on kapp-controller + secretgen-controller, we should share with the community how this feature works.

**Describe the solution you'd like**
During a Carvel community meeting, let's present a short demo about the feature.
- Push a package repository bundle and the package content bundle to a registry tha

[2021-09-14 17:02] joe-kimmel-vmw commented on #322
i think we figured out that this is working as desired at this point.

[2021-09-14 17:02] #322 closed, assigned to nobody

[2021-09-14 17:26] danielhelfand commented on #352
I think it would be reasonable to always run against the latest minikube version. We are pretty up to date (using 1.21 while latest is 1.23), but making sure kapp-controller is always working against latest moving forward would be nice.

Something to factor in with this is also running kapp-controller against an older version of Kubernetes to have a better understanding if our changes are failing

[2021-09-14 19:41] danielhelfand opened #360 "Documentation: Mention that imgpkg does not extract username/password out of auth key for private auth"
For users of kapp-controller's [private auth feature](https://carvel.dev/kapp-controller/docs/latest/private-registry-auth/), we should call out that the Kubernetes Secret of type dockerconfigjson only supports username/password keys like below:

[code]

Some users may expect the following format to work in their Secrets:

[code]

imgpkg currently does not extract base64 encoded username/password

[2021-09-14 20:44] danielhelfand commented on #352
One possible downside to the approach in kapp's CI though is that it would make checksum validation of the minikube binary challenging.

[2021-09-15 19:44] cppforlife commented on #360
this is something we should also fix in vendir...

[2021-09-15 20:16] vibhas opened #361 "Upgrades & Dependency Management"
Some advanced were out of scope for the MVP. This epic tries to capture the use cases for two things: 1) Advanced Scenarios for Package Distribution, Installation, & Upgrades and 2) Dependency Management

## Advanced Package Distribution, Installation & Upgrades User Stories

### Distributing new versions of Packages
- [Docs Improvement] Package author needs a recommended way to package newer vers

[2021-09-15 22:31] danielhelfand commented on #360
Captured some details in the linked issue, but feel free to add more vendir specifics to the issue.

[2021-09-16 15:01] danielhelfand commented on #360
Seems like this will be [resolved in vendir](https://github.com/vmware-tanzu/carvel-vendir/pull/107) pretty soon. As far as this issue, we should probably just instead make a minor mention about how this format was not supported in v0.24.0 but is in v0.25.0+. Assuming vendir bump occurs in v0.25.0.

[2021-09-17 16:26] danielhelfand opened #362 "Bump vendir to 0.23.0"
Once vendir 0.23.0 is available, it will include the following feature: https://github.com/vmware-tanzu/carvel-vendir/pull/107

Including this will be useful to users of kapp-controller's [private authentication workflows](https://carvel.dev/kapp-controller/docs/latest/private-registry-auth/).

A follow up to this would be #360 which covers the documentation aspect of this new feature.

Bumping th

[2021-09-18 06:15] vibhas commented on #245
I have tried to capture the use cases for both upgrades and dependency management in this issue: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/361

I am going to close this issue in favor of that one.

[2021-09-18 06:16] #245 closed, assigned to nobody

[2021-09-19 00:11] danielhelfand commented on #49
This is still relevant and is ready to be picked up.

[2021-09-19 18:25] Atharva321 commented on #362
Hii, I am interested work on this issue.

[2021-09-19 18:30] danielhelfand commented on #362
Hi @Atharva321!

We would be grateful for your help. Please feel free to submit a pull request. The vendir release should be available and this work should be ready to go.

[2021-09-19 19:43] Atharva321 commented on #362
Done . is it ok?

[2021-09-20 15:48] danielhelfand commented on #357
Rationale for not removing katacoda tutorial authentication is that katacoda does not have much documentation on the subject. In general, we should probably consider an alternative to katacoda that will allow for more flexibility and easier maintenance in the long run.

[2021-09-20 15:48] #357 closed, assigned to danielhelfand

[2021-09-20 17:43] danielhelfand commented on #150
Looks like this was addressed in https://github.com/vmware-tanzu/carvel-kapp-controller/pull/329

[2021-09-20 17:43] #150 closed, assigned to nobody

[2021-09-20 17:46] danielhelfand commented on #103
We are not going to do this as it would be a pretty significant breaking change. Closing this.

[2021-09-20 17:46] #103 closed, assigned to nobody

[2021-09-20 18:46] aaronshurley commented on #338
We're planning to repurpose this issue to add further information to the docs rather than create a blog post.

[2021-09-20 19:30] cppforlife opened #364 "creator of PackageRepository CR should be able to specify which packages are imported"
**Describe the problem/challenge you have**

Currently when PackageRepository CR is created all packages become available for use. Administrators (who create PkgRepo CRs) might be interested in locking down what particular PackageRepository imports into the cluster.

**Describe the solution you'd like**

Provide a filtering feature on PackageRepository CR for Packages and PackageMetadata that woul

[2021-09-20 19:56] danielhelfand commented on #306
@voor Do you have any preferred UX around this experience? I know we briefly discussed #151 approach but wanted to see if you had other thoughts.

Alternatively, if implementation proves difficult, would better documentation be enough here to satisfy this?

[2021-09-20 20:03] danielhelfand commented on #312
Noting for this issue that we may want to consider investigating other ytt errors as well.

[2021-09-20 23:12] #355 closed, assigned to nobody

[2021-09-20 23:12] #362 closed, assigned to nobody

[2021-09-21 15:05] voor commented on #306
`subDirName` or a similar implementation where you could overlay and provide a path of migration would be the optimal solution.

As a current user of App CRs, I want to add a new fetch without needing to modify the existing ytt paths or sops paths.

[2021-09-21 20:11] danielhelfand commented on #223
This has been addressed in v0.25.0: https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.25.0

[2021-09-21 20:11] #223 closed, assigned to nobody

[2021-09-21 21:11] danielhelfand commented on #183
Available in v0.25.0: https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.25.0

[2021-09-21 21:11] #183 closed, assigned to cppforlife

[2021-09-22 15:20] danielhelfand opened #368 "Enable trivy scan as part of nightly build"
As described in https://github.com/vmware-tanzu/carvel-kapp/issues/315, it might be helpful for us to consider adding a security scan as part of a nightly build process. This would help us monitor and triage security alerts better for kapp-controller. In particular, conducting a scan of the kapp-controller image could be helpful.

[2021-09-22 17:41] joshrosso opened #369 "Add support for required Kubernetes version on packages and enforce a check in `kapp-controller`"
## Feature Request

Packages may require specific features or APIs to be available in Kubernetes for proper installation. As such, a package should be able to declare its required Kubernetes version. `kapp-controller` should enforce this check before allowing a `PackageInstall` to be satisfied.

## Describe alternatives you've considered

This could happened entirely client-side. However, it seems

[2021-09-22 17:56] danielhelfand commented on #369
Thanks for opening this.

The case of depending on specific APIs for kapp-controller Packages (e.g. group version kind) seems like something which will definitely be supported as part of our upcoming work on dependency management.

The Kubernetes version is an interesting case that I think we should further consider and come up with a way to support as well. Thanks for calling this out as we hadn'

[2021-09-23 15:42] aaronshurley commented on #359
After some discussion, we decided that we're not going to perform this demo as the documentation will be sufficient. Closing.

[2021-09-23 15:42] #359 closed, assigned to nobody

[2021-09-23 22:33] aaronshurley opened #370 "Bump go version to latest"
**Describe the problem/challenge you have**
We want to ensure that the code remains compatible with the latest versions so that we do not risk falling behind and on an unsupported version (note: go supports n-1 versions).

**Describe the solution you'd like**
The code runs on the latest version of go.

**Anything else you would like to add:**

---
Vote on this request

This is an invitation to the

[2021-09-23 23:03] joe-kimmel-vmw commented on #326
just a note that sops >= 3.7.0 support age.

[2021-09-23 23:04] aaronshurley opened #371 "Draft a proposal for the Upgrades & Dependency Management epic"
**Describe the problem/challenge you have**
We have many use cases that we'd like to address related to Upgrades & Dependency Management (see #361) for kapp-controller.

**Describe the solution you'd like**
Following the [proposals process](https://github.com/vmware-tanzu/carvel/tree/develop/proposals), we'd like to gain alignment on what we're setting out to achieve with this epic.

**Anything el

[2021-09-23 23:10] aaronshurley commented on #371
@danielhelfand Just a heads up that this issue exists in case you want to capture any context here.

[2021-09-23 23:13] aaronshurley commented on #49
Removed the `carvel-triage` label to prevent the GH actions bot from adding the `stale` label.

[2021-09-23 23:18] aaronshurley commented on #300
@danielhelfand I noticed that the GH actions bot closed this out but I think it's still relevant?

[2021-09-24 20:37] cppforlife opened #373 "consider global kapp-controller flag to raise default sync period"
**Describe the problem/challenge you have**
By default sync period is 30s on App CRs. It might be useful for an administrator to set higher default syncPeriod.

**Describe the solution you'd like**
- add --app-default-sync-period=X flag on kapp-controller (defaulted to 30s)
- add --app-minimum-sync-period=X flag as well (defaulted to 30s)
- add --package-install-default-sync-period=X flag as well

[2021-09-27 15:15] danielhelfand commented on #373
Think this would be a good addition. For anyone picking up this issue, a good place to start might be looking at the flags for the controller [here](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/8e1ab43ea190d32f11c0980202b303f762d7be4a/cmd/main.go#L25).

[2021-09-27 15:17] danielhelfand commented on #309
Seems like this could be solved by making the sync period configurable as mentioned in #373. Going to close this in favor of that issue.

[2021-09-27 15:17] #309 closed, assigned to nobody

[2021-09-27 15:23] danielhelfand commented on #283
Sorry for late reply here.

I think our preference is still to suggest using just the release YAML at this time as documented at https://carvel.dev/kapp-controller/docs/latest/install/.

The helm chart usage seems like a specific requirement for adding to the Digital Ocean Marketplace.

[2021-09-27 15:52] joe-kimmel-vmw commented on #326
I made a ["spike" / POC ](https://github.com/vmware-tanzu/carvel-kapp-controller/compare/jk-sops-age)where I shimmed in age into the existing PGP fields and there's not many touch points.

 It seems like the 'right' way is to add a field to the [AppTemplateSops]( https://github.com/vmware-tanzu/carvel-kapp-controller/blob/6a3815cee4d1a8dda735f3636976ef184a7b7c30/pkg/apis/kappctrl/v1alpha1/types_te

[2021-09-27 16:14] danielhelfand commented on #326
This sounds about right to me. Thanks for documenting this all. I do think @cppforlife has improved this process by making it so you do not need to install all the generators locally. It's a pretty painful process without it.

You will want to run `./hack/build.sh` which will update the CRD definitions and also [`./hack/gen.sh`](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/8e1ab43ea

[2021-09-27 18:10] aaronshurley commented on #338
There is a PR for this https://github.com/vmware-tanzu/carvel/pull/242

[2021-09-28 15:08] danielhelfand opened #374 "Include ./hack/gen.sh and ./hack/gen-apiserver.sh in ./hack/verify-no-dirty-files.sh or ./hack/build.sh"
As part of kapp-controller's CI process, a [script is run](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/8e1ab43ea190d32f11c0980202b303f762d7be4a/.github/workflows/test-gh.yml#L45) called [`./hack/verify-no-dirty-files.sh`](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/8e1ab43ea190d32f11c0980202b303f762d7be4a/hack/verify-no-dirty-files.sh). This script is used to determ

[2021-10-01 10:27] jorgemoralespou opened #376 "PackageRepository trying to delete when PackageInstall has same name and namespace"
**What steps did you tak and What happened:**
We deployed a PackageRepository (foo) into the default namespace (with tanzu cli repository add command) that provided a Package and PackageMetadata named foo as well.
We then run `tanzu package install foo --packagename foo.example.com --version 1.0.0 -f my-values.yaml` and then, all of a sudden, the Package and PackageMetadata foo got uninstalled, an

[2021-10-01 10:29] jorgemoralespou commented on #376
cc/ @andmagom

[2021-10-01 15:24] danielhelfand commented on #376
This seems to be a conflict that occurs with kapp. Since the PackageRepository/PackageInstall have the same name in the same namespace, kapp seems to be trying to delete the PackageRepository causing its Packages to be deleted.

To restore the PackageRepository in this case, one would need to delete the PackageInstall and then the PackageRepository should again successfully reconcile.

The workaro

[2021-10-01 15:48] cppforlife opened #377 "kapp-controller fails to reconcile package repository on GKE sometimes"
**What steps did you take:**

- get a GKE (not autopilor) cluster (k8s ~1.20)
- kapp-controller v0.25.0/v0.24.0 installed
- added package repository
- observe timeout failures when trying to add package crs

[code]

**What happened:**

<details>
  <summary>snippet from the kapp-controller logs</summary>

[code]
</details>

**Other info:**

- this might be related to https://github.com/antrea-io/an

[2021-10-01 16:24] danielhelfand commented on #377
We are going to look into reproducing this on a GKE cluster to further diagnose this. Hopefully we can make some further recommendations after doing so.

[2021-10-01 17:54] neil-hickey opened #378 "Developing locally against Minikube"
**What steps did you take:**
Whilst following https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/docs/dev.md

I ran `./hack/deploy.sh` on a newly created cluster on minikube.

**What happened:**
The following error occurred whilst installing `kapp-controller`:

[code]

**What did you expect:**
No Error

**Anything else you would like to add:**
This is caused by docker not being ab

[2021-10-01 18:02] jorgemoralespou commented on #376
Hey @danielhelfand I take your comment as a workaround. I assume the underlying problem will be fixed to allow package, packagerepositories and packageinstalls to ask have the same name, which is something that makes sense from a user POV.

[2021-10-01 19:20] #378 closed, assigned to nobody

[2021-10-01 20:29] danielhelfand commented on #376
I do think we should address this. Did not mean that workaround of using different name will be the solution.

I think the problem really stems from how kapp deploy -a works. Right now, kapp-controller passes the name of the repo or packageinstall to kapp which then uses the name for -a. This issue may even happen with PackageRepos and Apps.

[2021-10-01 20:42] danielhelfand commented on #377
This has been reproduced on GKE.

An interesting note here is that the [PackageRepository we used to reproduce this issue](https://gist.githubusercontent.com/cppforlife/901fe7d3e8b1bcfea040a67c02f235e0/raw/58a274e1b6a6b4c47bdc15aa7a4cb997ee5e0edd/1-repo.yml) did eventually reconcile successfully after starting in a failing state with the same error mentioned above.

Also, our [sample repo](https:/

[2021-10-01 23:29] cppforlife opened #381 "kapp for reconciling package repo contents falls back on slow path"
**What steps did you take:**
kapp-controller's SA (used when reconciling pkg repos) has perms to list all namespaces, but does not have perms to list most of the resources. currently kapp will consider all namespaces as accessible (because it will see them in the list) but will waste a lot of requests on failing to list resoures in each one of them. instead of doing that, lets add a flag to kapp t

[2021-10-04 01:05] joe-kimmel-vmw commented on #373
@danielhelfand @cppforlife the suggestion above to look at the flags is helpful but i think not the full story.

 The other end of the change imo is that [this hardcoded](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/pkg/app/reconcile_timer.go#L64)`30` wants to be read from some global-state store.

 Off the top of my head I can't think of prior art for something like this, t

[2021-10-04 15:14] danielhelfand opened #383 "Refactor Retry Approach for Private Auth"
This issue was originally opened as #336 and focuses on the following bullet points from that issue:

For carrying out the fetch of an imgpkg bundle from a private registry, kapp-controller currently tries to authenticate with a placeholder secret populated by secretgen-controller. There can be a slight delay in secretgen-controller filling in registry credentials in enough time before kapp-contro

[2021-10-04 15:15] danielhelfand commented on #336
Closing this issue and reopening as separate issues.

[2021-10-04 15:15] #336 closed, assigned to nobody

[2021-10-04 15:30] danielhelfand opened #384 "Better way of checking whether PackageInstall/App has placeholder secrets"
This issue was originally opened as #336 and focuses on the following bullet points from that issue:

kapp-controller currently will retry fetching an image or imgpkg bundle if an error occurs during the fetch stage of PackageInstalls/PackageRepositories. This was mainly done to support kapp-controller's [private authentication workflows](https://carvel.dev/kapp-controller/docs/latest/private-regi

[2021-10-04 16:01] danielhelfand opened #385 "Only deploy/delete registry once for secretgen-controller tests"
This issue was originally opened as #336 and focuses on the following bullet points from that issue:

For private authentication tests, both tests create the same pre-populated registry. This is shown below:
* PackageInstall private auth test: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/8564fa8f498cab66f34e1588b7057f24ec1fc022/test/e2e/secretgencontroller/private_registry_auth_test

[2021-10-04 18:41] joe-kimmel-vmw commented on #373
TODO:  reach out to users (proactively reach out to internal users, TKG,  other users welcome to comment on this ticket). to see the personas of who is setting the config:
https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/pkg/config/config.go#L38
vs. the deployment flags,
to see if there's a more or less reasonable place to put these additional knobs.

[2021-10-04 18:49] cppforlife commented on #368
related: https://github.com/vmware-tanzu/carvel-kapp/issues/315

[2021-10-04 23:08] neil-hickey opened #388 "Add PR template"
**Describe the problem/challenge you have**
When submitting a pull request for kapp-controller, there is no current guidelines on how to contribute / where to look and there is no way to track whether we want a release note for each PR.

This can also be further improved / automated to auto-label PRs for ease of backlog management.

**Describe the solution you'd like**
Add a pull request template

[2021-10-04 23:30] aaronshurley commented on #373
I had a brief chat with @shyaamsn about this and he expressed a preference for the ability to set these properties via [the config](https://carvel.dev/kapp-controller/docs/latest/controller-config/). The reasons being that it would align with how they currently configure things and it would be easier to track changes.

[2021-10-05 19:22] cppforlife commented on #377
...it seems that the issue is still there for new clusters (existing cluster somehow was working).

[2021-10-05 19:29] voor commented on #60
My concern is that there's already a lot of ways to define paths in the App CR for ytt, so adding more complexity here is going to increase the level of maintenance and have a lot more ways to do the same thing.  Ultimately, we just don't want ytt to crash when a directory isn't present -- if the directory does exist and it's empty, then ytt wouldn't complain.  Would it be simpler to have some sor

[2021-10-05 21:20] maralavi commented on #350
Hi @danielhelfand Sorry for the delay. I just updated the related PR. When I run the following after building the package plugin with the changes in [this PR](https://github.com/vmware-tanzu/tanzu-framework/pull/768), and intentionally providing an invalid version for the package, I get the following:
[code]

As you can see```status.UsefulErrorMessage``` happens to be empty in this error. Please n

[2021-10-06 04:19] ssamrit-vmw opened #391 "kapp-controller fails to come up when cluster is configured with proxy"
**Describe the problem/challenge you have**
When TMC attached cluster is configured with proxy and kapp-controller-config is created with the http and https proxy URL, kapp-controller fails to communicate with k8s API server.
[code]

**Describe the solution you'd like**
After adding $(KUBERNETES_SERVICE_HOST) which is 10.96.0.1 in the noProxy list of kapp-controller-config, the kapp-controller sta

[2021-10-06 04:26] ssamrit-vmw opened #392 "kapp-controller logs the proxy credentials"
**What steps did you take:**
Configured the kapp-controller-config with proxy URLs in the `http://username:password@ip:port` format.

**What happened:**
The kapp-controller logs had the URLs with credentials in plain text.

**What did you expect:**
We expect the proxy credentials to be masked when logging proxy URLs.

cc: @cppforlife

**Environment:**

- kapp Controller version (execute `kubectl g

[2021-10-06 14:10] danielhelfand commented on #392
Thanks for opening this @ssamrit-vmw.

It looks like this is taking place [here](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/4b0307d377e429c00d8f5cf6499bf59989f71f44/cmd/controller/run.go#L196). It was added in #65 probably as a way to debug the feature and also publish the information to end users, but it doesn't look like it considered this kind of format at the time.

I would su

[2021-10-06 15:16] aaronshurley commented on #377
@cppforlife [v0.27.0](https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.27.0) resolves this issue now, correct?

[2021-10-06 15:28] danielhelfand commented on #377
It should I believe. I think we can close.

[2021-10-06 15:28] #377 closed, assigned to nobody

[2021-10-07 15:01] danielhelfand commented on #391
Thanks for opening this, @ssamrit-vmw.

Is there anything else in your mind that should be auto-populated in this feature besides `KUBERNETES_SERVICE_HOST`?

What would be the ideal user experience with this feature? Should kapp-controller just have an opinionated way of populating this when a proxy is configured?

Should a user need to configure a property in [kapp-controller's config](https://ca

[2021-10-08 01:52] cppforlife opened #393 "Update tests to use testify/require instead of value comparisons and Fatal"

[2021-10-08 01:53] cppforlife commented on #381
resolved in v0.27.0

[2021-10-08 01:53] #381 closed, assigned to cppforlife

[2021-10-08 01:54] cppforlife commented on #374
./hack/build.sh is meant for a quick dev iteration. i would be opposed to adding it there.

[2021-10-08 03:11] krishnaindani commented on #393
could I work on this? Would you be able to assign to me?

[2021-10-08 04:51] cppforlife commented on #393
@krishnaindani all yours, thanks for contributing!

[2021-10-08 12:12] ssamrit-vmw commented on #391
Adding just KUBERNETES_SERVICE_HOST worked for us, but not sure if we should add `localhost,127.0.0.1,kubernetes.default.svc,.svc` as well as mentioned in https://kb.vmware.com/s/article/82129

I think anything should work for us as long as it honours noProxy list (if provided) along with default list.
I think @cppforlife suggested introducing some property in configuration.

I have cc'ed you in t

[2021-10-08 14:28] cppforlife commented on #391
yeah, i dont think we should magically modify proxy config (that's provided) without user opting into this behaviour. im thinking just an additional field could enable this.

[2021-10-08 15:17] danielhelfand commented on #391
We can always start small and simply go with `KUBERNETES_SERVICE_HOST` and then add more later on.

I think adding an additional config property to enable this makes sense.

[2021-10-08 17:24] krishnaindani commented on #393
Thank you

[2021-10-08 18:20] cppforlife opened #394 "kapp-controller should allow configuration of metrics service port"
**Describe the problem/challenge you have**
if kapp-controller is run with hostNetwork=true on the Deployment, default metrics service port 8080 may conflict with other services running on the node. need to determine whats the best configuration -- should port be some high numbered port? should it be configurable via flag?

---
Vote on this request

This is an invitation to the community to vote o

[2021-10-08 18:27] joe-kimmel-vmw commented on #394
should we put this config in the same place as the other config we've been discussing?
https://github.com/vmware-tanzu/carvel-kapp-controller/issues/373

[2021-10-08 18:39] cppforlife commented on #394
this particular one im not so sure. i think this might be a lower level type of config... not sure.

[2021-10-08 18:40] cppforlife commented on #391
i meant even KUBERNETES_SERVICE_HOST this is too much for auto inclusion imho. somebody should opt in because otherwise they wouldnt know that this stuff is being added.

[2021-10-09 00:14] krishnaindani commented on #393
I am trying to run tests locally, do I need to set up some proxy server. I am not able to find the instructions to run the tests. Would you guide me here?

[2021-10-09 19:43] cppforlife commented on #393
here is some docs about it: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/docs/dev.md. running unit tests (./hack/test.sh) should not require any dependencies. running e2e tests (./hack/test-e2e.sh) requires a kubernetes cluster (we typically use minikube) and secret gen controller (covered by ./hack/deploy-test.sh).

[2021-10-09 19:59] krishnaindani commented on #393
Thank you, I will go through

[2021-10-11 14:12] danielhelfand commented on #391
Reading more from an internal slack thread, I saw this suggestion:

Original question:

I guess what is unclear here is what is mean by config. Can you elaborate a bit more on this?

[2021-10-11 16:13] danielhelfand commented on #394
Can we add some details in here on what we are thinking about with regards to a `lower level type of config`?

[2021-10-11 17:35] neil-hickey commented on #364
Hi there!

I wanted to have a look at contributing this:

So far I have discovered through help from Carvel folks that the CRD definition for `PackageRepository` is written here:

https://github.com/vmware-tanzu/carvel-kapp-controller/blob/85e814cda7109169809ede1c8a4f211739ad15d2/pkg/apis/packaging/v1alpha1/package_repository.go

Once I make my changes, I need to run `./hack/build.sh` to get the c

[2021-10-11 17:50] cppforlife commented on #391
example:

[code]

when the field is there then kc can do its magic. alternatively have something like this:

[code]

[2021-10-11 17:56] cppforlife commented on #394
that's the lower level config im talking about.

[2021-10-11 18:05] joe-kimmel-vmw commented on #326
this is merged,  should go out with next release (0.28.0)

[2021-10-11 18:05] #326 closed, assigned to joe-kimmel-vmw

[2021-10-11 18:19] joe-kimmel-vmw commented on #326
also just to capture,  the hack/gen*.sh scripts do fully automate the k8s generators,  so the concern quoted here from above is no longer true

[2021-10-11 18:41] joe-kimmel-vmw commented on #319
note from dmitriy to look at imgpkg release process

[2021-10-11 18:43] joe-kimmel-vmw commented on #139
there is now a version annotation if you describe the deployment.   I think this went out with 0.24 or 0.25.
detailed instructions are here:
https://github.com/vmware-tanzu/carvel/commit/78fb8439e86098f1f1a2bd495c464c299140e6a4
(`kubectl describe deployment kapp-controller -n kapp-controller | grep version`)

[2021-10-11 18:43] #139 closed, assigned to joe-kimmel-vmw

[2021-10-11 19:09] danielhelfand commented on #392
One thing to consider with this issue is that the original decision to log the proxies was done to support testing kapp-controller: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/85e814cda7109169809ede1c8a4f211739ad15d2/test/e2e/kappcontroller/proxy_test.go#L14

One interesting thing to consider with this story is whether there is a better testing approach than examining the logs to d

[2021-10-11 21:27] neil-hickey commented on #392
It feels like there are two distinct concerns here:

1) We should not be logging any sensitive information.
2) I want to debug my kapp-controller and verify that the secret data for proxy matches the controller implementation.

The tests can be satisfied by just logging "HTTP(s) proxy is enabled." instead of the ip etc, which solves this issue. However, an operator may want to debug the proxy ip a

[2021-10-11 21:29] neil-hickey commented on #392
@ssamrit-vmw could you maybe help me understand if logging the proxy information is a requirement / expectation for you all?

[2021-10-11 21:57] danielhelfand commented on #392
I would be fine with this approach of removing the logging all together like you are suggesting. Seems reasonable as you are saying to check with community users as well to verify.

[2021-10-12 04:08] ssamrit-vmw commented on #392
For our usecase in TMC, we are not using proxy details from kapp-controller logs for testing or anything else, so it is fine for us even if it is not logged.

[2021-10-12 09:04] #283 closed, assigned to nobody

[2021-10-12 09:18] linkdd commented on #283
I finished the Helm chart with the latest version (`0.27.0`).

FYI, I created the PR to the DigitalOcean Marketplace: https://github.com/digitalocean/marketplace-kubernetes/pull/270

[2021-10-12 15:16] danielhelfand opened #396 "Remove helm v2 support"
**Describe the problem/challenge you have**

kapp-controller currently supports helm 2, which has been deprecated for close to a year now: https://helm.sh/blog/helm-v2-deprecation-timeline/

kapp-controller did add support for helm 3 in #158, but we chose to not immediately drop support for helm 2 as v2 to v3 aren't 1 to 1 matches.

**Describe the solution you'd like**

We should drop maintaining

[2021-10-12 16:55] voor opened #397 "Run Package Repository through a ytt processor when getting the resulting Packages"
**Describe the problem/challenge you have**
I am taking a Package Repository from somewhere upstream, and I would like to add additional overlays into this bundle.  I want to preserve the original files without modification, so ytt is the most logical choice to use for applying overlays.

**Describe the solution you'd like**
Given a folder that looks like this:
[code]

I would like this to be proc

[2021-10-12 23:03] #388 closed, assigned to nobody

[2021-10-13 23:35] joe-kimmel-vmw opened #400 "Use 'sieve' to check for distributed/concurrency related issues in kapp-controller"
**Describe the problem/challenge you have**
It's very hard to prove the absence of bugs,  and classically this class of bugs is very hard to find/detect/reproduce

**Describe the solution you'd like**
luckily for us, some folks at vmware and UIUC are working on this "sieve" tool: https://github.com/sieve-project/sieve

**Anything else you would like to add:**
Note that sieve is marketed as still i

[2021-10-14 13:56] #392 closed, assigned to neil-hickey

[2021-10-14 21:49] Glythium commented on #306
I have a need for multiple fetches of the same type (fetching from multiple Git repositories) to enable cross-organization Ops as well. Currently, we're limited by the way the App's fetch list is written. If we could have multiple fetches, even of the same type, and have them given some managed key like @voor was suggesting with the `subDirName`. Could we get something like this to satisfy both as

[2021-10-15 12:57] #319 closed, assigned to joe-kimmel-vmw

[2021-10-15 13:00] #370 closed, assigned to nobody

[2021-10-15 13:02] cppforlife commented on #397
hmm, im not sure how i feel about storing overlays in a package repository bundle vs elsewhere. pkg repository has a particular fs format (e.g. packages/ dir) and possible will evolve over time.

[2021-10-18 18:40] joe-kimmel-vmw commented on #376
In discussion the team came up with a few ideas each of which have drawbacks, interested in feedback from @jorgemoralespou and @cppforlife  :
1.) as above, kapp-controller does some "name mangling" by e.g. always appending/prepending the resource type (so e.g. a repo called "tbs" would be named "pkgr-tbs" while an install called "tbs" would be named "pkgi-tbs"). This guarantees uniqueness but at t

[2021-10-18 21:41] neil-hickey commented on #364
# Design Proposal

We could expose a new list property on the PackageRepository CR which would allow the user to specify which packages to allow via a PackageRepo. See options below for details.

## Design questions

Based on some conversation in the [k8s slack thread](https://kubernetes.slack.com/archives/CH8KCCKA5/p1634578772239600) I think it aligns with other prior work in the k8s space to ass

[2021-10-19 15:18] jorgemoralespou commented on #376
@joe-kimmel-vmw I don't know enough about the internals to give an answer, but I thought the whole point of kapp was to track generated resources via `kapp.k14s.io` labels and annotations to be able to know what to update/delete.

To me only 3 makes sense, although I thought that kapp was already savvy of types. When I look into this annotation on generated resources `kapp.k14s.io/identity: v1;def

[2021-10-20 04:12] danielhelfand commented on #394
Leaving some notes here on implementation details.

The metrics service port can be configured here: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/69c59a6e0d9007213ecddd8b8d934c3e47f822f9/cmd/controller/run.go#L56

It can be set using the `MetricsBindAddress`:
[code]

Flags for kapp-controller can be found here: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/69c59a6e0d90

[2021-10-20 16:42] cppforlife commented on #364
one interesting thing to think about is that we dont just have Packages but also PackageMetadata and potentially upcoming Releases... may be only Packages are important to filter since they are referenced by PackageInstall?

i think we definitely want to go with option 1 (we rarely to deny instead of allow policies).

could you also take a look at other APIs carvel has within other tools. there mi

[2021-10-20 23:01] neil-hickey commented on #364
Good call, having `PackageMetadata` and/or other information about a Package that doesn't exist on a cluster / isn't viewable via a `PackageRepository` is probably confusing to a user. If we cannot install a package through a `PackageInstall` without the `Package` CR existing, we should be good to go regardless, right?

Oh nice, wasn't aware of those, [docs are here](https://carvel.dev/kapp/docs/l

[2021-10-21 15:51] #394 closed, assigned to nobody

[2021-10-21 18:22] jorgemoralespou opened #405 "[Docs] PackageRepository installation removes Packages defined namespace"
There's no clear documentation that defined the behavior of kapp-controller when reconciling packages and packagemetadatas from a PackageRepository as it removes the defined namespace from those resources so that they are applied in the same namespace as the packagerepository.

k8s Slack conversation that triggers this issue with all the context: https://kubernetes.slack.com/archives/C02GY94A8KT/p

[2021-10-21 21:10] danielhelfand commented on #376
Some of the challenges outlined here are the following:

The comment [here](https://github.com/vmware-tanzu/carvel-kapp-controller/issues/376#issuecomment-932530824) covers the gist of why this is happening. A simple solution to this would be adding a prefix or suffix with the resource type to handle this particular case (e.g. foo-pkgr). The issue with this approach comes with the migration of old

[2021-10-21 22:34] joe-kimmel-vmw opened #407 "Expand automated testing to cover more k8s distributions and versions"
**Describe the problem/challenge you have**
Sometimes people run kapp-controller on something other than minikube. Weird, right?  I thought this whole kubernetes thing was for turning developer laptops into space heaters during the winter months, and then in the summer we shed our winter coats and run applications on bare metal again?   But anyways, whoever these people are running our tool in "th

[2021-10-22 00:08] vrabbi commented on #124
As a user of packagea this would be a really great addition.
I have multiple package repos added to my cluster in the global namespace and would like to know which repo a package comes from.
One of the cases that came up for me was i had 3 different contour packages and it wasnt clear where each came from. Having this informatiom would be very helpfull.
Another use case ive had is that as i have m

[2021-10-22 11:17] voor opened #408 "Packaging API: Just ignore the v at the beginning of invalid versions"
**Describe the problem/challenge you have**
When creating a package and letting `v` slip into the Package `spec.version` you get an error message:
[code]

**Describe the solution you'd like**
Just ignore the v at the begnning of the versioning, that's what [vendir](https://carvel.dev/vendir/docs/latest/versions/#sort-semver-command) does, so the experience becomes inconsistent across Carvel.

**An

[2021-10-22 12:51] voor commented on #408
We're remediating this for now with `lstrip`

https://carvel.dev/ytt/#gist:https://gist.github.com/voor/0439c6d4c504959a9f0cafc08e749044

[2021-10-22 17:23] voor opened #409 "Packaging API: Need an effective way to customize the helmTemplate name and namespace options"
**Describe the problem/challenge you have**
We use AppCR currently and install packages from a privileged namespace (one that has more permissive roles) into another namespace(s) as a typical practice.

In particular, it's very common for us to have the following in our App CR:

[code]

Of note is the helm template including steps explicitly for name and namespace.

We are currently able to transl

[2021-10-22 17:54] jorgemoralespou opened #410 "Add ability to fetch resources from the cluster"
**Describe the problem/challenge you have**
I need as part of my packages processing to query information that lives in the cluster so that I can take some decisions. An example would be that my package would create HTTPProxy resources if contour is available in the cluster, otherwise it would use Ingress.
Currently, the user needs to query for that information and provide it as a data value to th

[2021-10-22 21:04] cppforlife commented on #409
i'm game for short term solution descirbed above => adding 2 annotations (i tweaked names a little bit):

[code]

[2021-10-23 22:02] cppforlife commented on #410
related vendir side of things for first option: https://github.com/vmware-tanzu/carvel-vendir/issues/25. it would be very useful to collect some concrete examples (e.g. what resources would we be fetching, under what conditions, how would they be used, ...).

[2021-10-23 22:05] cppforlife commented on #408
challenge with allowing more flexibility here is that suddently you could have 2 package crs: one with name foo.pkg.com.0.0.1 and another with foo.pkg.com.v0.0.1. this leads to ambiguity and possible mistakes down the line.

im -1 on allowing this.

[2021-10-23 22:42] GrahamDumpleton commented on #410
A semi related thing would be injecting as YAML data files using data file-marks which lists the installed set of packages so can determine what is installed so you might fail if something required isn't installed. A list of available CRDs could also be helpful in that respect, although presence of the CRD doesn't necessarily mean the operator is still installed as CRDs are often not deleted when

[2021-10-24 00:33] voor commented on #410
We brought this capability up a few ages ago with Cluster API.  The API Load Balancer DNS name isn't known until after cluster creation, and it lives at `k get awscluster CLUSTER_NAME -o jsonpath={.spec.controlPlaneEndpoint.host}`

I would want to pass this value into another App CR so that I could output a DNS Endpoint for External DNS.

[code]

I'm not sure what the value(s) would get passed int

[2021-10-24 00:40] voor commented on #126
https://carvel.dev/blog/casestudy-modernizing-the-us-army/

[2021-10-24 01:24] voor commented on #85
We're interested in this only because of a peculiar use case where the registry that kapp-controller would pull from doesn't actually exist yet; we use kapp-controller to actually deploy the Kubernetes Cluster that hosts the Harbor instance kapp-controller _would then_ pull from.

I'm not sure if this is a caching problem so much as a failover to something else problem. If kapp-controller could al

[2021-10-24 06:35] Stuie commented on #393
Hey, I was taking a look at this out of interest, is [this](https://github.com/Stuie/carvel-kapp-controller/commit/7e5b79fe6c95db7804223aaccc227cbb96bca932) the sort of thing you're looking for? Would you be expecting all test cases to be updated?

[2021-10-25 13:39] cppforlife commented on #410
to determine available apis, it's probably better to list available k8s apis (not concretely crds). it's not direct k8s resource listing i think, but still could be coming into templates via same fetching api.

that's where my head is at as well. i havent thought too hard about other tools integration though. e.g. can helm templates receive this info as well? we could in theory make this configura

[2021-10-25 13:43] cppforlife commented on #410
aside from allowing package cr to configure this, i do like @jorgemoralespou's suggestion on making it possible via values refs (pretty interesting idea...):

[code]

though this may have to be somehow mapped to data values... to not leak out internal Package CR configuration to the user. e.g.

[code]

definitely have to think about how this ties together with file based interfaces...

[2021-10-25 14:00] jorgemoralespou commented on #410
The most important task is already happening, and it's that it got you thinking :-D

I also like the fact that a resourceRef can be mapped to a data values. I think somehow it was in my mind, but obviously there's a need to reference the obtained resource as a data values key.

[2021-10-25 14:33] cppforlife commented on #393
@Stuie yup.

thats the goal, but we can do updates in smaller chunks -- PR for a package/group-of-packages is totally fine.

not sure if @krishnaindani is still working on it though...

[2021-10-25 14:37] voor commented on #410
So is the idea that the file would be passed into something like ytt as a data file, and you would need to access it like:

[code]
[code]

[2021-10-25 15:41] jorgemoralespou commented on #410
Let's throw another example here, when working with a non-dns enabled environment (maybe testing or other reason), you need your ingress controller to create a LoadBalancer service (with an externalIP) that you can then use via `nip.io` or `sslip.io` or any other similar service to create Ingress resources to your applications. An example of how this could work would be

[code]

And then have in y

[2021-10-25 15:42] jorgemoralespou commented on #410
Whether to project the whole resource as a data values file, or just a specific value via a selector is fine with me.

[2021-10-25 18:58] pivotaljohn commented on #410
@GrahamDumpleton noted:

@cppforlife piled on:

When first starting down this thread, I was thinking that such data could be plopped under a well-defined key within the data values tree (e.g. `data.values.cluster_state`). It would reduce any motion around using that data: it's parsed as YAML, already. As Schema features mature, there can be guarantees about presence or defaults.

What are the bene

[2021-10-25 19:07] voor commented on #410
I don't think there are any, I was just having some trouble following along at first :blush:

[2021-10-25 19:28] GrahamDumpleton commented on #410
I have concerns over being able to map in arbitrary resources, because unless it is evaluated against service account RBAC could it mean someone could get access to contents of secrets they shouldn't.

As to using data file mark I saw that as preferable to a data value as the latter means a data schema has to be specifically adjusted to expect the latter else would fail. So you couldn't arbitraril

[2021-10-25 19:48] jorgemoralespou commented on #410
More concrete examples I do use:
- If contour is installed, use HTTPProxy instead of Ingress resources in my package
- If cert-manager is available and there's a clusterIssuer of name wildcard use it, otherwise use a local Issuer to obtain certificates
- If knative is installed, deploy knative-integration, otherwise don't
- If MySecretCopier is available, create a SecretCopyRequest to get wildcard

[2021-10-25 20:32] cppforlife commented on #410
yeah it would be using App CR's spec.serviceAccount or spec.cluster.kubeconfigSecretRef to access any from the cluster.

[2021-10-25 20:59] cppforlife commented on #410
i think that only applies if you want to mix known and unknown keys but should work fine for dedicated section that's marked as any=True.

[2021-10-26 01:02] GrahamDumpleton commented on #410
Having a list of APIs gives even less guarantees than a list of CRDs. A company could use a single API group based on their company domain which spans resources created by more than one operator. So like with CRDs it doesn't actually tell you a specific operator may be installed at that point.

[2021-10-26 14:25] cppforlife commented on #410
i am referring to APIs available from k8s endpoints (eg `kubectl api-resources`), not `API Services`.

[2021-10-26 16:52] renuy opened #412 "CLI for kapp-controller"
**Describe the problem/challenge you have**
There is no interface for users to interact with kapp-controller server-side.

**Describe the solution you'd like**
a CLI which can be used to interact with kapp-controller

**Milestone 1 -- Parity**
- [x] package available get
- [x] package available list
- [x] package install
  - [x] package installed create (alias to "package install")
  - [x] check v

[2021-10-26 18:26] #409 closed, assigned to nobody

[2021-10-27 10:29] mpermar opened #415 "kapp-controller forces to create a namespace that then gets ignored when doing a remote deployment"
**What steps did you take:**

Have an application that sets a target namespace on a cluster but also on the metadata level. Like this one here:

[code]

**What happened:**

When you try to deploy an application like that one, kapp-controller will fail the deployment and force you to create the _carvel-apps_ namespace in the target cluster. Then deployment succeeds, but if you check the carvel-apps

[2021-10-27 10:48] mpermar opened #416 "kapp-controller won't delete an application without valid service account or kubeconfig"
**What steps did you take:**

Create an application that is meant to be deployed to a cluster. Make some mistake that prevents cluster deployment, like for example mistype the secret name. This simple app will do it:

[code]

Try to deploy that application with kubectl
[code]

The application will go into a reconciliation failure mode. Finally try to force delete that application:

[code]

Your pr

[2021-10-27 18:34] jorgemoralespou commented on #410
A huge one that I missed:
- being able to query the kubernetes version of the cluster and capabilities. I know there is going to be in Tanzu Community Edition and maybe TKG a Capabilities CRD, so it's a nice one to be able to query this CR.

[2021-10-28 14:22] 100mik commented on #412
Food for thought:
- How can we best handle resources created (ServiceAccounts, Secrets, ClusterRoles, ClusterRoleBindings) and track them for deletion effectively. (Currently, we plan on using annotations on PackageInstall resources and the resources themselves)
- Do  users wanna dump values fetched from Secret references in a PackageInstall?

[2021-10-28 16:22] #393 closed, assigned to krishnaindani

[2021-10-28 17:12] cppforlife commented on #416
related issue: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/114

[2021-10-28 17:22] alvarosanchez commented on #328
We are facing this same issue when installing kapp-controller (v0.29) in a K3s cluster we use for tests. In our local machines, approximately 20% of the times it fails to come up. In CI (a less powerful environment) it fails 100% of the times.

However, I'm not convinced that it is a matter of bumping the timeout, since when it works, it only takes 5-10 seconds.

[2021-10-28 23:26] alvarosanchez commented on #328
I have been testing it more times, and I've seen the APIService `v1alpha1.data.packaging.carvel.dev` take 2-3 minutes to become available.

Could this timeout be parameterised so that we can customise it in resource-constrained environments?

[2021-10-29 11:45] cppforlife opened #417 "retry removing finalizer from app cr"
**Describe the problem/challenge you have**

faced with following error: `Delete failed: Unblocking for deploy: Updating app: Operation cannot be fulfilled on apps.kappctrl.k14s.io "xxx": the object has been modified; please apply your changes to the latest version and try again`

**Describe the solution you'd like**
lets put in a retry behaviour for finalizer removal for both pkgr and app.

---
V

[2021-11-01 15:34] danielhelfand commented on #417
Do we have any details on how to reproduce this error?

We should always retry, or is there a way to isolate this to a specific case?

For the App CR, the finalizer removal func is located here: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/4b0307d377e429c00d8f5cf6499bf59989f71f44/pkg/app/crd_app.go#L63

For the PackageRepository, the finalizer removal func is here: https://github.co

[2021-11-01 15:37] danielhelfand commented on #396
Accepting this for now. It's not clear when the right time will be to officially remove support, but we will follow up here when we have a clearer timeline.

[2021-11-03 13:27] ssamrit-vmw commented on #391
@danielhelfand any update on this? When can we expect this to get addressed?

[2021-11-03 14:16] danielhelfand commented on #391
Hey @ssamrit-vmw,

Sorry for delayed response here. We are looking to prioritize and address this issue. Hopefully can provide further details next week.

[2021-11-03 20:13] #374 closed, assigned to nobody

[2021-11-04 16:35] cppforlife commented on #417
i dont have any specific repro scenarios (i was just deleting a package that installed other packages). i imagine it's either kapp-controller doing some updates, or just some other controller.

i think we should be able to isolate retry logic just for unblock* methods.

[2021-11-05 11:52] jorgemoralespou commented on #328
Some thoughts:
- kapp controller is configured as Burstable QoS, since it provides a request but not limits, so this means that if any workload from the cluster were to be evacuated due to cpu/memory pressure this will come first than any Guarantee type of workloads. You can check if there's restarts.
- By default, it starts with a specific number of threads and that might incur in startup time. K

[2021-11-05 17:52] vijaykatam commented on #328
Could you verify if the [apiPort](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/config/values.yml#L14) used by kapp-controller is in the allowed list? In our use case the issue was a combination of etcd latency(intermittent failures) and kapp-controller being scheduled on a node that did not have the apiPort in the allowed list.

Alternatively you can use a high port in the [

[2021-11-08 20:00] danielhelfand commented on #368
Related work for kapp with their trivy implementation is in the following pr: https://github.com/vmware-tanzu/carvel-kapp/pull/346

[2021-11-08 20:08] aaronshurley opened #419 "Consider a slimmer base image (e.g. distroless)"
**Describe the problem/challenge you have**
We'd like to ship kapp-controller with the minimum necessary bits. We're currently using [photon as our base image](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/Dockerfile#L1). Is there a better (i.e. slimmer) option?

**Describe the solution you'd like**
Investigate alternative options (such as [distroless](https://github.com/Goog

[2021-11-08 20:12] neil-hickey commented on #368
If noone else is looking, I will spend an hour or so today trying to modify kapp's usage of trivy for kapp-controller 👍

[2021-11-08 21:45] danielhelfand commented on #391
For option 2 UX below , could we allow passing in environment vars that kapp-controller could interpret and [pass on to noProxy](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/9214dec76279aa5ef7490c4d03ff11aca7fba4af/pkg/config/config.go#L163)? This way `KUBERNETES_SERVICE_HOST` could be read in and used. Not sure if this pattern could be applied more widely for these configuration op

[2021-11-08 22:02] neil-hickey commented on #368
I started looking at this, implemented the scanning for kapp-controller filesystem only (on a branch). The docker images are not scanned yet. Will come back to this when priority shifts 👍.

https://github.com/vmware-tanzu/carvel-kapp-controller/tree/enable-trivy-scan

[2021-11-09 14:53] cppforlife commented on #391
imho that way too "open". im also not coming up with any good examples where this would be useful. for k8s api it's a special case since it's only readily available inside the container, but for other configuration it should be possible to inject from outside (aka modify config secret directly).

im also concerned using shell syntax $(), $..., ${}, since that somehow might get picked up and interp

[2021-11-10 23:56] cppforlife opened #421 "implement spec.template[].ytt.inline.pathsFrom[].secretRef.directoryPath"
**Describe the problem/challenge you have**
currently it seems that even though api has directoryPath, that functionality is not implemented (directory would need to be explicitly created).

repro:

[code]

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would

[2021-11-11 19:01] #391 closed, assigned to danielhelfand

[2021-11-12 17:54] frizzr commented on #189
Looks like this did make it to the released version of Vendir:

https://github.com/vmware-tanzu/carvel-vendir/issues/62#issuecomment-867169923

[2021-11-15 15:06] ProNibs opened #422 "Please add documentation on using multiple fetch repositories"
When using multiple git repositories during the fetch stage, it's unclear how the "fetched" repositories are stored temporarily by kapp-controller.

dkalinin was super helpful in pointing out that the git repos are put into numbered repos. Be also helpful to document a more clear example as the Helm example using stable/nginx doesn't mention which Helm repo it is pulling from.

[Slack discussion](

[2021-11-15 23:01] danielhelfand opened #425 "Test_PackageInstalled_FromPackageInstall_DeletionFailureBlocks is flaky"
As shown in the logs of a [recent CI run](https://github.com/vmware-tanzu/carvel-kapp-controller/runs/4217966568?check_suite_focus=true), the kapp-controller e2e test [`Test_PackageInstalled_FromPackageInstall_DeletionFailureBlocks`](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/acf5e9907221b4b6e2df7e1c957313465a986f89/test/e2e/kappcontroller/packageinstall_test.go#L275) appears to b

[2021-11-16 03:42] aaronshurley commented on #189
Nice catch, @frizzr! Closing.

[2021-11-16 03:42] #189 closed, assigned to nobody

[2021-11-16 22:01] lubronzhan commented on #391
Hi @ssamrit-vmw did you added the serviceCIDR of the cluster to the `NO_PROXY` before you added `KUBERNETES_SERVICE_HOST `?

[2021-11-17 20:17] danniel1205 commented on #391
@ssamrit-vmw , is your cluster provisioned by using vmw tanzu ? If so, we do have no proxy list populated for kapp-controller. https://github.com/vmware-tanzu/tanzu-framework/blob/96ab13f49bf9e7b8fe417eeaaee1a1a218c8e47f/pkg/v1/providers/ytt/lib/helpers.star#L283

[2021-11-18 05:12] ssamrit-vmw commented on #391
@lubronzhan No, I have not added that. We were testing on kind cluster where proxy is configured via TMC.

[2021-11-18 05:20] ssamrit-vmw commented on #391
@danniel1205 No, it was kind cluster created on local machine and then it was attached to TMC. We are working on adding carvel packaging feature in TMC.

[2021-11-18 10:50] 100mik commented on #412
@cppforlife vmware-tanzu/tanzu-framework#983 seems to add fallback behaviour for all creates and updates, and improve logs printed while removal and creation of created resources. We have already incorporated these changes

[2021-11-19 10:02] jorgemoralespou commented on #376
Is there any update on this issue?

[2021-11-19 16:14] joe-kimmel-vmw commented on #376
@jorgemoralespou  - we looked into it long enough to agree that there was no "quick fix". @neil-hickey volunteered to do another round of digging into some of the deeper/longer options. Very much still in the exploratory (re-)design phase.

[2021-11-19 19:19] danielhelfand opened #428 "Support layering of package repositories"
**Describe the problem/challenge you have**

For a user of kapp-controller, the possibility exists to create two PackageRepositories which may contain a Package with the same name. It could be the case that these are the exact same Package, but it could also be that the names are the same but there are differences between the Packages.

Currently, due to kapp-controller's use of `kapp` as its meth

[2021-11-19 19:38] #368 closed, assigned to nobody

[2021-11-19 21:17] jorgemoralespou commented on #376
Interesting. @grahamdumpleton also hit this problem today as it seems pretty common, given the recommendations and documentation that anyone will name packagerepositories, package and packageinstalls the same way.

[2021-11-20 00:08] #385 closed, assigned to nobody

[2021-11-20 00:08] #384 closed, assigned to nobody

[2021-11-20 00:08] #383 closed, assigned to nobody

[2021-11-21 00:09] #350 closed, assigned to nobody

[2021-11-22 15:15] danielhelfand commented on #422
Thanks for opening this, @ProNibs. We have definitely received this feedback in the past and agree that we should document the behavior.

If you are interested in contributing this to our docs, [this section](https://carvel.dev/kapp-controller/docs/latest/app-overview/#specfetch) might be a good location for this information. In the website code, it lives [here](https://github.com/vmware-tanzu/car

[2021-11-22 15:18] danielhelfand commented on #417
I think it would still be worthwhile to identify a way to consistently reproduce this. Any further thoughts you can provide on this would help.

Sounds reasonable to me though.

[2021-11-22 15:41] danielhelfand commented on #421
[code]

The above documentation provides more details on how this is supposed to work. One thing that was a little confusing to me is why this feature is offered for templating inline versus user being required to fetch the secret. Why should we not just remove this property all together?

[2021-11-22 18:06] cppforlife commented on #421
ytt's pathsFrom is more aligned with injecting "runtime" info (e.g. data values, input files) vs fetch is more for "static" info (e.g. base app config).

[2021-11-25 17:54] antgamdia opened #430 "Provide a first-class API (as part of App CR status) for discovering deployed resources by App CR"
**What steps did you take:**

1. Create a `PackageInstall` via kubectl (not using `kapp deploy`, I mean)
2. Get the generated `App` via kubectl, `kubectl get app my-app -oyaml`

**What happened:**

The `App` does not have any labels/annotations.

**What did you expect:**

I would have expected this App CR to have something like:

[code]

**Anything else you would like to add:**

This problem has b

[2021-11-29 15:33] danielhelfand commented on #430
Thanks for this @antgamdia. I think adding this via the status for the App CR makes sense. This could then be also shared with PackageInstalls/PackageRepositories. It may even be an interesting way to track which Package CRs are part of a PackageRepository as documented in #124.

[2021-11-29 16:42] aaronshurley commented on #419
After some discussion, we're deciding to hold off on investigating further into this issue until we learn more about other build processes that we may be able to leverage. If anyone from the community is interested in this work, please let us know.

[2021-11-29 19:48] aaronshurley opened #432 "Fix code scanning alerts - CVE-2020-29652 & CVE-2021-3121"
Tracking issue for:
- [ ] https://github.com/vmware-tanzu/carvel-kapp-controller/security/code-scanning/26
- [ ] https://github.com/vmware-tanzu/carvel-kapp-controller/security/code-scanning/25

Notes:
- We don't actually use these capabilities so the CVEs _doesn't really_ exist for kapp-controller.
- The fix has already been made in vendir. We'll need to bump vendir in kapp-controller once a new

[2021-11-29 19:53] aaronshurley opened #433 "Fix code scanning alert - CVE-2021-41092 (kbld)"
Tracking issue for:
- [ ] https://github.com/vmware-tanzu/carvel-kapp-controller/security/code-scanning/24

[2021-11-29 19:54] aaronshurley opened #434 "Fix code scanning alert - CVE-2021-41092 (imgpkg)"
Tracking issue for:
- [ ] https://github.com/vmware-tanzu/carvel-kapp-controller/security/code-scanning/22

[2021-11-29 19:56] aaronshurley opened #435 "Fix code scanning alert - CVE-2021-41092 (helm)"
Tracking issue for:
- [ ] https://github.com/vmware-tanzu/carvel-kapp-controller/security/code-scanning/21

[2021-11-29 19:56] neil-hickey commented on #435
https://github.com/helm/helm/issues/10314

[2021-11-29 19:59] aaronshurley opened #436 "Fix code scanning alert - CVE-2020-8565"
Tracking issue for:
- [ ] https://github.com/vmware-tanzu/carvel-kapp-controller/security/code-scanning/23

[2021-11-30 15:30] timothysc commented on #410
If I ruminate on this what I really desire is: The capability to give an expression that can be evaluated prior to applying.  The evaluation of that expression is typically some data that resides in existing cluster resources whose output of that expression is then used as input to the current package.

The problem will really be about how to evaluate that expression in a way that makes sense and

[2021-11-30 15:36] jorgemoralespou commented on #412
Could this CLI be also compatible somehow to be a kubectl plugin?

[2021-11-30 15:40] 100mik commented on #412
We do have a method which attaches the `package` command tree to a Cobra cmd, since we would like to see the package commands consumed by the package plugin for `tanzu-framework`

(We might have to take a harder look at it if it is used in a kubectl plugin as I believe a bunch of flags might have overlapping names, not sure how that works out)

[2021-11-30 16:06] jorgemoralespou commented on #412
Since kapp-controller CLI is targetting kubernetes users, I would really suggest that it's implemented as a kubectl plugin to boost adoption and minimize learning curve. If at the end of the day, this is basically providing the same functionality as the `tanzu package` plugin, it might then be better to just work on making that one standalone as well as tanzu plugin and call it a day.

[2021-11-30 16:10] 100mik commented on #412
We do intend to add a set of `app` commands which are intended to improve how our users observe and debug App CRs.

[2021-11-30 16:15] danielhelfand commented on #412
Hopefully it is the case that this cli can be applied to both contexts. I think a kubectl plugin would be really worthwhile, and I tend to agree that I was thinking this cli should be more tailored to open source users.

Here's more on creating plugins for kuebctl: https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/

[2021-12-03 01:06] joe-kimmel-vmw commented on #436
a few notes trying to figure out what's the deal with this CVE alert:

details on the CVE from
https://groups.google.com/g/kubernetes-security-discuss/c/vm-HcrFUOCs/m/36utxAM5CwAJ
and
https://github.com/kubernetes/kubernetes/issues/95623

both agree that this is fixed in kubernetes v1.19.6+. (or 19.3+ , depending on which CVE you're checking)
Oh cool - what version of kubernetes does kapp controll

[2021-12-04 01:18] joe-kimmel-vmw commented on #435
note this vuln exists in helm 3.7.1 and their releases page says they don't plan their 3.8.0 release until Jan 10.

https://github.com/helm/helm/releases/tag/v3.7.1

[2021-12-06 00:21] pivotaljohn commented on #410
Is it an oversimplification to characterize this as "simply" querying the cluster as if it were merely a document db?

I ask because I think that characterization bounds the operation so that:
- inputs are selection and projection of known document types (KGVs), and
- outputs are either whole documents that satisfy the criteria or flyweight versions thereof.

Are there _other_ data sources and/or

[2021-12-06 00:38] GrahamDumpleton commented on #410
FWIW, we have been researching how this could be done of late and believe a lot can be learned from what kyverno does. In particular kyverno has the concept of defining contexts, which are additional sets of data values that are available for use in processing kyverno rules. One source of data values for a context is an apiCall.

* https://kyverno.io/docs/writing-policies/external-data-sources/#va

[2021-12-06 00:43] GrahamDumpleton commented on #410
One thing to note about kyverno, you do have to give it additional roles to read the resources it may accumulate via an apiCall, it can't just access the whole cluster by default. This would be an issue with kapp-controller as well, as allowing full access means it would be trivial to steal secrets. Thus RBAC has to be taken into consideration and how you review additional RBAC needed because of t

[2021-12-06 17:12] jorgemoralespou commented on #410
I would just start simple, and maybe, if needed, iterate from there.
Right now, being just able to load the whole document/resource specified by a selector (gvk+name+ns) from the cluster would improve kapp-controller greatly.

Basically what @pivotaljohn describes in his comment

[2021-12-06 20:29] joe-kimmel-vmw commented on #436
closing this as we feel the CVE was a false positive, and our version of Kubernetes library (0.19.15) is sufficient.
We also don't think our log levels would be compromising, even in earlier versions of kubernetes.

[2021-12-06 20:29] #436 closed, assigned to nobody

[2021-12-06 21:02] #435 closed, assigned to nobody

[2021-12-06 22:47] joe-kimmel-vmw commented on #433
https://github.com/vmware-tanzu/carvel-kbld/pull/196

[2021-12-07 20:28] #421 closed, assigned to joe-kimmel-vmw

[2021-12-08 17:59] joe-kimmel-vmw commented on #415
@mpermar Thanks for reporting this!

Can you describe in a little more detail the steps necessary to reproduce this bug?  Did you have a multi-cluster environment? did you use `kapp deploy ...` on something similar to the spec above?   Do you think the `kubeconfigSecretRef` block is necessary to reproduce, or would you expect it to happen even with just a cluster/namespace specified?

[2021-12-08 19:26] aaronshurley opened #444 "kapp-controller fails to come up on a less powerful k3s cluster"
**What steps did you take:**
Extracting this specific issue from [a previous comment in a different issue](https://github.com/vmware-tanzu/carvel-kapp-controller/issues/328#issuecomment-954048190) from @alvarosanchez so that we can better understand this:

[Additional context from the requester](https://github.com/vmware-tanzu/carvel-kapp-controller/issues/328#issuecomment-954296261):

**What happ

[2021-12-08 19:29] aaronshurley commented on #444
@alvarosanchez Thanks for bringing this up! We're hoping to get a couple more pieces of information from you:

From [this comment](https://github.com/vmware-tanzu/carvel-kapp-controller/issues/328#issuecomment-962097987):

And from a separate private slack thread:

With this information, we can try to reproduce the issue.

[2021-12-08 19:30] aaronshurley commented on #328
Hey folks, it seems like this follow-up issue got overlooked since the original issue was closed. I created https://github.com/vmware-tanzu/carvel-kapp-controller/issues/444 to track this follow-up issue specifically.

[2021-12-08 20:34] joe-kimmel-vmw commented on #416
Hi @mpermar  - Thanks for this issue!

I've also wrestled with apps that didn't want to delete due to various reasons and I agree it can be frustrating.
 I had a quick exchange with @cppforlife which I'll try to summarize:

- as you said, there's many different ways for things to fail. One concern around providing automation is that the same automation won't be correct for all failure modes, so th

[2021-12-08 21:21] aaronshurley commented on #405
Reopening this issue as it hasn't been addressed and is still applicable.

Thank you for submitting this issue. Looks like we might be gathering a few docs stories to justify dedicating some focused time on docs improvements. In the meantime, contributions are always welcome! (doc to improve: https://github.com/vmware-tanzu/carvel/blob/develop/site/content/kapp-controller/docs/latest/package-consu

[2021-12-08 21:43] joe-kimmel-vmw commented on #428
just a note for my own book-keeping: private notes doc for this issue is here https://docs.google.com/document/d/1mHrhIVM42_NNpML-ZtAzdbgMhtAL5xIlxIY5oMhi7ik/edit

[2021-12-08 21:54] aaronshurley opened #445 "[Docs] How to use the package management APIs with GitOps workflow"
**Describe the problem/challenge you have**
We have heard from several Carvel (and TAP) users that they would like to be able to manage their TAP installation using GitOps practices. In addition, we (Carvel) also want to encourage our users to manage their Packages using GitOps practices. Being able to do this using declarative APIs and without needing additional tooling is an advantage of using C

[2021-12-08 23:37] neil-hickey commented on #338
hey @aaronshurley it looks like this one might be done as the PR was merged in. Good to close out?

[2021-12-09 00:09] joe-kimmel-vmw commented on #412
would it make sense to have a "--force" delete feature that was more powerful than kubectl's? e.g. see this issue: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/416

so i could imagine that this CLI (or kapp itself) could be a place where we add like a `--nuke-it-from-space` flag that:
- removes all finalizers from the CR specified and tries to delete it
- if it's still there sets:

[2021-12-09 14:32] mpermar commented on #416
My fault. I had omitted the ytt/deploy sections. Didn't know those were mandatory but looking at kapp-controller's source code it became evident. I have updated the code in issue description and you should be able to easily reproduce now.

[2021-12-09 15:29] mpermar commented on #415
@joe-kimmel-vmw this can be reproduced with this simple application:

[code]

Then with two clusters. One runs kapp-controller, the other is the target cluster that kubeconfigsecret points to. If you try to deploy this application with "_kubectl -f apply_" and not doing any other steps, what will happen is that you will get an error complaining about the target namespace not being found.

[code]

[2021-12-09 16:53] aaronshurley opened #448 "installation of 10 packages concurrently forces GKE control plane autoscaling"
**What steps did you take:**
_Reported from other users:_
Installed kapp-controller (as a part of a larger product, [TAP](https://github.com/pivotal/docs-tap/pull/629/files#diff-82200ce47fa528129da57d8979b63119ebdc262e3d07cb7882fdb8d1ecdf4a00R43-R44)) on a new GKE cluster.

**What happened:**
During the installation, the Kubernetes control plane became unavailable for several minutes. This caused

[2021-12-09 18:30] joe-kimmel-vmw commented on #428
@cppforlife To me the most interesting question is "when to resolve" -- Some of these paths would only ever have one package of same-name on the system, so they have to resolve at package creation time.

Other strategies would allow creation of packages of "same name" and then have strategies for helping the user specify which one they want.

To me that's a pretty big divide in experience and woul

[2021-12-09 18:42] danielhelfand opened #449 "Remove TODOs from comments"
As discussed in #446, some kapp-controller structs have TODO comments that are then used as descriptions in schemas:
* https://github.com/vmware-tanzu/carvel-kapp-controller/blob/babe7624f2c72c54e5f83860df410470f2b1bd71/config/crds.yml#L227
* https://github.com/vmware-tanzu/carvel-kapp-controller/blob/babe7624f2c72c54e5f83860df410470f2b1bd71/config/crds.yml#L350
* https://github.com/vmware-tanzu/c

[2021-12-09 18:57] aaronshurley commented on #338
@neil-hickey nice catch! Closing.

[2021-12-09 18:57] #338 closed, assigned to cppforlife

[2021-12-09 19:00] joe-kimmel-vmw commented on #428
re. first strategy there's still multiple options around "first one in wins" vs. "most recent one wins", whether or not you provide a cli-flag or config priority flag so that the user can still select which one wins, etc.

re the second strategy of allowing multiple packages of same name,  i think discussing with @vibhas briefly it's helpful to outline vaguely one way that could work:   we can add

[2021-12-09 19:06] voor commented on #428
When you say "name" do you mean `refName` or do you mean the merging of the `refName` and `version` to create the Package's actual `name`?

[2021-12-09 19:09] joe-kimmel-vmw commented on #428
sorry @voor  i think this is what i get trying to be vague and hand-wavy, huh? 😄

honestly what i mean is "I haven't thought through everything yet."

 If you see some potential pitfalls/problems please feel free to call the out,  but the big question to me at the moment is whether we want to sort this out at package creation time,  or at package install time.

[2021-12-09 19:10] jorgemoralespou commented on #412
I wouldn't consider introducing a flag to undo things that should not have happened, just for the sake of convenience, a good UX.

[2021-12-09 19:17] voor commented on #428
I think it'd be interesting if we had a refName collision and *not* a version collision, if you could technically have things play nicely in an unintentional way.  So cert-manager from Tanzu Community Edition collides with cert-manager from Tanzu Application Platform (assume for this exercise that both use the refName `cert-manager.tanzu.vmware.com`):

cert-manager from TCE is currently `1.6.1` an

[2021-12-09 19:54] vrabbi commented on #428
I think that the idea of a long name makes alot of sense.
I think it should be before the version and should be - seperated from the package name.
so for the example above the names would be:

TAP REPO
Short name: cert-manager.tanzu.vmware.com.1.5.3+tap.1
Long name: cert-manager.tanzu.vmware.com-\<pkgr name\>.1.5.3+tap.1

TCE REPO
Short name: cert-manager.tanzu.vmware.com.1.6.1
Long name: cert-man

[2021-12-09 19:54] vrabbi commented on #428
This would also partially help users understand in general which repo a package comes from which is currently a problem

[2021-12-09 20:05] joe-kimmel-vmw commented on #428
some notes from chat w/ DK:

user consuming packages should only ever see 1 package.
Users who are providing packages are the ones who should be adding additional metadata.

favored solution is that if a user has to explicitly set a numeric priority (z-stack / z-index in graphical "layering" system).  b/c it's fully deterministic (no ordering effects).   in Tanzu products generally same name will

[2021-12-09 20:26] voor commented on #428
So like some kind of _overlay_ passthrough for the Package Repository. :innocent: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/397

[2021-12-10 10:53] jorgemoralespou commented on #428
Despite this being a problem that needs a solution, to me, there's a fundamental problem if we have same package (e.g. cert-manager.tanzu.vmware.com) coming from 2 different repositories with different, potentially conflicting, implementations. Even if the problem of naming in 2 repositories is solved, how can we guarantee that the implementations of both packages coming from different sources (e.

[2021-12-10 17:16] danielhelfand commented on #448
I think a logical next step here would be two try and reproduce this with kapp-controller itself on GKE.

We should also test with TAP to verify any fix works as expected.

A note here that this is current configurable via a kapp-controller flag: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/1ad808d8909d49f0dff35ee49d285fb5f0e4693f/cmd/main.go#L25

[2021-12-10 18:17] cppforlife commented on #428
this problem is not really related to layering of repositories though -- it's just a generic problem that package author (aka owner of cert-manager.tanzu.vmware.com name) should worry about. whoever decides to "steal" somebody elses name (rare) they should abide by their versioning/conventions/etc. this is not something we want to enforce in any way. (similar thing is CRD group names/versions)

[2021-12-10 18:21] jorgemoralespou commented on #428
I agree totally. That's why I think that all these packages should be published in the same repository, and hence wouldn't be the source of the problem herein described.
But since we fear this will happen, as currently does in Tanzu, I can confirm that packages are not compatible already. TCE provides OpenSource version of packages and TKG provides commercial, with same name and incompatible imple

[2021-12-10 18:29] cppforlife commented on #428
different names! one has "community" in the package names, and one doesnt. i was very specific with folks on that building it because those 2 sets of packages are different in configuration and implementation (at least at this point).

[2021-12-10 19:01] jorgemoralespou commented on #428
My bad. I guess TAP OSS also follows this convention.

[2021-12-10 21:49] joe-kimmel-vmw commented on #428
I made an interactive demo for the layering proposal -  i thought github would natively render static html but anyway you can visit it via a tool such as : https://htmlpreview.github.io/?https://raw.githubusercontent.com/vmware-tanzu/carvel-kapp-controller/5df913d9d105dff60031e81d9c62d8222c76a25a/examples/packaging-with-repo/issue-428-demo.html

[2021-12-10 22:50] danielhelfand commented on #412
Some minor UX observations for `kctrl package available get`:

 Why does `kctrl package available get` require the `-p` flag? While trying to use, I couldn't find any examples of using it with the help command. From my own expectations, I was thinking the command was as follows:

[code]

It seems like the flag is not needed, but maybe I am not understanding other design considerations.

Another in

[2021-12-11 00:11] joe-kimmel-vmw commented on #428
@cppforlife -- through playing with the little 'prototype'/demo  i realized - one of your stated arguments in favor of this z-index style layering is that it would be fully deterministic,  but that's only true for packages with different priority values--  e.g. if we set the default to `10` and multiple packages install at the default value,  then there's still a race or undefined behavior.

[2021-12-12 12:03] 100mik commented on #412
@joe-kimmel-vmw That does seem like a recurring issue we have to assist users with often if I am not wrong, it definitely makes sense to have something like that albeit with a less "aggressive" name maybe? 🤔

[2021-12-12 12:08] 100mik commented on #412
@danielhelfand thanks for pointing that out! we should definitely be saying that we could not find any resources if that is the case while getting a specific resource.

Regarding how we are passing parameters we made the choice of using flags for "passing values" to the CLI rather than having positional arguments as that is a observed pattern across the other Carvel CLIs as well which we wanted to

[2021-12-13 14:24] cppforlife commented on #428
that's right, we need to determine what we want to do with this... should we error for example?

[2021-12-13 17:30] danielhelfand commented on #449
In speaking with @joe-kimmel-vmw, we think it would be a reasonable approach to remove jsonnet/kustomize options as part of this work.

[2021-12-13 17:35] danielhelfand commented on #400
Next step here would be to run sieve against kapp-controller and report issues surfaced in this issue. Maybe longer term this could be part of our CI process if we find the tool to be useful in surfacing issues. For now, we'll start by doing some initial research on the tool.

We may not get to this immediately, so we are open to contributions if anyone is interested.

[2021-12-13 17:40] danielhelfand commented on #448
@cppforlife filed a support ticket with GCP and this was the response:

One potential solution to this would be documenting kapp-controlller installation on GKE and advising to set concurrency to a lower amount (e.g. 5). This way we could still keep current default of 10.

[2021-12-13 18:33] joe-kimmel-vmw commented on #416
Just a note that we've reproduced this again per the description.  @100mik @renuy  What's the priority/order you see for putting some kind of a `--no-really-i-mean-it` force-delete flag into the CLI?

[2021-12-13 18:35] joe-kimmel-vmw commented on #415
@mpermar - we're still having some difficulty setting up an appropriate reproduction environment. Can you provide some details of what infra is underlying your multi-cluster install?

[2021-12-13 18:38] joe-kimmel-vmw commented on #444
@alvarosanchez can you provide the information requested above?

[2021-12-13 18:39] mpermar commented on #415
Interesting. I wouldn't expect this to be source/target dependant. I am experiencing this behaviour with an EKS target cluster and a kind local cluster.

[2021-12-13 22:16] danielhelfand commented on #444
I was unable to run into this issue using [k3d](https://k3d.io/v5.2.1/). kapp-controller installed without any friction. I was able to run it/delete it about 10 times and never hit this problem.

[2021-12-14 08:13] 100mik commented on #416
This is not something we have prioritised right now, but since we have a recurring need for this I believe we can definitely add it to the list of action items in the second milestone 🚀

[2021-12-14 16:57] #432 closed, assigned to nobody

[2021-12-14 18:02] beltran-rubo opened #453 "kapp-controller hangs waiting for StatefulSet PVCs deletion"
The team is working on creating a Carvel repository that includes most of the Bitnami Helm charts using the App.spec [`helmTemplate`](https://carvel.dev/kapp-controller/docs/latest/app-overview/#spectemplate).

Based on [https://github.com/vmware-tanzu/carvel-kapp/issues/36](https://github.com/vmware-tanzu/carvel-kapp/issues/36), the `StatefulSets` are the responsible of creating the `PVCs`, so `k

[2021-12-14 20:22] danielhelfand commented on #445
Here's some notes on the GitOps approach we are going to document for this issue:

Basically, an App CR will be pointed at a git repository containing the PackageRepository/PackageInstalls. The App CR will then reconcile the updates regularly based on the App's syncPeriod.

A user can then update versions or add additional PackageInstalls by opening a pull request and merging the pr into the main

[2021-12-15 16:18] cppforlife commented on #448
^ do we know that 5 for example, "fixes" the behaviour?

[2021-12-15 18:09] danielhelfand commented on #453
@beltran-rubo Thanks for opening this.

In reviewing this issue, is there any way you could use an additional templating step with `ytt` to add this annotation to the helm chart? We were thinking you could use `.spec.template.inline.paths` to add an overlay that will add this annotation to the chart yaml. Then this information would be passed on to kapp.

You may also be able to reach out to our [

[2021-12-15 20:23] #434 closed, assigned to nobody

[2021-12-15 22:19] #433 closed, assigned to nobody

[2021-12-16 08:15] 100mik commented on #412
@jorgemoralespou pointed out that we should allow the users to update a package install to stop referencing a secret. Good catch!

We can update a PackageInstall to stop referencing a Secret and delete the Secret _if_ it was created by the CLI.

As of today if users would want to update the installation to not consume a supplied values file, a workaround is to supply an empty values file. In which

[2021-12-16 08:40] praveenrewar commented on #412
I would prefer `--delete-secret` instead of `--delete-unused-secret` as `unused` could be a bit confusing.

[2021-12-16 09:00] 100mik commented on #412
That was my first pref too, I was wondering if somehow the values file being supplied is dynamic, would users want to keep the flag in case they wanna dereference a secret _only if_ the values file supplied is empty. But I guess that is a bit of a stretch.

[2021-12-16 14:58] ankeesler commented on #410
another use case, this may or may not fall under this issue, but it seems at least tangential:
* my package contains a `JWTAuthenticator` resource with fields we want to set to 1) the address of a `Service` in the package and 2) the CA bundle from a `Certificate` in the package (the `Service` sits in front of an OIDC provider `Deployment`, the `Certificate` is the serving cert fo the OIDC provider

[2021-12-16 16:23] jorgemoralespou commented on #412
I would rather say `--no-values-file` as that's the flag you use when you create the secret. In fact, for the user, the secret is an implementation detail that she might not need to know. She created a package with values-file, and now she decides no values-file is needed. We should take the rest (deleting the secret, etc...) internally.

[2021-12-16 16:26] 100mik commented on #412
`--no-values-file` does make sense. I think abstracting the inner workings will benefit users

[2021-12-17 14:21] beltran-rubo commented on #453
Thanks, that is an option but will require to write a YTT file per application with all the PVCs annotations. Any users who use the `helmTemplate` feature with `StatefulSets` will require an extra YTT for handling this.

Did you consider that `kapp-controller` would not hang the deletion process and just keep the volumes in the cluster if they are not tracked?  That would be similar to the Helm ap

[2021-12-20 17:39] joe-kimmel-vmw commented on #453
@beltran-rubo kapp-controller delegates the deletion logic to kapp, but from the user perspective of course it all looks like kapp-controller. We've had previous discussion around whether kapp should have a flag for basically "delete all the things you know how to delete, ignoring or removing any finalizers that carvel owns (so that those resources gets deleted), and not waiting on cleaning up dep

[2021-12-20 19:42] danielhelfand opened #460 "apiserver/client-go 0.22.4 produce noisy logs on <=1.19 k8s cluster"
**What steps did you take:**

Deploy kapp-controller on a 1.19 cluster:

[code]

**What happened:**

The following logs are displayed:

[code]

**What did you expect:**

No logs related to v1beta1 flowcontrol resources since these resources don't exist in k8s 1.19.

**Anything else you would like to add:**

This problem seems to come from the k8s/apiserver dependency: https://github.com/vmware-tan

[2022-01-04 21:04] cjnosal opened #466 "Reference the downgradable annotation when stopping PackageInstall reconciliation"
**Describe the problem/challenge you have**
When attempting to downgrade, the useful error message says "Stopped installing matched version '0.0.0-dev' since last attempted
    version '1.0.0' is higher".
There's no hint that this behaviour can be overridden with an opt-in annotation.

**Describe the solution you'd like**
The useful error message for a Stopped downgrade should mention that no down

[2022-01-05 14:44] cppforlife commented on #453
(back from vacation)

kapp has a default ownership rules that get applied to PVCs -- https://github.com/vmware-tanzu/carvel-kapp/blob/develop/pkg/kapp/config/default.go#L223-L237. you can disable it per resource by adding `kapp.k14s.io/disable-default-ownership-label-rules` annotation. (if you do want to own them for deletion, then as you mentioned you can also use another annotation to mark them

[2022-01-06 18:57] #445 closed, assigned to danielhelfand

[2022-01-07 09:20] praveenrewar opened #467 "kapp inspect causes an increase in the number of api calls to cluster in the reconciliation stage"
**Describe the problem/challenge you have**
As discussed in [carvel-kapp#394](https://github.com/vmware-tanzu/carvel-kapp/issues/394), `kapp inspect` is one of the reason to cause a spike in the number of api calls made to the cluster when there are a lot of packages installed.

**Describe the solution you'd like**
- [x] Disable inspect by default.
- [x] Provide AppCRs the ability to enable kapp i

[2022-01-10 19:47] joe-kimmel-vmw commented on #124
note from IPM:

- dk: "feels like an annotation" (human, not machine-automation)
- but also we should check that what we do will meet TMC's book keeping needs.

- How does a packageCR reference a pkgr -- the 'global namespace' shows up in all other namespaces, so the pkgr reference would need to consider namespace access issues - you may be able to see a ref to a pkgr that you can't actually view.

[2022-01-11 18:31] beltran-rubo commented on #453
Thanks for your detailed notes and thanks for reconsidering that behaviour. @joe-kimmel-vmw if that flag is implemented it would be a valid 'workaround' for the PVCs created by StatefulSets.

[2022-01-12 15:35] #467 closed, assigned to praveenrewar

[2022-01-12 19:17] #460 closed, assigned to nobody

[2022-01-13 04:31] renuy opened #474 "Kapp-controller value schema for packages should show required configuration"
As part of kctrl (kapp-controller CLI) command - kctrl package available list", there is requirement to show whether there is a required configuration that should be provided (e.g. external-dns does not work without providing the required data-values).

1. Can we derive this information from value schema in kapp-controller package?
2. Will adding certain meta-data help derive this information?

--

[2022-01-13 15:46] danielhelfand commented on #474
The valuesSchema property isn't very structured on the kapp-controller side. It really could be anything, including JSON.

I am wondering if this would be an ask to `ytt` to see if this information could be added to the generation process. Then `kctrl` could use information about whether the field is required. Not sure how this looks according to the OpenAPI schema spec, but I can follow up on tha

[2022-01-13 22:30] danielhelfand opened #476 "Bump helm to 3.8 (when it's released) for CVE-2021-41092"
Once helm 3.8 is released, this CVE will be resolved. The [milestrone for helm 3.8](https://github.com/helm/helm/milestone/113?closed=1) is complete and includes the [relevant dependency bump](https://github.com/helm/helm/pull/10362).

We should keep an eye out for the official release as the [release candidate for 3.8](https://github.com/helm/helm/releases/tag/v3.8.0-rc.1) has been made available

[2022-01-18 14:56] nayan-mistry opened #479 "kapp-controller pod crashes with CrashLoopBackoff error and timed out error in it's logs"
**What steps did you take:**
Deployed kapp controller using below command in our k8s cluster having version 1.20.6

`kubectl apply -f https://github.com/vmware-tanzu/carvel-kapp-controller/releases/latest/download/release.yml`

**What happened:**
The kapp-controller object's pod crashes and continuously restarts itself with CrashLoopBackoff reason. The pod's detailed log is shared below:-

{"level

[2022-01-18 16:14] aaronshurley commented on #373
To consolidate some updates on this issue:
- v0.26.0 changed the default sync periods to 10m from 30s ([release notes](https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.26.0)). So, the urgency for this issue has been reduced but it would still be helpful to expose this for users to customize.
- We would like to provide expose this configuration via [the config](https://carvel.

[2022-01-19 04:43] renuy opened #481 "kubectl explain should explain the kapp controller defined resources"
**Describe the problem/challenge you have**
For the following commands
kubectl explain Package
kubectl explain PackageMetadata
kubectl explain PackageInstall
kubectl explain PackageRepository

I dont get any description or spec.

example:
[code]

**Describe the solution you'd like**
It would be good to have these published these in the cluster.

**Anything else you would like to add:**
Should this

[2022-01-19 14:40] benmoss commented on #481
Dup of #49?

[2022-01-19 14:44] benmoss opened #482 "Resources don't show up with "kubectl get all""
**Describe the problem/challenge you have**
I was trying to view the kapp-controller resources in my namespace, but doing `kubectl get all` showed nothing. I had to specifically look for the resource types to see they existed.

**Describe the solution you'd like**
`kubectl get all` should show me `Packages`, `PackageRepositories`, and `Apps`. `kubectl get carvel` should be a nice alias too for sco

[2022-01-19 15:34] danielhelfand commented on #481
This is a duplicate of #49 and there is more detail provided in that issue. This is good signal we should move up in our backlog though. I'll close this for now, but we'll try and have this prioritized soon.

[2022-01-19 15:34] #481 closed, assigned to nobody

[2022-01-19 18:05] joe-kimmel-vmw commented on #479
@nayan-mistry - thanks for the bug report!

When i run `kubectl apply -f https://github.com/vmware-tanzu/carvel-kapp-controller/releases/latest/download/release.yml` against my local minikube it works, so i'm not able to immediately reproduce.

Can you describe the platform provider and kubernetes distribution/flavor (aws, gcp, ...?)

Also per the output you provided,  can you share the output of:

[2022-01-19 18:14] joe-kimmel-vmw commented on #474
@pivotaljohn - does ytt support the openapi "required" block"?  seems like that would be what's called for in this kctl feature being discussed.

[2022-01-19 18:25] joe-kimmel-vmw commented on #444
@alvarosanchez  - any interest in following up on this issue with more information?

[2022-01-19 23:58] #482 closed, assigned to nobody

[2022-01-20 14:22] benmoss commented on #444
I tried this out with a 2 CPU / 4g memory minikube cluster and things were fine. I think we'll need more information to reproduce since I don't think resource constraints are the only issue.

[2022-01-20 15:16] benmoss commented on #415
I've reproduced this with kind, will investigate

[2022-01-20 15:45] benmoss commented on #415
I think this is actually a kapp issue, the command we issue is correct, but the example you're deploying [has a namespace in the manifest](https://github.com/vmware-tanzu/carvel-simple-app-on-kubernetes/blob/4305318f9fd7f44b489692461c4c8d64ed2151f5/config-step-2-template/config.yml#L11), so it's ambiguous what namespace to deploy to.

[2022-01-20 16:03] benmoss commented on #415
I think this is the intended behavior of kapp, surprising as it might be. It's [a supported workflow](https://carvel.dev/kapp/docs/latest/state-namespace/) to deploy your app to one  namespace, but with the resources it manages in another. So it makes sense that you need to have the `carvel-apps` namespace, because that's where kapp will store the app ConfigMaps, but it respects the namespaces set

[2022-01-20 17:02] mpermar commented on #415
@benmoss and team, I'm not going to argue if this is or is not the intended behavior of kapp, but again, **this is what the documentation states**:

[code]

I might be misreading the **specifies that app should be deployed to destination cluster**, and perhaps the expected behavior is that the app is not deployed there in certain scenarios, but then those should be clarified and not let the user f

[2022-01-20 17:15] benmoss commented on #415
I agree it's confusing, I'll reopen this for further thinking on how we can make this more intuitive

[2022-01-20 21:24] pk89 opened #484 "Support k8s version compatibility"
**Describe the problem/challenge you have**
We would like a way to check if upgrading a kubernetes cluster would render some of the installed packages incompatible. When building tooling on top of Carvel, it would also be nice to prevent users from attempting to install the Carvel packages on incompatible kubernetes clusters.

**Describe the solution you'd like**
Standardize a format for package a

[2022-01-20 23:08] danielhelfand commented on #484
Thanks again for opening this @pk89.

I wanted to add in some notes on some considerations for this issue:

1. The idea of checking if a package can be installed on a cluster of a particular version becomes interesting when a Package is compatible on any k8s version, but may need conditional changes based on the k8s version. An example may be a [fluent-bit package](https://docs.fluentbit.io/manual

[2022-01-21 17:09] danielhelfand opened #485 "Improve kapp-controller standard error message"
**Describe the problem/challenge you have**

When users encounter an error like below, a common question has been how to access the `usefulErrorMessage`, which will contain the most relevant error for users to focus on:

The error above is the output of kapp after failing to install a PackageInstall.

The original error message was meant to replace a user simply seeing a error message of `exit sta

[2022-01-21 17:25] benmoss commented on #485
It's a shame that the `logs` [subresource isn't implementable](https://github.com/kubernetes/kubernetes/issues/72637), or else `kubectl logs packageinstall foo` would seem like the natural choice.

Relying on #412 seems like the next best thing.

[2022-01-21 22:39] KauzClay opened #487 "Detecting when a resource is thrashing"
💔  **Describe the problem/challenge you have**
I noticed that sometimes my app deploys successfully, yet every time kapp-controller reconciles my app, it is changing something. I didn't notice this for a while, and even though you can figure out that this is happening from the information available in the `.status` field of my app, it wasn't immediately obvious for a beginner kapp user like me to

[2022-01-24 17:21] #466 closed, assigned to nobody

[2022-01-24 17:49] joe-kimmel-vmw commented on #487
Hi @KauzClay thanks for contributing!

As a short term fix for (1) you likely want to set a "rebase rule" on your app so that kapp will merge the existing resource on the cluster rather than overwriting it at each deploy. see https://carvel.dev/kapp/docs/latest/config/#rebaserules

For (2) we're still discussing but have no immediate solution better than what you already found - kapp really wants

[2022-01-24 19:54] danielhelfand commented on #476
Closing this issue as the helm project determined the [CVE to not be a concern](https://github.com/helm/helm/issues/10505#issuecomment-1007691670).

[2022-01-24 19:54] #476 closed, assigned to nobody

[2022-01-25 07:37] blc1996 opened #490 "Inline package manifest should work with imgpkg copy"
**Describe the problem/challenge you have**
In kapp-contoller 0.31, a [inline field](https://carvel.dev/kapp-controller/docs/latest/packaging/#package-repository) in introduced for `package` and `packageRepository` CR. This allows package CR contains all the YTT templates inline, including the `.imgpkg/image.yaml` file that locks the images.

However, if `.imgpkg/image.yaml` is put inline inside p

[2022-01-25 14:45] benmoss opened #492 "Kubernetes-style API reference"
**Describe the problem/challenge you have**
The API references right now are a big YAML document with comments. For issues like https://github.com/vmware-tanzu/carvel-kapp-controller/issues/415 it would be nice if we had a way to go into more detail with actual links, ala https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/deployment-v1/

**Describe the solution you'd like**
Inv

[2022-01-25 14:45] benmoss opened #495 "Kubernetes-style API reference"
**Describe the problem/challenge you have**
The API references right now are a big YAML document with comments. For issues like https://github.com/vmware-tanzu/carvel-kapp-controller/issues/415 it would be nice if we had a way to go into more detail with actual links, ala https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/deployment-v1/

**Describe the solution you'd like**
Inv

[2022-01-25 17:02] benmoss opened #493 "Change security slack notifications to alert based on open code scanning results"
Right now our [Trivy code scanning workflow](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/cbca53c348c20b7a95ff3a581a2d4cc8c146a4e8/.github/workflows/trivy-scan.yml) will send Slack alerts based on whether the Trivy CLI finds any unresolved issues in our images/binaries. It also posts them to GitHub's [Code Scanning](https://github.com/vmware-tanzu/carvel-kapp-controller/security/cod

[2022-01-25 21:02] #415 closed, assigned to benmoss

[2022-01-25 21:43] benmoss commented on #407
I always try to push back on these types of requests, there's an element of "let's test our thing on every Intel processor to make sure we're compatible". Kubernetes is not quite the same as x86-64, but to some extent it is.

[2022-01-25 21:47] benmoss commented on #490
I think you're confusing the Package and PackageRepository CRDs with the imgpkg bundle concept. `imgpkg copy` operates on the imgpkg bundle, not the CRDs. The CRDs support inlining extra files in addition to the bundle, but that doesn't change the bundle itself.

[2022-01-25 21:49] #352 closed, assigned to benmoss

[2022-01-25 22:45] #145 closed, assigned to cppforlife

[2022-01-26 16:43] benmoss commented on #493
This turned out to be slightly more complicated than I thought since we're scanning the latest release as well. I don't think there's a good way to associate a code scan alert with a release, so for instance if we had a fixed vulnerability in `develop` but that was still vulnerable in the latest release, I'm not sure it's simple to distinguish where it's fixed

[2022-01-26 18:10] joe-kimmel-vmw commented on #490
@blc1996  - we looked at this again together.  When you inline the package resource we wouldn't expect there to be anything for imgpkg to relocate. Please find us in [carvel slack ](https://kubernetes.slack.com/archives/CH8KCCKA5)if you have further questions we can help with!

[2022-01-26 18:10] #490 closed, assigned to nobody

[2022-01-27 18:33] benmoss commented on #493
Reopening since this is gonna bother me forever. I looked into it a bit today but was blocked by https://github.com/github/codeql-action/issues/890. There looks like there will be a fix there shortly so I'll revisit once that's merged.

[2022-01-31 16:57] danielhelfand commented on #369
Closing this in favor of #484 where there are some more concrete use cases mentioned.

[2022-01-31 16:57] #369 closed, assigned to nobody

[2022-01-31 17:01] danielhelfand commented on #323
Closing this. The dev.md doc has had a lot of information added to it to help maintainers/contributors work on kapp-controller: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/docs/dev.md.

[2022-01-31 17:01] #323 closed, assigned to nobody

[2022-01-31 17:43] danielhelfand commented on #407
One potential approach here is have a daily CI job that runs tests or examples on various k8s distributions like GKE/OpenShift. This way we have some level of coverage for kapp-controller in these environments but do not have to invest tons of time in maintaining this process.

Another thing that could be helpful for this issue is to understand more on where support requests are coming from (i.e.

[2022-01-31 17:54] danielhelfand commented on #280
Just adding some documentation here on how k8s recommends to think about versioning CRDs: https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/

In general, the kapp-controller resources that exist seem to meet v1beta1 requirements. We just need to prioritize this issue and pick the right time to make the switch.

[2022-01-31 18:06] danielhelfand commented on #34
One specific case to keep in mind with this issue is when a user deletes a namespace with an App and service account in it, the serviceaccount can get deleted before the App causing the whole deletion to not progress.

We'll raise this issue today in IPM and discuss if we can move forward with using a finalizer pattern to solve the problem.

[2022-01-31 18:14] danielhelfand commented on #161
One possible approach is to shift this experience to the kapp-controller CLI. This would allow a user to see what the contents of a PackageRepository source is.

Other user experiences like a UI could also show the PackageRepository contents in their own way to users.

[2022-01-31 19:31] danielhelfand commented on #34
There are also other resources that would need to be factored into this solution:
* service tokens
* permission resources (Roles, RoleBindings)

It's unfortunately not enough to simply factor in the service account as part of this. So this issue unfortunately may need a different pattern than what is outlined above.

[2022-01-31 23:38] microwavables opened #501 "Missing Roadmap, Governance, and Maintainer md files"
Per our community standards, all Carvel repos should have roadmap, governance, and maintainers md files to provide transparency to all.

[2022-02-01 04:04] #501 closed, assigned to nobody

[2022-02-01 14:57] benmoss opened #502 "Support for insecure registries"
**Describe the problem/challenge you have**
I'm trying to use a [docker-based local registry](https://kind.sigs.k8s.io/docs/user/local-registry/) to store my bundles. The registry is reachable from the kapp-controller pod via a containerd mirror, but kapp-controller assumes the registry will speak https and fails.

[code]

The PackageRepository fails to reconcile and gives me this error:
[code]

*

[2022-02-01 16:56] KauzClay opened #503 "Ordering of resource across Kapp deploys"
**Describe the problem/challenge you have**
For example, let’s say I have an packageinstall `kns` that deploys knative-serving with contour, and I have another app hello, deployed independently from the pkgi, that just contains a simple knative service. If I delete my `kns` pkgi, `hello` will start failing because no knative stuff is on the cluster. When I reapply my pkgi `kns`, `hello` will try t

[2022-02-02 16:05] alvarosanchez commented on #444
@joe-kimmel-vmw sorry, I had notifications disabled and missed your comments.

As of now, I no longer work for VMware, however, @beltran-rubo should be able to handle this.

Again, apologies for missing your comments.
Álvaro.

[2022-02-02 18:13] joe-kimmel-vmw commented on #503
Thanks @KauzClay !  This problem of "I want to use change-group apply ordering and dependent-resource annotations across multiple packages" is part of what we mean by [dependency management](https://github.com/vmware-tanzu/carvel-kapp-controller/issues/371). Right now @cppforlife is owning that but this is a good specific corner case to consider as input for that track of work.

[2022-02-02 18:22] joe-kimmel-vmw commented on #502
you may be looking for the[ registry-insecure flag](https://github.com/vmware-tanzu/carvel-imgpkg/blob/develop/pkg/imgpkg/cmd/registry_flags.go#L34) ?

[2022-02-02 18:26] benmoss commented on #502
Yep, that works!

[code]

[2022-02-03 22:57] neil-hickey commented on #360
@danielhelfand I think this one is done now right? The relevant code was added to vendir

[2022-02-03 23:17] danielhelfand commented on #360
It I guess just depends on how much this part matters anymore. Would be nice to mention somewhere in docs when this feature was added.

This I think was as a good place to add.

[2022-02-04 15:28] #49 closed, assigned to nobody

[2022-02-04 15:40] cppforlife commented on #503
controllers can take their sweet time to reconcile things (and that's ok), but of course there are other edge cases like CRD isnt present on the cluster or may be webhook for CRD defaulting isnt there, etc.

how are you deploying your PackageInstalls? can you just use kapp to deploy them, hence you would be able to use ordering rules? (that's what we have been doing -- sometimes for example we use

[2022-02-04 17:19] beltran-rubo commented on #444
Hi,

We found networking issues in our CI containers, so that is probably the root of the issue. It was introducing connectivity issues randomly depending on the interface. If we find similar issues in the future I will reopen this ticket.

[2022-02-04 22:32] aaronshurley commented on #444
That sounds good. Thanks for following up @beltran-rubo.

[2022-02-04 22:32] #444 closed, assigned to benmoss

[2022-02-07 16:53] aaronshurley opened #513 "`usefulErrorMessage` persists when a package is reconciling"
**What steps did you take:**
_I'm capturing these notes on behalf of @evankanderson._
While upgrading a cluster and debugging some issues, noticed that the `usefulErrorMessage` from the previous reconcile isn’t cleared when a package is in state `Reconciling`.

**What did you expect:**
The `usefulErrorMessage` to be cleared to accurately represent the current state.

**Anything else you would like

[2022-02-07 17:14] aaronshurley opened #514 "cue as a templating option"
**Describe the problem/challenge you have**
We've been hearing some excitement about [cue](https://cuelang.org/). It'd be a great opportunity to increase kapp-controller's extensibility by enabling cue as a templating option.

**Describe the solution you'd like**
cue works with kapp-controller.

**Anything else you would like to add:**
This is not a prescriptive issue. Feel free to work out the de

[2022-02-08 18:10] aaronshurley opened #515 "Ability to insert secretgen-generated passwords into a helmTemplate step in a PackageInstall"
**Describe the problem/challenge you have**
_Reporting on the behalf of @voor._
I want the ability to pass values to ytt and helm for Packages. This works for App CRs but not PackageInstall.

**Describe the solution you'd like**
I want to insert SecretGen generated passwords into a helmTemplate step in a PackageInstall.  I see how I could do that with:
[code]
Just basically put that into `spec.tem

[2022-02-08 18:20] voor commented on #515
Another snippet from the code that might show the pain a little more clearly, we generate a lot of secrets for Postgres, and to fit those into a package install right now looks like this:

[code]

This is rough, and since PackageInstall is considered part of the "consumers" persona and not the package author, it feels like it's violating the design, and is not really idea.

[2022-02-09 23:47] joe-kimmel-vmw opened #517 "Add more metrics to the metrics we expose"
**Describe the problem/challenge you have**
As a package author who is frequently installing new packages to test the packages I am writing, I want to see when I've added so many "problem" packages that the performance of kapp-controller is degraded.

**Describe the solution you'd like**
We expose[ some metrics](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/pkg/metrics/app_me

[2022-02-10 15:49] KauzClay commented on #503
Unfortunately not. The Knative packageInstall would be installed by an operator persona, while the hello app that uses a knative service is created by a developer persona using the cluster

[2022-02-10 17:35] benmoss opened #518 "Investigate whether subprocesses can be run as less-privileged users"
We launch a bunch of subprocesses for running ytt, kapp, etc, should these be run as less-privileged users than the default kapp-controller user?

[2022-02-14 22:48] #513 closed, assigned to benmoss

[2022-02-15 17:32] benmoss opened #521 "Add troubleshooting for when the api service is unreachable"
We need some way of helping users who see their APIService not become available. It seems most often this is because the Kubernetes apiserver is unable to reach our Service / pod due to networking.

[2022-02-16 14:50] shreyassreenivas opened #522 "Integrate with notification providers (slack, teams ...)to reflect package install status/transitions"
**Describe the problem/challenge you have**

These days messaging platforms has enabled pushing notification and customers can benefit by integrating with such platforms with kapp controller to receive the package status notifications.

Flux and many other open-source controllers provide such integrations.

**Describe the solution you'd like**

A similar notification for kapp controller would be g

[2022-02-16 17:45] joe-kimmel-vmw commented on #522
Thanks @shreyassreenivas,  we appreciate your suggestion!  This could also be performed by a separate layer or tool, such as https://github.com/bitnami-labs/kubewatch

[2022-02-16 18:17] jorgemoralespou opened #523 "Provide a way for kapp-controller to not take ownership of existing resources"
[**Describe the problem/challenge you have**
When deploying a package, if there's a resource defined in the package contents that already exist in the cluster, kapp will take ownership of this resource. From that moment, if the package is removed, then the existing resource will be removed as well.

**Describe the solution you'd like**
I would want to have an annotation on the package that defines

[2022-02-16 21:15] benmoss commented on #523
Hmm, maybe this should be
[code]
?

I think this requires a feature to be implemented in https://github.com/vmware-tanzu/carvel-kapp as well

[2022-02-21 18:24] shreyassreenivas commented on #179
Kapp controller should detect the change in the kapp-controller-config and dynamically should reload its runtime config/certs.
Bouncing the pod on every such change in the secret is not a good user experience and difficult to write operators managing kapp controllers.

This issue is essential because kapp controller is installed first and then the packageRespository is added.
So every time a new r

[2022-02-22 15:23] benmoss commented on #514
One problem I'm running into is that cue is not exactly a templating tool. In the Kubernetes examples, they show for instance [how you would create a custom tool](https://github.com/cue-lang/cue/blob/v0.4.2/doc/tutorial/kubernetes/README.md#dumping-a-yaml-stream) (in Cue terms) to export a multi-document YAML stream.

We could expose something like

[code]

but not sure that giving users control o

[2022-02-25 17:51] joe-kimmel-vmw commented on #523
kapp won't stomp an existing ownership,  so if you have a configmap `foo` and you also have a package that will install that same configmap, but you don't want to change the ownership,  you could block the whole thing by setting the label `kapp.k14s.io/app: "my-ownership"` .  Current behavior is that then the package would fail to reconcile.  Could this be solved by a "rebase rule" style ownership

[2022-02-25 19:15] cppforlife commented on #56
(being covered by kctrl -- https://github.com/vmware-tanzu/carvel-kapp-controller/issues/412)

[2022-02-25 19:21] #87 closed, assigned to nobody

[2022-02-25 19:22] cppforlife commented on #110
trying to address user friendly output in https://github.com/vmware-tanzu/carvel-kapp-controller/issues/412

[2022-02-25 19:24] cppforlife commented on #111
closing, since this is not currently important, but when we get to a point when searching is necessary lets reopen/recreate this issue.

[2022-02-25 19:24] #111 closed, assigned to nobody

[2022-02-25 19:28] cppforlife commented on #125
been using "flat" repo approach (aka repo is flattened at the build time instead of kc runtime) and it works great.

[2022-02-25 19:28] #125 closed, assigned to nobody

[2022-02-25 19:30] cppforlife commented on #147
dup of https://github.com/vmware-tanzu/carvel-kapp-controller/issues/428

[2022-02-25 19:30] #147 closed, assigned to nobody

[2022-02-25 19:33] cppforlife commented on #161
cc @renuy -- idea for kctrl package experience

[2022-02-25 19:38] cppforlife commented on #205
cc @renuy -- cli packaging experience idea

[2022-02-25 19:48] cppforlife commented on #312
cc @pivotaljohn

[2022-02-25 19:48] cppforlife commented on #315
closing as stale for now. if new concerns arise, lets reopen.

[2022-02-25 19:48] #315 closed, assigned to nobody

[2022-02-25 19:50] cppforlife commented on #337
PR was merged and shipped some time ago. thank you again @mhoshi-vm

[2022-02-25 19:50] #337 closed, assigned to nobody

[2022-02-25 19:55] cppforlife commented on #373
closing for now. will reopen if we need to provide more configurability to admins.

[2022-02-25 19:55] #373 closed, assigned to nobody

[2022-02-28 17:12] jorgemoralespou commented on #523
Use case is that we have seen that most of the Packages define a namespace and that the namespace is configurable. There's a big problem when a user in a non malicious way sets that namespace to an existing namespace (e.g. `kube-system`). From that moment, as kube-system did already exist as it came with the k8s cluster, the package owns the namespace. If that package is then removed, `kube-system

[2022-02-28 18:44] joe-kimmel-vmw commented on #523
thanks @jorgemoralespou -  the example you give does sound pretty inconvenient 😆 .  I just want to make sure I understand though -  if the namespace is configurable, who is the person who chooses that config value?  Isn't that also the right person to know whether it should be uninstalled along with everything else?

[2022-02-28 19:03] jorgemoralespou commented on #523
I don't think end users understand what packages do internally, they only understand what values can be provided, and sadly, there's nowhere in any package that I have seen any warning saying "don't use an existing namespace" or it will be removed if the package is removed, and my experience with packages is quite extensive :-D

[2022-03-02 13:49] cppforlife opened #535 "surface in App CR status set of namespaces used for the deployment"
**Describe the problem/challenge you have**
[A description of the current challenge that you are experiencing.]

it's useful for users of App CR and PackageInstall CR to know which namespaces hold deployed resources. internally `kapp ls` presents a list of used namespaces, however such information would only be accessible to direct kapp CLI users. it would be nice to somehow surface this info in A

[2022-03-02 17:40] joe-kimmel-vmw commented on #535
@cppforlife in discussion with @benmoss @neil-hickey we're wondering if it's worth a discussion re. solving the full case of "letting users identify what resources are part of this app/pkgi" vs the special case of just namespaces?

[2022-03-02 17:55] cppforlife commented on #535
possibly. though, i could see how identifying all resources might be an expensive operation vs identifying namespaces at the time of the deploy might be cheap. would love to hear ideas on more generic api though.

[2022-03-02 20:54] benmoss commented on #535
We have the resources at deploy time, right? I think this is a good example of a case where if we were using a kapp SDK this would be easy, but instead all that data is lost inside the CLI.

[code]

[2022-03-02 21:39] cppforlife commented on #535
- i have a concern about size of the App CR since this list could be 100s of resources long
- if we find this feature useful, it's more than likely other uses of kapp would benefit as well (ie having a mechanism to get this info from kapp CLI should be a reasonable ask)

[2022-03-02 22:05] benmoss commented on #535
Good point re it being too long. Yet another case where either we need a custom APIService or a CLI in order to expose data that doesn't really fit into a CRD.

[2022-03-02 23:06] YuxinZhou opened #539 "kapp-controller panics with "fatal error: concurrent map writes""
**What steps did you take:**

When having 30+ Carvel services installed on the cluster, we see the kapp-controller restarts because of panic:

[code]

 I believe the The panic comes from:

https://github.com/vmware-tanzu/carvel-kapp-controller/blob/218c41ec3c47e32395f99073491454f939af5fdc/pkg/reftracker/app_update_status.go#L23

According to https://github.com/golang/go/issues/20060, the problem i

[2022-03-03 17:57] neil-hickey commented on #320
We have moved away from using the carvel action for setting up tools in the workflows. We moved to using the install-deps.sh script, so we have one point of declaration for all tool versions instead.

https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/.github/workflows/test-gh.yml#L26-L27

[2022-03-03 17:57] #320 closed, assigned to nobody

[2022-03-03 19:50] #514 closed, assigned to benmoss

[2022-03-04 16:29] #539 closed, assigned to joe-kimmel-vmw

[2022-03-04 23:15] blc1996 opened #549 "extractImageRefHostname output doesn't container port number"
**What steps did you take:**
Set `dangerousSkipTLSVerify=air-gap-scale.eng.vmware.com:8043` in kapp-controller's config map

The requests to `air-gap-scale.eng.vmware.com:8043/registry` didn't skip TLS verify

**What happened:**
The [extractImageRefHostname function](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/pkg/fetch/vendir.go#L359-L368) used to extract dangerousSkipTLSV

[2022-03-04 23:45] joe-kimmel-vmw commented on #549
The way I'm reading the code I would argue the variables are at least named correctly:
[code]

the function is called `extract...Hostname`,  so it takes something called `hostnameAndPort`, splits it on the separator char (`:`) so that the two pieces of that split would be
[0] = hostname
[1] = port

but the function is called "extract hostname",  not "extract hostname and port" so to me based on it

[2022-03-04 23:49] blc1996 commented on #549
Thanks @joe-kimmel-vmw for looking into it.
Agree that `extractImageRefHostname` is working as expected  after reading your post, missed the split part when I was reading.

[2022-03-05 00:44] joe-kimmel-vmw commented on #549
@blc1996 - i think i can guess but would appreciate if you can confirm:    from your perspective,  you have to pass the domain with the port for everything to work,  but if you had added `domain:8043` to the `dangerousSkipTLSVerify` allow-list,   would you be surprised/disappointed/filing-another-bug-about-security  if we then skipped TLS verification for all ports on that domain?

[2022-03-05 00:48] blc1996 commented on #549
^^ Defer this question to @vijaykatam and @vuil

[2022-03-07 18:04] vijaykatam commented on #549
If a port is specified, probably just skip tls skip verify for that instead of all ports. If another port is desired, user can specify one more item to the list.

[2022-03-07 22:06] #549 closed, assigned to joe-kimmel-vmw

[2022-03-08 00:28] pivotaljohn commented on #312
I guess it depends on how those error messages are viewed.  If `kctrl` prints such error messages, interpreting escape characters (like `\n`), might be just great.

Bigger picture, folks in ytt have talked about providing a structured output for error messages as well, separating the content of the messages from their format. But we've had our hands full enough that it hasn't made sense to (yet) i

[2022-03-08 17:02] benmoss opened #560 "Watching packages never time out"
**What steps did you take:**
In one terminal: `kubectl proxy`
In another terminal `curl "http://127.0.0.1:8001/apis/data.packaging.carvel.dev/v1alpha1/packages?watch=true&timeoutSeconds=5"`

**What happened:**
The curl never completes.

**What did you expect:**
The curl would complete after 5 seconds.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us p

[2022-03-08 17:34] #560 closed, assigned to nobody

[2022-03-10 14:11] cppforlife opened #566 "deletion should kick in regardless of ongoing deploy, paused/canceled state"
**Describe the problem/challenge you have**
currently when AppCR/PackageInstallCR is ~either paused/canceled~ (done) or has an ongoing deploy, it will not react to deletion state immediately (it's just enqueued). it seems reasonable to change this behaviour to prefer deletion state to these other 2 states as it seems that's what most folks would expect.

**Describe the solution you'd like**
[A cle

[2022-03-10 14:14] nicholasmhughes commented on #396
I think now is probably the time to remove support for Helm v2 since since it's been [over a year since the code freeze](https://helm.sh/blog/helm-v2-deprecation-timeline/). I've run across some charts that still have `apiVersion: 1` set, but are incompatible with Helm 2... which creates problems for kapp-controller. The latest occurrence I found was with Rancher, documented in this PR: https://gi

[2022-03-10 15:21] benmoss commented on #151
@neil-hickey is there anything more to do here? didn't #544 fix this?

[2022-03-10 17:29] neil-hickey commented on #151
Fixed by #544 - released in 0.33.1

[2022-03-10 17:29] #151 closed, assigned to nobody

[2022-03-11 00:02] #566 closed, assigned to benmoss

[2022-03-11 17:03] #493 closed, assigned to benmoss

[2022-03-11 17:41] aaronshurley commented on #397
After some discussion between @cppforlife and @voor, this feature may not be as helpful as initially expected. Closing this out for now but we can reopen if needed.

[2022-03-11 17:41] #397 closed, assigned to nobody

[2022-03-11 17:50] voor commented on #397
For historical purposes.  Initially this was because we were applying overlays to several packages (insert `ytt` to places that didn't have it, or `kbld`, etc.) later on we started doing overlays to everything:

[code]

Over time we found we needed to do other stuff, `vendir` related and `imgpkg copy` and things that basically required an intermediary step of bash-like opportunity to easily pipe `

[2022-03-12 20:21] joshrosso opened #572 "`kapp-controller` arm64 image fails to start properly"
When deploying `v0.32.0` or `v0.30.1` of `kapp-controller`, on an ARM machine, there appears to be something wrong with `kapp-controller` initializing.

1. I deploy `kapp-controller`.

[code]

3. I verify the pod reports `Running` status

[code]

4. I notice packages will not reconcile.

5. I check the logs and nothing is reported

[code]

6. `kube-apiserver` reports an inability to reach the aggr

[2022-03-12 20:29] joe-kimmel-vmw commented on #572
Thanks for filing @joshrosso  -  I think we only build for [amd64 targets](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/Dockerfile#L8) so my first thought is that ARM support might be more of a feature request for a separate build process & artifact than a bug -- did this used to work on older kapp-controller versions?

[2022-03-12 20:33] joshrosso opened #573 "Create arm64 image for `kapp-controller`"
Currently, `kapp-controller` cannot run on an ARM64 host, as there is no image[0].

Could we switch to doing multi-arch builds and produce arm64 alongside amd64?

[0]:

[code]

[2022-03-12 20:34] joshrosso commented on #572
You're right -- i could of sworn we were building arm64, but i'm wrong.

[0]:

[code]

added:

* https://github.com/vmware-tanzu/carvel-kapp-controller/issues/573

[2022-03-12 20:34] #572 closed, assigned to nobody

[2022-03-15 13:24] #502 closed, assigned to nobody

[2022-03-17 15:18] #408 closed, assigned to nobody

[2022-03-17 16:52] ramkrishna2k3 opened #581 "Expected to find at least one version (details: all=0 -> after-prereleases-filter=0 -> after-constraints-filter=0)))**"
**What steps did you take:**
As per the customer requirement we needed to remove **helm.sh/chart: tomcat-10.1.12** from the yaml file.

**What happened:**
got an error:
**kapp: Error: waiting on reconcile packageinstall/tomcatapp-demo (packaging.carvel.dev/v1alpha1) namespace: default:
  Finished unsuccessfully (Reconcile failed:  (message: Expected to find at least one version, but did not (detai

[2022-03-17 17:17] cppforlife opened #577 "package should be able to specify acceptable kapp-controller and k8s version required"
**Describe the problem/challenge you have**
[A description of the current challenge that you are experiencing.]

package authors want ability to specify that particular package can only be installed on kapp-controllers version X and above. example case: im using particular new ytt feature that it's only available in kc v0.45.0+ and want to prevent somebody from trying to install it on kapp-control

[2022-03-17 21:40] 100mik commented on #581
It looks like this issue belongs to the `kapp-controller` repo.
Looks like you were trying to wrap a helm chart in a package.
Could you elaborate on the issue?

[2022-03-18 06:39] renuy commented on #581
@ramkrishna2k3 , this looks a kapp-controller issue to transferred it to the kapp-controller repo.

[2022-03-18 09:34] ramkrishna2k3 commented on #581
[config.yml.txt](https://github.com/vmware-tanzu/carvel-kapp-controller/files/8303305/config.yml.txt)
[pkginstall.yml.txt](https://github.com/vmware-tanzu/carvel-kapp-controller/files/8303306/pkginstall.yml.txt)
[values.yml.txt](https://github.com/vmware-tanzu/carvel-kapp-controller/files/8303307/values.yml.txt)

[2022-03-19 10:48] ramkrishna2k3 commented on #581
any help in this regard

[2022-03-19 11:54] ramkrishna2k3 commented on #581
root@Master-VM:~/tomcat# kubectl describe packageinstall.packaging.carvel.dev/tomcat-demo

Status:
  Conditions:
    Message:             Expected to find at least one version, but did not (details: all=0 -> after-prereleases-filter=0 -> after-constraints-filter=0)
    Status:              True
    Type:                ReconcileFailed
  Friendly Description:  Reconcile failed: Expected to find at

[2022-03-19 14:06] ramkrishna2k3 commented on #581
Yes, we are using helm bitnami chart and creating a package. can u please help in this.

[2022-03-21 15:01] cppforlife commented on #581
helping over slack. closing here.

[2022-03-21 15:01] #581 closed, assigned to nobody

[2022-03-22 15:52] jorgemoralespou opened #583 "kctrl package output when wrong command/input should be consistent"
**What steps did you take:**
[code]

**What happened:**
`kctrl` without any command, prints help for command and output error, but `kctrl package` without any subcommand prints only error, and not help message that will help understand subcommand, flags, etc...

**What did you expect:**
I would expect the help to be provided so that I don't need to fail or have to do an additional explicit `-h` ca

[2022-03-22 18:02] beltran-rubo opened #585 "Helm template Release.namespace resolution fails on remote clusters"
**What steps did you take:**
Deploy a Carvel application with `helmTemplate` approach in a remote target cluster has a misconfigured namespace.

**What happened:**
We created a Carvel package using the `helmTemplate` feature for Bitnami Cassandra. This Helm chart uses the namespace to [create specific service names](https://github.com/bitnami/charts/blob/bf7830e33c5633914ec3e5c81eb20995b9a87def/bi

[2022-03-22 19:37] cppforlife commented on #585
what is the namespace that gets picked?

[2022-03-23 06:38] beltran-rubo commented on #585
It uses the namespace where the App is created by default (`deployment-service`) into the 'centralised' cluster where `kapp-controller` is running (not the target cluster one).

[2022-03-23 10:18] 100mik commented on #583
Out of curiosity, which one of these would you prefer? (the more verbose help section, or a more direct error message)

[2022-03-23 10:35] jorgemoralespou commented on #583
the more verbose output, which aligns with the behavior of most related CLIs like tanzu, pack, and many more in the k8s space. It seems current behavior is common to other Carvel CLIs (kapp at least) :-(
As mentioned, this output makes you issue an additional invocation:

- kctrl does not provide any help on error, so requires always an additional invocation:
[code]

- Docker provides an intermedi

[2022-03-23 10:38] jorgemoralespou opened #586 "kctrl should provide autocomplete capabilities"
**Describe the problem/challenge you have**
Sometimes, typing a kctrl command is too long, and requires the user to go back and forth to other terminal to see the appropriate package or version. It would be awesome if kctrl could provide autocomplete capabilities like other tools (e.g. kubectl) where it even inspects the cluster on autocompletion so that a `tab` keystroke would help the user to fi

[2022-03-23 10:54] jorgemoralespou commented on #577
While this, as I see it, is metadata that will need to be defined in the Package, it would be awesome to look at other issues that would provide similar/related functionality (e.g. https://github.com/vmware-tanzu/carvel-kapp-controller/issues/201)

[2022-03-23 16:55] neil-hickey commented on #577
Some questions from our triage meeting:

1. Do we allow ranges? e.g `v1.0.0 - v1.2.0`
2. Should this be a top-level field on the [PackageCR](https://carvel.dev/kapp-controller/docs/v0.34.0/packaging /#package) or an annotation?

[2022-03-23 17:21] cppforlife commented on #577
both features would be nice :)

i dont think we need to get too fancy. by providing both min and max checks (optionally provided) that allows to define one range. i havent seen much use for multiple ranges.

[2022-03-23 23:18] joe-kimmel-vmw commented on #585
@beltran-rubo  Can you help us understand the impact of this bug on your workflow?    It sounds like you have a workaround but would prefer a different workflow - is this critical or blocking progress for you?

[2022-03-24 00:14] joe-kimmel-vmw opened #587 "backport fixes & patches to the 0.30.x LTS line"
Proposed is to bring the following over:

- [ ]
- [x] 615832e5 Fix apiserver watch timeouts (#561)
- [x] 5c964fdd app status: convert all receivers to pointers
- [ ] 0c301139 Bump ytt to v0.37.1
- [x] 6e1557a3 update helm to v3.8.0 (#488)
- [x] a5aeb2ee update photon to 4.0 to resolve CVEs (#454)
- [ ] da0801fb Bump vendir to v0.26.0
- [ ] c6bb5a94 Bump imgpkg to v0.27.0 (#576)
- [ ]

[2022-03-24 10:46] cppforlife commented on #583
we have received feedback before that dumping help text is confusing because it's just too much -- i agree with that assestment. the thinking is that in most cases user just forgot to add a flag/arg -- they know how to do it, but just forgot, or they want to see more targeted suggestion rather than a wall of help text. it would be useful to provide a bit more info in error messages of what is requ

[2022-03-24 10:48] praveenrewar commented on #586
@jorgemoralespou Thank you so much for the suggestion.

[2022-03-24 11:10] jorgemoralespou commented on #583
Well, from a UX perspective, there's tradeoffs between usefulness and confusionness. Usefulness is when the tool helps you as it's difficult to use so it guide you to a correct use with the minimal amount of effort. Confusionness is when it gets always in the middle.

If you're an advanced user, you will most likely never miss a command/flag and if you do it will be very few times, so you will be

[2022-03-24 13:48] beltran-rubo commented on #585
Thanks @joe-kimmel-vmw right now we are using the workaround for the internal verification but thinking on the users of those Carvel packages would be complex to modify the `Package` CR just for specifying a namespace.

[2022-03-24 19:27] cmoulliard commented on #515
Ideally we should have the possibility to use var substitution to change within the helm values.yml file the proper value

Dummy example of a values.yml file
[code]
where `<IP_ADDRESS_OF_THE_VM>` should be passed as `PackageInstall` parameter to perform the variable substitution

[2022-03-24 20:01] cppforlife commented on #583
i think we are saying the same thing but coming to different conclusions:

output below to me is not "helping the user", it just dumps a pile of text. in fact ive seen bunch of times where people when faced with below experience would be confused of what they have done wrong because it just looks like a wall of text.

[code]

docker cli approach seems like a reasonable design choice that still foc

[2022-03-24 20:38] neil-hickey commented on #179
### Development / implementation notes

1. We current have two calls to `GetConfig()`
    - main process - [here](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/cmd/controller/run.go#L78-L81)
    - init process - [here](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/cmd/controllerinit/run.go#L92-L95)
2. We have an `init` process which runs before the main

[2022-03-24 21:09] lalithsuresh commented on #400
@danielhelfand @joe-kimmel-vmw just saw this. We'd be happy to look into testing kapp-controller with Sieve in the coming weeks. (cc @embano1 @marshtompsxd)

[2022-03-25 01:29] joe-kimmel-vmw commented on #587
the three bumps couldn't be cherry-picked bc of changes in our dependencies tracking, so they were ported over with fresh commits.

[2022-03-25 05:31] #587 closed, assigned to nobody

[2022-03-25 12:45] st3v opened #588 "helmChart fetch broken for OCI source repositories"
In version 3.7.0 of Helm the `helm chart pull` command was replaced with `helm pull` (see [release notes](https://github.com/helm/helm/releases/tag/v3.7.0)). That change does not seem to be reflected in `vendir`'s OCI source yet (see [here](https://github.com/vmware-tanzu/carvel-vendir/blob/1655a8e5ca8dcc3e9535aedd3617b7a3bb7dca15/pkg/vendir/fetch/helmchart/oci_source.go#L134)), which would be oka

[2022-03-28 06:48] databasedav opened #589 "debugging helm chart errors on app reconcile"
i'm having trouble installing the aerospike helm chart even though the manual `helm template ...` output looks fine

here's repro instructions on Ubuntu 21.10 using kind version 0.12.0

[code]
[code]
[code]
[code]
[code]
from the last command i get this output
[code]
and here's the output of `kapp inspect -a app --status`
[code]
any tips for how to debug this? thanks :)

[2022-03-28 13:55] cppforlife commented on #396
agreed.

[2022-03-29 00:08] neil-hickey commented on #588
Nice find @st3v ! Looks like a genuine bug, moreso in vendir than KC. I will open up an issue over there also

[2022-03-29 14:19] benmoss commented on #113
Would it be enough to use [data.read()](https://carvel.dev/ytt/docs/v0.40.0/lang-ref-ytt/#data) to load the value file? https://carvel.dev/ytt/#gist:https://gist.github.com/benmoss/1eca4105a86871e69eb52564220b72a1

[2022-03-29 14:50] benmoss commented on #34
To add to what Daniel was saying, Roles and RoleBindings are what give ServiceAccounts their permission to operate on resources, and so we'd have to have a way of preventing those from being deleted or modified as well to really have the desired functionality here. With the way that RBAC works it doesn't seem possible to know which Role/RoleBindings are relevant.

To think about this problem in an

[2022-03-29 20:42] mohansitaram opened #592 "Kapp controller's `spec.fetch.imgpkgBundle.secretRef` doesn't support `dockerconfigjson` type secrets"
**What steps did you take:**

1. Logged into my registry by doing "docker login". This updates my "~/.docker/config.json" with the registry authentication credentials.
2. Created a secret of type "docker-registry " using the following command `kubectl create secret docker-registry my-secret --from-file=.dockerconfigjson="/root/.docker/config.json"`
4. I referenced this secret in my App CR:
[code]

[2022-03-29 21:56] neil-hickey commented on #588
https://github.com/vmware-tanzu/carvel-vendir/issues/144

[2022-03-29 23:14] cppforlife commented on #592
we do support dockerconfigjson (https://carvel.dev/kapp-controller/docs/v0.34.0/app-overview/#image-and-imgpkgbundle-authentication). how does your secret format look like? (make sure to remove sensitive details)

[2022-03-29 23:16] cppforlife commented on #589
my general suggestion would be to try to use tools directly to replicate the steps (we have plans to make this easier via kctrl but havent gotten there yet). another idea would be to throw in `ytt: {}` step after helm template to see if you get a nicer error message.

[2022-03-30 00:20] mohansitaram commented on #592
Never mind. Turns out I had a DOCKER_CONFIG env var set which was writing the credentials to a location different from ~/.docker/config.json. Cleaning up my `~/.docker/config.json` and creating a new dockerconfigjson secret from it worked. Kapp controller is able to pull bundles using that secret now.

[2022-03-30 00:20] #592 closed, assigned to nobody

[2022-03-30 04:41] databasedav commented on #589
@cppforlife thanks for the suggestion, adding `ytt: {}` has given me some extra clues (and i was getting a similar error when attempting to install kind ingress nginx with kapp controller)
[code]
the templates are here for reference https://github.com/aerospike/aerospike-kubernetes/tree/master/helm/templates

any idea what is causing this to happen? doesn't this suggest that the `apiVersion` line

[2022-03-30 06:51] databasedav commented on #589
ok so after inspecting each file it looks like the problem is the double `-` in the initial `{- ... -}` in the template. Out of all the template files, only the ones corresponding to those in the `usefulErrorMessage` have this, which seems to be eating the `apiVersion` line at some point, but this does not happen with a `helm template a aerospike/aerospike` (<- should be repro)

@cppforlife could

[2022-03-30 06:57] databasedav commented on #589
i've confirmed that the double `-` was the problem with a fork of the aerospike helm chart
[code]

[2022-03-30 07:54] databasedav commented on #589
also something similar is happening with https://github.com/kubernetes/ingress-nginx/blob/main/deploy/static/provider/kind/1.23/deploy.yaml
[code]
but this one isn't a template, it's just yaml ...

[2022-03-30 16:52] #212 closed, assigned to nobody

[2022-03-30 16:57] benmoss commented on #588
We should make sure we have test coverage at the kapp-controller level for this feature

[2022-03-30 17:02] benmoss commented on #517
Maybe we should investigate how users can emit/consume Kubernetes events instead of adding more metrics

[2022-03-30 17:05] praveenrewar opened #594 "`kubectl get package` or `kctrl package available get` results in a non user friendly error when the package is not available"
**What steps did you take:**
Run
[code]
OR
[code]
where the package foo doesn't exist

**What happened:**
Errored out with the message in both the scenarios:
[code]

**What did you expect:**
The error message should have been something like
[code]
to make it more user friendly.

**Anything else you would like to add:**

**Environment:**

- kapp Controller version - v0.30.2
- Kubernetes version - v

[2022-03-30 17:09] benmoss commented on #585
Sounds like we can pass the PackageInstall namespace through to the Helm template at least in this case

[2022-03-31 07:13] hemakshis opened #596 "kapp-controller failing to start when isitio proxy is enabled on the namespace"
**What steps did you take:**

1. Install kapp-controller on your cluster, kapp-controller will be running with 1 container
2. Install [istio-/proxy](https://github.com/istio/proxy) v1.13 in your cluster
3. Enable istio injection on the namespace where kapp-controller is running
4. Manually delete the kapp-controller pod so that istio/proxy can be injected into it
5. Now you will notice the kapp-co

[2022-03-31 14:10] benmoss commented on #589
This looks like the Aerospike Helm chart problem is being caused by it using a [v1](https://github.com/aerospike/aerospike-kubernetes/blob/c857b1d0ce02f47d0d28aa1427ede00ab808e966/helm/Chart.yaml#L18) Chart, which [kapp-controller decides to use helmv2 for](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/e6f78c7ab1f2a0e8e6a958375ef0c517fc198dbd/pkg/template/helm_template.go#L158).

Whe

[2022-04-01 00:05] databasedav commented on #589
@benmoss thanks for digging into this, is there any way to force kapp-controller to use helm3? can i overlay the `Chart.yaml` with ytt to replace the version or can ytt only hit the templates? also this explains the templating issue but what about for https://github.com/vmware-tanzu/carvel-kapp-controller/issues/589#issuecomment-1082748152? here's the corresponding app manifest
[code]

[2022-04-02 16:02] gerrnot commented on #479
I have a similar problem (and assume this is only because in meanwhile the version is newer).

The error does not happen for me when I install tanzu-cluster-essentials on a PUBLIC gcloud gke cluster, it only happens on PRIVATE ones.

For reference, this reproduces the error:
1. Create a vpc network "tanzu" with at least one subnet that is also called "tanzu"
2. Create a private GKE cluster
[code]

[2022-04-04 01:51] GrahamDumpleton opened #598 "App CR should require one of serviceAccountName or cluster."
**Describe the problem/challenge you have**

Both `serviceAccountName` and `cluster` properties of the `App` CR are marked as optional. Anyone not understanding that one or the other is required may not even add either. When neither is added, then the `App` CR is still accepted and you end up with an error which you have to look in the `App` CR status of:

[code]

Further, when trying to delete th

[2022-04-04 19:08] joe-kimmel-vmw commented on #396
fixed in https://github.com/vmware-tanzu/carvel-kapp-controller/pull/590.

[2022-04-04 19:08] #396 closed, assigned to nobody

[2022-04-06 18:05] neil-hickey commented on #306
hey @voor / @Glythium we have implemented https://github.com/vmware-tanzu/carvel-kapp-controller/issues/151. Does it satisfy this issue's use case?

[2022-04-06 18:05] #300 closed, assigned to nobody

[2022-04-06 20:28] cppforlife opened #603 "empty PackageInstall values ref cause nil deref error"
**What steps did you take:**
user believes that they have configured one of the PackageInstalls with empty values ref e.g.

[code]

**What happened:**
[code]

**What did you expect:**
an error within PackageInstall status that values ref cannot be empty.

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

**Environment:**

- kapp Controller ve

[2022-04-08 05:08] GrahamDumpleton opened #604 "Incomplete help for "kctrl package available get" command."
**What steps did you take:**

Run:

[code]

This outputs:

[code]

Following example given, eg.:

[code]

Replace `cert-manager.community.tanzu.vmware.com` with some package name you do have available.

**What happened:**

The command above gives an error of:

[code]

**What did you expect:**

The help string does say `package with a specific version`, but nowhere in the help string does it give a

[2022-04-08 11:11] GrahamDumpleton opened #605 "Custom resources should never be added to the Kubernetes "all" alias."
**What steps did you take:**

Operate against a Kubernetes cluster using a service account/user which has restrictive RBAC.

Run:

[code]

**What happened:**

You get errors of:

[code]

**What did you expect:**

It is generally regarded as bad practice to add additional Kubernetes resources to the `all` alias. The `all` alias is more or less reserved for Kubernetes core resources only and custom

[2022-04-08 21:15] neil-hickey commented on #605
Thanks for that background @GrahamDumpleton ! This seems like a potential breaking change for anyone relying on that behaviour today.

@cppforlife any background on why this was added? If there's no compelling reason to have this information shown in `kubectl all` then this story is available for pickup and probably a small change.

[2022-04-08 21:49] cppforlife commented on #605
was added in this https://github.com/vmware-tanzu/carvel-kapp-controller/pull/483. i dont have strong preference either way.

[2022-04-11 13:31] benmoss commented on #605
@GrahamDumpleton I added this, I'm sorry if it is causing you trouble. I don't think it's necessarily common knowledge or widely accepted that custom resources should never be added to the "all" category, here are two examples:

https://github.com/knative/serving/blob/e73e83bcfd7acba1c16193963a49649f7445a6ab/config/core/300-resources/service.yaml#L34
https://github.com/rabbitmq/cluster-operator/bl

[2022-04-11 13:37] benmoss commented on #479
@gerrnot thanks for the repro steps, I'll take a look

[2022-04-11 15:26] benmoss commented on #479
@gerrnot your issue turns out to be very similar to https://github.com/cert-manager/cert-manager/issues/2109

If you create a firewall rule allowing ingress from the control plane to the workers on 10350 this will be fixed:

[code]

you'll need to set `gke-tanzu-cf831963-node` to whatever the network tag for your node pool VMs are

[2022-04-11 20:21] GrahamDumpleton commented on #605
Did knative people add it back again!

Pretty sure I had this discussion with them a few years ago and they saw the wisdom in removing their CRDs from `all`. Seems people never learn this is a bad idea. :-(

The underlying problem is people assume that everyone works as cluster admin against the cluster when that isn't the case. They therefore think doing this is a convenience for everyone when it

[2022-04-11 21:47] GrahamDumpleton commented on #605
What is annoying is that `kubectl` has an option:

[code]

to not complain when a resource doesn't exist, but no option for don't yell and complain when RBAC prevents access to the resources which are named directly or via an alias. If it had such an option and one could also somehow set an environment variable so was applied all the time, one could suppress these noisy messages.

[2022-04-11 23:53] #586 closed, assigned to praveenrewar

[2022-04-12 00:37] benmoss opened #607 "kapp-controller shouldn't exit if the packaging API is unavailable"
**What steps did you take:**
If you have an issue like #479 where the Kubernetes API server can't reach kapp-controller's aggregated apiservice, kapp-controller will go into a crash loop, making the troubleshooting/diagnostics process even harder.

I think we should probably just loop forever instead of 60 times as we currently do, and log a message about the broken state we're in.

[2022-04-12 07:43] gerrnot commented on #479
@benmoss : Thanks a lot! As the OP also clicked the celebrate button, I think this can be closed.

[2022-04-12 14:02] benmoss commented on #479
I don't think that was @nayan-mistry unfortunately 😄 . We'll leave it open and see if they respond with more details.

[2022-04-12 14:05] benmoss commented on #589
I don't think so, but in [the latest release](https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.35.0) helm v2 has been removed.

I'll look into that ingress-nginx issue

[2022-04-12 15:54] #607 closed, assigned to benmoss

[2022-04-12 16:57] benmoss commented on #589
It looks like your problem there is that [kustomization.yaml](https://github.com/kubernetes/ingress-nginx/blob/main/deploy/static/provider/kind/1.23/kustomization.yaml) file is not a valid resource.

I tried using `subPath: deploy/static/provider/kind/1.23/deploy.yaml` but it seems that subPath only works with directories.

This seems to work, though still doesn't come up on my kind cluster (the i

[2022-04-12 19:11] #605 closed, assigned to benmoss

[2022-04-14 17:18] neil-hickey commented on #201
I created a PR to get things started on this idea of a  Package indicating it should not be used

https://github.com/vmware-tanzu/carvel-kapp-controller/pull/624

It does not handle upgrades. It allows a Package author to indicate the Package is bad, and the PackageInstall will show a new condition also.

[2022-04-15 14:13] #179 closed, assigned to nobody

[2022-04-19 14:36] #603 closed, assigned to benmoss

[2022-04-19 15:37] jorgemoralespou opened #631 "Document helm template name and namespace annotations"
There's 2 experimental annotations that helps helmTemplate processing to define the name and namespace, but these are not documented:
https://github.com/vmware-tanzu/carvel-kapp-controller/blob/22d3f3a23048f41b9dc7e9c56944ef67c2819758/pkg/packageinstall/app.go#L24-L25

They should be in the docs.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us priori

[2022-04-20 05:27] renuy opened #632 "Package authoring commands"
**Describe the problem/challenge you have**
Package authoring is difficult for first time users.

**Describe the solution you'd like**
Have a tool which would walk me through package creation, and allow me to install them on a cluster (using kctrl package install)

**Commands**
kctrl  pkg build create

**Acceptance criteria**
1. As a user I should be able to create a new package from scratch using

[2022-04-20 16:46] joe-kimmel-vmw commented on #631
Thanks @jorgemoralespou  -

The team that's working in this codebase now didn't write those annotations and we just learned about them through this ticket as well!

Would you describe them something like this:?

These annotations allow the package consumer to override the name and namespace that will be passed to the helm chart.

[2022-04-20 16:57] jorgemoralespou commented on #631
That seems like it, but you should ask the person that added the annotations, and not me :-D

[2022-04-20 18:43] joe-kimmel-vmw commented on #631
it looks like there's some descriptions in this issue: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/409

[2022-04-20 20:21] aaronshurley commented on #419
Another thing to consider _if we don't want to change the base image_, could we remove tools that we don't need that could create security vulnerabilities?

[2022-04-21 12:35] #56 closed, assigned to 100mik

[2022-04-21 12:35] #110 closed, assigned to 100mik, danielhelfand

[2022-04-21 18:01] stealthybox commented on #412
On the carvel community call today, we talked about how `kick` has advantages over `reconcile` in that it's shorter to say, less abstract, and also fun.
However it does feel a little bit physical which could mean it's not an optimal word choice.

Then we started talking about how `nudge` feels much nicer.
It's nice and short, a single syllable, and really captures the intent of what you would do i

[2022-04-21 18:29] jorgemoralespou commented on #412
You should probably think about non-native english speakers. I don't even know what `nudge` means. So, I would definitely not know what it does.

[2022-04-21 18:39] stealthybox commented on #412
For sure -- `kick`  is maybe a more common word?
I would think that `reconcile` is more obscure than `nudge`, but contextually in the cloud-native space non-native speakers are going to quickly learn what that means.

[2022-04-25 14:09] cppforlife opened #639 "PackageInstall status picks up current App CR status upon change"
**What steps did you take:**
- deploy PackageInstall
- wait for it to settle (incl App CR)
- change syncPeriod on PackageInstall to some other value
- see that PackageInstall sets condition based on existing App CR (https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/pkg/packageinstall/packageinstall.go#L150-L159)

**What did you expect:**
ideally if we see a change in PackageInsta

[2022-04-25 14:28] benmoss commented on #419
Looks like we can't remove the shell from photon:4.0

[code]

[2022-04-25 19:56] benjaminapetersen commented on #581
Was there ever clarification about what this means?  I've seen the same as well.

[2022-04-25 20:54] joe-kimmel-vmw commented on #581
Hi @benjaminapetersen  -  the gist of the error message is "you have created a PackageInstall resource, but there is not an appropriate corresponding Package resource."

  I think if you're getting this I would check things like `kubectl get packages -A`,  and also check the namespace that your PackageInstall is targeting to see if the package is available from that namespace.  Check the versions

[2022-04-26 13:34] benjaminapetersen commented on #581
Perfect, thats crystal clear, and lines up with what I eventually realized as well. Thanks!

[2022-04-26 17:42] joe-kimmel-vmw commented on #428
noticing that this issue hasn't been updated in a long time:   most recent proposed solution(s) are:

We propose a solution in two parts:
(1) make it “just work” as often as possible;
(2) provide a manual mechanism (used by package/repo authors) for resolving ambiguous situations. From a design perspective we want to ensure alignment around which scenarios should “just work” while also confirming

[2022-04-26 21:42] haoranleo opened #644 "Update Golang version to latest"
Hello!

I'm wondering if folks are already planning to update consumed golang version to latest which could fix a couple of CVEs. Opening this issue just to track the golang version update story in `kapp-controller` and also its affiliated tools (`k14s kapp`, `carvel vendir`, `helm`).

Thanks!

[2022-04-27 03:48] marshtompsxd commented on #400
Hi, @danielhelfand @joe-kimmel-vmw Thanks for your interest in Sieve.
We are currently working on porting and testing the kapp-controller using Sieve.
One necessary step in porting is to build the docker image from the source. However, I encountered some difficulties. I tried to use the Dockerfile in the repo to build the image by
[code]
But the building failed with the following error:
[code]
Cou

[2022-04-27 03:57] joe-kimmel-vmw commented on #400
@marshtompsxd  - Thanks for following up!

It's very interesting that you hit that error!  To be honest we don't usually invoke docker build directly - the build scripts that we run, and that are run in our github actions, all invoke kbld:
https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/hack/deploy.sh#L5

the relevant subcommand there is `ytt -f config/ | kbld -f-` which render

[2022-04-27 04:25] marshtompsxd commented on #400
Hi @joe-kimmel-vmw Thanks for the reply.
I tried the command and I think I managed to build the image. After the command succeeded I listed all the docker images:
[code]
I think the first one should be the controller image.

[2022-04-27 04:37] marshtompsxd commented on #400
BTW, is it possible to specify the tag of the controller image when using the above command to build? I assume the `kbld` is the controller image the long tag seems to be random.

[2022-04-27 16:40] joe-kimmel-vmw commented on #400
Thanks @marshtompsxd - very excited you got it to work!  Please let us know how we can support your investigations.

to your question

as you saw, kbld really wants to lock down a specific SHA for reproducibility. However, you can provide multiple tags to docker via the command line. in our case you would add the tag to the [rawOptions](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/d

[2022-04-28 14:53] #644 closed, assigned to nobody

[2022-04-29 17:17] neil-hickey commented on #201
Here's a summary of the current field name we are thinking about:

    Author: cppforlife (dmitriy)

    any other alternative terms to deprecated. coming from api consumption land, deprecate does not typically mean "wont install/upgrade", but rather be aware that it will be removed.

    Author: neil-hickey

    Some potential words:
    discontinued, unsupported, unstable, removed, revoked

[2022-04-30 18:00] cppforlife opened #659 "app cr downward api to pass info as values into templating"
**Describe the problem/challenge you have**

there have been a few cases where we want to pass info about App CR as values into templates:
- App CR name and namespace so that resources can be customized
  - if i am creating multiple App CRs in the same namespace, i would like to avoid users having to manually specify unique name (App CR name would be unique within a namespace, or in cluster if it'

[2022-05-03 05:42] praveenrewar commented on #604
`value-schema` needs version of the package, `kctrl package available get -p cert-manager.community.tanzu.vmware.com/1.0.0 --values-schema` should work. The example needs to be updated.

Also, another concern is that if we should use `--version` flag like the installed command.

[2022-05-03 17:44] scothis commented on #34
Another approach is to grant kapp-controller permission directly to delete any resource in the cluster. And use those permissions when deleting an app instead of the user defined service account. This would only work in the same cluster.

[2022-05-03 18:01] making commented on #289
Supporting kustomize will be very helpful in expanding kapp controller audience beyond the vmware / tanzu group.
I'm a big fan of ytt, but unfortunately ytt is rarely adopted except by tanzu. I see people tend to customize yaml with kustomize.

[2022-05-03 19:55] benmoss commented on #573
Unfortunately we're still somewhat blocked on kbld providing image manifest support

[2022-05-03 21:33] benmoss commented on #34
I think this was the approach that Helm used with Tiller, and was generally seen as a bad idea since it opened the door for privilege escalation

[2022-05-04 15:51] voor opened #661 "Kicking an installed package should show fetch and deploy logs"
**Describe the problem/challenge you have**
I am rapidly falling in love with kick in its many forms.  When I have an installed package and I kick it, I usually do this:

[code]

I would really like to be able to just do this:

[code]

And combine these into one command.

**Describe the solution you'd like**
Add a new `--follow` or `--recurse` or you come up with a better name,

**Anything else yo

[2022-05-04 15:54] voor opened #662 "kctrl doesnt like json output"
**What steps did you take:**
[code]

**What happened:**
JSON output not achieved.

**What did you expect:**
Some kind of json output.

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

**Environment:**

- kapp Controller version (execute `kubectl get deployment -n kapp-controller kapp-controller -o yaml` and the annotation is `kbld.k14s.io/im

[2022-05-04 16:54] praveenrewar commented on #662
`--json` requires `--yes` to be used, as it's not possible to get confirmation when json output is selected.

[2022-05-04 16:55] praveenrewar commented on #661
@voor Any specific reason you would want to kick the underlying app CR as well?
(As kicking the package install would technically kick the underlying app CR)

[2022-05-04 17:03] voor commented on #661
I am interested in seeing the fetch and deploy outputs, that's not shown when I kick the pkg.

[2022-05-04 17:20] praveenrewar commented on #661
Ideally you should be able to see deploy outputs while kicking the package install, but I think that there are still some edge cases that needs to be covered. (cc @100mik)
Would you be able to share the output that you are seeing when kicking package install?

[2022-05-04 17:22] voor commented on #661
[code]

[2022-05-04 17:24] voor commented on #661
I would expect to see this:
[code]

[2022-05-04 17:26] 100mik commented on #661
(GitHub mobile is not fun, let's mark this comment stale)

Ideally, kicking the PackageInstall and the underlying App will yield the exact same output.
Is the "kick" exiting without tailing the App?
As Praveen said sharing the output might help us out!

(Kicking the installation, also triggers a reconciliation of the underlying app, and we tail that output)

[2022-05-04 17:29] praveenrewar commented on #661
I am also seeing some inconsistencies while kicking a package install. Sometimes it's showing the status and sometimes it's not)
`Try 1`
[code]

`Try 2`
[code]

[2022-05-04 17:30] 100mik commented on #661
@voor the output should be exactly what you're expecting to see.
Let me try and reproduce this and take a closer look 🚀

[2022-05-05 14:14] mpermar commented on #416
This seems to be now possible with the new kapp-controller CLI:

[code]

[2022-05-05 17:08] joaopapereira opened #664 "Make kapp-controller more resilient to network failures while talking to the registry"
**Describe the problem/challenge you have**

With this feature, we want to try and address some of the following problems
- When an application is being reconciled, the lack of access to a registry, in some cases, should not make the reconciliation fail
- When an application is being reconciled, in some cases, it should not need to retrieve information from the registry in order to complete the re

[2022-05-06 05:39] 100mik commented on #662
I think we could handle this better?
Will look into it.

[2022-05-08 15:00] hemakshis commented on #598
Hi team, I would like to take up this issue.

[2022-05-09 22:47] neil-hickey commented on #598
hi  @hemakshis ! Thanks for showing interest in taking this on.

This might be a helpful start:

https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/pkg/apis/kappctrl/v1alpha1/types.go#L51-L55

1. We use https://github.com/kubernetes-sigs/controller-tools to generate our crds, the script we use can be found here - https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/

[2022-05-10 04:58] 100mik opened #670 "`kctrl` : Trigger reconciliation when exisiting value secrets are updated"
**Describe the problem/challenge you have**
`kctrl` should trigger a reconciliation when a referenced secret is updated.

**Describe the solution you'd like**
- `kctrl` could version a secret in a kapp like fashion
- A package install could be kicked post such an update
- If we introduce kapp like versioning, should we make rolling back and switching between previously used configurations easier?

[2022-05-10 05:00] 100mik commented on #670
Derived from : #412
Potentially, related issue about missed status tails for package installations: #661

[2022-05-10 05:07] 100mik opened #671 "`kctrl` : Progress tailing for repo add and delete."
**Describe the problem/challenge you have**
`kctrl` should tail the status of a PackageRepo similar to App and PackageInstall status tailing

**Describe the solution you'd like**
A tail similar to App tailing which illustrates reconciliation progress

**Acceptance criteria**
- [ ] Repository statuses are tailed while reconciling/deleting
- [ ] Errors that might happen are surfaced
- [ ] Can we ind

[2022-05-10 05:11] 100mik commented on #671
@joe-kimmel-vmw I believe we were iterating over a lot of PackageRepo stuff.
Especially, regarding shared pakages and how they are created on the cluster.
This can go ahead once we have sort of decided on that and maybe when the information surfaced by the status field is "stable"
Feel free to add anything relevant that will help here!

[2022-05-10 05:15] 100mik opened #672 "`kctrl`: disallow use of shared namespaces while installing packages"
**Describe the problem/challenge you have**
`kctrl` should not allow installation of packages into shared namespaces

**Describe the solution you'd like**
This could be disabled by default and we could add a dangerous flag overriding this behaviour.

**Anything else you would like to add:**
- [ ] disallow use of shared namespaces for installation
- [ ] Add a flag which accepts comma seperated valu

[2022-05-10 05:16] 100mik commented on #672
@cppforlife could you elaborate between the motivation behind this? And how this helps?
Thanks!

[2022-05-10 05:21] 100mik opened #673 "`kctrl`: Users should be able to install package repos globally using the CLI"
**Describe the problem/challenge you have**
`kctrl` should expose a flag that allows addition of PackageRepos to the global namespace

**Describe the solution you'd like**
A `--global` flag with `package repo add` command which installs the PackageRepo in the global ns.

**Acceptance Criteria**
- [ ] Flag should use namespace specified by configuration
- [ ] Flag installs package repo in global ns

[2022-05-10 07:13] 100mik opened #674 "`kctrl`: Allow users to use ytt overlay while creating package installs easily"
**Describe the problem/challenge you have**
Allow users to supply an overlay file or inline (simiolar to how we handle values file) that can be fed into the `ext.packaging.carvel.dev/ytt-paths-from-secret-name` annotation.

**Describe the solution you'd like**
A flag like `--overlay` which can be used multiple times (similar to how `kapp` accepts multiple `-f` flag) which can be used to create mul

[2022-05-10 07:14] 100mik commented on #674
Branched out from #412
Relevant documentation on the cluster side of things : https://carvel.dev/kapp-controller/docs/v0.36.1/package-install-extensions/#adding-paths-to-ytt-overlays

[2022-05-10 07:23] 100mik opened #675 "`kctrl`: Allow users to drop a values secret being consumed by a package install"
**Describe the problem/challenge you have**
Allow users to dereference and garbage collect a secret suopplied to a package install craeted by kctrl

**Describe the solution you'd like**
A flag `--no-values-file` which deletes and dereferences value secrets created by kctrl

**Acceptance criteria**
- [ ] Add flag to drop values if the user does not supply a values file
- [ ] Dereference
- [ ] Asser

[2022-05-10 07:40] 100mik opened #676 "`kctrl`: UX enhancements"
**Describe the problem/challenge you have**
A bunch of snacky tweaks that will enhance UX. These might be resolved across multiple PRs.

**Describe the solution you'd like**
Listing AIs in the acceptance criteria

**Anything else you would like to add:**
- [x] When a reconciliation completes we should be logging `Deploy complete` instead of `App reconciled to stay consistent with the other stages

[2022-05-10 07:41] 100mik commented on #676
Branched out of #412
An umbrella issue for UX tweaks that are not significant enough to be one by themselves

[2022-05-10 07:45] 100mik commented on #412
Closing this off in favour of issues branched out from it.
Thanks to all the awesome folks who engaged with us in this thread ❤️
Feel free to raise further concerns, issues or enhancement requests by filing an issue 🚀
(Adding the `cli` label will us manage them better!)

[2022-05-10 07:45] #412 closed, assigned to praveenrewar, 100mik

[2022-05-10 07:45] 100mik commented on #412
PS: Added links to the issues that have branched off in the description of this issue

[2022-05-10 07:49] 100mik commented on #673
Branched out from #412

[2022-05-10 07:50] 100mik commented on #675
Branched out from #412

[2022-05-10 08:04] 100mik opened #677 "`kctrl`: Allow users to supply data values via flags similar to ytt"
**Describe the problem/challenge you have**
Alternate methods of adding values file similar to the experience ytt provides
https://carvel.dev/ytt/docs/v0.40.0/ytt-data-values/#configuring-data-values

**Describe the solution you'd like**
This would allow users to easily configure their PackageInstalls
How they take priority over each other or get merged should be similar to `ytt`

**Acceptance cri