[2020-02-26 15:40] phil9909 opened #1 "New release with latest ytt"
I'm depending on a ytt feature added in [0.23.0](https://github.com/k14s/ytt/releases/tag/v0.23.0) (released shortly after the first and only kapp-controller release).

Please rebuild the docker-image https://github.com/k14s/kapp-controller/blob/a4a1e6491218350e71c5c149c3ff8a9d6363d0de/Dockerfile#L7

and create a new release.

[2020-02-26 15:54] phil9909 commented on #1
If someone runs into the same problem: feel free to use `index.docker.io/phil9909/kapp-controller@sha256:911cbedd9749dd29fed77fefd57aaf0de5a397a68d9838aa0ed6aca2631a6b06` until a new release it there.

[2020-03-03 16:50] cppforlife commented on #1
published https://github.com/k14s/kapp-controller/releases/tag/v0.2.0

[2020-03-03 16:50] #1 closed

[2020-03-30 22:46] cppforlife opened #2 "allow running kapp-controller in a CLI mode to deploy provided app crd"
app.yml includes App CR describing what/how to deploy:

[code]

It might be worth adding "shortcut" commands

[code]

- [ ] deploy multiple CRs (recursively?)
- [ ] show kapp output
- [ ] provide a way to rerun continuously (ie --watch flag)
- [ ] provide "shortcut" to install config via flags

related: https://github.com/k14s/kapp/issues/96

[2020-03-31 20:32] cppforlife commented on #2
also provide `--watch` flag for continuous updates based on local changes

[2020-05-06 11:59] Jc2k opened #6 "Support for signed commits?"
It would be really cool if the git source could verify a commit was signed with a GPG signature. This seems like a nice middle ground between not really wanting to give our GitLab access to a serviceAccount with really broad permissions, but also not wanting to set up really fine grained deployment roles per application.

[2020-05-06 14:19] cppforlife commented on #6
that sounds like a pretty good feature to add.

[2020-05-09 23:42] voor opened #7 "Allow kapp-controller to change context to another cluster"
/kind feature

As a user, I would like to concile an App CR deployed in Cluster A into Cluster B, to support a few use cases:

1. I run a central shared services cluster (A) and want to deploy agents into Cluster B
1. I am running a Cluster API provider in cluster (A) and want all of the managed clusters (B... C...) to have applied to them specific capabilities after they are created.

Given a sec

[2020-05-10 14:02] cppforlife commented on #7
tweaked it a bit more

[code]

i think supporting deploy to multiple clusters is wanted, however, i think it should be done via higher level CRD. for example:

[code]

[2020-05-13 12:01] bryanl opened #8 "Rollback"
kapp-controller could have the ability to perform a rollback. I'm currently unsure how this could be accomplished, but if the controller can somehow persist change requests, a previous one could be selected.

[2020-05-13 12:14] bryanl opened #9 "Is there a way to reduce permissions required for kapp-controller-cluster-role?"
Could it be possible to supply a service account in the App resource that would be used to run kapp rather than giving kapp-controller cluster-admin privileges?

[2020-05-14 23:17] cppforlife commented on #9
yup, this came up before from discussions. i think it makes to add a way to use a particular service account for the deploy per app crd.

[2020-05-15 00:43] cppforlife opened #10 "improve error discovery for missing data values"
[code]

[2020-05-15 00:48] voor commented on #10
App CR looked like this:

[code]

The secret with the error *initially* looked like this:

[code]
Which is incorrect syntax, it should look like this:

[code]

[2020-05-15 00:49] voor commented on #10
Tagged the whole repo to find a reference back to what was deployed, too: https://github.com/voor/cluster-api-gitops/tree/v0.0.2

[2020-05-19 01:40] cppforlife commented on #7
added a quick impl here: https://github.com/k14s/kapp-controller/tree/wip-cluster. one interesting outstanding item to deal with is what namespace to use in the remote cluster...

[2020-05-19 06:20] loewenstein commented on #7
What is wrong with using the same namespaces as would be used locally?

[2020-05-19 14:54] cppforlife commented on #7
what's to gurantee that namespace exists in the remote cluster

[2020-05-19 14:57] voor commented on #7
Would that just be the `KAPP_NAMESPACE` option, and should accordingly behave the same?  (I.E., if the kubeconfig defines a namespace use that)

[2020-05-19 15:50] loewenstein commented on #7
Is there such a guarantee in the local cluster?

[2020-05-19 16:08] cppforlife commented on #7
--namespace for kapp deploy is set to the namespace of the app cr. so yeah it will exist. namespace will be used to store app record and set default namespace for crs that do not explicitly state it.

[2020-05-19 16:31] loewenstein commented on #7
I see. Then I would suggest to allow setting a `defaultNamespace` alongside the kubeconfig. A potential namespace in the kubeconfig sounds like a good fallback if no other namespace is provided. If that's not set, we could error out or try the App CRs namespace first as a last resort.

[2020-05-22 18:03] cppforlife commented on #8
one thought is to record revision at the time of deploy into a separate CR:

[code]

there are few things to consider though:

1. should we resolve fetch configuration to its "absolute" form (git tag -> git commit)
2. what should be done to secrets/configMaps referenced

there is an argument to be made to follow same pattern apps.Deployment and not do anything about 2 points above.

[2020-05-25 16:12] voor commented on #7
Playing around in master, the deleting experience is a little messed up, but otherwise things seem to be functional:

[code]

As a result, it'll just hang indefinitely on deleting.

[2020-05-26 00:37] voor commented on #7
The hanging indefinitely on deleting makes this a bit of a bear, since (for example) if the cluster it's trying to delete objects from is no longer there, it'll continue to try forever, meaning you can't delete the CRD, the namespace, the objects, etc.

[2020-05-26 15:42] cppforlife commented on #7
@voor looks like you deleted secret needed to access the cluster (so cannot connect to delete resources). what kind of behaviour were you thinking should happen in this case?

[2020-05-26 15:44] cppforlife commented on #7
i could imagine there would be a flag on CR to indicate it's safe "delete" CR, but i would hope it's not going to be happy-path for most ppl.

[2020-05-26 18:25] voor commented on #7
Yes, this is actually a topic that has come up elsewhere regarding the proper way to gracefully destroy a cluster, https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1718 is one example.

[2020-05-26 18:43] cppforlife commented on #7
@voor few options i see:

- use kapp ordering rules to make sure app cr are deleted before other things like cluster and its secret
- do something fancy with finalizers so that app cr isnt left "orphaned" (thats quite complex though since putting a finalizer onto cluster secret doesnt mean anything to the deletion of cluster cr)

[2020-05-28 15:57] cppforlife opened #12 "[fetch] use vendir to fetch assets various assets"
kapp-controller was created before [vendir](https://github.com/k14s/vendir). since vendir will have same fetch methods and more, it makes sense to use it in kapp-controller instead of maintaining duplicate code.

[2020-06-11 00:55] cppforlife commented on #9
@vijaykatam since the time this issue was filed we've added a feature to allow App CR to deploy app to a different cluster via spec.cluster configuration: https://github.com/k14s/kapp-controller/commit/0a1cc95b28c4e4497e5ef84aa9b8530736255bb1#diff-86d5b52d04d712578c1b92ca954a999f. Conceptually this is similar to this feature request since we just need to target current cluster and use given servic

[2020-06-11 00:56] cppforlife commented on #7
shipped in https://github.com/k14s/kapp-controller/releases/tag/v0.5.0

[2020-06-11 00:56] #7 closed

[2020-06-11 05:18] vijaykatam commented on #9
I had a discussion with @bryanl about this today and the desire is to keep kapp-controller app management local to a cluster and our usage is also going to be deploy kapp-controller to every cluster. Additionally I am not sure how one can go about effectively configuring and managing kapp-controller RBAC for external clusters.

+1 on this approach

I don't think I was proposing that. Let me explai

[2020-06-16 19:49] Nitive opened #13 "Docker powered templates"
It would be nice to be able to run any docker image as a template engine.

Configuration may looks like this:

[code]

Have you considered something like this?

[2020-06-16 20:14] cppforlife commented on #13
ive stayed away from introducing this for now, but curious to hear your use case: what templaters are you using?

main reason why i avoided this so far, is that there is no "easy" way to implement this without either (a) preloading these into kapp-controller as separate containers and running a little daemon alongside or (b) using a separate pod to perform processing (which also could be considere

[2020-06-16 20:16] cppforlife commented on #13
another nuance is how this might play in with CLI version of this controller: https://github.com/k14s/kapp-controller/issues/2, since this introduces docker daemon dependency.

[2020-06-17 10:34] Nitive commented on #13
## My use case

I'm currently using helm and helm-operator, but want to migrate to kapp because of go templating limitations.

I want to implement my own template engine with such features:

1. Programming language instead of templating language
2. Ability to use helm charts inside (as pure functions, without features like [lookup](https://helm.sh/docs/chart_template_guide/functions_and_pipelines/

[2020-06-17 11:34] jkbschmid opened #14 "App should support multiple fetch directives"
In the App CR, the documentation states that `Fetch must have one *or more* directives`. However, when specifying multiple fetch directives (e.g. two directives of type `git`) only the last one is used. This is because of https://github.com/k14s/kapp-controller/blob/17b8d5d7e6b25bd382b94146511bbb7908fe9913/pkg/app/app_fetch.go#L79 (Extract empties the dstPath before copying).

[2020-06-17 14:32] cppforlife commented on #13
👍

yup, point 3 is why we want to have a CLI:

especially during development stages of App CR user may want to be referencing local directory as source, using functionality to tail logs inline, build images with kbld, etc. App CR ultimately represent a common workflow for getting app from source/config -> cluster, so we would want to unlock this workflow for local development as well, and having A

[2020-06-18 16:12] Nitive commented on #13
Seems like there is no simple implementation sadly. I'll step back for now and get more familiar with kapp and ytt, maybe get back to this issue later. Feel free to close the issue

[2020-06-19 01:04] cppforlife commented on #14
i'd like to block this functionality on https://github.com/k14s/kapp-controller/issues/12. with vendir there would be more control over how configuration is extracted.

[2020-06-19 12:50] loewenstein commented on #14
I am all for code reuse and limiting duplication. However, if I look at the Vendir and App CR, I see a significant difference of supported fetch configurations.

Vendir seems to essentially support fetching from Git and GitHub releases, for re-use in kapp-controller I don't count copying of local directories.
The App CR is lacks support of GitHub releases, but has support for ConfigMap, Secret, Im

[2020-06-19 17:18] cppforlife commented on #14
im not opposed to pulling it for now _if_ it would deal with one fetch (no extra subdirs) vs multiple fetches (uses subdirs). im also not comfortable keeping numeric subdirs once vendir change is pulled in. if yall are ok with that, we can pull it in.

[2020-06-22 09:07] phil9909 commented on #14
I added a check to not use subfolders, if there is one fetch https://github.com/k14s/kapp-controller/pull/15/commits/a8a2c1dcbfa76c66e5a92e67f4e0d90c26213936 and an e2e test https://github.com/k14s/kapp-controller/pull/15/commits/cabbfac76c30bcd90b06a822a55fc2906fa078c7 to the PR #15.

I'm fine with that.

[2020-06-22 09:17] loewenstein commented on #14
Vendir will give users control over where things are pulled, correct?

[2020-06-22 09:20] loewenstein commented on #12
Should we explicitly mention, that vendir will need to support all fetch methods currently supported by App CR? Should there be a corresponding issue in [k14s/vendir/issues](https://github.com/k14s/vendir/issues).

[2020-06-23 13:46] cppforlife commented on #14
that's the plan so far. we'll have to figure exactly how we can nicely incorporate vendir configuration into fetch section without adding complexity for common case of pulling in single thing.

[2020-06-23 15:16] cppforlife commented on #13
closing for now. feel free to reopen. we'll most likely reference to this discussion at a later point.

[2020-06-23 15:16] #13 closed

[2020-06-23 15:31] cppforlife commented on #9
@vijaykatam since our last in-person conversation, kapp controller v0.6.0 was released (https://github.com/k14s/kapp-controller/releases/tag/v0.6.0), which defaults to requiring users to specify spec.serviceAccountName for each App CR (following typical k8s namespacing scoping). happy to meet up and further iterate on this feature to support your use case better.

[2020-06-23 16:29] vijaykatam commented on #9
Thanks @cppforlife, this fix addresses our concerns. We can close this issue.

[2020-06-23 16:51] #9 closed

[2020-07-04 12:15] voor opened #16 "If kapp can never connect to remote cluster it can never delete App CR"
Recreate:

Create a kubeconfig that is valid but points to an invalid endpoint (like `api.example.com`).  On first deployment you will get something similar to this:
[code]

App CR will not sit around indefinitely, because it cannot ever get the status of the app.

[2020-07-06 23:55] cppforlife commented on #16
@voor do you think we should try to track if we ever got far enough to deploy, and if not, "fast forward" deletion automatically. in case we did get far enough, im not sure we can do much aside from offering a way to configure a `spec.cluster.unreachable=true` (or something like that) to let kapp-controller know to "fast forward" deletion.

[2020-07-06 23:59] voor commented on #16
If you combined those that would probably cover the common scenarios, right?

1. If it *never* worked, just delete it because there's nothing to clean up.
1. If it *did* work successfully once a long time ago, but the cluster is now completely unreachable, allow user intervention by allowing deletion of an App CR with `spec.cluster.unreachable=true`

[2020-07-15 02:11] cppforlife commented on #14
included in https://github.com/k14s/kapp-controller/releases/tag/v0.7.0

[2020-07-15 02:11] #14 closed

[2020-07-16 15:22] cppforlife opened #18 "introduce AppSet CRD"
AppSet is meant to represent same App deployed in several variations (it's analogous to Pod to Deployment relation where each Pod gets a unique name):

- across a set of clusters (based on collection of kubeconfig secrets)
- across a set of namespaces (may be based on collection of service accounts?)
- with different data values (with different config maps)
- with different source configuration (e

[2020-07-16 15:28] cppforlife opened #19 "introduce AppDefinition CRD"
AppDefinition allows to expose App creation as a dedicated CRD so that "configuration details" are hidden from the App creator. For example:

AppDefinition named `my-app` specifies how to create `MyApp/v1alpha1` by defining App template (represented via App CRD's spec section). Users that want to create new instance of MyApp use create MyApp CR and fill it out with data values (if any required).

[2020-07-17 12:07] kramerul opened #20 "git checkout reference is not a tree"
We are using the following configuration to install cf-for-k8s:

[code]

When we change `ref: origin/master` to `ref: 11c6cd21ff7100de5bf208aa391912f38c830b32` we get the following error:

[code]

although the commit `11c6cd21ff7100de5bf208aa391912f38c830b32` exists in the repo.

`git checkout 11c6cd21ff7100de5bf208aa391912f38c830b32 --recurse-submodules .` on the command line works fine.

Running

[2020-07-17 12:44] kramerul commented on #20
This problem was caused by us. We used a different git-url which was not related to the commit.

[2020-07-17 12:44] #20 closed, assigned to nobody

[2020-08-03 09:31] phil9909 opened #22 ""Error strings should not be capitalized" - golang wiki"
I saw the commit "minor stylistic fixes to git creds error messages" https://github.com/k14s/kapp-controller/commit/04835f7f3db7257bc2e0b8fc9313664f3d6e3979 which actually makes things worse according to  https://github.com/golang/go/wiki/CodeReviewComments#error-strings. Because this project uses capitalized error messages everywhere, that commit might still be valid for consistency.

@cppforlife

[2020-08-04 13:35] voor commented on #19
Do you think something like this might also support adding in overlays to the original definition?

[2020-08-05 19:07] cppforlife commented on #19
hmm, that's an interesting question. i havent thought too much about that. on one hand providing a CR with fine grain config knobs is a good barrier, from the other side providing additional config might be useful. what is the example you are thinking of where this would be needed?

[2020-08-05 19:16] voor commented on #19
In terms of Cluster API, the standard cluster template gets you a Kubernetes cluster for 99% of your use cases.  Now, let's say I need to change to a cluster that has PodSecurityPolicies -- I could create an app that has an overlay to add in the admission controller.

[2020-08-05 21:00] cppforlife commented on #22
@phil9909 all error messages in k14s projects are capitalized (e.g. `Wrapper one: Wrapper two: Error`) to make it easier to "see wrapping levels" within long error messages. in this case i would actually disagree with go wiki description.

[2020-08-05 21:07] cppforlife commented on #19
given that AppDefinition is something that is meant to be defined by end users -- e.g. platform operator for example as an interface to users in the cluster, i'm still undecided on this.

in your example i imagine KubernetesCluster CRD would be defined with some defaults via AppDefinition CR. to support some clusters with PSPs builtin i would probably recommend a data value to be exposed to enable

[2020-08-05 21:27] cppforlife opened #23 "make sync period configurable per App CR"
allow to configure sync period via `spec.syncPeriod: <duration+unit>`.

[2020-08-05 22:41] voor commented on #19
In some ways exposing the ability to directly inject overlays would break that contract, in the sense maybe platform operators don't want end-users doing that kind of modifications.  Maybe leave overlays off the MVP and punt it to the backlog as a later configurable option to just "turn on use of overlays"

[2020-08-06 06:58] phil9909 commented on #22
I don't have a strong opinion on whether capitalizing or not capitalizing is a good idea. But I dislike the idea of having it mixed.

And - without any disrespect here - I don't think k14s has enough power to change the go-ecosystem.

So what we get won't be `Wrapper one: Wrapper two: Error` rather something like this: `Wrapper one: Wrapper two: error` and embedders of k14s projects will get `wrap

[2020-08-06 09:11] lucaschimweg commented on #22
I would also agree with @phil9909. While capitalized error messages easier to read when every new message is capitalized, having mixed messages makes wrapped error messages quite unreadable.

You get the feeling you can rely on capital letters to find the start of a new wrapper, which is not always the case. Especially the original error message after all wrappers will usually come from go and wil

[2020-08-06 10:55] Arttii opened #24 "kapp error when KAPP_KUBECONFIG_YAML set to empty"
I encountered a bug, where KAPP_KUBECONFIG_YAML is being set to empty in version >0.6, which somehow leads to yaml formatting errors for my yaml specs.

Just changing https://github.com/k14s/kapp-controller/blob/develop/pkg/deploy/kapp.go#L196 to just do `!= ""` fixes the issue. Is there a reason for using the `len` approach?

[2020-08-06 13:28] cppforlife commented on #24
im not sure i understand what error you are encountering. `len(...) > 0` and `... != ""` is the same thing. how does your App CR look like?

[2020-08-06 13:33] Arttii commented on #24
Ya sorry, I was not very clear. For this app CR

[code]
The `len` condition evaluates to true, even though no GenericOpt is set. This leads to the kapp cmd environment containing KAPP_KUBECONFIG_YAML="", which leads to the kapp deploy exiting with something like `mapping values are not allowed in this context`. This does not happen when using the 0.6 version.

[2020-08-06 13:34] cppforlife commented on #22
dont think goal is to try to change the ecosystem. most of the error messages we deal with our written by us.

the other challenge here is formatting. we try to guess formatting of error messages that for example come from Kubernetes API server to show them in friendlier ways.

that's right. but it works ok for formatting without boiling the entire ocean.

[2020-08-06 13:36] cppforlife commented on #24
could you include full error message you see in status section?

[2020-08-06 13:42] Arttii commented on #24
[code]

[2020-08-06 14:01] cppforlife commented on #24
hmm interesting, i dont think it's being set to empty because error message `kapp: Error: yaml: line 8: mapping values are not allowed in this context` says line 8, so there is definitely some yaml. since you are using spec.serviceAccountName kapp-controller uses this template for building kuebconfig: https://github.com/k14s/kapp-controller/blob/develop/pkg/deploy/service_accounts.go#L77-L97. clos

[2020-08-06 14:07] cppforlife commented on #24
(happy to zoom to debug as well if you want, just pop into our #k14s channel in Kubernetes slack)

[2020-08-06 21:33] ewrenn8 commented on #23
added in 11b01432f9fbf7b9a824495826e8132bd158e2cc

[2020-08-07 09:18] Arttii commented on #24
Thanks for the support. I was testing in a k3s cluster and after a teardown and reinit the error vanished

[2020-08-07 09:18] #24 closed, assigned to nobody

[2020-08-07 21:17] cppforlife commented on #23
included in https://github.com/k14s/kapp-controller/releases/tag/v0.9.0

[2020-08-07 21:17] #23 closed, assigned to ewrenn8

[2020-08-09 17:59] voor opened #25 "Support a ytt inline values option for ease of use"
I really like doing the following fairly often:

[code]

Unfortunately you lose the power of native yaml syntax highlighting and other convenience stuff.  If you added in support for just `inline.values` you could instead have the following:

[code]

It's more of a convenience thing, but it also lowers the barrier because someone would need to know the little hack to include a data/values file dir

[2020-08-10 19:00] cppforlife opened #26 "watch for changes to configmap/secret and trigger App reconcile"
this would make syncPeriod configuration more useful (e.g. it could be set higher, and App can try to react to "input" changes proactively). i'd like to have this mechanims pave the way for "watching" of other resources used by App.

[2020-08-10 19:49] cppforlife commented on #26
current thinking:

[code]

controller would delete AppReconcileRequest after X minutes after it was enqueued.

alternatively, we could add some field like `spec.reconcileMarker` on `App` resource to force metadata.generation to be bumped, hence would reconcile. downside to that is it makes App's spec possibly conflict with what user is entering (if we do not add kapp rebase rules for that) and les

[2020-08-11 04:37] loewenstein commented on #26
Who would _create_ those `AppReconcileRequest` CRs?

[2020-08-11 15:15] cppforlife commented on #26
kapp-controller itself (when it's watching for configmap/secrets changes) or other controllers when they for some reason want to force app reconciliation.

[2020-08-11 16:57] loewenstein commented on #26
@cppforlife mmh, what about the kapp-controller just reconciling (instead of creating a CR, observe the CR and then reconciling)?
Forced reconciliation, by human operator or controller, could be requested nicely via annotation.
WDYT?

[2020-08-11 18:19] cppforlife commented on #26
annotations do not force metadata.generation which makes it weird for reconciliation. it also feels a bit weird when multiple entities need to trigger change.

id like to consider adding additional controllers at some point that might be more proactive around external changes (e.g. controller that watches git repo / accepts webhooks etc.). very fuzzy on details.

[2020-08-26 16:20] cppforlife commented on #22
closing for now. if there is more thoughts on this topic feel free to reopen.

[2020-08-26 16:20] #22 closed, assigned to nobody

[2020-08-31 12:57] lucaschimweg opened #31 "Pin binary dependency versions in source"
Right now, kapp-controller builds package the latest version of kapp. This makes it impossible to conclude the kapp version from kapp-controller's version.

Should we consider pinning kapp's version per kapp-controller release?

tagging my pair @Haegi

[2020-08-31 16:52] cppforlife commented on #31
isn't it implicitly "pinned" to version that was included at the time of the build of kapp-controller? may be you have something for pinning?

how would you want to surface this information? release notes, logs, etc?

i dont think having one product version be dependent on another (eg they always match or something like that) is a good idea since they are two distinct products and evolve independe

[2020-08-31 16:53] cppforlife commented on #18
idea: each AppSet could be implemented as a App CR itself that is build from ytt templates that creates App CR based on a list of values.

[2020-08-31 18:29] lucaschimweg commented on #31
The problem is that builds are not reproducible at the moment. I cannot build an old version of the controller if I would want to (at least not the original version with the old Kapp version).

Maybe? I mean we have release notes for every release, why not use them for that?

If the products do evolve independently, they should not be packaged together in my opinion.

We should also consider Kapp

[2020-08-31 19:14] cppforlife commented on #31
👍 i understand now what you are after.

[2020-08-31 19:55] cppforlife commented on #31
fixed in https://github.com/k14s/kapp-controller/commit/9c220933af6585fd30cff50d48979e1c959f3625

[2020-09-02 13:55] cppforlife commented on #31
included in https://github.com/k14s/kapp-controller/releases/tag/v0.10.0

[2020-09-02 13:55] #31 closed, assigned to nobody

[2020-09-11 13:40] lucaschimweg opened #33 "[fetch] Add support for Helm v3"
We would love to see support for Helm v3 charts. The main feature we are missing is the support for a separate `crds` folder, apart from the usual `templates` folder. Documentation for this is available [here](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/). One example chart that uses this feature is Dynatrace's [dynatrace-oneagent-controller](https://github.com/Dynatrace/

[2020-09-17 13:47] cppforlife opened #34 "consider blocking service account deletion on app crs"
currently if you deploy app cr and associated service account and delete them together, there is a race between kapp controller deleting workload and k8s deleting associated service account. once service account is deleted, kapp controller of course cannot delete app workload.

currently if you are deploying appcr+sa with kapp, you can add order rule; however, in a more basic cases (using kubectl

[2020-10-09 11:53] achimweigel opened #35 "sops templater does not support encrypted private key"
Hi,

we tried out the sops approach according to your documentation but got the following error:

[code]

We have created the PGP private key with "gpg (GnuPG) 2.2.23".

[code]

The secret with the private key looks as follows (only used for testing :-)):

[code]

Do you perhaps any idea what is going wrong here?

Thank you very much in advance and best regards,

Achim

[2020-10-09 17:03] cppforlife commented on #35
@achimweigel hey, here is where the error comes from: https://github.com/golang/crypto/blob/34f69633bfdcf9db92f698f8487115767eebef81/openpgp/packet/private_key.go#L167-L178 (go openpgp library serialization routine).

it seems that your private key is encrypted with a passphrase which is currently not supported because to support that we would have to accept passphrase.

[2020-10-12 06:43] achimweigel commented on #35
Yes this was the problem. Thank you very much.

[2020-10-12 06:43] #35 closed, assigned to nobody

[2020-10-15 16:51] cppforlife commented on #19
as a lower level API we can also provide PredefinedApp (https://gist.github.com/cppforlife/3a5408e3aeb61266d76b44fcb84c3b0f) that relies on AppDefinition for base config.

[2020-10-16 17:07] cppforlife opened #36 "add condition to indicate constant reconciliation drift"
it might be helpful to indicate that resources are consistently drifting. it should probably kick in if we see that X number of consecutive reconciliations happened without external change (though how does one no what is external...).

[2020-10-21 10:11] voor commented on #36
A precursor to this is basically "track every time my configuration changes" -- might require some kind of hashing of the App CR dependencies.  It's easier (or harder?) for git since you can check the commit -- but do you check the git commit for the entire repository, especially when a subpath is being utilized?

[2020-10-26 19:43] cppforlife opened #37 "support sops non-pgp backends"
figure out how to best connect AWS/AKS/etc auth to App CR's service account so that each App CR does not get "global" KMS auth.

[2020-11-02 13:12] jessehu opened #38 "Support apiextensions.k8s.io/v1 App CRD"
When using kubectl 1.19.1 to install kapp-controller in a Kubernetes v1.19.1 cluster, we got this warning:   `apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+; use apiextensions.k8s.io/v1 CustomResourceDefinition.` Using kubectl 1.18.x doesn’t get the warning.

Shall we provide the apiextensions.k8s.io/v1 App CRD? Thanks.

Reference: https://kube

[2020-11-03 18:00] cppforlife opened #39 "[fetch] support custom ca cert for image pulling"

[2020-11-04 15:31] cppforlife opened #40 "support multiple kapp-controllers running on the cluster"
limit kapp-controller scope by:

- annotation on App CR
- namespace

conflicting resources during kapp-controller install:

- CRDs

[2020-11-04 20:40] cppforlife opened #41 "[fetch] support http proxy configuration"
seems like this should be per controller configuration? at the least, document how to configure env vars.

example env vars:

[code]

[2020-11-05 01:13] cppforlife commented on #6
included in https://github.com/k14s/vendir/releases/tag/v0.12.0. now just need to integrate vendir functionality into kapp-controller.

[2020-11-05 07:46] Jc2k commented on #6
Nice!

[2020-11-08 19:07] poblin-orange opened #42 "[fetch] support custom ca cert for git repo"
Using kapp-controller in coroporate on premise environement requires to be able to set corporate ca cert on git configuration

[2020-11-10 22:07] cari-lynn commented on #42
Hey @poblin-orange, thanks for opening this issue.

How do you expect the git properties under fetch to change to support this?

Would you be able to provide a description of your specific use case?

[2020-11-13 13:52] cppforlife opened #44 "support path for helm template templater"
proposed changes
- add path to indicate where chart is
- add ability to load values from a file path
- raw options?

[code]

(https://raw.githubusercontent.com/voor/kapp-controller-helm-pipeline/main/external-dns/app/external-dns.yaml)

[2020-11-13 16:02] poblin-orange commented on #42
hello @pivotal-dean
in my context, the git repo to access is in intranet/on premise, with a corporte https certificate (CA is orange specific, not public CA). To fix, i had to add volume / volume mount to the deployment (targeting /etc/ssl/certificate to put our corporate ca cert file, i dont think it can be done from git properties ? )

[2020-11-13 16:33] cppforlife commented on #42
that's right. and btw are you ok with trusting that CA for all Apps?

[2020-11-13 18:30] poblin-orange commented on #42
In a corporate env, its ok for us. Problem is if we had a mix of public repo / private repos.

[2020-11-16 20:20] danielhelfand opened #46 "TestHelm is Failing Since Redis Chart is Unavailable"
As discovered in #45, [`TestHelm`](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/c36ee5e96e742c53395a92cebbc144fea8f999de/test/e2e/helm_test.go) is failing. Logs from GitHub actions are shown [here](https://github.com/vmware-tanzu/carvel-kapp-controller/runs/1408252458).

This is related to [Helm 2 no longer being supported](https://helm.sh/blog/helm-2-becomes-unsupported/). The test

[2020-11-17 04:51] jessehu opened #47 "Support the docker registry repo with self-signed certificate"
1. When executing 'imgpkg' on a local machine, we can add the self-signed CA certificate on the local machine to fix it.
2. When executing 'imgpkg' in a container (e.g. kapp-controller), does it work? If not, we might need to add an option in App CR (around fetch.image.url) for specifying CA cert.

This is simliar to https://github.com/vmware-tanzu/carvel-kapp-controller/issues/42

[2020-11-17 13:57] bryanl opened #48 "Update module name to reflect new repository"
With the project being moved to a new location, I don't believe you will be able to do a `go get github.com/vmware-tanzu/carvel-kapp-controller`. It'll fail because the module declared in go.mod is `github.com/k14s/kapp-controller`. In the short term, folks can still do a `go get github.com/k14s/kapp-controller`. Perhaps this could be highlighted in the readme.

[2020-11-17 14:24] cppforlife commented on #47
dup of #39. closing, but moving your comment there.

[2020-11-17 14:24] #47 closed, assigned to nobody

[2020-11-17 14:25] cppforlife commented on #39
from @jessehu :

1. When executing 'imgpkg' on a local machine, we can add the self-signed CA certificate on the local machine to fix it.
2. When executing 'imgpkg' in a container (e.g. kapp-controller), does it work? If not, we might need to add an option in App CR (around fetch.image.url) for specifying CA cert.

This is simliar to https://github.com/vmware-tanzu/carvel-kapp-controller/issues/42

[2020-11-17 14:26] cppforlife commented on #48
👍 we are planning to update imports shortly for moved repos.

[2020-11-18 15:59] alexbrand opened #49 "Make `kubectl explain` work with kapp-controller CRDs"
The `kubectl explain` command is a great way to get documentation about resources.

Currently, the App CRD does not provide documentation via `kubectl explain`:

[code]

[2020-11-18 16:10] danielhelfand opened #50 "Install Script Does Not Work with kubectl Ordering"
Following the [install instructions](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/9fa3eff1773c65ca02371773fbbeac95635f55cd/docs/install.md) for kapp-controller, there is no mention of needing to create the `kapp-controller` namespace before using `kapp` or `kubectl`.

One approach to resolving this would be to actually include the creation of the `kapp-controller` namespace as part

[2020-11-18 16:20] danielhelfand commented on #49
Thanks for opening this @alexbrand. I think it makes sense to provide descriptions for our CRDs.

I haven't fully looked into it yet, but we can look into how [knative eventing approached the problem](https://github.com/knative/eventing/issues/3054) for more consideration into it.

[2020-11-18 16:27] cppforlife commented on #49
yeah, should be able to do that with bump to CRD v1 (https://github.com/vmware-tanzu/carvel-kapp-controller/issues/38) and addition of openapiv3schema field.

[2020-11-18 16:28] cppforlife commented on #50
namespace is included in the release.yml (https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/config/namespace.yml).

[2020-11-18 16:30] danielhelfand commented on #50
Yes, I did see that after a follow up. I am getting the following error when running:

[code]

[2020-11-18 16:36] cirocosta commented on #49
also, [`controller-gen crd`](https://github.com/kubernetes-sigs/controller-tools) now supports `v1`, so that could be all auto generated

[2020-11-18 16:40] danielhelfand commented on #50
This is when using `kubectl apply` by the way to maybe narrow it down:

[code]

[2020-11-18 16:51] danielhelfand commented on #50
Reordering the script as follows works with namespace creation coming first:

[code]

[2020-11-18 17:19] cppforlife commented on #50
ugh kubectl ordering. we could probably order ytt files by prefixing them.

but general answer here is -- use kapp.

[2020-11-18 23:23] StevenLocke commented on #50
This seems like a valid use case. One benefit of using kapp-controller is that you wouldn't need to install any other Carvel tools locally.

[2020-11-19 20:38] cppforlife opened #51 "[template] support ability to specify paths to decrypt with sops"

[2020-11-20 13:47] cppforlife commented on #50
fixed in https://github.com/vmware-tanzu/carvel-kapp-controller/commit/00ccf87a835bd60e1fbe6ae75d3021b73002527a

[2020-11-20 13:48] cppforlife commented on #51
added in https://github.com/vmware-tanzu/carvel-kapp-controller/commit/11ff83334cd4a7fb05dc35edee827c1d0e679c25

[2020-11-20 13:48] cppforlife commented on #46
fixed in https://github.com/vmware-tanzu/carvel-kapp-controller/commit/9dbb595888d5c5aa992b17151114d10a17c91ae7

[2020-11-20 13:54] cppforlife commented on #44
added support for path and valuesFrom[].path in https://github.com/vmware-tanzu/carvel-kapp-controller/commit/1032336ee809282a5e526ba6af5a09cd2cdd98d3.

@voor do we need custom name and namespace? im using AppCR.metadata.name/namespace as a default.

[2020-11-20 14:28] voor commented on #44
We always store the app cr in a different namespace as best practices, so namespace overriding would be necessary.

[2020-11-24 15:43] danielhelfand commented on #50
Will close once new script is released.

[2020-11-24 15:44] danielhelfand commented on #46
Verified in [CI logs](https://github.com/vmware-tanzu/carvel-kapp-controller/runs/1431845962) that test is now passing.

[2020-11-24 15:44] #46 closed, assigned to nobody

[2020-11-25 00:48] pivotaljohn commented on #48
Being worked through: https://www.pivotaltracker.com/story/show/175767212

[2020-11-25 18:15] pivotaljohn commented on #38
Also: https://vmware.slack.com/archives/CUK1X0Z8Q/p1606317265094900

[2020-11-25 23:39] jessehu commented on #38
👍  Also: https://vmware.slack.com/archives/CUK1X0Z8Q/p1606317265094900 :
Dmitriy Kalinin:  5 hours ago
we have plans to switch to v1 CRD api and add schema for the CR fields which would catch this problem i believe.

[2020-11-30 16:12] arfiqbal commented on #39
Even i am facing this issue from private registry
  Fetching registry image: Imgpkg: exit status 1 (stderr: Error: Collecting images: Working with registry.XXXXX.com/library/tkg-extensions-templates:v1.2.0_vmware.1: Get https://registry.XXXXX.com/v2/: x509: certificate signed by unknown authority

[code]
How do i add certificate or way to skip it

[2020-11-30 18:39] danielhelfand commented on #39
@arfiqbal Thanks for pointing out this issue. As [documented above](https://github.com/vmware-tanzu/carvel-kapp-controller/issues/39#issuecomment-728962181), `kapp-controller` does not support custom ca certs, but the underlying tool (`imgpkg`) does support a `--registry-ca-cert-path`.

Unfortunately, we need a way to specify options for `imgpkg pull` to avoid scenarios like this. So I am not sure

[2020-12-01 00:03] cppforlife commented on #39
@arfiqbal

you can do that today by either builder a new image that inherits from kapp-controller and adding your own CA bundle or figuring out a way to inject CA bundle at runtime before through init container.

this issue will track work for making this feature a first class feature and will be available in one of the future releases.

[2020-12-01 01:25] cppforlife commented on #51
included in https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.13.0

[2020-12-01 01:25] #51 closed, assigned to nobody

[2020-12-01 01:26] cppforlife commented on #50
included in https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.13.0.

[2020-12-01 01:26] #50 closed, assigned to nobody

[2020-12-01 01:27] cppforlife opened #53 "[template] support helm v3"
consider supporting include CRDs flag. still want to support helm v2. should we make this consistent with how vendir selects helm version?

[2020-12-01 01:28] cppforlife commented on #44
included in https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.13.0. note that include CRDs flag presented in example above is a helm v3 option. we have a separate issue open for that: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/53

[2020-12-01 01:28] #44 closed, assigned to nobody

[2020-12-01 01:30] cppforlife commented on #48
kapp-controller go module renamed in https://github.com/vmware-tanzu/carvel-kapp-controller/commit/9abbd5de22aee30cdd6544e89ce648089d09516c some time ago.

[2020-12-01 01:30] #48 closed, assigned to nobody

[2020-12-01 09:15] arfiqbal commented on #39
@cppforlife @danielhelfand
Let me know the path where we can add the custom CA ? so that i'll try to mount the ca cert using configmap

[2020-12-02 16:51] jessehu commented on #39
@arfiqbal assuming you have put the CA cert file of the private registry under /etc/ssl/certs/harbor-ca.crt (file mode 644) on your k8s worker nodes, you can make the following change to the kapp-controller deployment, then imgpkg inside the kapp-controller will be able to pull images from registry.XXXXX.com.

[code]

[2020-12-02 20:33] ewrenn8 opened #54 "Bump client-go dependency to at least v0.19.0"
The kubernetes project started using all lower-case import strings. Because the version of client-go that we are using (v0.17.2) [uses an upper case version of an import string](https://github.com/kubernetes/client-go/blob/bdedab45d4f6c8f8ffacb8e269c89e9bb736320f/restmapper/discovery_test.go#L33), if we ever need to add a dependency, or bump one of the other k8s dependencies, that uses that same p

[2020-12-02 22:43] ewrenn8 commented on #12
Vendir uses [apimachinery v0.19.0](https://github.com/vmware-tanzu/carvel-vendir/blob/0b9720fff72b596c313c10606582218d93bc4afa/go.mod#L23) which uses a lower case import of openapiv2, so we need to do #54 before taking on this one.

[2020-12-03 08:42] arfiqbal commented on #39
@jessehu  we tried the exactly the same thing but still no luck
[code]
[code]

[2020-12-03 08:46] jessehu commented on #39
@arfiqbal /etc/ssl/certs/harbor-ca.crt must exists on every worker nodes, and the file mode must be worldwide readable.  BTW I will try the Secret/ConfigMap approach later.

[2020-12-03 08:49] arfiqbal commented on #39
@jessehu yup, I have copied the harbor-ca.crt in all the worker node and i also tried with configmap but its still not working

Thanks for your quick response :)

[2020-12-03 08:55] jessehu commented on #39
Also make sure your harbor-ca.crt is correct. Running the following command on worker nodes should succeed if /etc/ssl/certs/harbor-ca.crt contains the correct CA of your Harbor Registry.

`imgpkg pull --image registry.xxxxx.com/library/tkg-extensions-templates:v1.2.0_vmware.1 --output /tmp/1`

[2020-12-03 09:04] arfiqbal commented on #39
@jessehu
i tried from one of my worker node and its working perfectly

[code]

[2020-12-03 09:08] jessehu commented on #39
How about the file mode 'ls -l /etc/ssl/certs/harbor-ca.crt' ? If it's worldwide readable, then I have no other idea.

[2020-12-03 09:10] arfiqbal commented on #39
Here it is
[code]

[2020-12-03 09:14] arfiqbal commented on #39
@jessehu
Now i am getting different issue
[code]

[2020-12-03 09:23] jessehu commented on #39
The certificate issue in kapp-controller is resolved. You can email me at huh@vmware.com to debug this new issue.

[2020-12-03 09:44] arfiqbal commented on #39
@jessehu  sure mate :)

Can you let me know what are the information your are looking for ?

[2020-12-03 10:12] sharmavijay86 commented on #39
HI @jessehu   The error in detail is bellow . Some templating which is not able to predict the platform infra . btw we are using tkg on vpshere.

[code]

[2020-12-03 10:29] jessehu commented on #39
Thanks @sharmavijay86. You didn't set `infrastructure_provider: vsphere` in the values.yaml. Please email me for further questions or find another place like Slack to discuss it, as this issue not related to kapp-controller.

[2020-12-03 10:41] arfiqbal commented on #39
@jessehu Just mailed you with all the information... Please check

[2020-12-04 08:06] jessehu commented on #39
Here is the ConfigMap solution for supporting custom ca cert for image pulling:

1. Add the CA cert of your registry server into a file custom-ca-certs.crt

2. Create a ConfigMap with this file:
kubectl create configmap custom-ca-certs --from-file=custom-ca-certs.crt -n kapp-controller

3. Modify the kapp-controller.yaml as below to mount the cert file from the ConfigMap, then kubectl apply it.

[

[2020-12-04 10:40] arfiqbal commented on #39
@jessehu its working man

Thanks for your help :)

Appreciated 👍

[2020-12-07 05:18] jessehu commented on #39
We have a discussion on how to fix this issue on carvel slack channel: https://kubernetes.slack.com/archives/CH8KCCKA5/p1607008555143000

[2020-12-07 15:36] doddatpivotal opened #56 "**Explore:** From commandline, provide ability to capture output and wait for a reconciliation that is in progress"
When kapp-controller is reconciling, I want the ability to issue a command that will allow me to track the progress of the reconciliation as if I did the deployment myself.

Essentially I want to stream the progress in a similar way that I get with `kapp deploy...`

Output would stream the progress of the reconciliation until complete.

[2020-12-07 16:58] paulczar commented on #39
It would be good to consider the secret structure of cert-manager created certs ( `data.ca.crt:  cert | b64enc` ) in any examples as a way to store ca certs for kapp-controller as to be more widely applicable.

[2020-12-07 17:40] ewrenn8 commented on #54
There were some complexities with bumping these versions, so just [downgraded vendir's dependency](https://github.com/vmware-tanzu/carvel-vendir/commit/efb4045d9a4c11745d14f78166d88142575b7498).

[2020-12-07 17:40] #54 closed, assigned to ewrenn8

[2020-12-07 20:24] ewrenn8 opened #57 "[fetch] Add config for fetching imgpkg bundles"
**Describe the problem/challenge you have**
There is currently no way to fetch assets stored in an imgpkg bundle.

**Describe the solution you'd like**
A section of the AppCRD that contains info for fetching an imgpkg bundle.

[code]

This would allow users to leverage the benefits of imgpkg bundles over images, for example, using the ImagesLock file during the template stage for relocated assets

[2020-12-08 01:37] cppforlife commented on #57
should we change this to `image` so that kbld can pick this up by default as image ref?

[2020-12-14 16:30] voor opened #60 "optional paths in template steps."
**Describe the problem/challenge you have**
Right now every path under `ytt` or similar template steps in the App CR is required, and the App CR will fail if it's not present:
[code]

**Describe the solution you'd like**
We have a standardized way we write out App CRs, providing an easy to override mechanism for different environments.  Not all App CRs need that overriding capability, but having t

[2020-12-14 22:34] cppforlife commented on #60
my main concern here would be accidental mistakes that do not get caught early on. not sure how to best address that concern 🤔

[2020-12-14 23:03] voor commented on #60
Maybe it's just a completely new option `optionalPaths` or similar with the warning that if they're not there things will just proceed. :shrug:

[2020-12-15 01:03] cppforlife commented on #60
gets a little funky since ytt is path-order sensitive. or should paths and optionalPaths be mutually exclusive -- that also feels a little weird. or may be optionalPaths contains paths that also need to be present in paths key...

this also raises an interesting question of who should check this optionality: is it ytt's job or is it kapp-controllers?

[2020-12-15 01:10] voor commented on #60
Yeah, I imagine kapp-controller would check for the path, and either include or not include it into the resulting ytt call.

[2020-12-16 09:30] achimweigel opened #61 "Huge amount of retries in case of failures"
**Describe the problem/challenge you have**
Assume we define an App CR to deploy some artefacts on some target cluster. If the deployment fails, e.g. if the target cluster is hibernated and not reachable, the deployment is retried every few seconds without any deceleration. This results in a flood of retries if there are more than one such App CR.

**Describe the solution you'd like**
Perhaps it w

[2020-12-21 23:04] ewrenn8 commented on #57
Question that came up in conversation today: What happens if user specifies `subPath` when puling a bundle?

This could potentially cause the user to lose access to the contents of the `.imgpkg` directory, which contains the `images.yml` file, breaking the templating if using kbld. Because imgpkg is going to create empty versions of the required resources if the user pushes a bundle that doesn't a

[2020-12-21 23:09] ewrenn8 commented on #56
Hey @doddatpivotal, thanks for the request!

Do you imagine this command is something that gets added to kapp?

[2020-12-21 23:15] doddatpivotal commented on #56
@ewrenn8 either kapp or a kapp-controller specific cli

[2020-12-21 23:16] ewrenn8 commented on #12
Added in 5b4bb43

[2020-12-30 14:35] iancoffey commented on #19
👋 updated, pardon paste fail :) I like this topic and direction and was about to open a new issue about a similar idea, which was just to update App to just be ref'ed from an new, optional AppInstance or similar sort of thing. Seems like a similar approach here but was curious if this project is open for an alternative proposal or is this specific CRD decided on

Anyway, Id love to chat / help wit

[2020-12-30 15:07] iancoffey commented on #18
I would love to help out with this one, thanks :) I could create a proposal if appropriate.

[2021-01-06 15:11] alexbrand opened #66 "kapp-controller crashes when the there is an unsupported templating method specified in the App CRD"
**What steps did you take:**
Create an App CRD as follows:

[code]

**What happened:**
Kapp-controller panics with a nil pointer deref:

[code]

[2021-01-06 16:57] #66 closed, assigned to nobody

[2021-01-07 13:36] jessehu commented on #39
Hi @ewrenn8 is there an ETA for this feature?

[2021-01-07 19:47] ewrenn8 commented on #39
Hey @jessehu, it was added in this commit dec56a36d524368295c6211e8d64da9dc78e1cbc. We will cut a release with this included today.

[2021-01-08 10:32] jessehu commented on #39
Thanks a lot @ewrenn8. The patch looks great! Will the new kapp-controller release ship with the coming imgpkg 0.3.0?

[2021-01-08 16:02] cppforlife commented on #39
nope, we havent cut imgpkg 0.3.0 so it wont be included. subsequent releases im sure will pick it up when it's available.

[2021-01-12 19:03] alexbrand opened #69 "**Explore:** Cannot delete App when reconciliation is stuck"
**What steps did you take:**

1. Create an App with the following definition:
[code]

2. App gets stuck reconciling because the image points to a non-existing container image
3. Attempt to delete the app using `kubectl delete app simple-app`

**What happened:**
The app is stuck reconciling

**What did you expect:**
The app is deleted

[2021-01-12 20:32] cppforlife commented on #69
hey @alexbrand, by default kapp deploy times out after 15min (default value for --wait-timeout in kapp deploy cmd). after that kapp-controller would try to reconcile and see that App was marked for deletion so it will kick off kapp delete and ultimately delete App CR.

there is "break glass" option for interrupting a deploy:
- issue delete command
- go to edit resource and add `spec.canceled: true

[2021-01-13 00:32] cppforlife commented on #41
available in https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.14.0

[2021-01-13 00:32] #41 closed, assigned to nobody

[2021-01-13 00:39] cppforlife commented on #42
available in https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.14.0

[2021-01-13 00:39] #42 closed, assigned to nobody

[2021-01-13 00:58] cppforlife commented on #39
ca cert functionality is available in https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.14.0, controller wide.

[2021-01-13 00:58] #39 closed, assigned to nobody

[2021-01-13 00:59] cppforlife commented on #12
available in https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.14.0

[2021-01-13 00:59] #12 closed

[2021-01-13 01:12] cppforlife opened #71 "determine better way to delete App CR when destination cluster is gone/disconnected"
**Describe the problem/challenge you have**

in cases when App CR no longer has access to service account (e.g. remote cluster is deleted, disconnected), we dont have a natural way to delete App CRs. one "solution" today is to initiate deletion and then delete finalizer. this feels more like a hack.

**Describe the solution you'd like**

not sure. suggestions previously were:
- add force delete fl

[2021-01-23 00:06] ewrenn8 commented on #61
Added an exponential backoff with a ceiling equal to app sync period here d74a210231f94922497da67655fc13a1668ca84e

[2021-01-25 18:31] AkhilCh308 opened #74 "issue with Contour app"
**What steps did you take:**
[A clear and concise description steps that can be used to reproduce the problem.]

kubectl apply -f ingress/contour/namespace-role.yaml
kubectl create secret generic contour-data-values --from-file=values.yaml=ingress/contour/vsphere/contour-data-values.yaml -n tanzu-system-ingress-4
kubectl apply -f ingress/contour/contour-extension.yaml
kubectl get app contour -n ta

[2021-01-25 21:38] cppforlife commented on #74
this error message indicates that it cannot reach above registry. (it's making a call to that registry from within kapp-controller pod).

[2021-01-26 06:02] AkhilCh308 commented on #74
Hi @cppforlife , yeah I knew that, can you pls suggest any steps to fix this?

[2021-01-26 17:33] cppforlife commented on #61
shipped in v0.15.0

[2021-01-26 17:33] #61 closed, assigned to nobody

[2021-01-26 17:35] cppforlife commented on #74
@AkhilCh308 you'll have to figure out how to allow TCP connections between your environment and that location. im guessing somehow your network rules block such request.

[2021-01-27 19:35] ewrenn8 opened #77 "Don't run kapp inspect if we haven't successfully deployed"
**What steps did you take:**
1. Deploy an app that has a failing fetch stage:
[code]
2. `kubectl get apps -n <namespace you deployed to> -oyaml`
3. see that status has an inspect stage showing an error

**What happened:**
Seeing the inspect error, which isnt the actual error causing reconciliation to fail, is misleading
[code]

**What did you expect:**
To just see the error that relates to why the

[2021-01-28 15:03] cocampbe commented on #39
If this is working, it would be nice if someone at vmware would update the tkg-extensions-manifests tarball.

[2021-01-28 22:00] #77 closed, assigned to nobody

[2021-01-30 02:45] braunsonm opened #81 "Hashicorp Vault Templating"
**Describe the problem/challenge you have**
I would like to use Vault to provide my secrets for my YTT templates. To achieve this, one can encrypt the secrets YAML with the Vault Transit engine and store in their repository.

**Describe the solution you'd like**
A templater in kapp controller that supports Hashicorp Vault's transit engine to decrypt files similar to the SOPS templater. This way I

[2021-02-01 17:07] seemiller opened #83 "Typo in readme"
**What steps did you take:**
I read the readme.md file

**What happened:**
I saw a typo.

**What did you expect:**
I expected words to be spelled correctly.

**Anything else you would like to add:**
In the sentence, "It will install, and continiously apply updates.", `continiously` should be `continuously`

**Environment:**
n/a

[2021-02-01 17:26] seemiller opened #85 "[fetch] add caching for pulling images"
I'm working on a project where we are using kapp-controller to deploy apps to a Kubernetes cluster. According to your readme, kapp-controller will "install, and continiously apply updates." It seems to be literally doing just that. I happened to look at Harbor, which is where I have my app images hosted, and there are thousands and thousands of image pulls. As far as I'm aware, there are only 2 cl

[2021-02-01 17:33] ewrenn8 commented on #85
Hey @seemiller, what version of kapp-controller are you using and are any apps failing? The consistent pulling is expected since kapp-controller will sync an app every 30s by default, but this can be configured using the apps `spec.syncPeriod` configuration.

[2021-02-01 18:01] danielhelfand commented on #83
Closed by #84

[2021-02-01 18:01] #83 closed, assigned to nobody

[2021-02-01 18:26] joshrosso commented on #85
@ewrenn8 we certainly could increase `spec.syncPeriod`.

One thing that surprises me, when pulling container images (ie `docker pull`) if the layers pre-exist, it does not actually pull from the repository. For example, the Harbor "pulls" count does not increase.

Wouldn't we expect the same behavior from pulling imgpkg bundles? Where in a pull only occurs if the sha/layers don't match?

[2021-02-01 18:37] ewrenn8 commented on #85
Imgpkg uses ggcr to talk directly to the registry api, and it isn't currently storing pulled layers anywhere but in memory, so it isn't able to avoid re-pulling layers across invocations. Also, since we dont rely on any external tools, we aren't able to leverage any layer stores they're maintaining.

There are definitely a few of these scalability/efficiency improvements we would like to make in k

[2021-02-01 18:51] joshrosso commented on #85
_on more thought:_ I wonder if we point at a bundle's digest sha rather than tag if it'd be appropriate to expect kapp-controller to only grab it once?

[2021-02-01 18:57] ewrenn8 commented on #85
I think thats definitely possible, but, in that case, we would probably still need to implement some kind of caching in kapp-controller so that we have the config from the bundle for future syncs without needing to pull. We need this so we can continue deploying the config in order to undo any potential changes someone made to the app's resources in the cluster.

[2021-02-02 21:17] danielhelfand opened #86 "Different Group Name for Fake Client"
When using the [fake kapp-control client](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/dee8a5beacd13c97423213dc7381917577d8505c/pkg/client/clientset/versioned/fake/clientset_generated.go#L20) for mocking interactions with a cluster, if an actual App runtime object is loaded into the NewSimpleClientset constructor, the app will never be retrieved by the fake client.

This is due to h

[2021-02-03 17:21] cppforlife commented on #85
this is something we need to think more about and decide if we really want to be caching things. caching/invalidation is complex.

in case of configuration images, keep in mind that they are very lightweight assets (just a few text files typically) so it should not be something that causes registry much problem. (caching probably would come handy when we are talking about large number of clusters

[2021-02-03 17:51] cppforlife commented on #81
@braunsonm i think we would be open to such enhancement if this could be encapsulated into a small binary that does the heavy lifting (similar to sops binary).

[2021-02-03 18:13] joshrosso commented on #85
@cppforlife my primary worry would be triggering rate limits or denial of service as many clusters spin up?

What do you think about the model where, when referencing the imgpkg digest sha, you don't pull again unless that mutates? That way you can solve this case without complexity of caching imgpkg content?

[2021-02-03 18:42] cppforlife commented on #74
going to close this issue per my above comment.

[2021-02-03 18:42] #74 closed, assigned to nobody

[2021-02-03 18:43] cppforlife commented on #85
that still involves implementing caching on our side since no content is persisted anywhere and we need the content to go through the sync steps. @aaronshurley @vibhas let's put this in the queue somewhere.

[2021-02-03 20:46] seemiller commented on #85
@joshrosso and I were discussing this and are willing to take a deeper look into what is going on and (assuming we have a solid handle on the problem) make a proposal to resolve the issue.

[2021-02-03 23:45] vibhas opened #87 "Package Manager API MVP"
We are planning to provide a set of APIs for Package Management in kapp-controller that can be used by
- Software authors to package and distribute their software
- Software consumers to install that software and manage its lifecycle on a Kubernetes cluster

This epic captures the work that needs to be done for an MVP for Package Management.

**Package Manager API MVP**
The following issues will b

[2021-02-04 00:10] vibhas opened #88 "Documentation to help package authors package and distribute their software"
**Describe the problem/challenge you have**
Once the Package Management APIs are available in kapp-controller, package authors might find it difficult to discover and start using those APIs.

**Describe the solution you'd like**
Clear documentation (getting started guide) with examples telling authors how to use the Package Management APIs to package and distribute their software.

**Anything else

[2021-02-04 00:16] vibhas opened #89 "Documentation to help package consumers install and manage their software"
**Describe the problem/challenge you have**
Once the Package Management APIs are available in kapp-controller, package consumers might find it difficult to discover and start using those APIs.

**Describe the solution you'd like**
Clear documentation (getting started guide) with examples telling consumers how to use the Package Management APIs to install and manage software provided by authors.

*

[2021-02-04 01:17] braunsonm commented on #81
Interesting, I wasn't aware the sops binary was separated from the rest of the controller code. Do you think you could link me to where that lives in the source of the kapp controller so I could get a better understanding?

[2021-02-04 01:42] danielhelfand commented on #81
The sops binary is made available via the container image for kapp-controller: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/dee8a5beacd13c97423213dc7381917577d8505c/Dockerfile#L51

It’s then called directly using the os/exec package: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/b58896522e15360f571f03c1a3f122e7f9dd44f7/pkg/template/sops.go#L138

Obviously more to it th

[2021-02-04 16:51] cppforlife commented on #81
kapp-controller actually calls out to all the of tools (vendir, ytt, kapp, kbld, imgpkg, etc.).

[2021-02-04 17:11] braunsonm commented on #81
This should be pretty easily do-able with the Vault cli. For instance to decrypt (assuming logged in):

[code]
Decrypted yaml is output to stdout.

[2021-02-04 18:19] vibhas opened #90 "CRD to package a software"
**Describe the problem/challenge you have**
Package authors do not have a consistent way to package their software which then can be distributed for consumption.

**Describe the solution you'd like**
Package authors should be able to create a new Package CR to package their software that can then be distributed for consumption by others. They should be able to define the following in this CR:
- Re

[2021-02-04 19:00] vibhas opened #91 "CRD to watch a package repository"
**Describe the problem/challenge you have**
Package consumers currently need to discover and install one software at a time on a cluster. They should have a way to watch a particular package repository that contains multiple packages so that they can discover all the packages available to them and install the ones that they need.

**Describe the solution you'd like**
- Package consumers should be

[2021-02-04 21:06] vibhas opened #92 "View all the packages available on a cluster"
**Describe the problem/challenge you have**
Once one or more packages are available to install, the package consumer will need a way to be able to view the list of packages and their metadata.

**Describe the solution you'd like**
We need to provide a way such that package consumers can achieve the following:
- View packages available in a cluster
- Search for packages by name and version (Broke i

[2021-02-04 22:39] #57 closed, assigned to nobody

[2021-02-04 22:46] vibhas opened #94 "CRD to install a package on the cluster"
**Describe the problem/challenge you have**
Once the packages are available on a cluster, the package consumers need a way to install a specific version of the package and provide their own configurations.

**Describe the solution you'd like**
Package consumers should be able to create a kapp-controller InstalledPackage CR to install a package. They need to provide the following information:
- Nam

[2021-02-04 22:55] vibhas opened #95 "View all the installed packages on a cluster"
**Describe the problem/challenge you have**
Package consumers need visibility on the packages that are currently installed on their cluster.

**Describe the solution you'd like**
We need to provide a way such that package consumers can achieve the following:
- View the installed packages in a cluster

**Anything else you would like to add:**

[2021-02-05 00:17] vibhas opened #96 "Uninstall a package from a cluster"
**Describe the problem/challenge you have**
Package consumers need a way to remove a package from a cluster that was deployed earlier.

**Describe the solution you'd like**

**Anything else you would like to add:**

[2021-02-05 00:23] vibhas opened #97 "Update the installed package when a newer version of the package is available"
**Describe the problem/challenge you have**
When a newer version of a package is available on the cluster, Package consumers should be able to install the new version on their cluster.

**Describe the solution you'd like**
Package consumers should be able to update the InstalledPackage CR to point to the newer version of the package in order to deploy it.

**Anything else you would like to add:**

[2021-02-09 03:11] absoludity commented on #53
Duplicate of #33 ? (appears to be the same request - support for `--include-crds`

[2021-02-09 05:42] absoludity opened #99 "Support for deployment via helm"
**Disclaimer**: I do love the separation of the smaller tools in carvel and am not an advocate of Helm's appoarch (monolithic tool, procedural, conditional on state, lookups etc.), but do want to see kapp-controller's approach used more widely. In particular, I'm a dev on the Kubeapps team and currently looking at options to support generic packaging (with an initial focus on supporting kapp, bund

[2021-02-09 16:03] dobrinkamladenova opened #100 "E-mail not active"
Hello, I contacted OSSContributions@vmware.com, but the e-mail is not active anymore. Can you please tell me how to reach out to VMware in case I have a more generic question related to open source contributions?

[2021-02-09 22:27] cari-lynn commented on #100
Hey @dobrinkamladenova, I'm looking for a email that can help with general questions. In the meantime, what kinds of questions are you looking for answers for? Knowing that may help me point you in the right direction.

[2021-02-09 22:43] cari-lynn commented on #100
A member of our Open Source Program Office offered to be a point of contact to route general questions. You can reach out to Dirk H. dirkhh@vmware.com and he will point you in the right direction.

[2021-02-10 00:39] cppforlife commented on #99
i think it's something we would be open to (this was some of the original thinking behind making `kapp` an explicit option in deploy section, leaving room to be extended to other deployment mechanisms). this does require some thinking though. what does it mean to pass info between helm template and helm deploy? do we lose any particular features, etc. i would be definitely interested in seeing mor

[2021-02-10 03:02] absoludity commented on #99
Great!

There is no such thing as passing information between `helm template` and `helm install` :/  `helm install` does not have an option to accept generated yaml - it requires a chart. That's what I was referring to when I said "I realise helm 3 does not get away from the mashing of separate steps into one (template and deploy), but it might help to embrace the Helm community with first-class s

[2021-02-10 06:23] absoludity opened #101 "Restricted User/Group impersonation for actualising an `App`"
**Describe the problem/challenge you have**

Some Kubernetes applications carry out all interactions with the Kubernetes cluster *as the authenticated user* (ie. the user who is interacting with the cluster). `kubectl` is one example and Kubeapps (my context) is another.  This is generally the case for synchronous actions (such as creating or deleting resources synchronously) but is also possible

[2021-02-10 12:27] dobrinkamladenova commented on #100
Thank you very much, @cari-lynn!

[2021-02-10 12:27] #100 closed, assigned to cari-lynn

[2021-02-10 20:44] cppforlife commented on #101
@absoludity i have two concerns:

- since App CR represents continuously updating application, what does it mean to use submitting account for long period of time? do all auth methods result in a service account (im not sure, what happens when user auths via third party system, do they have service account?) what happens when multiple actors are interacting with App CR, eg two different users and

[2021-02-10 20:54] cppforlife commented on #99
in helm codebase there is a point of time where templates were generated and nothing has been deployed yet. to fit within kapp-controller's paradigm of fetch+template+deploy i believe we should be able to find that point and take advantage of it. most naive approach could be to run `helm template` (or helm install with post-render but exit before deploy starts) and then at a later point use `helm

[2021-02-10 20:57] danniel1205 opened #102 "Trigger reconcile on data value secret update"
**Describe the problem/challenge you have**
As a user, I would like to reconfigure my App on day2 by updating the data value secret. As of today, I have to wait until next resync to get my App updated.

**Describe the solution you'd like**
I would like to have the reconciliation of my App gets immediately triggered on data value secret updates.

**Anything else you would like to add:**
[Additional

[2021-02-10 23:50] absoludity commented on #101
No, there is no service account. When you interact via `kubectl` there is no service account, but instead your request is carried out with a TLS client-authentication certificate ([more details](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#users-in-kubernetes), I realise you know all of this, but just explaining generally why). If the APIServer recognises the certificate

[2021-02-10 23:54] absoludity commented on #99
I'll take a closer look.

Yep, if we can indeed feed the output of `helm template` into the `upgrade --install` command via the API, that'd be much nicer. I'll let you know what I find.

[2021-02-11 00:38] vijaykatam commented on #102
Related issue https://github.com/vmware-tanzu/carvel-kapp-controller/issues/26

[2021-02-11 23:07] danielhelfand opened #103 "Update App API Group from k14s.io to carvel.dev"
As part of the larger rebranding efforts around switching from k14s to Carvel, we should consider updating the Apps API Group from `kappctrl.k14s.io` to `kappctrl.carvel.dev`:

https://github.com/vmware-tanzu/carvel-kapp-controller/blob/ac48b9745e0fbb16045ceb55977bc2203c41034d/pkg/apis/kappctrl/v1alpha1/register.go#L12

In deciding whether to switch to the `kappctrl.carvel.dev` group name, it shou

[2021-02-16 00:35] absoludity commented on #101
I'm going to close this issue since, after discussion, I agree that original request isn't something to consider. Additionally, given that a namespace always has a `default` service account and a user who can create a pod in a namespace will, for example, default to using that `default` service account, it seems this would be a better precedent to follow.

So for my use-case, if a user has authz t

[2021-02-16 00:35] #101 closed, assigned to nobody

[2021-02-16 05:26] absoludity commented on #99
Unfortunately I don't think this is true. The reason for this is that during an install the `helm install` action will [first install CRDs of the chart (and any dependencies) *before* rendering the templates](https://github.com/helm/helm/blob/v3.5.2/pkg/action/install.go#L185-L194) explicitly so that when helm later contacts the api server to build its capabilities object (used during templating)

[2021-02-16 20:57] cppforlife commented on #99
yikes. yeah i think you are right...

yup looks like it. one thing we can do is to send already rendered output to `helm upgrade --install` so that it doesnt try to render anything during install phase (aka prerendered chart). the difference here from vanilla helm would be (as you pointed out):

- default capabilities are always used
- release version is always set to 1
- ???

may be these differe

[2021-02-17 05:29] absoludity commented on #99
As in, submit a change to the helm codebase to make that possible? Sure. Currently a really ugly hack would be to use the post-rendering hook to ignore the input and just return the pre-rendered yaml. But it still doesn't get around the difference in template output between the `template` and `install` commands. Personally, I think that if kapp controller is going to say it supports helm charts, i

[2021-02-17 17:22] cppforlife commented on #99
i meant you can just put rendered yaml into templates directory of a brand new empty chart and do plain `helm upgrade --install`.

that's true. im not sure what we can do about that. can we exit `helm upgrade --install` in post render step and save off yaml?

how does this compare with choices made by other automation tooling around helm? (e.g. fleet, helm-controller, etc.)

[2021-02-18 06:57] absoludity commented on #99
I think that could be dangerous (chart names, versions, release info, etc.), but possible. If you did want to be able to pass yaml directly to helm upgrade/install, I'd work on a change in helm itself to make that possible instead.

You'd be unintentionally installing all the CRDs from the chart (and its dependencies) before it gets to that point (see previous link to the install action).

**Fleet

[2021-02-19 04:38] vibhas opened #104 "Package Authors should be able to provide openAPI schema for configurations in Package CR"
**Describe the problem/challenge you have**
As a Package Consumer, I need to know the details about the configuration that is accepted by a package and I should be able to have confidence that the values provided by me are in the correct format and valid.

This problem has been divided into three issues:
- Package consumers do not have an easy way to discover the list of configurations that are pr

[2021-02-20 20:29] mtricht commented on #37
Probably a good start would be to use the sops go package instead of executing the binary, much like how [Flux's kustomize-controller](https://github.com/fluxcd/kustomize-controller/blob/f0a31470c94a79acd93cc544dd323c677c2b298f/controllers/kustomization_decryptor.go#L70) does. However, it does have the limitation you speak of, that is has one ["global" KMS auth](https://toolkit.fluxcd.io/guides/mo

[2021-02-22 16:29] danielhelfand commented on #102
I am going to close this in favor of #26, but please feel free to reopen if I am misunderstanding the request.

[2021-02-22 16:29] #102 closed, assigned to nobody

[2021-02-22 16:37] danielhelfand commented on #88
Note that these changes have been added to carvel.dev but may be updated as future release candidates are developed:
* https://github.com/vmware-tanzu/carvel.dev/pull/52
* https://github.com/vmware-tanzu/carvel.dev/blob/9fc2418d3966720fe4f77ece7a0e3785eb931779/content/kapp-controller/docs/latest/packaging.md
* https://github.com/vmware-tanzu/carvel.dev/blob/9fc2418d3966720fe4f77ece7a0e3785eb931779

[2021-02-22 16:40] danielhelfand commented on #89
Note that these docs have been added to carvel.dev but may be updated as future release candidates are added:
* https://github.com/vmware-tanzu/carvel.dev/blob/9fc2418d3966720fe4f77ece7a0e3785eb931779/content/kapp-controller/docs/latest/package-consumption.md

[2021-02-22 16:43] danielhelfand commented on #90
In progress on the [dev-packaging](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging) branch. As of now, the CRD is called `Package`.

[2021-02-22 16:51] danielhelfand commented on #92
In progress on the [dev-packaging](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging) branch.

[2021-02-22 16:53] danielhelfand commented on #94
In progress on the [dev-packaging](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging) branch. As of now, the CRD is called `InstalledPackage`.

[2021-02-22 16:54] danielhelfand commented on #95
In progress on the [dev-packaging](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging) branch.

[2021-02-22 16:56] danielhelfand commented on #81
As a note, I would prefer using a go module as opposed to the binary for this case if possible.

[2021-02-22 16:57] danielhelfand commented on #96
In progress on the [dev-packaging](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging) branch.

[2021-02-22 17:00] danielhelfand commented on #91
In progress on the [dev-packaging](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging) branch. As of now, the CRD is called PackageRepository.

One thing that might need a bit more refinement is what a PackageRepository status should report for this requirement:

[2021-02-22 17:02] danielhelfand commented on #97
In progress on the [dev-packaging](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging) branch.

[2021-02-22 17:05] danielhelfand commented on #87
Wondering if we can better organize these issues as a [GitHub milestone](https://docs.github.com/en/github/managing-your-work-on-github/about-milestones). However, the associated issues for this epic are listed below:

#88
#89
#90
#91
#92
#94
#95
#96
#97

[2021-02-22 17:07] danielhelfand commented on #86
It seems it was related to how the fake client is generated. One of the directives given to client generator had the incorrect group name: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/53cbfee531155c40268ff8914f62becd15a94836/pkg/apis/kappctrl/v1alpha1/doc.go#L6.

[2021-02-23 17:17] ewrenn8 opened #107 "Package reconciler should be smarter about enqueueing installed pkgs"
In the current alpha, the package reconciler enqueues all installed packages when any package is updated. This is done to ensure that if any installed package has a version constraint allowing it to use the new package, it will get automatically bumped to the new package. Enqueuing and reconciling all of the installed packages is a lot of extra work, so the package reconciler should use some smart

[2021-02-23 17:20] ewrenn8 opened #108 "Package Repository reconciler should not use an app"
The package reconciler is currently creating an app which naively fetches and installs anything in the source it points to. The intermediary should be cut out and the package repo reconciler should do the fetch and install itself. This will also help down the line when we formalize the structure of a repo bundle.

- [ ] Package repo reconciler should pass all the packages it is going to install th

[2021-02-23 17:30] ewrenn8 opened #109 "Package repository doesnt have a status field"
This makes it hard to debug when a package repository isn't working as expected. There should be a status field the shows the user whether reconciliation has been successful, and, if not, what went wrong in the process.

Since PackageRepository is using an App, we can leverage the underlying App status as the repository's status.

- [ ] Modify the Package consumer docs to add this step

[2021-02-23 20:52] seemiller opened #110 "Improve Visibility of App Deployment Progress"
**Describe the problem/challenge you have**
When deploying an app using kapp-controller, it is difficult to get status or know what is happening. The current output of a `kubectl describe -n foo apps/my-app` prints out _a lot_ of information.

This information is difficult for the user to quickly get a sense of the state of the deployment. It seems like there is log type information:
[code]

There

[2021-02-23 22:59] vibhas commented on #87
@danielhelfand, we initially thought of using milestones but then kept it at an Epic level as we could not come up with a good distribution. Do you have any ideas on how we could use milestones? cc @aaronshurley

[2021-02-23 23:53] vibhas commented on #91
A new issue has been created for this https://github.com/vmware-tanzu/carvel-kapp-controller/issues/109

[2021-02-23 23:57] vibhas opened #111 "Package Consumers should be able to search for packages that are available on a cluster"
Related issue: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/92

**Describe the problem/challenge you have**
Once one or more packages are available to install, the package consumer will need a way to be able to view the list of packages and their metadata.

**Describe the solution you'd like**
We need to provide a way such that package consumers can achieve the following:
- Search

[2021-02-24 00:12] vibhas commented on #88
I moved this issue to "In-Progress". One thing that still needs to be documented in the future is air-gapped workflows.

[2021-02-24 00:13] vibhas commented on #89
I moved this issue to "In-Progress". One thing that still needs to be documented in the future is air-gapped workflows.

[2021-02-24 18:42] ewrenn8 commented on #108
After some more discussion, we are going to hold off on doing this issue until after we have moved packages to the aggregated api layer. This will allow us to bypass api calls in the controller completely for efficiency

[2021-02-24 22:57] ewrenn8 opened #112 "Move packages from CRDs to aggregated api server"

[2021-02-25 13:18] making opened #113 "Support ytt's ---data-value-file equivalent functionality"
**Describe the problem/challenge you have**

It may be expected to set the contents of the config file as a variable in a ytt template file that is applied via App resource.

For example
[code]
I'd like to keep the configuration file separated because it sometime has a large contents and don't want to include it with other data values.

With local `ytt` + `kapp`, it is possible to use `---data-val

[2021-02-25 15:44] benmoss opened #114 "App gets stuck deleting if service account is not created"
**What steps did you take:**
Installed the "simple-app" from the instructions without first creating the service account for it.
https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/docs/walkthrough.md

Tried to delete the app via `kapp -a simple-app delete` and see it hang/timeout.

**What happened:**
[code]

**What did you expect:**
Delete should succeed

**Anything else you would

[2021-02-25 15:52] danielhelfand commented on #114
I have also run into the issue described above in a similar scenario where I have used `serviceAccount` instead of `serviceAccountName`. This is definitely something we should look into prioritizing.

Could be similar to #69 but can dig a bit further to see if the issue itself has different nuance to it.

[2021-02-25 16:32] benmoss opened #115 "Parsing error when using '-' as template argument"
**What steps did you take:**
Deployed an app piping from kbld to ytt:

[code]

**What happened:**
The deploy eventually times out, but the kapp-controller logs this:
[code]

**What did you expect:**
It just works, or at least is documented that you need to quote `-` as an argument.

**Anything else you would like to add:**
Quoting `-` fixes the problem.

**Environment:**

- kapp Controller version

[2021-02-25 17:20] trisberg opened #116 "Using Package version with a semver pre-release label like 1.0.0-alpha1 fails reconciling"
**What steps did you take:**

Used a version for the Package resource that included an `alpha1` pre-release label

[code]

**What happened:**

The InstalledImage referencing this package fails reconciliation:

[code]

**What did you expect:**

That it would work same way as if I removed the pre-release label and used version of 1.0.0

**Anything else you would like to add:**

**Environment:**

- k

[2021-02-25 18:01] danielhelfand commented on #116
The error seems to be coming from vendir:
https://github.com/vmware-tanzu/carvel-vendir/blob/bf0685a51eae291131fe5d1475ac0a6eceeb3c1e/pkg/vendir/versions/v1alpha1/selector.go#L23

It is called from installedpkg.go: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/4234a4b21577a792548c6a6405a4e84054e7f466/pkg/installedpkg/installedpkg.go#L154.

[2021-02-25 18:56] danielhelfand commented on #116
In digging a bit further into this, it looks like kapp-controller is not providing the proper config by default for an exact match on a PackageRef version:

https://github.com/vmware-tanzu/carvel-kapp-controller/blob/4234a4b21577a792548c6a6405a4e84054e7f466/pkg/installedpkg/installedpkg.go#L134

In this case, we need the Prereleases to be non nil since `HighestConstrainedVersion` will [not include

[2021-02-26 21:19] danielhelfand commented on #115
As you mention, the `-` does need to be quoted because otherwise yaml thinks it is the beginning of new array.

We have noticed a fair amount of places in our docs where we do not promote this where we can update the docs:
* https://carvel.dev/kapp-controller/docs/latest/app-spec
* https://carvel.dev/kapp-controller/docs/latest/packaging/#package-cr
* https://carvel.dev/kapp-controller/docs/latest

[2021-02-26 21:22] danielhelfand commented on #116
Added the fix here: https://github.com/vmware-tanzu/carvel-kapp-controller/blob/5839f6167ae220289bbe89a533b141e6cdd1a1df/pkg/installedpkg/installedpkg.go#L137

This should be available in next alpha release candidate.

[2021-03-01 18:11] ewrenn8 opened #117 "Users should receive an error when Packaging CRDs do not follow the schema"
Add openAPI schema to the packaging CRDs so users of the new apis receive an error when their packaging CRs are invalid

- [ ]  Package
- [ ]  PackageRepository
- [ ]  InstalledPackage

Some other things to consider in regards to Package CR
- [ ] Validations on Package metadata such as length, type, required (True or False) - refer to [issue 156](https://github.com/vmware-tanzu/carvel-kapp-control

[2021-03-02 19:21] danielhelfand opened #118 "Allow syncing to be disabled"
**Describe the problem/challenge you have**

I would like to be able to disable syncing entirely for an App and only have that App updated by explicit request from a client.

**Describe the solution you'd like**

On the App spec, there should be some way to disable syncing for an App and then reconciliation only happens via a client request to kapp-controller.

[code]

[2021-03-02 19:22] ewrenn8 opened #119 "**Explore:** Implement package aggregated api server"
Some poc work has been done on the branch pkg-apiserver-poc. The example there uses an in memory cache as the data store and builds the needed rest methods on top of that.

- [ ] make sure server configuration works as intended
- [ ] switch any internal packaging clients/watchers to communicate/watch the in memory cache instead of having to go through the k8s api
- [ ] Ensure any system maintained

[2021-03-02 19:42] ewrenn8 commented on #118
What is the use case for this? There is already a paused key in the app spec which will pause all future reconciliations.

I'm not sure I understand this part fully. Do you mean there is some API exposed that a client can hit and trigger reconciliation? If so, I don't think we would want to do that as it would require both exposing kapp-controller to clients and would move away from declarative AP

[2021-03-02 20:52] danielhelfand commented on #118
The use case would be to have more control over when changes are deployed to the cluster (e.g. only during a CI/CD run). While pausing would allow for this to a certain extent, what would the workflow look like to do this?

I think it might be more intuitive to allow for users to turn off syncing such that the App is only updated in the event someone or automation through CI/CD runs `kubectl apply

[2021-03-02 21:01] jorgemoralespou opened #120 "Support dockerconfigjson secrets for credentials"
kapp-controller's App's `spec.fetch.image.secretRef` and `spec.fetch.imgpkgBundle.secretRef` should support dockerconfigjson type of secrets as they are the standard type of secrets for credentials to OCI registries.

https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#registry-secret-existing-credentials

[2021-03-02 22:12] #112 closed, assigned to nobody

[2021-03-02 22:29] pivotaljohn opened #121 "Support for file-marks or rawOptions in App-spec for ytt"
@jmcclenny-PRE commented on [Tue Mar 02 2021](https://github.com/vmware-tanzu/carvel-ytt/issues/311)

**Describe the problem/challenge you have**
I have a need to utilize file-marks within the app-spec for kapp-controller.

**Describe the solution you'd like**
Would be nice to either have file-marks as a first class field or pass in via rawOptions
eg.
[code]
or possibly?

[code]

[2021-03-02 22:29] pivotaljohn commented on #121
Relocated to `kapp-controller` as this is about the configuration interface for that tool. 👍🏼

[2021-03-02 22:35] jmcclenny-PRE commented on #121
@pivotaljohn

Thanks, went to the wrong repo when I opened this!

[2021-03-03 00:22] ewrenn8 opened #122 "**Explore:** Package authors should be able to customize how InstalledPackage values get included in templating steps"
In the current alpha, values from the InstalledPackage are appended to the values of the first templating step, which is quite limiting.

To improve this experience for authors, I propose adding a `valuesConfig` key to the Package definition. Under this key, authors are able to specify which templating step the values will be included in, and can optionally choose to include the namespace as a val

[2021-03-03 01:14] cppforlife commented on #121
dont think we would want to key off file mark value. i was thinking of following

[code]

[2021-03-03 01:23] ewrenn8 opened #123 "InstalledPackage authors should be able to provide overlays"
In the current alpha, package consumers aren't able to customize package installation beyond what is exposed via data values. There should be a way to allow consumers to provide overlays via an InstalledPackage which will be applied at some point.

This may be similar to #122, but has a slight difference since package authors can't know where to inject consumer provided overlays. One idea is to ju

[2021-03-03 17:56] joshrosso opened #124 "Reference (source) PackageRepository in Package CR"
**Describe the problem/challenge you have**
For client tooling, it'd be helpful if the `PackageRepository` that a `Package` CR came from was written into the `Package` object. I don't think we need a new field in the API (could be an annotation) but either could work.

[2021-03-03 18:03] ewrenn8 opened #125 "PackageRepositories should leverage recursive imgpkg bundles"
As part of the [imgpkg recursive bundle proposal](https://github.com/k14s/design-docs/blob/37769d97d2f377841d476d9b0c9672635caab5a2/imgpkg/002-recursive-bundles/README.md), imgpkg is not enabling pulling bundles recursively by default. Since package repositories can be recursive bundles (a top level repo made up of more focused offerings), the package repository reconciler needs to be updated to p

[2021-03-03 21:02] drawsmcgraw opened #126 "kapp-controller should have a ClusterAPI story"
I love how kapp-controller brings the declarative model of consistent k8s workloads to everyday operations (i.e. "Install version x.y.z of FluentBit on all my k8s clusters).

I think if it is combined with ClusterAPI, there is a very compelling story. In the same way that I can define a source of truth for my kubernetes workloads, I can define a source of truth for my kubernetes _landscape_ (e.g.

[2021-03-06 00:05] benmoss opened #128 "InstalledPackage controller just selects packages by version and not name"
**What steps did you take:**
- Have a repository with two or more images with the same version
- Install one of the packages

**What happened:**
It randomly picks one of them to actually install

**Anything else you would like to add:**
Looking at the code [here](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/b49ffe7a15bd186e927b9709933c50f3a47b472e/pkg/installedpkg/installedpkg.go#L1

[2021-03-08 17:28] aaronshurley commented on #128
Thanks, @benmoss! We're going to take a look at this right away.

[2021-03-08 22:18] ewrenn8 opened #129 "Leverage new ytt proposal in App Spec"
ytt has a [new proposal](https://github.com/vmware-tanzu/carvel/blob/d6b88588f7f5943814ba05008cd5edb370d96504/proposals/ytt/003-raw-data-values/README.md) to add the ability to provide raw, unannotated yaml documents as data value documents via the command line. It could be helpful to adapt the App API to include a way to leverage this new feature. This would also improve the packaging APIs as it

[2021-03-08 22:32] ewrenn8 commented on #128
Fixed in `v0.17.0-alpha.2` via this commit 9c8d7d0086d332967a2a8db62d7f9c487352fbd5

[2021-03-08 22:32] #128 closed, assigned to ewrenn8

[2021-03-08 22:33] ewrenn8 commented on #116
Fixed in `v0.17.0-alpha.2` via this commit a561615ead184e5937d4e857e87f1bd338b84b74

[2021-03-08 22:33] #116 closed, assigned to nobody

[2021-03-08 22:36] ewrenn8 opened #130 "Add schema for App CRD"
**Describe the problem/challenge you have**
When creating a new App, no structural validation is done.

**Describe the solution you'd like**
The app CRD should specify its own openapi schema to allow the cluster to validate new apps

[2021-03-08 22:39] ewrenn8 commented on #115
There is not much we can do here because it is the yaml parsing that is failing. We may be able to get better error messages through adding schema to the App CRD. I created #130 to capture this work.

[2021-03-09 17:49] ewrenn8 commented on #122
Related: #129

[2021-03-09 18:03] ewrenn8 commented on #124
Hey @joshrosso this seems like a reasonable idea. Could you share more about the intended use for something like this, or is it just intended as an informational field?

[2021-03-09 18:19] ewrenn8 commented on #126
Hey @drawsmcgraw thanks for the suggestion! Do you think this is something the new [packaging apis](https://carvel.dev/kapp-controller/docs/latest/packaging/) would enable? If so, are there other things you're looking for around this (e.g. new docs)?

[2021-03-10 03:19] jessehu opened #131 "Support 'skip tls verify' when pulling images from a registry with self signed certificate"
**Describe the problem/challenge you have**

We already support specifying CA certs for kapp-controller in kapp-controller-config ConfigMap via https://github.com/vmware-tanzu/carvel-kapp-controller/commit/dec56a36d524368295c6211e8d64da9dc78e1cbc#diff-8a8c9da6bd19cf725d993a692648e3b2c41b311d938be83bf3590e8e64c1021e.
There is also a requirement for skipping the TLS verification. imgpkg already supp

[2021-03-10 15:12] drawsmcgraw commented on #126
Hi @ewrenn8 !

Yes, absolutely. I think it's more of a question now, whether "a k8s cluster with a set of workloads installed" can masquerade as a `package` CR or if it merits creation of a new CR.

For some more insight on implementation, please see [this repo](https://github.com/voor/cluster-api-gitops). The README details the process of doing exactly that (defining "a k8s cluster with a set of

[2021-03-10 21:56] ewrenn8 opened #133 "Add more debug info to failing InstalledPackages"
**Describe the problem/challenge you have**
When debugging an installed package that is failing reconciliation, the failure message just states "Reconcile failed: App failed reconciling", which doesn't give much direction to the user. This message also requires the user to move a level below the Packaging APIs and debug an app directly.

**Describe the solution you'd like**
Surface more useful inf

[2021-03-10 22:02] ewrenn8 commented on #88
Im going to close this and add a new issues for air gapped scenarios.

Documentation for package authors can be found at https://carvel.dev/kapp-controller/docs/latest/package-authoring/

[2021-03-10 22:02] #88 closed, assigned to nobody

[2021-03-10 22:03] ewrenn8 commented on #89
Going to close this and add a new issue for airgapped scenarios

Documentation for package consumers can be found here: https://carvel.dev/kapp-controller/docs/latest/package-consumption/

[2021-03-10 22:03] #89 closed, assigned to nobody

[2021-03-10 22:07] ewrenn8 commented on #90
This is available in release v0.17.0-alpha.1+.

Installation instructions for the latest alpha versions containing this can be found [here](https://carvel.dev/kapp-controller/docs/latest/install-alpha/)
Release yaml can be found [here](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging/alpha-releases)

For tracking when this is available in a major release, please follow the

[2021-03-10 22:07] #90 closed, assigned to nobody

[2021-03-10 22:07] ewrenn8 commented on #91
This is available in release v0.17.0-alpha.1+.

Installation instructions for the latest alpha versions containing this can be found [here](https://carvel.dev/kapp-controller/docs/latest/install-alpha/)
Release yaml can be found [here](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging/alpha-releases)

For tracking when this is available in a major release, please follow the

[2021-03-10 22:07] #91 closed, assigned to nobody

[2021-03-10 22:07] ewrenn8 commented on #92
This is available in release v0.17.0-alpha.1+.

Installation instructions for the latest alpha versions containing this can be found [here](https://carvel.dev/kapp-controller/docs/latest/install-alpha/)
Release yaml can be found [here](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging/alpha-releases)

For tracking when this is available in a major release, please follow the

[2021-03-10 22:07] #92 closed, assigned to nobody

[2021-03-10 22:07] ewrenn8 commented on #94
This is available in release v0.17.0-alpha.1+.

Installation instructions for the latest alpha versions containing this can be found [here](https://carvel.dev/kapp-controller/docs/latest/install-alpha/)
Release yaml can be found [here](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging/alpha-releases)

For tracking when this is available in a major release, please follow the

[2021-03-10 22:07] #94 closed, assigned to nobody

[2021-03-10 22:08] ewrenn8 commented on #95
This is available in release v0.17.0-alpha.1+.

Installation instructions for the latest alpha versions containing this can be found [here](https://carvel.dev/kapp-controller/docs/latest/install-alpha/)
Release yaml can be found [here](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging/alpha-releases)

For tracking when this is available in a major release, please follow the

[2021-03-10 22:08] #95 closed, assigned to nobody

[2021-03-10 22:08] ewrenn8 commented on #96
This is available in release v0.17.0-alpha.1+.

Installation instructions for the latest alpha versions containing this can be found [here](https://carvel.dev/kapp-controller/docs/latest/install-alpha/)
Release yaml can be found [here](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging/alpha-releases)

For tracking when this is available in a major release, please follow the

[2021-03-10 22:08] #96 closed, assigned to nobody

[2021-03-10 22:08] ewrenn8 commented on #97
This is available in release v0.17.0-alpha.1+.

Installation instructions for the latest alpha versions containing this can be found [here](https://carvel.dev/kapp-controller/docs/latest/install-alpha/)
Release yaml can be found [here](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/dev-packaging/alpha-releases)

For tracking when this is available in a major release, please follow the

[2021-03-10 22:08] #97 closed, assigned to nobody

[2021-03-10 22:36] ewrenn8 opened #134 "Documentation to help package consumers install and manage packages (air-gapped)"
The consumer flow in the case of an air gapped cluster is slightly different and should have its own docs section.

The main differences are in:
- [ ] Repositories must be relocated
- [ ] Repository CRs must point to internal location

**Hopefully the rest of the flow is the same since kapp-controller will handle image ref replacement**

As a part of this issue, we can also do the following:
- [ ]

[2021-03-11 18:20] aaronshurley opened #135 "Split the package CR"
Drafting a proposal here: https://github.com/vmware-tanzu/carvel/pull/23

[2021-03-11 22:15] ewrenn8 commented on #107
In progress on [branch](https://github.com/vmware-tanzu/carvel-kapp-controller/tree/packaging-better-ip-enqueueing). Needs e2e test

[2021-03-11 23:41] vibhas commented on #133
We should also document some of these troubleshooting/debugging tips on our Packaging docs.

[2021-03-12 18:08] aaronshurley commented on #124
Some things to consider:
- can packages map to more than one package repository?
- can packages be changed (such as being updated with another package repository)?

[2021-03-15 16:39] vibhas commented on #114
Related to #71

[2021-03-15 22:31] ewrenn8 opened #138 "Provide authorization to kbld templating step"
**Describe the problem/challenge you have**
When using an internal private registry, kbld is unable to authorize in order to resolve image digests.

**Describe the solution you'd like**
A way to provide authorization to the kbld templating step, similar to the various fetch stages.

[2021-03-16 21:29] aaronshurley commented on #138
Recommend doing some research and getting some early feedback on how we should format these propterites.

[2021-03-17 15:15] danielhelfand commented on #110
As has been discussed outside this issue, it sounds like we should put together a small proposal around some options for improving the debugging of Apps. In particular, a theme that seems to come up quite a bit with this is displaying error information in a way such that the user can quickly find what happened as opposed to having to dig through stderr output from fetch, templating, deploy, and in

[2021-03-17 19:24] #26 closed, assigned to danielhelfand

[2021-03-17 19:45] danielhelfand commented on #26
This has been added in #127. Just waiting on release to take place for `v0.17.0`.

[2021-03-18 16:13] danielhelfand opened #139 "Determine What Version of kapp-controller is Available on a Cluster"
**Describe the problem/challenge you have**

Unless I look through logs, there is no simple way to determine what version of kapp-controller is installed on a Kubernetes cluster.

**Describe the solution you'd like**

In general, this can be further abstracted through client tools, but it might be easy enough for now to add a label to the kapp-controller deployment that has the version of kapp-con

[2021-03-18 17:22] aaronshurley commented on #86
@danielhelfand Could you share a bit more about how this impacts your workflow now (i.e. this would save x amount of time each time we're in this test suite)? We're trying to determine when/if we should prioritize this.

[2021-03-18 17:24] aaronshurley commented on #81
It sounds like we're open to contributions for this enhancement but it's currently not prioritized in our backlog.

[2021-03-18 17:28] aaronshurley commented on #115
As @ewrenn8 mentioned, there isn't much we can do here. #130 captures a potential error message improvement.

Since @danielhelfand already made the docs updates, can we close out this issue?

[2021-03-18 17:53] #115 closed, assigned to nobody

[2021-03-18 21:53] danielhelfand commented on #86
It would basically allow developers working on kapp-controller to test things in a non e2e fashion, which means less dependencies (i.e., a Kubernetes cluster, setting environment vars for tests) are needed and feedback can be received faster since the tests should run quicker. Currently, some of our e2e tests can some times take 2 minutes to run. So it can be challenging getting quick feedback whe

[2021-03-18 22:42] cppforlife commented on #139
currently you can also identify git sha by looking at kbld's images annotation on kapp-controller Deployment and look in the git repo what that sha correlates to.

[2021-03-19 17:21] aaronshurley commented on #86
Thank you for the explanation. If this is low-hanging fruit then please feel free to drag it into the backlog where it makes sense.

[2021-03-19 19:42] ewrenn8 opened #141 "Expose configuration to specify app deletion should be a noop."
**Describe the problem/challenge you have**
Sometimes it is desirable to have app deletion be a noop instead of running kapp delete.

For example, if kapp-controller is managing apps on a separate workload cluster and the cluster is being deleted, kapp-controller will attempt to delete all apps. Some of the apps that are managed may have installed resources that are critical to the functioning of

[2021-03-19 19:44] ewrenn8 opened #142 "Explore: Provide way to determine what permissions are needed for installing a package"
**Describe the problem/challenge you have**
Currently, kapp-controller requires a service account to install an AppCR. When installing packages, it may not be clear to the user what permissions are required to create the resources within the package, which may result in them providing too many permissions.

**Describe the solution you'd like**
Some way for a user to know which permissions are requ

[2021-03-19 21:09] vibhas opened #143 "Package repo reconciler should pass all the packages it is going to install through kbld before installation"
Package repo reconciler should pass all the packages it is going to install through kbld before installation (including the images.yml if its a bundle). This is needed for the air-gapped scenario.

[2021-03-19 21:11] vibhas commented on #108
Moved the task "Package repo reconciler should pass all the packages it is going to install through kbld before installation (including the images.yml if its a bundle). This is needed for the air gapped case" to a new [issue](https://github.com/vmware-tanzu/carvel-kapp-controller/issues/143)

[2021-03-22 20:55] vibhas opened #145 "Authentication against private registry when installing a PackageRepository and an PackageInstall"
**Describe the problem/challenge you have**
It is possible that the Package Repository bundle or the Package contents bundle are located in a registry that requires authentication for access. Currently, the package consumers do not have any way to authenticate against a registry when installing a PackageRepository CR or a PackageInstall CR.

[2021-03-22 21:23] aaronshurley commented on #110
Including `Explore` in the title of this issue so that we can work on a proposal for addressing this. Once a proposal is defined, we'll provide (or link to it) here.

[2021-03-22 21:25] aaronshurley commented on #133
Awaiting the results of https://github.com/vmware-tanzu/carvel-kapp-controller/issues/110 before we decide what to do with this issue.

[2021-03-22 21:27] aaronshurley commented on #134
If we get to this issue before recursive bundles are available in imgpkg, consider drafting the documentation to inform any design decisions. It's also fine to postpone this documentation until recursive bundles are available in imgpkg.

[2021-03-22 21:34] aaronshurley commented on #109
We deprioritized this issue a bit for the following reasons:
- we want to see what we address in https://github.com/vmware-tanzu/carvel-kapp-controller/issues/110
- if we're able to move away from App ([issue](https://github.com/vmware-tanzu/carvel-kapp-controller/issues/108)), then this work would change

[2021-03-22 21:43] aaronshurley commented on #69
Marking this issue as `Explore` so that we can spend some time defining a solution (and desired UX) for this.

[2021-03-22 21:57] aaronshurley commented on #104
We see two options here:
1. kapp-controller leverages templating engine (such as ytt schemas) for this functionality. At this point, ytt schemas is not yet available. (estimate: 1)
2. kapp-controller performs this functionality outside of templating. This option is less desirable. It could be complex for kapp-controller to combine multiple values documents. (estimate: 3)

[2021-03-22 22:02] ewrenn8 commented on #69
@cppforlife I am leaning towards the second improvement of exiting the regular reconciliation when we notice a deletion event has occurred as a solution to this issue. Any more thoughts you have on this or is that an alright path forward?

[2021-03-22 22:16] aaronshurley commented on #145
Adding `Explore` to this story so that we can define/propose a solution.

[2021-03-22 22:24] aaronshurley commented on #114
Adding `Explore` to define/propose a solution.

Reasonable solutions could be:
- improving the error message that's returned to the user
- providing documentation about this

[2021-03-22 22:33] aaronshurley commented on #56
Adding `Explore` to this issue to further define/propose a solution.

Some things to explore:
- events API
- client-side vs server-side considerations
- whether this should live in kapp itself?

Blocking this on #110.

[2021-03-22 22:40] aaronshurley commented on #119
Updating this issue as an `Explore` to define/propose a solution.

[2021-03-23 22:25] danielhelfand commented on #129
Will users need to utilize `fileMarks` added in #144 to denote unannotated files are data values files? Or did you envision further abstracting this such that the `--file-marks` option is always provided for paths in this case?

[2021-03-24 13:49] danielhelfand commented on #141
Capturing some notes here from Slack:

[2021-03-24 18:00] ewrenn8 commented on #114
related: #34

[2021-03-24 18:06] ewrenn8 commented on #129
I think we will abstract that, but I haven't given it too much though yet since the ytt proposal was still being nailed down

[2021-03-24 18:06] ewrenn8 commented on #25
Hey @voor we are hoping to add a feature similar to this one once ytt adds support for specifying [plain yaml is a data values file](https://github.com/vmware-tanzu/carvel-community/blob/0fb83d70657cb27c18c3ac8c48538bf15cd145e3/proposals/ytt/002-raw-data-values/README.md). The issue for that feature is #129 if you wanted to keep an eye on that and provide any feedback/determine if it meets the int

[2021-03-24 18:12] voor commented on #25
This will have the added benefit of solving another issue with sops encrypted files losing the initial annotations, not sure if there's also an issue for that one I've created... :shopping:

[2021-03-24 18:12] ewrenn8 commented on #19
I am going to close this in favor of the new [Packaging APIs](https://carvel.dev/kapp-controller/docs/latest/packaging/) that will fulfill this use case. These APIs are still in an alpha state, but you can track their progress via #87, and provide any feedback on the associated issues!

[2021-03-24 18:12] #19 closed, assigned to nobody

[2021-03-24 18:15] ewrenn8 commented on #18
Hey @iancoffey @cppforlife, do the in progress [packaging APIs](https://carvel.dev/kapp-controller/docs/latest/packaging/) satisfy the ask of this issue, or is there a different use case that still necessitates the need for an AppSet?

[2021-03-24 18:17] ewrenn8 commented on #16
Hey @voor, we are currently working on a feature to allow specifying an app should have a noop deletion here #141. Do you think this would solve this use case as well?

[2021-03-24 18:22] voor commented on #16
Yes, although we've also gotten into a habit of just removing the finalizer and deleting the App CR.

[2021-03-24 18:34] ewrenn8 commented on #16
I am going to close this in favor of #141 then. Thanks!

[2021-03-24 18:34] #16 closed, assigned to nobody

[2021-03-24 18:35] ewrenn8 commented on #25
Great! Closing in favor of #129 then. Feel free to reopen if you think this has other needs that aren't handled by that issue. Thanks!

[2021-03-24 18:35] #25 closed, assigned to nobody

[2021-03-24 21:39] aaronshurley commented on #120
Thanks for creating this issue. We see the value in this request but are not planning to prioritize this immediately in our backlog. Contributions are welcome :)

[2021-03-24 21:45] aaronshurley commented on #103
Thanks for capturing this. This makes sense but does have some serious implications regarding breaking changes, as you called out. We'll move this to the Unprioritized Backlog for now.

[2021-03-25 18:36] danielhelfand commented on #142
Are we thinking documentation is the solution here? We do not currently have a dedicated section for rbac.

[2021-03-25 19:18] ewrenn8 commented on #33
One other consideration for a helm v3 fetch stage is should we allow users to pull charts from OCI registries via the `helm chart pull` command

[2021-03-25 19:47] danielhelfand commented on #113
Thanks for opening this @making. I think the use case here makes sense.

Not sure at this point when this will be prioritized, but I think we would be open to any submissions on this.

[2021-03-29 16:44] #121 closed, assigned to danielhelfand

[2021-03-29 16:44] #141 closed, assigned to danielhelfand

[2021-03-29 21:49] vibhas commented on #122
Adding "Explore" to this issue to work on a proposal. Moving this up in the backlog to give us time to get the proposal reviewed.

[2021-03-29 21:58] vibhas commented on #108
Adding "Explore" to this issue so that we can create a proposal.

[2021-03-30 02:55] vibhas opened #147 "kapp-controller should handle the case when same package+version is present in multiple Package Repositories"
**Describe the problem/challenge you have**
Packages can come either directly from a user or sourced from one or more package repositories. This gives rise to the problem of colliding packages. More specifically, if there are two distinct sources, each providing a package with the same name as the other, but with a different spec, there is no reliable way for kapp-controller to determine which pac

[2021-03-30 03:32] vibhas opened #148 "kapp-controller should do basic structure validation of values provided in InstalledPackage"
**Describe the problem/challenge you have**
As a Package Consumer, I need to know the details about the configuration that is accepted by a package and I should be able to have confidence that the values provided by me are in the correct format and valid.

This problem has been divided into three issues:
- Package consumers do not have an easy way to discover the list of configurations that are pr

[2021-03-30 04:48] vibhas opened #149 "kapp-controller should leverage ytt schemas for configuration validation"
**Describe the problem/challenge you have**
As a Package Consumer, I need to know the details about the configuration that is accepted by a package and I should be able to have confidence that the values provided by me are in the correct format and valid.

This problem has been divided into three issues:
- Package consumers do not have an easy way to discover the list of configurations that are pr

[2021-03-30 16:33] danielhelfand opened #150 "Remove multiple logs of InstalledPackage Reconcile Request"
**What steps did you take:**

Created an InstalledPackage and looked at the kapp-controller logs.

**What happened:**

4 log lines for the same InstalledPackage creation:

[code]

**What did you expect:**

One log line for the InstalledPackage reconcile request.

**Anything else you would like to add:**

It seems part of this issue is that the InstalledPackage has the same log output twice for the

[2021-03-30 17:03] danielhelfand commented on #147
I think it is a completely valid use case that a PackageRepository may have the same exact Package that a PackageRepository already created on the cluster has. In this case, it would be great to allow the creation of the PackageRepository with the overlapping Package to be created successfully.  It would be interesting also handling deletion in this case as the deletion of the PackageRepository co

[2021-04-01 14:46] danielhelfand opened #151 "Support Naming Directories Where Fetch Contents will be Stored"
**Describe the problem/challenge you have**

As documented in this [code comment](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/858ec7e7713c5185bf571cfd5af720a47c8f035c/pkg/app/app_fetch.go#L27), fetched contents are stored in subdirectories since vendir doesn't allow placing contents in the vendir root.

The current approach is to use a number starting at 0 and increment for each fe

[2021-04-01 17:13] aaronshurley commented on #142
Let's keep this issue so that we document the permissions necessary for now.

If we want to think of a better way to address this, we can create a follow-up issue.

[2021-04-01 18:09] danielhelfand commented on #145
Documenting some recent conversation around this issue, but there is still no clear consensus on the right approach for this issue.

One interesting point is about whether Package consumers should need to provide credentials to install a Package. From an auditing standpoint, it would make sense to have a private registry be accessible by particular users and then allow that user to provide credent

[2021-04-01 18:13] danielhelfand commented on #122
Updating this issue with some recent conversation around supporting this:

We are looking to collect more use cases around this feature before moving forward with any proposal. All ideas around how to make use of this feature are welcome to help better inform the final proposal.

[2021-04-01 18:20] ewrenn8 commented on #114
Hey @benmoss,

After some discussion, we've decided the best thing we could do here is to update the error message with a bit more info. Since kapp-controller will be deleting resources, we need a service account that has the roles needed to do the deletion, so that we know it is allowed from an rbac standpoint. This means if the service account can't be found, kapp-controller won't be able to del

[2021-04-01 18:21] danielhelfand commented on #114
We will also explicitly document how to resolve this issue in kapp-controller docs.

As part of documenting how to address this issue, something we will need to call out is what are minimum rbac permissions needed for the serviceaccount to resolve this issue so a user can proceed with deleting the App.

[2021-04-01 20:41] migmartri commented on #53
Hi!

Helm V2 maintenance support [ended on November 2020](https://helm.sh/blog/helm-v2-deprecation-timeline/) and the Helm community seems (based on limited empirical evidence) to have moved on to V3. Do we really need to support Helm V2 templating? Maybe not maintaining V2 could simplify the upgrade?

Thanks!
Miguel

[2021-04-01 20:57] benmoss commented on #114
If I had to guess why it's not straightforward:

Since it never had the service account in the first place it didn't create anything, but the tricky bit is knowing that for certain. You might also be in a situation where the service account existed, resources were created, and then the service account was deleted, and so knowing the difference would mean caching that state of "i created x, y, z" o

[2021-04-02 14:52] cppforlife commented on #114
ah, this is a good case to address.

[2021-04-02 20:59] vibhas opened #153 "[Post-MVP] Package Manager API"
We are planning to provide a set of APIs for Package Management in kapp-controller that can be used by
- Software authors to package and distribute their software
- Software consumers to install that software and manage its lifecycle on a Kubernetes cluster

This epic captures the work that needs to be done post-MVP for Package Management.

**Package Manager API MVP**
The issues that will be a par

[2021-04-05 17:35] ewrenn8 commented on #114
I will update this issue to call out fixing that specific case and create another one for improving docs or error messages for the case resources do exist.

### Problem statement

Kapp controller currently doesn't distinguish between deletes that will delete resources and deletes that just require deleting the App CR. This means, when a service account is missing, kctrl refuses to perform a delete

[2021-04-05 17:52] #131 closed, assigned to ewrenn8

[2021-04-05 18:54] migmartri commented on #53
I am happy to work on this if you are ok with it. Feel free to assign this issue to me so we do not duplicate efforts!

[2021-04-05 23:32] ewrenn8 commented on #143
Added in a7566dd and released in `v0.18.0-alpha.5`. I am going to close this. We can handle multiple nested repos in a post MVP issue.

[2021-04-05 23:32] #143 closed, assigned to nobody

[2021-04-06 02:23] jessehu commented on #131
Thank you all very much 👍

[2021-04-06 16:55] aaronshurley commented on #142
Notes:
- Turning this into an exploration so that we can propose an API change.
- Consider adding details to the package author workflow adding metadata fields (annotations) that include permissions requirements. As the package author, they'll have knowledge regarding permissions that will be required to install the package.

[2021-04-06 18:11] danielhelfand commented on #71
Closed by #146

[2021-04-06 18:11] #71 closed, assigned to nobody

[2021-04-06 19:04] migmartri commented on #53
Hi,

Assuming that the scope of this effort is just to be able to render templates for charts.apiVersion=v2, only compatible with Helm v3+, while maintaining either full, best effort or no support for current charts.apiVersion=v1 ([not maintained upstream anymore](https://helm.sh/blog/helm-v2-deprecation-timeline/)).

I can see two possible ways to tackle the problem, always following the same pat

[2021-04-06 19:47] vibhas commented on #53
Hi @migmartri, thanks for offering your help! We were just about to reply to your previous comment stating that it would be great to get your contribution on this issue and if you could share how you might want to approach it so that the team can offer their thoughts before you spend the effort to implement it.

Looks like you are already on top of it! :-) I am going to tag few folks so that they

[2021-04-06 22:09] vibhas opened #155 "Improve the documentation around Security Model"
**Describe the problem/challenge you have**
We need to improve our documentation around Security Model to clarify the following things for our users:
- The current [Security Model](https://carvel.dev/kapp-controller/docs/latest/security-model/) doc is focused on AppCR. We should add more details with respect to the new Packaging APIs as well.
- We should add more clarification that the Package con

[2021-04-06 22:22] vibhas opened #156 "Introducing new metadata fields for Package CR"
**Describe the problem/challenge you have**
Currently, we support _publicName_ and _version_ as first-class fields for metadata that needs to be defined in a Package CR. However, there might be more things that the Package authors will need to provide in their packages. This issue has been created to track all the metadata that needs to be supported as first-class fields in Package CR.

- **Packag

[2021-04-06 23:12] danielhelfand commented on #110
In researching this issue a bit further and balancing other perspectives on the topic, we aren't sure about moving forward with an Events approach to improve the debugging/progress experience of App CRs.

One thing that we cannot accomplish through the App CR through Events is showing the deployment status of each associated resource with the App CR. This is because the stdout is coming through a

[2021-04-12 19:16] cppforlife opened #161 "Add ability to mark pkg repository as "view-only" so that packages are not available to be installed"
**Describe the problem/challenge you have**

It might be useful for user to add a package repository to view its contents but not have kapp-controller use it for installation (as part of auto updates).

this is also useful for when you would like to add a pkg repo to a mgmt cluster to view contents, but do not want those packages be available for install on the mgmt cluster itself.

[2021-04-13 14:10] danielhelfand commented on #161
I could see this being helpful if someone wants to know more about a PackageRepo before making its Packages available to end users. Will accept this.

[2021-04-13 14:39] danielhelfand opened #163 "PackageRepo secretRefs need to exist in kapp-controller namespace"
**What steps did you take:**

Create a PackageRepository with a `secretRef` for fetching an image. A private registry that requires authentication is how this originally came up.

[code]

**What happened:**

The secret for the image secretRef was available on the cluster, but the image for the PackageRepo could not be fetched because the secret for the secretRef could not be found.

This is becaus

[2021-04-13 17:39] danielhelfand commented on #133
While it is a bit unclear about what the best way to fully close #110 is, there has been some work done in #157 and #159 that we can use to move forward with this issue. The current thought process is to at the very least surface the `UsefulErrorMessage` introduced in #157 through the InstalledPackage status. This will help present the most recent error of the underlying App CR to end users such t

[2021-04-14 17:08] cppforlife commented on #163
we've previously also said that there is no gurantee that we will keep on using App CR as PackageRepo backing mechanism so this issue may really be blocked on decision of how to implement PackageRepository.

[2021-04-16 14:26] cppforlife opened #165 "Add validations for Packages and PackageVersions"
**Describe the problem/challenge you have**

Currently, we have no validations on Package CR or PackageVersion CR. In order to promote best practices among package authors, we should add following validations:

- In order to avoid accidental conflicts within packages, Package name should be a FQDN made up of three segments separated by "."s and does not have a trailing "."
- PackageVersion metadat

[2021-04-16 16:37] aaronshurley commented on #119
We have completed the work that's needed for the MVP plan, but there is still work captured in this issue that we'd like to address in the future. We'll keep this issue open but move it to the Unprioritized Backlog.

[2021-04-16 20:24] danielhelfand opened #166 "Merge dev-packaging into develop"
With release v0.18.0, there should now be no blockers for merging the packaging API work into develop. This issue is mainly serving as a way to track the work to be done to merge this branch in.

Before moving forward with this, some questions we should consider are as follows:
* How would we like to go about reviewing the changes being introduced?
* What should be our approach to squashing commit

[2021-04-16 20:35] danielhelfand commented on #165
The error returned in this case should probably have some kind of hint to suggest using the naming standard for packages.

[2021-04-16 20:48] danielhelfand opened #167 "Documentation should include how packages can authenticate against private registry"
Currently, the kapp-controller packaging docs do not include recommended examples on how an InstalledPackage can reference a Package that requires authentication against a private registry.

As of now, it seems like for this to take place, a package author needs to configure the package with a `secretRef` for the image or imgpkg bundle. The user then must have this secret created in the namespace

[2021-04-18 22:26] cppforlife opened #168 "should we calculate next desired reconcile time from the last deploy time"
**Describe the problem/challenge you have**

currently it's calculated from the last fetch time. in my case my fetch+template+deploy was taking ~30s, which means as soon as this deploy finished, next cycle was already ready to go.

should we switch to check against lastUpdatedAt for deploy? what would SINCE-DEPLOY field show in kubectl get?

[2021-04-19 16:41] ewrenn8 commented on #168
This was changed when adding the backoff logic because using last deploy would make backoff less useful in certain cases. One big reason I've heard for adding backoff is to not overwhelm fetch sources when an app is failing. The logic is set up in such a way that if we use last deploy, a newly created app that fails in the fetch or template steps will be enqueued immediately, since backoff is calc

[2021-04-19 18:31] #53 closed, assigned to migmartri

[2021-04-19 19:43] cppforlife commented on #168
i think it's fair that if deploy isnt set, we need to use something else.

[2021-04-19 21:49] cppforlife commented on #120
vendir started supporting this in latest version. waiting for the bump.

[2021-04-20 18:12] jorgemoralespou commented on #124
Some thoughts here, so they are not lost:

- Packages are keyed by metadata.name
- A Package with a name xyz can be contributed by multiple PackageRepositories, so names are not trully unique
- Multiple PackageRepositories can have Packages defined with the same metadata.name. There needs to exist some conflict resolution mechanism in kapp-controller.
- A Package installed on the cluster needs to

[2021-04-20 20:33] ewrenn8 opened #172 "Rename Packaging API groups"
In order to make the grouping of packaging resources clearer, we would like to rename the api groups. Here are the suggested names, but these are definitely open to iteration:
[code]

[2021-04-21 13:16] cppforlife commented on #172
where would InternalPackaging live?

[2021-04-26 13:28] cppforlife opened #177 "When removing an InstalledPackage, kapp-controller should wait for the underlying App CR to be removed"
**Describe the problem/challenge you have**

currently if i run `kubectl delete installedpackage foo` it will succeed and resource will be gone even though underlying App CR is still there (and terminating). should we have a finalizer that blocks installedpackage "removal" until App CR is removed?

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prior

[2021-04-26 14:50] danielhelfand commented on #177
I think it makes sense that the InstalledPackage deletion should wait for a successful App deletion. If there is an error with the App deletion, it would be difficult for a user to troubleshoot since we don't want users to have to be aware that an App is created for an InstalledPackage.

My question would be how can we consistently reproduce this problem?

[2021-04-26 21:27] vibhas commented on #156
Question during IPM: Should we have character limits for some of these metadata (for eg: Short Description). A benefit of doing that is that we could show the short description in our tabular format when listing packages.

[2021-04-26 21:40] vibhas commented on #165
Maybe we can handle this validation in this [issue](https://github.com/vmware-tanzu/carvel-kapp-controller/issues/117)?

[2021-04-27 13:06] cppforlife commented on #177
have an app cr that doesnt delete immediately. you can add a finalizer to any resource which would make that resource be blocked until that finalizer is gone.

[2021-04-27 13:18] cppforlife commented on #165
schema issue unfortunately will not help us with validating this specific naming requirement.

[2021-04-27 13:20] cppforlife commented on #166
i think this is done. closing.

[2021-04-27 13:20] #166 closed, assigned to ewrenn8

[2021-04-27 15:41] ewrenn8 commented on #165
Because it served by agg api?

[2021-04-27 17:32] cppforlife commented on #165
oh my bad, i reread the issue. seems like that issue was modified to do more stuff beyond schema. all i was trying to describe that schema by itself cannot check for for this afaik.

[2021-04-27 17:58] ewrenn8 commented on #165
I was thinking we could use the pattern validation included in the structural schema example in these [docs](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#specifying-a-structural-schema), but I forgot these aren't CRDs anymore, so we aren't even specifying schemas for them.

[2021-04-27 18:21] cppforlife commented on #120
support is in v0.19.0

[2021-04-27 18:21] #120 closed, assigned to nobody

[2021-04-27 19:52] cppforlife commented on #172
i wonder if PackageRepository and Package should be in the same group because they both configure cluster in particular way. on top of that, we also allow "free range" Package CRs which is equivalent to loading up PackageRepo with bunch of Package CRs.

[2021-04-27 22:09] ewrenn8 commented on #172
Not sure I understand. InternalPackage would be under the `internal.packaging.carvel.dev` api group.

I believe this means PackageRepository would need to be served by the aggregated API server as well, since aggregated api servers are registered by api group.

[2021-04-28 16:30] ewrenn8 commented on #109
Released in `v0.19.0-alpha.6`

[2021-04-28 16:31] #109 closed, assigned to ewrenn8

[2021-04-28 16:32] ewrenn8 commented on #107
Released in `v0.18.0-alpha.5`

[2021-04-28 16:32] #107 closed, assigned to ewrenn8

[2021-04-28 16:32] ewrenn8 commented on #133
Released in `v0.19.0-alpha.6`

[2021-04-28 16:32] #133 closed, assigned to danielhelfand

[2021-04-28 16:35] ewrenn8 opened #179 "Watch kapp-controller-config configmap and apply updated config"
**Describe the problem/challenge you have**
Currently, kapp-controller loads and applies the kapp-controller-config configmap at startup. This means if the configmap is updated, the kapp-controller pod will need to be restarted in order to pick up that changes.

**Describe the solution you'd like**
kapp-controller should dynamically reconfigure itself if there are updates to the configmap.

**Anyt

[2021-04-28 16:38] ewrenn8 opened #180 "Wait for apiserver to be healthy before continuing"
**What steps did you take:**
Deploy kapp-controller with api server

**What happened:**
kapp-controller pod occasionally fails to start with the log message:
[code]

This indicates we tried to start the controller runtime manager before the api server had successfully started and registered its resources.

**What did you expect:**
kapp-controller to always start up successfully

**Anything else yo

[2021-04-28 20:14] cppforlife commented on #172
it says `# we intend to delete this group` next to internal group. sounds like we keeping it?

ah shit, that's too much work.

[2021-04-28 20:47] ewrenn8 commented on #172
Yea, I just meant later on when we come to a conclusion on storage mechanism for packages, we can delete the internal group.

[2021-04-29 10:10] jessehu commented on #179
👍

[2021-04-29 17:13] #134 closed, assigned to danielhelfand

[2021-04-29 18:06] #180 closed, assigned to ewrenn8

[2021-04-29 18:07] ewrenn8 commented on #135
Blocked on [splitting package proposal](https://github.com/vmware-tanzu/carvel-community/pull/30)

[2021-04-30 00:12] vibhas opened #183 "kapp-controller should not downgrade the installed package if the current Package CR is removed"
**Describe the problem/challenge you have**
Suppose the following is true on the cluster:

- Repo 1 is available on the cluster with Package CR "my_package v1"
- Repo 2 is also available on the cluster with Package CR "my_package v2"
- An InstalledPackage CR is deployed to install the latest version of the my_package
- Based on the InstalledPackage CR, kapp-controller will install "my_package v2"

[2021-04-30 20:31] blc1996 opened #184 "InstalledPackage should take over the existing App CR"
**Describe the problem/challenge you have**

Currently, we use App CR to deploy core addons like CNI and CPI. We want to migrate these core addons to packaging API.

During the cluster upgrade, core addons like CNI and CPI should continue to work without interrupt. That is when we apply the InstalledPackge in the upgraded cluster, the old App CR should be seamlessly taken over by the newly applied

[2021-04-30 23:10] ewrenn8 opened #186 "Add upgrade testing"
**Describe the problem/challenge you have**
We dont have any tests that verify upgrading is possible

**Describe the solution you'd like**
A test that will fail if kapp-controller can't be smoothly upgraded

**Anything else you would like to add:**

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the

[2021-05-03 14:15] danielhelfand commented on #184
Thanks for opening this @blc1996. One thing we should consider with this is the case when a user doesn't expect this to happen (i.e. a user has an App CR created but doesn't want an InstalledPackage with the same name of the App to take over the already created App).

We should maybe consider adding a property to the App CR spec so users can avoid an InstalledPackage using the already created App

[2021-05-03 16:49] danielhelfand opened #187 "Docs: Section on Upgrading to Packaging CRs from Existing App CRs"
Users of kapp-controller who have been using App CRs for existing workloads may eventually want to change to using packaging CRs with kapp-controller. There should be kapp-controller docs created that point out key factors to accomplish this update. The use case of these docs is captured in #184 and this issue may depend on the outcome of this [comment in #184](https://github.com/vmware-tanzu/carv

[2021-05-03 21:33] aaronshurley commented on #165
We're going to block this until the [open proposal](https://github.com/vmware-tanzu/carvel-community/pull/30) is accepted.

In the interim, we should at least capture this guidance in the docs.

[2021-05-03 21:56] vibhas commented on #108
We are thinking to make this a stretch goal for Packaging MVP. If we make this change post-MVP, there is an additional thing that we need to consider - when kapp-controller is upgraded, it will have to delete all the associated App CR for each Package Repository and then create them using the new mechanism that we decide as part of this issue.

[2021-05-03 21:57] vibhas commented on #122
We decided to move this issue to Post-MVP.

[2021-05-04 03:50] vibhas opened #188 "kapp-controller should handle the case when the same package is present in multiple repositories"
**Describe the problem/challenge you have**
Packages can come either directly from a user or sourced from one or more package repositories. This gives rise to the problem of colliding packages. More specifically, if there are two distinct sources, each providing a package with the same name as the other, but with a different spec, there is no reliable way for kapp-controller to determine which pac

[2021-05-04 03:52] vibhas commented on #188
@ewrenn8, I created this issue as a placeholder to capture all things about package collision.

[2021-05-04 19:36] ewrenn8 commented on #156
Included in `v0.19.0-alpha.7`

[2021-05-04 19:36] #156 closed, assigned to ewrenn8

[2021-05-05 14:57] danielhelfand commented on #104
Linking to this `ytt` epic on [schema generation](https://github.com/vmware-tanzu/carvel-ytt/issues/357). Will be useful for creating schemas for Packages.

Would be nice for us to find a way to actually add the generated schemas to our Package CRs to avoid any copying over of the schema. Like a schema patch approach where `ytt` knows where to add the schema for Package CRs.

[2021-05-05 15:09] vibhas commented on #104
@danielhelfand regarding your previous comment just wanted to clarify that for this issue (104), we are assuming that the Package Authors will manually create the OpenAPI schema in the Package CR. Once that ytt epic on schema generation is available, the authors will not have to do it manually.

[2021-05-05 16:08] tsfrt opened #189 "kapp controller should support nested imgpkg bundles"
**What steps did you take:**
I am attempting to utilize imgpkg to deploy a set of nested imgpkgs that are used to release versioned applications.  I would like to nest specific versions into a parent imgpkg that is curated for a specific deployment target.

I have created an imgpkg with 2 nested image packages.  I am able to do a pull recursive on the image package and I see both bundles in the .i

[2021-05-05 21:33] #117 closed, assigned to danielhelfand

[2021-05-05 21:40] #168 closed, assigned to nobody

[2021-05-05 22:38] ewrenn8 commented on #189
Opened related [PR in vendir](https://github.com/vmware-tanzu/carvel-vendir/pull/63). Once thats merged, we can update kc to leverage it

[2021-05-06 21:15] danielhelfand opened #193 "Make More App CR Properties Available Through InstalledPackage CR"
**Describe the problem/challenge you have**

As a user of kapp-controller's packaging APIs, I would like the ability to configure all relevant App CR properties through the creation of an InstalledPackage. Currently, users are limited to only some of the relevant properties of an App CR.

**Describe the solution you'd like**

Expose the following properties on the InstalledPackage spec:

[code]

*

[2021-05-06 21:27] shyaamsn commented on #193
Thank you for raising this issue. It might be worthwhile to also expose kapp deploy options since those might depend on cluster they are deployed. e.g. waitTimeout might need to be higher for a cluster with slow outbound connectivity

[2021-05-07 17:24] cppforlife opened #194 "add status info in "kubectl get packagerepository" similar to installedpackages"
**Describe the problem/challenge you have**

just seeing this which is a bit too little to understand the state of package repository:

[code]

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this addressed as soon as possible"
👎 "There are o

[2021-05-10 19:05] blc1996 commented on #184
Hi @danielhelfand , thanks for replying. I tried to use the InstalledPackage to take over the App CR of the same namespaced name. It seems that the current default behavior is that the App CR will be taken over by the InstalledPackage, and this is what we want. We synced with @cppforlife , and according to him, this should be expected and some test could be added in Carvel side to ensure this beha

[2021-05-10 23:35] shivaani0505 opened #195 "PackageRepository Apps should be created in the namespace where kapp-controller is deployed"
**Describe the problem/challenge you have**
As of now, we do not have support for deploying kapp-controller in different namespace.
Latest alpha release uses kapp-controller namespace. As of now, I have to manually delete installed kapp-controller and re-install new kapp-controller so that all the apps can be successfully deployed and reconciled.
e.g: PackageRepositories might currently depend on

[2021-05-11 15:17] danielhelfand commented on #195
@shivaani0505 Thanks for opening this issue. We actually have a couple open issues that capture the essence of the problem here (#163 and #108). We are thinking the long term solution to this will be that PackageRepositories do not rely on App CRs for fetching packages as currently implemented. We could implement a temporary workaround for this, but the referenced issues are top of our backlog and

[2021-05-11 16:51] danielhelfand opened #196 "Change PackageRepository Log Message from Reconciling InstalledPackage to PackageRepository"
Just making a note here that the log message for reconciling PackageRepositories says `Reconciling InstalledPackage...` instead of `Reconciling PackageRepository...`. It should be updated to avoid any confusion interpreting log messages.

https://github.com/vmware-tanzu/carvel-kapp-controller/blob/27a5c47594740b9e25b14a53d88b2155fa9362de/pkg/pkgrepository/pkgrepository.go#L63

---
Vote on this req

[2021-05-11 17:21] #104 closed, assigned to danielhelfand

[2021-05-12 08:17] fjagugar opened #197 "Allow to reference in a Package to an imgpkgBundle present in a private repo referencing images outside that private repo"
**Describe the problem/challenge you have**

I have a Package that points to an imgpkgBundle which is in a private registry. Currently, using the `secretRef` attribute, I'm able to point to the credentials placed in the cluster to pull that imgpkgBundle. When fetching this imgpkgBundle, kapp-controller seems to validate the images referenced inside the images lock file placed inside the bundle. In

[2021-05-12 23:14] danielhelfand commented on #196
Closed by #198

[2021-05-12 23:14] #196 closed, assigned to nobody

[2021-05-14 14:56] #194 closed, assigned to danielhelfand

[2021-05-14 16:51] jorgemoralespou opened #201 "Taint old/faulty Packages from being installed"
**Describe the problem/challenge you have**
I need a way to reject attempts to install an older version of a package because it has a critical bug, and there is a newer version of the package available w/the fix.
When I have a package that has a bug I will probably create a new version that fixes it, and I want to prevent any new consumer of the package to install the faulty version.

**Describe t

[2021-05-15 02:01] ewrenn8 opened #203 "Namespace Packaging API resources"
**Describe the problem/challenge you have**
Packaging API resources should be namespaced. This will enable more multi-tenant workflows and provide more flexibility to consumers.

**Describe the solution you'd like**
For Packcages, there should be a "global" namespace which will contain packages available to all other namesapces. A combination of namespace and global namespace packages will be pres

[2021-05-15 23:37] cppforlife commented on #165
for record keeping, lets also validate that PackageVersion's metadata.name starts with its `spec.packageName + "."`

[2021-05-15 23:56] cppforlife commented on #201
one thing we need to consider is what it means for InstalledPackages that already use "bad" package version. from k8s perspective it's typically not recommended to differentiate between create vs update behaviour so distinguishing between user installing this version from scratch and user is changing values for already installed "bad" version is problematic.

so may be more concretely, we are look

[2021-05-17 07:53] fjagugar commented on #197
I've performed extra investigations on this, and I noticed that what is causing this issue is actually imgpkg tool when pulling the bundle. I've been able to reproduce this by executing imgpkg pull command passing a token, so it seems the issue is not related to kapp-controller and there's nothing that can be changed on kapp-controller for solving this.

~~Based on this, I'm going to close the iss

[2021-05-17 18:21] jorgemoralespou opened #204 "Support cert-manager certs for custom CA"
**Describe the problem/challenge you have**
As a user of kapp-controller, I have cert-manager installed and configured with a custom CA stored in a secret and then I have a  ClsuterIssuer to generate our own certificates:

[code]

I would want to be able to easily configure kapp-controller with a reference to my secret and not require to provide the raw cert again in kapp-controller's ConfigMap as

[2021-05-17 22:00] ewrenn8 commented on #165
We can probably just leverage [this validation](https://github.com/kubernetes/kubernetes/blob/4d4b530114a6a160c0366673c73de607eeb54453/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L78) for this?

[2021-05-18 11:33] fjagugar opened #205 "Package Authors should be able to validate their packages locally"
**Describe the problem/challenge you have**

I'm building a PackageRepository image bundle containing several Packages in it locally. I would like to have a way to verify that all of them are correct before pushing the bundle to a registry and deploying them into my cluster.

**Describe the solution you'd like**

I would like to have a command line that I could execute locally to verify that the c

[2021-05-18 14:39] danielhelfand commented on #205
Thanks for opening this @fjagugar. We have had similar requests in the past for some kind of CLI tooling that is specific to kapp-controller (#56). We are not planning any work in this area in the immediate future, but would welcome ideas around this and also encourage POC kind of work if anyone feels up to it for the time being.

Some initial questions:

Can you expound on what is meant by this?

[2021-05-18 19:39] voor commented on #203
This certainly makes sense how it's phrased here.

If there could be some sort of "sanity check" somewhere that triggers a Package including a CRD as "it's highly recommended this be a global namespace Package" we can provide provide good guidance and best practices to Package developers on the dangers of namespaced Packages.

[2021-05-18 21:03] #193 closed, assigned to danielhelfand

[2021-05-19 15:11] cppforlife commented on #165
that might be a bit too strict for version suffix etc.

[2021-05-19 16:37] vibhas commented on #203
Adding a note here that we could consider.

As a consumer, I may want to check the list of Package Repositories added to my cluster before adding a new one. So, it might be helpful to also list the repositories that are available on a global namespace.

[2021-05-20 14:47] voor commented on #123
This seems like it'll be fairly critical for adding in things like sops that is not explicitly declared in certain packages.

[2021-05-21 10:29] fjagugar commented on #205
Yes, for now the ones I would like to validate are [Package](https://carvel.dev/kapp-controller/docs/latest/packaging/#package-cr) and [PackageRepository](https://carvel.dev/kapp-controller/docs/latest/packaging/#packagerepository-cr) ones.

[2021-05-25 17:46] cppforlife commented on #123
we want to take our time designing first class feature (on InstalledPackage CR) for using ytt overlays on top of ytt templates, helm templates, and other templaters.

meanwhile to accommodate advanced users, we will add an experimental feature that would allow to provide custom ytt overlays for packages that are based on ytt templates (this annotation would not work for packages that use helm temp

[2021-05-25 19:36] jorgemoralespou commented on #123
Hey, wanted to make a couple of comments related to this feature, since it might impact TCE.

First, is that user provided overlays need to be executed on the generated files that are output by the carvel processing pipeline (spec.template.spec) or at least after the template part within it, as otherwise it might break existing overlays in the package. (e.g. if there's matchers with specific count

[2021-05-25 20:07] jorgemoralespou commented on #123
Hey, wanted to make a couple of comments related to this feature, since it might impact my current project.

First, is that user provided overlays need to be executed on the generated files that are output by the carvel processing pipeline (spec.template.spec) or at least after the template part within it, as otherwise it might break existing overlays in the package. (e.g. if there's matchers with

[2021-05-25 22:19] vibhas commented on #87
The following two items have been marked as stretch goals for this epic. It is highly likely that we are going to work on them after the MVP is released:
- Reference (source) PackageRepository in Package CR (#124)
- Authentication against private registry when installing a PackageRepository and an InstalledPackage (#145)

[2021-05-26 15:37] LukeWinikates commented on #123
The main thing on my mind would be the workflow for developing an overlay for use in this way. I *think* the end user would need to run a command to see the yaml that would be produced by the package without the overlay, so that they can refer to that while developing their overlay. They would also want some way to dry-run the overlay to make sure it's applying the change that they want.

If the o

[2021-05-26 17:14] jorgemoralespou commented on #123
I think that variable interpolation will come handy for the use case where
a package overlay is provided/enforced by cluster admins, so that the
overlay applies to anyone installing the package at install process. And
maybe not so important for value interpolation but definitely for
conditions in the overlays.

[2021-05-26 17:59] ewrenn8 commented on #165
Add in #207

Validations:
- Package name is FQDN made up of three segments separated by "."s and does not have a trailing "."
- PackageVersion metadata.name is of form <spec.packageName> + "."
- PackageVersion spec.packageName is a valid package name (see above)
- Package Version spec.version is not empty

[2021-05-26 23:34] vibhas opened #209 "Use `ytt` flag to accept data values as plain YAML file"
**Describe the problem/challenge you have**
Package consumers do not need to know which templating tool is used by a package. They should be able to provide a plain YAML file when providing data values in an InstalledPackage. In order to support this, `ytt` is going to provide a flag to accept data values as a plain YAML file. kapp-controller should make use of the new flag when installing a packa

[2021-05-28 00:12] vibhas opened #211 "Packaging Docs Improvements"
**Describe the problem/challenge you have**
Trying to capture various packaging doc improvements in this issue.

- [ ] We should try to clarify how kapp-controller is going to handle the installed packages when a repository is removed from the cluster.
- [ ] We should add docs on how to use OpenAPI schema in PackageVersion CR. We can use an example and add it to the "_Terminology & APIs_" page and

[2021-05-28 14:48] seemiller opened #212 "Need Ability to Specify Package Contents/Version"
**Describe the problem/challenge you have**

Packages need the ability to specify/declare the software that they contain.

* Package contains 1 piece of software

    Consider the cases where I have multiple packages that bundle the cert-manager software at various versions.

    | Package Name | Package Version | Contents | Contents Version |
    | --------------- | ---------------- | --------- |

[2021-05-28 17:55] vibhas opened #213 "Package consumers should have the option to install the latest available version of a package without it being auto-updated"
**Describe the problem/challenge you have**
When installing a package, the consumers can either provide a specific version to install OR they can provide some constraints which will keep the package updated to the latest version satisfied by the provided constraints.

There is another use case where a consumer might want to install the latest available version of the package however does NOT want

[2021-05-28 20:17] vibhas opened #214 "Renaming Packaging CRDs"
**Describe the problem/challenge you have**
We have received feedback on the current Packaging CRDs and would like to change them so that they are easier to understand.

| Current Name  | New Name |
| ------------- | ------------- |
| Package CR  | PackageMetadata CR  |
| PackageVersion CR  | Package CR |
| PackageRepository CR  | PackageRepository CR (No change) |
| InstalledPackage CR  | Package

[2021-05-28 22:44] vibhas commented on #188
Seems like there was another duplicate [issue](https://github.com/vmware-tanzu/carvel-kapp-controller/issues/147) that already existed. Closing this issue in favor of the other one.

[2021-05-28 22:45] #188 closed, assigned to nobody

[2021-05-31 08:08] boyfzb2018 commented on #39
The error"certificate signed by unknown authority" has been fixed after following your guidence, but new error occurs:"Stderr:      Error: Syncing directory '0': Syncing directory '.' with image contents: Imgpkg: exit status 1 (stderr: Error: Collecting images: Working with 192.168.104.2/tkgs-cluster-ns/tkg-extensions-templates:v1.3.1_vmware.1: GET https://192.168.104.2/v2/tkgs-cluster-ns/tkg-exte

[2021-05-31 08:17] boyfzb2018 opened #215 "Need to authencate with embed harbor in vsphere with tanzu when deploying tkg-extension by kapp-controller?"
After follow the guide from Jesse Hu, I have fix the issue "certificate signed by unknown authority" when I deployment tkg1.3.1-extention fluentbit, but new error occurs:"Stderr: Error: Syncing directory '0': Syncing directory '.' with image contents: Imgpkg: exit status 1 (stderr: Error: Collecting images: Working with 192.168.104.2/tkgs-cluster-ns/tkg-extensions-templates:v1.3.1_vmware.1: GET ht

[2021-05-31 08:37] jessehu commented on #39
@boyfzb2018 could you make the project tkgs-cluster-ns as a public project?

[2021-05-31 08:53] boyfzb2018 commented on #39
It is diffcult because the embedded habor has no default admin account provided to user, I will try to recover the admin account , then  create public project in harbor;  many thanks

[2021-05-31 09:01] jessehu commented on #39
BTW in TKG 1.3.1, the kapp-controller supports configuring custom CA certs via a configmap:

[code]

[2021-05-31 14:25] boyfzb2018 commented on #39
Thanks, It works, the issue has fixed

[2021-05-31 14:26] #215 closed, assigned to nobody

[2021-05-31 14:27] boyfzb2018 commented on #215
It was fixed by set the project of harbor to be public

[2021-05-31 20:52] anwarchk commented on #60
Would this be first MR candidate @cppforlife  Happy to submit a MR.

[2021-06-03 13:51] danielhelfand commented on #209
Added in #216 and released in `v0.19.0-alpha.10`

[2021-06-03 13:51] #209 closed, assigned to nobody

[2021-06-03 20:29] ewrenn8 commented on #172
added in #208; released in alpha.10

[2021-06-03 20:29] #172 closed, assigned to nobody

[2021-06-03 20:30] ewrenn8 commented on #165
released in `alpha.10`

[2021-06-03 20:30] #165 closed, assigned to ewrenn8

[2021-06-03 20:31] ewrenn8 commented on #135
released in `alpha.9`

[2021-06-03 20:31] #135 closed, assigned to ewrenn8

[2021-06-03 20:31] ewrenn8 commented on #129
released in `alpha.10`

[2021-06-03 20:31] #129 closed, assigned to nobody

[2021-06-03 20:32] ewrenn8 commented on #119
Im going to close this issue. We can open new ones for changes we want to make to the implementation when they come up

[2021-06-03 20:32] #119 closed, assigned to ewrenn8

[2021-06-03 21:10] voor commented on #129
Is there a link to the documentation?  Does it look like the above "maybe it looks like this"?

[2021-06-03 21:26] ewrenn8 commented on #129
Just merged doc updates: https://carvel.dev/kapp-controller/docs/latest/app-spec/

[2021-06-06 00:44] jessehu commented on #129
Thanks @ewrenn8. Does it mean the new `ytt.valuesFrom` has the same effect as the existing `ytt.inline.pathsFrom`?

[2021-06-07 21:49] ewrenn8 commented on #129
Hey @jessehu, not exactly. The `ytt.inline.pathsFrom` will be provided to ytt via `-f`, so those files can, and are encouraged to, contain ytt specific annotations and can be any kind of file (template, data values, etc). The `valuesFrom` field will leverage ytt's new `--data-values-file` flag, which does not allow annotations and treats the input specifically as data values, so other templates ca

[2021-06-08 00:49] jessehu commented on #129
Thanks Eli! I meant using either of the two params archive the same goal, although ytt.valuesFrom doesn't allow ytt annotations while ytt.inline.pathsFrom requires `#@data/values`

[2021-06-08 16:19] danielhelfand commented on #211
When a PackageRepo and associated Packages/PackageVersions are removed currently, InstalledPackages will continue to sync with the Package/PackageVersion and eventually hit an error saying that no PackageVersions could be found: `Reconcile failed: Expected to find at least one version, but did not`. While the InstalledPackage reconciliation won't go through, the resources that were deployed origin

[2021-06-08 16:58] danielhelfand commented on #211
Thinking a good place for this information will be the [packaging api overview docs](https://carvel.dev/kapp-controller/docs/latest/packaging). Similar to how the package author docs link to a small section at the [bottom of the packaging api overview docs](https://carvel.dev/kapp-controller/docs/latest/packaging/#artifact-formats) for supplemental information, the package consumption docs could h

[2021-06-08 18:21] vibhas commented on #211
I think creating a FAQ page would be super helpful and we can keep on adding things there as we hear more common questions from the users. ytt also has a similar [FAQ page](https://carvel.dev/ytt/docs/latest/faq/).

[2021-06-11 00:49] vijaykatam opened #223 "Annotate deployed pods with version of component"
**Describe the problem/challenge you have**
When deploying packages with imgpkg bundles the tag of a container is replaced with sha256 in a deployed pod/deployement/daemonset. This is a challenge for serviceability when I need to figure out what tag of a container is deployed. It requires me look at the sha and comparing in registry and if I don't have access to registry then I have to expand the

[2021-06-11 15:03] timothysc commented on #223
:+1: from me.

[2021-06-11 15:16] cppforlife commented on #223
kbld in theory already has this capability (it generates kbld.k14s.io/images annotation); however, we are not recording "source" tag information when generating .imgpkg/images.yml. so to address this we need:

- record metadata at the time of .imgpkg/images.yml generation (we got annotations field for each image)
- use this metadata when we apply updated image refs and annotate resources

im 👍 for

[2021-06-11 15:35] jorgemoralespou commented on #223
I think this has already been requested: https://github.com/vmware-tanzu/carvel-imgpkg/issues/124, although from the end user point of view, it would probably need to have some UX in the package CLI

[2021-06-11 15:55] vijaykatam commented on #223
We can ignore `imgpkg inspect` part in lieu of vmware-tanzu/carvel-imgpkg#124. The other part of the request is still valid.

[2021-06-11 16:12] frapposelli commented on #223
👍🏻 from me for this feature.

[2021-06-12 00:42] #214 closed, assigned to danielhelfand

[2021-06-15 00:45] danielhelfand commented on #108
Closing since #219 was released in [0.20.0-rc.1](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/alpha-releases/0.20.0-rc.1.yml)

[2021-06-15 00:45] #108 closed, assigned to danielhelfand

[2021-06-15 00:49] danielhelfand commented on #163
Closing as #108 has been resolved. Secrets now will exist in PackageRepo namespaces since PackageRepos are no longer cluster scoped.

[2021-06-15 00:49] #163 closed, assigned to nobody

[2021-06-15 00:50] danielhelfand commented on #211
Closing as all associated docs prs were merged.

[2021-06-15 00:50] #211 closed, assigned to danielhelfand

[2021-06-15 17:09] cppforlife commented on #177
available in 0.20.0-rc.1

[2021-06-15 17:09] #177 closed, assigned to nobody

[2021-06-15 17:49] cppforlife commented on #195
PackageRepository no longer creates underlying App CRs as of v0.20.0-rc.1

[2021-06-15 17:49] #195 closed, assigned to nobody

[2021-06-15 17:52] cppforlife commented on #130
available in 0.20.0-rc.1

[2021-06-15 17:52] #130 closed, assigned to nobody

[2021-06-15 18:23] vijaykatam commented on #212
👍

[2021-06-15 19:00] ewrenn8 commented on #203
Release in `v0.20.0-rc.1`

[2021-06-15 19:00] #203 closed, assigned to ewrenn8

[2021-06-15 20:33] vibhas opened #232 "Manual End to End Testing of the Packaging APIs"
**Describe the problem/challenge you have**
Before releasing the new packaging APIs, we should spend dedicated time doing a thorough manual end-to-end testing. Few things to consider here:

- Manual fuzz testing, general workflow UX
  - creating resources with the wrong fields, weird names
  - checking for error messages from the apiserver
  - global namespace and namespace package collisions
  -

[2021-06-15 20:38] cppforlife commented on #60
@anwarchk i think before implementation can come we need to figure out what is the interface for this. how do we deal with existing paths? should we add another key like extendedPaths that is mutually exclusive to paths and allows to specify properties like `optional: true`?

[2021-06-15 20:54] vibhas opened #233 "Stress/Load Testing of the Packaging APIs"
**Describe the problem/challenge you have**
Before releasing the new packaging APIs, we should spend dedicated time doing a stress/load testing to make sure that the APIs scale well. Few things to consider here:

- We could set up a GKE instance and scale it up.
- The main concern is how the PackageInstall and Package APIs hold up.
- We can assume each package has a few versions. A rough upper-bou

[2021-06-15 22:14] cppforlife commented on #40
im going to close this for now as there is no concrete need for this right now.

[2021-06-15 22:14] #40 closed, assigned to nobody

[2021-06-16 17:14] vibhas opened #237 "Minor changes for Packaging APIs MVP"
**Describe the problem/challenge you have**
We identified several small changes that need to be done for the packaging APIs MVP.

- [x]  Bump imgpkg to the version with performance enhancements
- [x]  Update examples with correct packaging concepts
- [x]  Run kbld on package repository bundle used in e2e tests (currently the imageslock is empty)
- [x]  Refine delete finalizer names for pkgrepo and

[2021-06-21 10:25] jorgemoralespou commented on #212
From what I know, initially this was also requested by TMC Catalog feature and was discarded, so would be worth to revisit what decisions drove that exclusion.
I agree this is something needed, and experience wise I would recommend:
- That the name would be something more intuitive (e.g. `provides`)
- That the list of what's provided by the package is searchable via the CLI (e.g. `kubectl get pack

[2021-06-21 17:01] ewrenn8 opened #242 "Feature: PackageRepository can automatically auth to private registries when secretgen-controller is in the cluster"
### Problem Description
Right now, the process of creating a package repository that can auth to a private registry is an entirely manual one. The user needs to create a secret with the authorization details, and then correctly reference it within their repository yaml. The manual nature of this makes it prone to human error.

### Solution Description
kapp-controller is able to automatically handl

[2021-06-21 17:11] ewrenn8 opened #243 "Feature: PackageInstall's App can automatically auth to private registries when secretgen-controller is in the cluster"
### Description of Problem
There is currently no way to provide private registry auth details during the installation of a package. This means any packages with fetch directives which fetch from a private registry will fail.

### Description of Solution
Kapp-controller is able to automatically handle the authorization setup for PackageInstalls.

### Scenarios

#### 🟢 Public Registry

**Given** a p

[2021-06-21 17:13] ewrenn8 opened #244 "Docs: Update docs with new authorization workflows"
**Describe the problem/challenge you have**
Document the features added in #243 and #242.

These docs should also include recommendations for package authors wanting to use image pull secrets and how that is enabled by this feature.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this c

[2021-06-21 18:06] ewrenn8 commented on #167
Superseded by #244 to capture the new workflow

[2021-06-21 18:06] #167 closed, assigned to nobody

[2021-06-21 22:07] danielhelfand commented on #38
Making a note for this issue that we should update docs for users who install kapp-controller via kubectl instead of kapp. If upgrading to a version of kapp-controller with the updated crd versions, it may not delete old versions of the crds. We should document how to remove these old versions as part of the installation docs.

[2021-06-22 01:25] #38 closed, assigned to danielhelfand

[2021-06-22 15:18] danielhelfand commented on #38
After further investigating, this does not appear to be an issue for kubectl users as the newer crds versions will simply replace the older versions.

[2021-06-22 17:16] aaronshurley commented on #150
@danielhelfand Trying to understand this better. Does this only happen for InstalledPackage? Is it consistent (i.e. same number of repetitions)?

[2021-06-22 17:22] aaronshurley commented on #179
@ewrenn8 @jessehu

Just trying to gauge the impact of this feature request.  How disruptive is the current process that requires a kapp-controller restart? How often would you expect the kapp-controller-config configmap to change (when kapp-controller would not be restarting)?

[2021-06-22 17:25] aaronshurley commented on #186
@ewrenn8 @danielhelfand Did we do this? Or have our upgrade tests only been manual so far?

[2021-06-22 17:26] ewrenn8 commented on #186
Just manual

[2021-06-22 17:29] aaronshurley commented on #189
Looks like the PR was merged in vendir but a new version hasn't been released yet.

[2021-06-22 17:32] aaronshurley opened #245 "Upgrades"
_To be filled in..._

[2021-06-22 17:39] aaronshurley commented on #204
Thank you for submitting this feature request. We are moving this to the unprioritized backlog as we don't plan to work on it immediately. If you stumble upon this issue and would like it, please give it a thumbs up. As always, we welcome contributions :)

[2021-06-22 17:57] aaronshurley commented on #223
We created [an issue for kbld](https://github.com/vmware-tanzu/carvel-kbld/issues/113) and have prioritized it. Once that is completed and a release is published, kapp-controller will just need to update its kbld.

[2021-06-22 19:34] danielhelfand commented on #186
One thing we could think about here is adding a separate GitHub action workflow in CI that spins up a minikube cluster deploys the last released version of kapp-controller and then proceeds with the regular install. This way, it will not completely fail the test workflow if we are expecting breaking changes, but it can give us a warning. We could also run the usual test suite to verify further.

[2021-06-23 21:29] ewrenn8 commented on #233
A few PRs have come out of initial testing: #250 #246 #248

We are getting trace logs for `gets` and `lists` of Packages because the endpoints are taking >500ms to respond. I will look into this to see if there are any performance improvements we can make

[2021-06-23 21:47] ewrenn8 commented on #237
waiting on new imgpkg release

[2021-06-28 05:15] karuppiah7890 opened #253 "Question: Docs search for latest version is not working temporarily?"
On this page, https://carvel.dev/kapp-controller/docs/latest/ , I tried to search for `package repository` but it always said no results

Have the latest docs been indexed?

[2021-06-28 05:16] karuppiah7890 commented on #253
I remember a similar issue happening in Contour - https://github.com/projectcontour/contour/issues/3742

[2021-06-28 16:14] danielhelfand commented on #253
Thanks for reporting @karuppiah7890.

Not quite sure how the searching is set up in our [carvel.dev repository](https://github.com/vmware-tanzu/carvel.dev), but I can reproduce the search issues you are running into. It's possible enabling search in general for kapp-controller page may have never been set up as the kapp-controller page was hidden as we developed it in parallel to new kapp-controll

[2021-06-28 17:16] danielhelfand commented on #253
I have opened https://github.com/algolia/docsearch-configs/pull/4281 for this issue

[2021-06-28 18:18] danielhelfand commented on #253
This looks to be fixed now. Thanks again for pointing out this issue @karuppiah7890. Really helped with pointing to right direction for the fix. Let us know if there is any further issue for you.

[2021-06-28 18:18] #253 closed, assigned to nobody

[2021-06-28 18:29] karuppiah7890 commented on #253
Thanks a lot @danielhelfand !! It works now !

[2021-06-28 21:07] aaronshurley commented on #237
Extracting this to its own issue in kapp: https://github.com/vmware-tanzu/carvel-kapp/issues/237

[2021-06-29 13:53] ahuffman commented on #123
Extremely important to ensure that this process is pluggable to avoid being overly prescriptive, as there are many well adopted tools in this space addressing both developers and operators.

[2021-06-30 18:48] ewrenn8 opened #256 "Improve performance of the aggregate api server"
Currently, the implementation is done in such a way that the api server can cause noticeable slow downs in the k8s api. This results in the api server itself taking >500ms to respond to a request, which seems to be the upper bound of acceptable time in the k8s generic api server implementation. To reduce the number of trace logs generated by that, the efficiency of our REST implementation should b

[2021-06-30 18:51] ewrenn8 opened #257 "Consider the evolution of apis and the effects it has on usability of packaging artifacts"
As we inevitably evolve the current APIs, we should consider what impact this will have on out of date artifacts and their compatibility with various versions of kapp-controller.

Some example questions to get started:
1. When new fields are added to packages, will package repos containing the newer packages still work as intended on older version of kapp-controller?
2. Vice versa of above: will o

[2021-06-30 19:09] ewrenn8 commented on #184
Closing since this was already the case, we just needed to add a test, so there is no release associated with this.

[2021-06-30 19:09] #184 closed, assigned to danielhelfand

[2021-07-01 17:23] ewrenn8 commented on #233
Opened #256 to capture outstanding work

[2021-07-01 17:23] #233 closed, assigned to ewrenn8

[2021-07-01 17:27] ewrenn8 opened #261 "Don't downgrade package installs when the current package is deleted"
**Describe the problem/challenge you have**
When deleting a package that has the highest version of all available packages, kapp-controller will downgrade the package installs to the n-1 version. This isn't a safe thing to do and may break some software.

**Describe the solution you'd like**
kapp-controller never downgrades a package automatically

---
Vote on this request

This is an invitation t

[2021-07-01 17:55] #186 closed, assigned to nobody

[2021-07-02 01:14] ewrenn8 commented on #237
Included in `v0.20.0`

[2021-07-02 01:14] #237 closed, assigned to ewrenn8

[2021-07-02 01:14] ewrenn8 commented on #232
Changes included in `v0.20.0`

[2021-07-02 01:14] #232 closed, assigned to danielhelfand

[2021-07-02 01:15] ewrenn8 commented on #261
whoops, duplicate of #183

[2021-07-02 01:15] #261 closed, assigned to nobody

[2021-07-06 12:45] sebgoa opened #266 "basic deployment of OCI bundle not working"
**What steps did you take:**
Packaged a simple Pod manifest running nginx with imgpkg
Pushed the OCI bundle to gcr
Tried to deploy an app with kapp

**What happened:**

from the CLI or the controller

[code]

and

[code]

My app.yaml

[code]

My imageslock:

[code]

My pod.yaml in the bundle

[code]

[2021-07-06 13:03] danielhelfand commented on #266
Hi @sebgoa,

One thing I notice about your App yaml is you are missing a kbld step under the template section of the App spec. This is needed to make use of your bundle's ImagesLock (i.e. images.yml). Could you give this a try?

[code]

[2021-07-06 13:15] sebgoa commented on #266
not quite

[code]

[2021-07-06 13:18] sebgoa commented on #266
Basically I am trying to deploy https://github.com/vmware-tanzu/carvel-imgpkg/tree/develop/examples/basic-step-2 after it has been pushed as an OCI bundle with `imgpkg`

[2021-07-06 13:25] ewrenn8 commented on #266
You will also need to leave out the `bundle.yaml` from the templating step. The easiest way is to explicitly point ytt to your config or config directory. Here is an example:

[code]

[2021-07-06 13:34] sebgoa commented on #266
with a fixed indentation it worked

[code]

[2021-07-06 13:49] ewrenn8 commented on #266
Great, let us know if you've got any other questions!

@cppforlife @vibhas I wonder if it is worth adding some examples that build on the examples in the imgpkg docs to make this transition easier, especially as we start to reference imgpkg bundles more.

[2021-07-06 14:02] sebgoa commented on #266
I finally managed to do what I wanted to test but this was not easy from the docs. Basically I wanted to package some plain old yaml which are not templatized and may not contain an image reference and then I wanted to deploy it with kapp controller.

turns out a simple:

[code]

don't use a bundle otherwise the error from `imgpkg` and the docs send you down the creation of a `.imgpkg` dir.

then

[2021-07-06 14:17] ewrenn8 commented on #197
@DennisDenuto Were there any update to imgpkg recently to enable this use case or to prevent the need for credentials when validating the images after a pull?

[2021-07-06 17:06] ewrenn8 commented on #266
Glad you got it working. We will try and update some of the docs to be a bit more clear and line up with the imgpkg docs some. Thanks for that feedback!

[2021-07-06 17:06] #266 closed, assigned to nobody

[2021-07-07 16:42] qnetter opened #267 "Need to view package info/metadata"
**Describe the problem/challenge you have**
I need to be able to decide whether a package does what I need and how to use it.

**Describe the solution you'd like**
( 2. ) As a user, I want to know some information about the package so that I can make a decision on if I should use it and how to use it. Some of this information is what will be installed in the cluster (resources), RBAC provided, des

[2021-07-07 16:46] qnetter opened #268 "Allow user-provided name for installed package"
**Describe the problem/challenge you have**
There are packages that I need to be able to install multiple times in a single cluster.

**Describe the solution you'd like**
4. As a user, I want to install a package in my current cluster, if the package can be installed multiple times, I want to be able to provide a name to the installed package so that I can differentiate between multiple installati

[2021-07-07 16:49] qnetter opened #269 "Random name to allow package to be multiply installed in a cluster"
**Describe the problem/challenge you have**
I want to be able to install multiple instances of the same packager in a cluster without supplying names.

**Describe the solution you'd like**
5. As a user, I want my installed package to have a random name, so that if it can be installed multiple times, there’s no conflicts when I do so and don’t provide a name.

**Anything else you would like to add:

[2021-07-07 16:50] qnetter opened #270 "Feedback on package installation"
**Describe the problem/challenge you have**
The process of installing a package is opaque.

**Describe the solution you'd like**
6. As a user, I want to get feedback about the process that a Package is going through when installing on the cluster to know if it’s usable, if it failed when installing.

**Anything else you would like to add:**
Status: Currently not possible in TCE package plugin. PEN

[2021-07-07 16:52] qnetter opened #271 "List packages in current namespace"
**Describe the problem/challenge you have**
No Carvel way to list packages in current namespace

**Describe the solution you'd like**
 7. As a user, I want to know the installed packages that I have in my current namespace

**Anything else you would like to add:**
Status: Currently not possible in TCE package plugin. PENDING ISSUE Will be moved into Tanzu CLI Package plugin. Experience to be imple

[2021-07-07 16:54] qnetter opened #272 "List installed packages in current cluster"
**Describe the problem/challenge you have**
I need a Carvel way to list packages in my current cluster

**Describe the solution you'd like**
 8. As a user, I want to know the installed packages that I have in my current cluster

**Anything else you would like to add:**
Status: Currently not possible in TCE package plugin. Tracked as the #143. Will be moved into Tanzu CLI Package plugin. Experience

[2021-07-07 16:55] qnetter commented on #272
something like tanzu package list --installed would be great, and could also add output columns for namespace, version, and status to address item 7 and 9.

[2021-07-07 16:57] qnetter opened #273 "Get status and version of installed packages"
**Describe the problem/challenge you have**
Need more info about installed packages besides name.

**Describe the solution you'd like**
 9. As a user, I want to know the status and version of my installed packages

**Anything else you would like to add:**
Status: Currently not possible in TCE package plugin. PENDING ISSUE Will be moved into Tanzu CLI Package plugin. Experience to be defined.

---

[2021-07-07 16:59] qnetter opened #274 "Need info on how to configure package when deploying"
**Describe the problem/challenge you have**
Need to know configurability of package.

**Describe the solution you'd like**
10. As a user, I want to know what configuration values I can use and what value types these values might take in order to configure my Package when deployed to the cluster.

**Anything else you would like to add:**

---
Vote on this request

This is an invitation to the commu

[2021-07-07 17:00] qnetter commented on #274
tanzu package <package-name> man would be nice to be able to display the package docs and explanation of configurable values.

[2021-07-07 17:02] qnetter opened #275 "Configuration should be validated"
**Describe the problem/challenge you have**
I don't want a package deployed or attempted if the config is invalid.

**Describe the solution you'd like**
 11. As a user, I want to get an imperative error if I’m trying to create configuration to a package that is not valid, so that the package is not even tried to be deployed.

**Anything else you would like to add:**

---
Vote on this request

This

[2021-07-07 17:03] qnetter opened #276 "Allow global configuration"
**Describe the problem/challenge you have**
Specifying individual configurations takes a lot of time for values that are in common.

**Describe the solution you'd like**
 12. As a user, I want a way to provide “global” configuration so that I don’t need to provide configuration specifically for every package but they can use the globally defined configuration.

**Anything else you would like to ad

[2021-07-07 17:05] qnetter opened #277 "Enable dry-run for package deployment"
**Describe the problem/challenge you have**
I want to know if a package can be installed on a cluster without actually deploying it.

**Describe the solution you'd like**
 13. As a user, I want to know if a package can be installed on a cluster without deploying it. (Dry run and pre-requirements check).

**Anything else you would like to add:**
Status: Currently not possible in TCE package plugin.

[2021-07-07 17:08] qnetter opened #278 "Is my package using non-default configuration?"
**Describe the problem/challenge you have**
I want to know if my package is using non-default configuration, so I know whether to track the explicit config.

**Describe the solution you'd like**
 14. As a user, I want to know if my installed package is using customized configuration.

**Anything else you would like to add:**
Status: Currently not possible in TCE package plugin. PENDING ISSUE Will

[2021-07-07 17:18] qnetter opened #279 "Config updates should be propagated"
**Describe the problem/challenge you have**
When I update the config for a package, the package needs to be updated.

**Describe the solution you'd like**
 15. As a user, I want my package to be updated if I update the configuration for the package.

**Anything else you would like to add:**
Status: Currently not possible in TCE package plugin. PENDING ISSUE Will be moved into Tanzu CLI Package plu

[2021-07-07 17:24] qnetter commented on #279
Sorry - I have been opening a few here that should be for the Tanzu CLI plugin. Closing.

[2021-07-07 17:24] #279 closed, assigned to nobody

[2021-07-07 17:25] qnetter commented on #278
CLI plugin issue. Closing.

[2021-07-07 17:25] #278 closed, assigned to nobody

[2021-07-07 17:25] qnetter commented on #277
CLI plugin issue. Closing.

[2021-07-07 17:25] #277 closed, assigned to nobody

[2021-07-07 17:26] qnetter commented on #276
CLI plugin issue. Closing.

[2021-07-07 17:26] #276 closed, assigned to nobody

[2021-07-07 17:29] qnetter commented on #274
CLI plugin issue. Closing.

[2021-07-07 17:29] qnetter commented on #273
CLI plugin issue,. Closing.

[2021-07-07 17:30] qnetter commented on #273
CLI plugin issue. Closing.

[2021-07-07 17:30] #273 closed, assigned to nobody

[2021-07-07 17:31] qnetter commented on #272
CLI plugin issue. Closing.

[2021-07-07 17:31] #272 closed, assigned to nobody

[2021-07-07 17:32] qnetter commented on #271
CLI plugin issue. Closing.

[2021-07-07 17:32] #271 closed, assigned to nobody

[2021-07-07 17:32] qnetter commented on #270
CLI plugin issue. Closing.

[2021-07-07 17:32] #270 closed, assigned to nobody

[2021-07-07 17:33] qnetter commented on #269
CLI plugin issue. Closing.

[2021-07-07 17:33] #269 closed, assigned to nobody

[2021-07-07 17:34] qnetter commented on #268
CLI plugin issue. Closing.

[2021-07-07 17:34] #268 closed, assigned to nobody

[2021-07-07 17:37] qnetter commented on #274
CLI and kappa-controller involvement.

[2021-07-07 17:39] ewrenn8 opened #280 "Bump the API version for the packaging APIs and Apps"
**Describe the problem/challenge you have**
All of the CRs provided by kapp-controller are currently versioned `v1alpha1`. According to the [k8s API versioning guidelines](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md#alpha-beta-and-stable-versions), they should all actually be versioned `v1beta1`.

**Describe the solution you'd like**
Bump

[2021-07-07 17:41] qnetter opened #281 "Docs: Document support for providing overlays as annotations on PackageInstalls"
**Describe the problem/challenge you have**
It should be possible to customize on top of a standard package config.

**Describe the solution you'd like**
21. As a user, I want to provide some customization to an existing package (i.e. provide a user provided overlay) so that I can customize some package behaviour.

**Anything else you would like to add:**
---
Vote on this request

This is an invit

[2021-07-07 18:29] ewrenn8 commented on #281
@qnetter is this for providing overlays to the PackageInstall to customize the underlying software, or providing overlays that will actually change the Package definition?

[2021-07-07 18:41] qnetter commented on #281
@jorgemoralespou can you qualify this?

[2021-07-07 18:48] jorgemoralespou commented on #281
Yes, this is to provide overlays to a PackageInstall to further customize the underlying software.
In kapp-controller this is already tracked: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/123 and AFAIK is implemented, although not documented anywhere. Solution is described here: https://github.com/vmware-tanzu/carvel-kapp-controller/issues/123#issuecomment-848084192

I have tested

[2021-07-07 19:39] danielhelfand opened #282 "Tests for Integration with secretgen-controller"
As kapp-controller implements the proposal for authentication to private registries, there will need to be a way to write tests for how kapp-controller works with [secretgen-controller](https://github.com/vmware-tanzu/carvel-secretgen-controller).

secretgen-controller will be the primary way of supporting authentication to private registries via kapp-controller so it will be important to have a w

[2021-07-07 20:10] ewrenn8 commented on #281
Ok, I will update this issue to be a docs issue and we can use this to track writing the docs.

[2021-07-07 23:07] linkdd opened #283 "Review for Helm Chart"
# Describe the problem/challenge you have

At our company, [Link Society](https://github.com/link-society), we are currently working on a supervision engine on Kubernetes: [Kubirds](https://kubirds.com).

Its dependencies provide no Helm charts, therefore upgrading and uninstalling becomes an issue.

Fortunately `kapp` and `kapp-controller` resolves this versioning problem.

Since we're looking at

[2021-07-07 23:27] vijaykatam opened #284 "kapp-controller bindPort should be configurable"
**Describe the problem/challenge you have**
kapp-controller bindPort 10349 conflicts with antrea 0.13 and we need to be able to deploy both on hostNetwork

**Describe the solution you'd like**
Configurable bindPort https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/pkg/apiserver/apiserver.go#L43

**Anything else you would like to add:**
N/A

---
Vote on this request

This is an in

[2021-07-08 12:57] jorgemoralespou commented on #267
TCE issue: https://github.com/vmware-tanzu/tce/issues/963

[2021-07-08 13:56] ewrenn8 commented on #267
Most of this information can be exposed on either the PackageMetadata CR or the Package CR. More details can be found here: https://carvel.dev/kapp-controller/docs/latest/packaging/.

In my opinion, example usages is something more fit for docs, especially because we are dealing with Kubernetes, so usages are likely blocks of yaml that need to be created in the cluster and could easily begin to cl

[2021-07-08 13:57] ewrenn8 commented on #275
Im not quite sure what defines an invalid package, could you expand on that a bit more?

[2021-07-08 13:59] ewrenn8 commented on #274
This is exposed via the valuesSchema.openAPIV3 field on the Package CR.

[2021-07-08 13:59] #274 closed, assigned to nobody

[2021-07-08 20:51] pbarker opened #289 "Support Kustomize"
**Describe the problem/challenge you have**
Want to deploy and app which uses Kustomize

**Describe the solution you'd like**
A means of supporting Kustomize

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this addressed as soon as possible"

[2021-07-12 13:57] danielhelfand commented on #289
Thanks for opening this issue @pbarker. We have always been thinking about supporting Kustomize with kapp-controller but had not received an issue request for it until now.

Curious a bit about what your use case is if you do not mind sharing?

Also, do you have any proposed UX for exposing this via kapp-controller's API?

[2021-07-12 14:05] danielhelfand commented on #280
Something to consider here is how we would/how long we would support `v1alpha1` versions of the CRS.

This would also require us to look into kubebuilder directives for generating the YAML representation of the CRDs with multiple versions (e.g. https://github.com/vmware-tanzu/carvel-kapp-controller/blob/a2236fb3c56c014a8ca10ce422208e45d21229e1/config/crds.yml#L13).

[2021-07-12 14:10] danielhelfand commented on #275
Agreed that invalid Package is a bit vague to me as well.

Is this regarding aspects of the Package schema (i.e. creating a Package with unknown keys or submitting data of an invalid type for a field)?

If so, we have support for this.

If it's not, curious to get more specific pain points of using kapp-controller that we could address through validation.

[2021-07-12 14:15] danielhelfand commented on #267
One thing I do encounter a lot when working with users of kapp-controller's Package CR is they want to actually see what is in the fetch source (e.g. what does the imgpkg bundle actually contain). This isn't something that I think should be addressed through kapp-controller itself. It should probably be the responsibility of a CLI/UI to help users avoid needing to themselves fetch the Package's fe

[2021-07-12 14:30] danielhelfand commented on #245
@aaronshurley Is this epic going to be filled in still?

[2021-07-12 14:37] aaronshurley commented on #245
Yeah... Just haven't had a chance to focus on this yet, but thanks for checking in. It's still TBD as to when we'd start this track of work since we have some other higher priorities. I'll chat with @vibhas about when we might give this work some attention.

[2021-07-12 15:51] danielhelfand commented on #283
Hey @linkdd! Thank you for opening this.

Think it would be great for some of us in the Carvel community to take a look at Link Society's use of kapp-controller. We can follow up in the pr you have linked.

I had some follow up questions as well based on some of the information provided. Looking forward to your responses.

To understand a little more about your use case, are you saying Kubirds has

[2021-07-12 16:08] linkdd commented on #283
Thanks for the reply @danielhelfand ! 😄

That would be awesome, we would like confirmation about some aspects of the chart, like:

 - is more than 1 replica supported? (leader election)
 - are the annotations correct/useful, and how are they used by the source code?

Kubirds relies on other technologies, like TektonCD, RabbitMQ and Redis.

 - TektonCD's upstream only provides a YAML to `kubectl ap

[2021-07-13 16:14] #284 closed, assigned to nobody

[2021-07-19 16:59] danielhelfand opened #300 "Better UX for Including Prereleases in PackageInstall versionSelection"
**Describe the problem/challenge you have**

For PackageInstall's referencing a [prerelease package](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/84fbfc9e426bfc9b4200319c38de29b0b7f82598/test/e2e/assets/kc-e2e-test-repo/packages/pkg.test.carvel.dev/pkg.test.carvel.dev.3.0.0-rc.1.yml), a user must provide the following as part of a PackageInstall `.spec.packageRef` to successfully in

[2021-07-19 18:13] aaronshurley commented on #150
@danielhelfand any thoughts on the above?

[2021-07-19 18:14] aaronshurley commented on #179
@ewrenn8 @jessehu any thoughts on the above?

[2021-07-19 18:29] aaronshurley commented on #256
@ewrenn8 Could you clarify if the slow down is already noticeable? If not, at what load does it become noticeable?

cc @danielhelfand @cppforlife in case y'all know since Eli is OOO right now.

[2021-07-19 18:44] aaronshurley commented on #275
@qnetter any thoughts on the above questions?

[2021-07-19 18:46] aaronshurley commented on #267
@qnetter now that the CRs have been established, do you still have this need?

[2021-07-19 19:15] danielhelfand commented on #283
Hey @linkdd,

Sorry for the late reply here. We'll be taking a look at your pr this week some time and thanks for the patience. To answer a few questions:

Not at this time. We currently only ship with 1 replica. Is this something you are interested in seeing with kapp-controller?

Do you have an example of what annotations you are referring to? Do you mean the ytt data values found in the configu

[2021-07-19 19:26] danielhelfand commented on #150
The follow up logging for the App could just be related to nuances of kapp-controller's syncing that I don't fully understand. I think the easiest thing that can be done here is just to remove the duplicate logs for PackageInstalls. It remains true that the information should only be logged once during PackageInstall reconciliation.

[2021-07-19 21:19] aaronshurley commented on #281
The current thinking is to incrementally improve the docs. We should [extract this example](https://carvel.dev/kapp-controller/docs/latest/packaging/#adding-paths) to a separate page and consider enhancing the example.

[2021-07-19 21:35] joshrosso opened #301 "Standardize documentation approach for package authors"
**Describe the problem/challenge you have**

Package authors need a means of providing shipping documentation alongside their package. Ideally, the documentation source could live alongside the package itself such that it could be consumed and rendered in a variety of location. By providing specification or standards for package docs, we could ensure any package could be supported in a variety of

[2021-07-19 21:41] aaronshurley commented on #139
From our discussion...

There are multiple approaches here:
- build time (such as adding an annotation)
- run time (such as kapp-controller creating a ConfigMap in a particular namespace)

[2021-07-20 15:05] danielhelfand commented on #301
An additional note here that was briefly discussed:
* Autogenerating documentation (Should there be a tool to autogenerate docs in such a way that promotes a consistent documentation format but still allows flexibility for users)

One issue that might come up in this discussion is duplication of docs (i.e. does a Package author need new docs if there are no new changes worth documenting). Should t

[2021-07-21 18:19] vibhas commented on #205
We heard this feedback from some other users as well. I have modified the title of this issue and the contents a bit to add more details.

[2021-07-21 18:51] voor opened #306 "kapp-controller with multiple fetches needs to be revisited"
**Describe the problem/challenge you have**
kapp-controller when there is a single fetch is fairly intuitive and straightforward -- if you pull down a git repo with `/stuff/` then you can reference those paths as `/stuff/` in later steps.  This becomes a lot more complicated when you have multiple fetches, because now it's `/0/stuff/` depending on the order it is fetched in.  This become excruciat

[2021-07-21 18:58] vibhas opened #307 "Document recommended best practices for Package Authors"
**Describe the problem/challenge you have**
For a new package author, they can read the current kapp-controller to understand how to create a package and then distribute it in a package repository bundle. However, since they are new, they might benefit from a dedicated docs page that talks about the recommended best practices that they should follow.

**Describe the solution you'd like**
Create a

[2021-07-21 21:14] linkdd commented on #283
Hey @danielhelfand, thanks for the review!

I'm gonna upgrade the chart to the latest release (v0.21.0) before merging it.

Ok so I'll remove the variable `replicaCount` to avoid wrong configurations.

It's always interesting to allow multiple replicas for high availability. But leader election can be tricky 😄  (well, in Elixir, thanks to [libcluster](https://hexdocs.pm/libcluster/readme.html) and

[2021-07-21 21:26] aaronshurley opened #308 "Create a hosted tutorial on katacoda"
**Describe the problem/challenge you have**
The Package Management APIs were released earlier this month. We want to ensure that users understand what the APIs are and how they can get started in a mode of communication other than reading the docs.

**Describe the solution you'd like**
Create a hosted tutorial that walks the user through:
- introducing the Package Management APIs
- explaining how

[2021-07-21 22:16] aaronshurley opened #309 "Investigate whether the sync default (30s) is appropriate"
**Describe the problem/challenge you have**
During some general discussions, it's been suggested that the sync default of 30 seconds could create scalability/performance issues in larger environments. Could this be relaxed to a less frequent interval?

**Describe the solution you'd like**
A recommendation and code change, if needed, for a sane sync interval default.

**Anything else you would like