[2022-05-10 08:04] 100mik commented on #677
Branched out from #412

[2022-05-10 08:54] praveenrewar opened #678 "`kctrl`: Remove the `--install` and `--create` flags for package installed update and package repository update"
**Describe the problem/challenge you have**
`package repository add` currently allows to both add or update a package repository and the `create` option in update seems redundant.
Similarly, the `install` option in package installed update is redundant.

**Describe the solution you'd like**
[A clear and concise description of what you want to happen. If applicable a visual representation of the UX

[2022-05-10 09:06] praveenrewar opened #679 "`kctrl`: `package installed update` should have proper logging or error message when there is nothing to update."
**What steps did you take:**
`kctrl package installed create -i test-pkg -p cert-manager --version 1.0.0`
`kctrl package installed update -i test-pkg`

**What happened:**
[A small description of the issue]
`Getting package install for 'test-pkg'`

**What did you expect:**
[A description of what was expected]
An error message saying that there's nothing to update, or logs updating the package.

**A

[2022-05-10 09:32] voor commented on #674
First off, would love to make sure we have a `--dry-run` or similar option, since most of my exposure to using this annotation is then committing the results to git instead of applying then and there.

We use this annotation *a lot*, and it comes up for several reasons:

1. This is (as you mentioned) the only way to apply an overlay to a PackageInstall
2. We store everything as an App CR that crea

[2022-05-10 10:46] voor commented on #674
Also, I really think given the utilization of these use cases we should really move this out of the annotations and into an actual field.

[2022-05-10 11:31] 100mik commented on #674
That does make a lot of sense, thanks!

Re:

From a `kctrl` perspective I believe we will have to use the annotations till we are sure everyone has moved on to a newer version, if we decide to make that change in `kapp-controller` I imagine `kapp-controller` might support both for a while as well.

[2022-05-10 11:47] jorgemoralespou commented on #674
As discussed over slack, I use this to provide an additional capability that one of the packages that I use does not provide:

[code]

The main issue I currently have is that there's no way to do this via the CLI so I need to install packages manually (or patch them) after created via the CLI.

Another example:
[code]

[2022-05-10 18:06] cppforlife commented on #671
we are not changing status API for PackageRepository CR as part of above mentioned work.

[2022-05-10 18:08] cppforlife commented on #672
we want to discourage users from using default namespace since it's not a good idea to keep sensitive configurations (service accounts, PackageInstall configuration, etc) in it. (it's commonly seen as a "shared" namespace.)

[2022-05-11 04:41] praveenrewar opened #682 "`kctrl` package installed update creates a package install with empty package name"
**What steps did you take:**
[code]

[code]

**What happened:**
kctrl created a package install with empty package name when using `--install` flag with `package installed update` command and not providing a package name.

**What did you expect:**
Error saying package name is required.

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]
This sh

[2022-05-12 18:19] pivotaljohn opened #686 "Supported mechanism for setting ytt experiments for ytt template step"
**Describe the problem/challenge you have**
I want an end-user to easily be able to configure a template tool (for me, it's `ytt`) via an environment variable (in this case, to enable experimental feature(s) within the tool).

**Describe the solution you'd like**
In my particular circumstance, the target users are those who have a significant amount of experience/familiarity with the Carvel tools;

[2022-05-13 05:32] GrahamDumpleton opened #687 "Kapp-controller will not work properly in Kubernetes 1.24."
I raised this in a private Slack channel discussion but since not seen any issue created here by others since that discussion, creating one.

**What steps did you take:**

Install `kapp-controller` in Kubernetes 1.24.

Try installing a package. Installation fails with the error:

[code]

**What happened:**

The problem relates to:

* https://www.padok.fr/en/blog/new-kubernetes-changes#No_Secret_by

[2022-05-13 17:36] cppforlife commented on #686
changed title to very specific thing (ytt expirements) since there is no concept of env vars in templating steps (there is no guarantee that they are binary executions even though thats how all of them are implemented today).

i do like this option as a way to experiment for folks, since i assume it's not our intent to encourage people to use ytt experiments in production environments?

[2022-05-13 17:48] joaopapereira opened #688 "[vendir cache] Enable caching in vendir"
**Describe the problem/challenge you have**
Implementation of https://github.com/vmware-tanzu/carvel-kapp-controller/issues/664

Provide vendir with all the information needed to enable caching of images and bundles

**Describe the solution you'd like**
kapp-controller will create a folder that will provide to vendir to store all the cached data as well as the maximum size of the contents that can

[2022-05-13 17:51] joaopapereira opened #689 "[vendir cache] Clear cache when AppCR is removed"
**Describe the problem/challenge you have**
Implementation of https://github.com/vmware-tanzu/carvel-kapp-controller/issues/664

When an AppCR is deleted, kapp-controller does not need to keep the caching information for that particular application

**Describe the solution you'd like**
When kapp-controller is informed of the removal of an AppCR it should delete the folder containing the cache cont

[2022-05-13 18:53] cppforlife commented on #688
which secret are we talking about here?

[2022-05-13 20:20] joaopapereira commented on #688
The secret name used to retrieve the image.

[2022-05-14 00:19] emilycoco opened #690 "Docs or error message should mention that Vendir has stricter semver standards than Kapp-controller"
Kapp-controller uses Vendir under the hood to fetch package assets to be installed. [vendir's definition of a valid semver version](https://carvel.dev/vendir/docs/v0.27.0/versions/) is less permissive than kapp-controller's, so using a version that is valid for kapp-controller, but invalid for vendir, such as `0.0.1` for both the package version and the artifact tag results in a non-obvious error

[2022-05-14 15:39] stealthybox commented on #687
This is how we solve this by impersonating ServiceAccounts /w Flux via User Impersonation
- https://github.com/fluxcd/kustomize-controller/blob/v0.25.0/controllers/kustomization_impersonation.go#L106-L115
- https://github.com/fluxcd/helm-controller/blob/main/internal/kube/impersonate.go#L36-L47

This means that you don't even need a BearerToken for the account as long as the kapp-controller Servic

[2022-05-15 00:22] #517 closed, assigned to nobody

[2022-05-16 07:03] jduepmeier opened #691 "Allow configMapRef in PackageInstall values"
**Describe the problem/challenge you have**
The `values` field in the PackageInstall allows only secrets for values files. The complete secret will be hidden in diffs. But not all config values are sensitive values. It would be nice to split the values into a combination of ConfigMap and Secrets to see the values that are not sensitive.

**Describe the solution you'd like**
Allow to fetch values f

[2022-05-16 16:43] joe-kimmel-vmw commented on #690
@emilycoco thanks for filing this issue - can you tell us more about your use case and give a specific example to reproduce? (i.e. can you share the concrete tags and constraints you were using?)

[2022-05-16 17:01] emilycoco commented on #690
Sure. I was testing creating a new package, so I used `0.0.1` as the package version, and I thought it made sense to match the package version to the artifact version/tag, so I used the same value, `0.0.1` in the package CR constraints.
[code]

This resulted in the error above during the fetch stage, and it took me quite a while to figure out the problem. Since then, I've also noticed that for pre

[2022-05-16 22:44] cppforlife commented on #690
=). we recommend this as well (though dont enforce) so that end users of Package CR know what software they are installing (im glad this comes as expected/wanted since we had a lot of debate on this topic internally.)

small enhancement for below snippet:
[code]

...no need to use `tagSelection` if you are explicitly specifying tag `0.0.1` in the image field, so it's just...

[code]

kapp-controll

[2022-05-16 22:47] cppforlife commented on #691
yeah, this is one of the reasons why we have so far avoided adding configMapRef. it just seems like it's way too easy to invite someone to put sensitive info into a configmap especially if PackageInstall API is presented to end user via a higher level system (like a UI) which may always end up using ConfigMap.

hoping more folks can chime in with additional opinions...

[2022-05-16 22:48] cppforlife commented on #690
(still thinking on where to highlight some of this info in docs...)

[2022-05-16 22:56] cppforlife commented on #688
there could be multiple secrets in play since vendir can fetch several things. additionally same secret could be used for fetching different types of images/content. to me the most non-problematic/easy naming is something along these lines:

[code]
- AppCR-metadata.uid is unique per creation of App CR so avoid problems with somehow reusing cache per new App CR created
- `.vendir-cache` is similar

[2022-05-16 23:26] emilycoco commented on #690
@cppforlife you're right, the "-" for a prerelease does work, I think I was getting confused over changing it in the 4 places version is listed and I may have only updated 3 of them when I was testing. I would have expected to get an invalid spec error when I tried to create a package CR with the version set to `0.0.1` before even trying to pull the image with that version if the two specs do come

[2022-05-17 22:32] cppforlife commented on #690
hmm, tried to modify `spec.version` to `0.0.1.rc1` (invalid version) and i do see it return this error:
[code]
with `0.0.1` it does work (https://gist.github.com/cppforlife/1b06c5bd131bf0dcf7b4798e15d4c9a8). validating tagSelection upfront within spec.fetch is much costlier so thats not done. may be that's what you ran into.

ill see if i can add some docs around versioning.

[2022-05-18 16:39] joe-kimmel-vmw commented on #686
It sounds like if we want this available globally, someone could add the environment variable to the kc deployment via an overlay, so the only work to do would be advertising/documenting this capability?

@pivotaljohn  are there arguments to be made against having the flag on globally?  - would it ever break existing features/behavior?  Do we expect that features under "experimental" will make the

[2022-05-23 20:35] joaopapereira commented on #688
I think you have a good point saying that the same secret could be used to fetch different types of content, resulting in some overcrowding of the folder.
About your recommendation for the folder name, not sure if we need a hidden folder or even if we need the `fetcher` folder.
Maybe it could be as simple as
`<some-location>/apps-cache/<AppCR-metadata.uid>/imgpkgBundle/<bundle digest>/<contents>`

[2022-05-23 23:51] cppforlife commented on #688
since vendir could be used standalone (caching feature included) my rationale for `<some-location>/apps/<AppCR-metadata.uid>/.vendir-cache/fetcher/imgpkgBundle/<bundle digest>/<contents>` location was:

- `<some-location>/apps/<AppCR-metadata.uid>/` is something that kapp-controller is responsible for configuring per App
- `.vendir-cache/fetcher/imgpkgBundle/<bundle digest>/<contents>` is a struct

[2022-05-24 14:22] jorgemoralespou commented on #674
This is very much needed at this point, as many of the packages used (specially in TCE) don't provide enough configuration for some users, resorting to other solutions like adding "skip" on update-strategy for some configmaps, so that configuration can be modified manually.

[2022-05-24 22:31] neil-hickey commented on #687
This should be fixed as part of https://github.com/vmware-tanzu/carvel-kapp-controller/pull/695

We opted for a TokenRequest by KC instead of user impersonation.

[2022-05-24 22:31] #687 closed, assigned to neil-hickey, joe-kimmel-vmw

[2022-05-25 15:13] praveenrewar opened #700 "`kctrl`: `Released-at` column should show user friendly value in case the value is not available"
**What steps did you take:**
`kctrl package available list -p contour.tanzu.vmware.com`

**What happened:**
[code]

**What did you expect:**
A more user friendly value for released-at or empty string when it's not available.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment t

[2022-05-25 22:11] gmrodgers opened #701 "Kapp controller doesnt generate new token for a SA with the same name as a deleted SA"
**What steps did you take:**
1. Deploy kapp controller
2. Apply a Package, PackageInstall, ServiceAccount (used in PackageInstall as .spec.serviceAccountName)
3. Delete the ServiceAccount
4. Recreate the ServiceAccount with the same name

**What happened:**
PackageInstall  fails as it get the token for the old ServiceAccount which is now invalid.

**What did you expect:**
A new token to be generat

[2022-05-25 22:29] neil-hickey commented on #701
Hmm, thanks for the issue @gmrodgers !

Funny, I did actually think about this case.

https://github.com/vmware-tanzu/carvel-kapp-controller/pull/695#discussion_r879731513

I didn't really expect the use case to happen - create SA, delete SA, recreate SA. But I guess it can, and it has ;)

I'm always in favour of less k8s API calls, we are already known for taking down GKE. So the less the better,

[2022-05-26 16:22] cppforlife commented on #701
nice catch!

[2022-05-26 18:25] gmrodgers commented on #701
Hey @neil-hickey !

Yep, we catch it when we delete/recreate both the secrettemplate and serviceaccount (in the same file) during testing! So may be quite common.

Less API calls makes sense to me! One thing though is we'd still need to do a Get request for the SA (to obtain the UID) so there would be the same number of calls unless I'm missing something i.e. in UID case it's one SA Get per reconc

[2022-05-27 02:06] marshtompsxd commented on #400
Hi @joe-kimmel-vmw , thanks for your help and sorry for the late response.
We have ported the kapp controller with Sieve, but unfortunately the current version of Sieve cannot test it because kapp controller does not issue updates to the k8s cluster (Create, Delete, Update, Patch) through the controller-runtime APIs -- Sieve assumes all the updates go through the controller-runtime APIs.

To addre

[2022-05-29 16:21] jessehu opened #710 "Package.Spec.SyncPeriod should be respected when PackageInstall.Spec.SyncPeriod is nil"
**What steps did you take:**
When applying a PackageInstall CR with Spec.SyncPeriod == nil.

**What happened:**
The generated App.Spec.SyncPeriod is 10min.

**What did you expect:**
Package.Spec.Template.Spec.SyncPeriod (if not nil) should be respected when PackageInstall.Spec.SyncPeriod is nil.
Because each Package knows its proper SyncPeriod and deploy.kapp.RawOptions.'--wait-timeout=30s', unles

[2022-05-30 09:58] #678 closed, assigned to praveenrewar

[2022-05-30 09:58] #679 closed, assigned to praveenrewar

[2022-05-30 09:58] #682 closed, assigned to praveenrewar

[2022-05-31 05:01] #675 closed, assigned to 100mik

[2022-05-31 05:01] #604 closed, assigned to praveenrewar

[2022-05-31 05:42] 100mik opened #714 "`kctrl`: Allow inspection of resources created by kapp easily"
**Describe the problem/challenge you have**
Users should be able to view resources taht are created by a package install and App CRs

**Describe the solution you'd like**
The experience should look something like this:
[code]
`kctrl package installed inspect -i simple-app` should yield a similar result for package installations.

---
Vote on this request

This is an invitation to the community to

[2022-05-31 16:24] #661 closed, assigned to 100mik

[2022-05-31 17:37] cppforlife commented on #714
this seems unnecessary since we also have `Resources in app 'simple-app'`.

[2022-05-31 20:31] #701 closed, assigned to nobody

[2022-06-01 19:14] cppforlife commented on #710
@jessehu this was done intentionally since this is a type of configuration that is controlled by the package consumer, not authors. would you mind elaborating why it would be useful for package author to "pitch in" with their value?

[2022-06-02 00:09] jessehu commented on #710
Thanks @cppforlife. My point is Package.Spec.Template.Spec.SyncPeriod (if not nil, defined by the package auther) should be used when PackageInstall.Spec.SyncPeriod is nil.
[code]
The Package author knows the proper deployment options, such as SyncPeriod and deploy.kapp.RawOptions.'--wait-timeout=30s', but can be override by PackageInstall. If we think SyncPeriod should only be controlled by Packa

[2022-06-02 11:57] cppforlife commented on #710
syncPeriod of a package is not something that should "affect" the package itself. ie it should not matter at all if consumer decides to run reconciliation every 30s or every 10h. authors should have no opinion on how frequently consumers decide to reconcile their system.

that's an interesting question because there are definitely cases where wait timeout is more specific to package content, _but_

[2022-06-02 13:22] jessehu commented on #710
I understand your point. Shall we add a hint on https://carvel.dev/kapp-controller/docs/v0.36.1/packaging/#package to explicitly describe only fetch/template/deploy fields from App CR should be specified in Package.Spec.Template.Spec? That doc currently says:

[code]

[2022-06-03 10:29] itaytalmi opened #717 "The "source <(kctrl completion bash)" command outputs an error message"
**What steps did you take:**
[A clear and concise description steps and any files that can be used to reproduce the problem.]

Added `source <(kctrl completion bash)` to my `/etc/profile` so it would automatically load.

To reproduce the issue, you can simply run `source <(kctrl completion bash)`.

**What happened:**
[A small description of the result]

Got the following error message:

[code]

Th

[2022-06-04 12:43] jessehu commented on #710
just recall a possible use case that the package author might want to set Package.Spec.Template.Spec.SyncPeriod of package A to a shorter time as this package A depends on other packages, and all packages are reconciled in parallel. As a result, package A can be reconciled again in shorter period and set its status to ReconcileSucceeded.

and I would prefer if pkgInstall.Spec.SyncPeriod == nil, it

[2022-06-04 15:44] praveenrewar commented on #717
@itaytalmi Thanks for creating the issue. We are working on improving the tty experience and hopefully this will get fixed along with that, if not, we will make the same fix done in kapp.

[2022-06-06 10:46] #670 closed, assigned to 100mik

[2022-06-06 20:37] davidblum opened #720 "Kapp-Controller fails to install package when using versionSelection constraints AND a packageRepository"
**What steps did you take:**

# Steps
Create and push Bundle
Create and push PackageRepository
Attempt to install package via package repository
Error

For this example we are using KIND + a local docker registry (with no auth)

## Create and push bundle
We use Istio's basic httpbin [example](https://raw.githubusercontent.com/istio/istio/master/samples/httpbin/httpbin.yaml) for our test service.

[2022-06-07 08:25] 100mik commented on #676
PR which fixes null messages being printed made to dependency: cppforlife/go-cli-ui#11

[2022-06-07 18:03] cppforlife commented on #720
hey @davidblum, the reason for this behaviour is because imgpkg bundle fetching (done by vendir) does not support (intentionally) using digest and tagSelection: https://github.com/vmware-tanzu/carvel-vendir/blob/develop/pkg/vendir/fetch/imgpkgbundle/sync.go#L98-L100 (though we do not have a nice error message for this).

but where does the digest come from? it ends up to be added via kbld command

[2022-06-07 19:08] davidblum commented on #720
@cppforlife Thanks for the reply!

This is exactly what we ended up doing.

From what we read in the documentation our approach was supported, so we were very confused when it resulted in the aforementioned error.

I think either a clearer error message, or perhaps cleaning up that aspect of the documentation could help avoid this error in the future.

[2022-06-07 22:57] pivotaljohn commented on #686
@joe-kimmel-vmw asked:

"Experimental" means **NOT** production or any system that has any requirement for stability, reliability, security, etc.

I imagine someone will come along with a multi-tenant-related use case... but I'd discourage use outside of _anything_ except POCs, personal use, etc.

[2022-06-08 15:10] #639 closed, assigned to benmoss

[2022-06-08 20:48] anders-swanson opened #729 "Dependencies and Hooks"
Hi, this is a general question on a user story for carvel kapp. Is there a way to define dependencies or hooks on an app? E.g.,

- Run custom logic before the kapp-controller processing the YAML and deploys the app
- Run custom logic after the kapp-controller marks the app as healthy
- Define a list of selectors (i.e., matchLabels) for apps. All apps matching the selectors must be healthy before k

[2022-06-08 22:45] kartiklunkad26 opened #728 "Unable to Create Package Repository in Local Environment using Carvel Docs"
**What steps did you take:**
I was following the steps outlined in [Adding a Package Repository](https://carvel.dev/kapp-controller/docs/v0.37.0/packaging-tutorial/#adding-a-packagerepository), with setting up a local registry and kind cluster using this recent [PR](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/examples/local-kind-environment/scripts/kind-with-registry.sh#L4-

[2022-06-08 23:15] cppforlife commented on #729
(issued transfered to kapp-controller repo since it seems like question was kapp-controller centric.)

@anders-swanson would you mind providing some concrete examples of what kind of actions you may want to take at those times. i may be able to provide recommended solutions for some and for the rest it could develop into a feature request.

[2022-06-09 14:20] anders-swanson commented on #729
Hi @cppforlife, thanks for triaging this issue.

## Hooks
In many use cases your app may have some pre/post logic that needs to be reconciled, not present in helm chart. I will give some specific examples of apps that may require this. Because hooks are intrinsically user and environment specific, it would be best if the user has full control of how to define them.

### Pre-Processing Hook
An App

[2022-06-09 14:22] anders-swanson commented on #729
I guess, I am wanting to orchestrate the deployment of many apps simultaneously as a cohesive and functional unit. There is some wiring from Hooks and safety checks with Dependencies that are desirable in such a scenario.

[2022-06-09 17:00] cppforlife commented on #729
thanks for providing more detail here. really useful. ill try to pick at concrete examples with suggestions:

general pattern we have recommended is to use kapp ordering rules (https://carvel.dev/kapp/docs/v0.49.0/apply-ordering/). as long as you can identify before or after particular resource change(s) you want to do something, you can order creation/update of a k8s Job that can perform arbitrar

[2022-06-09 17:27] anders-swanson commented on #729
Thanks, great suggestions. I am getting an idea of how this work would for an App collection that represents a platform.

### Re: Pre Hook
I am hoping any pre-hook logic is simple enough that it could be coerced into a helm chart or applied via some other controller like you mention for secrets generation. In the case that it does not fit into this model, it's unclear how to proceed.

### Re: Post

[2022-06-09 19:03] benmoss opened #732 "Get rid of config-test"
Right now our e2e tests depend on a cluster that's been deployed with a special configuration (the files in https://github.com/vmware-tanzu/carvel-kapp-controller/tree/d49800d7d5024058911e096cfd7487f49ccf0c5f/config-test). That means they won't pass against a kapp-controller deployed by the release manifest, or `hack/deploy.sh`.

It would be better if we had the tests that require special configur

[2022-06-09 19:13] neil-hickey commented on #686
If that's the case, I think it's more realistic to assume this is just a global setting on KC through the deployment env variables.

Allowing individual AppCRs to enable it seems unnecessary. Maybe we close this out with the suggestion of using the deployment environment variables?

@pivotaljohn / @joe-kimmel-vmw

[2022-06-09 20:28] #573 closed, assigned to nobody

[2022-06-10 13:54] benmoss opened #736 "Testing with arm64"
We just added ARM64 support in #680 but don't have any coverage that the code/release works. Let's add some test infra for ARM. https://github.com/marketplace/actions/arm-runner is probably worth investigating

[2022-06-10 18:41] cppforlife commented on #729
are there cases of in pre-hook category that you feel cannot be addressed by a Job + order rules?

if you absolutely want this Job to run every time reconciliation happens (vs only when Job definition changes), then you can use `kapp.k14s.io/nonce` annotation on a Job. it will force Job to "change" every single deploy. (this note is also relevant: https://carvel.dev/kapp/docs/v0.49.0/faq/#jobbatch

[2022-06-11 15:00] cppforlife commented on #659
@neil-hickey this might be actually a pretty good solution to the problem you faced around version injection at build time. annotation on AppCR/PackageCR can hold artifact version, and App CR can slurp it down and inject it into Deployment etc. additionally we can also do some automatic annotation setting on underlying App CR based on some metadata of Package CR (e.g. what if author of Package CR

[2022-06-11 15:17] nebhale opened #739 "PackageRepository’s Cannot Be Fetched From Git"
**What steps did you take:**
Given the following CR:

[code]

**What happened:**
The CR fails to reconcile with the following `usefulErrorMessage`:

[code]

**What did you expect:**
I expected the `Package` and `PackageMetadata` CRs defined [here](https://github.com/vmware-tanzu/community-edition/tree/main/addons/packages) to be created within the cluster.

**Anything else you would like to add:**

[2022-06-11 19:14] cppforlife commented on #739
it's currently expected that there would be packages directory under given "root" of pkg repo. in your case you can change `subPath: addons/packages` => `subPath: addons/`. we seem to only have this documented under pkg repo bundle: https://carvel.dev/kapp-controller/docs/v0.38.0/packaging-artifact-formats/#package-repository-bundle, but as of now that's a generic restriction.

[2022-06-11 19:15] cppforlife commented on #739
(just for the record https://github.com/vmware-tanzu/community-edition 's addons directory is not meant to be consumed as a pkg repo -- pkg repo should only contain PackageMetadata and Package CRs, however, in TCE's case there are actually contents of individual packages stored in those directories.)

[2022-06-12 12:50] nebhale commented on #739
Understood on the directory restriction being across all fetches (feels like some doc polishing would be useful there).

For clarity on the “should only contain…” statement, why? Is there some concrete misbehavior when the controller encounters files containing things other than the CR’s it was expecting?  I’d kind of assumed that it’d follow [Postel’s Law](https://en.wikipedia.org/wiki/Robustness

[2022-06-12 12:59] nebhale opened #740 "PackageInstall CR without versionSelection section causes panic"
**What steps did you take:**
Given the following **invalid** CR

[code]

**What happened:**
The kapp-controller `Pod` crashed with a `SIGSEGV`

[code]

**What did you expect:**
I expected the `PackageInstall` to fail to reconcile, but for the `Pod` to stay healthy in the process. As it stands now, an invalid `PackageInstall` can prevent all `kapp-controller` functionality, effectively acting as a

[2022-06-12 23:29] cppforlife commented on #739
it should in theory ignore things that it doesnt know about (this was done for backwards/forward-compatibility) but there is no way to gurantee that while its recursively collecting yml files, it wont find something that is meaningful to it (e.g. Package/PackageMetadata CR), but not actually intended to be included (e.g. if there are some development related Package CRs in those directories).

[2022-06-13 14:28] #676 closed, assigned to praveenrewar, 100mik

[2022-06-13 15:24] nebhale commented on #739
Understood on the dangers of finding something meaningful but not intended for inclusion.  Thanks for the clarification.

[2022-06-13 15:24] #739 closed, assigned to nobody

[2022-06-13 18:03] DennisDenuto commented on #659
@cppforlife
I'm going to try and split this enhancement into 2 separate PRs.

1) k8s app info provided as values (name, namespace, uid, labels, annotations)
2) vendir info provided as values (vendirLock)

wrt annotations / labels:

I think we should also provide the ability to allow subscripts as an accepted configuration. (I think its good practice to have ability to provide as little values into

[2022-06-15 13:08] #732 closed, assigned to cppforlife

[2022-06-15 14:20] #717 closed, assigned to praveenrewar

[2022-06-15 16:45] joe-kimmel-vmw commented on #728
Hi @kartiklunkad26 !  - thanks for filing!

You're right - the instructions provided were for the (late) katacoda platform which is no longer available. I would expect them to still work on most linux machines but they aren't general.

On a mac, if you run `ipconfig getifaddr en0` can you confirm that you get something that looks like an IP address (e.g. I get 192.168.1.107).

The trick here is th

[2022-06-15 16:47] joe-kimmel-vmw commented on #728
@kartiklunkad26  how do you think we should update the docs ?  The local registry made sense when it was possible to have a fully reproducible katacoda environment, but now do you think it makes more sense to tell the docs-consumer to use a dockerhub account?

[2022-06-15 17:58] joe-kimmel-vmw commented on #740
Thanks @nebhale

[2022-06-16 17:35] #740 closed, assigned to joe-kimmel-vmw

[2022-06-16 21:05] aelango-vmw opened #749 "Right method to know the version of a package install"
Say there are 2 different versions (`v1`, `v2`) of a specific package. I've installed version `v2` version of the package.
Say I try to downgrade for some reason to `v1`. And the package install reconciliation fails. In this case, the `v2` of the app is still running.

A package Install's Status has both `version` and `lastAttemptedVersion`
 - `version` seems to be the currently resolved version,

[2022-06-17 11:53] cppforlife commented on #749
correct.

correct. it gets set as soon as we try to apply any change regardless how far we get through that change (even if no change applied at all).

there is not really a concept for that since deploy might have failed mid way and so your environment actually contains combination of 2 versions (e.g. Deployment from one version but Service from another -- since k8s doesnt provide transaction acr

[2022-06-17 17:15] joe-kimmel-vmw opened #753 "❄️ Flaky Test Collection ❄️"
Flaky Test Collection:   Name and shame flaky or flakey tests in this issue,  provide any ongoing hints/remediation, remove,

1. `Test_PackageInstalled_FromPackageInstall_DeletionFailureBlocks`  (recently got new diagnostic prints added to help debug why it flakes)
2. `wait: no child processes` [[1]](https://github.com/vmware-tanzu/carvel-kapp-controller/runs/6923327841?check_suite_focus=true#step

[2022-06-17 17:17] benmoss commented on #753
`Test_PackageInstallAndRepo_CanAuthenticateToPrivateRepository_UsingPlaceholderSecret ` was updated in https://github.com/vmware-tanzu/carvel-kapp-controller/pull/738, may be worth checking if that was the cause of the flakiness

[2022-06-17 19:09] benmoss commented on #753
~~I'm investigating `Test_PackageInstallAndRepo_CanAuthenticateToPrivateRepository_UsingPlaceholderSecret`~~

@cppforlife fixed in https://github.com/vmware-tanzu/carvel-kapp-controller/pull/758

[2022-06-20 07:40] SSan-dhya commented on #740
In TAP, Following  the installation process... even after installing the plugins, while running the secret registry command, it shows secret is not available... can anyone tell me how to resolve it?? tried every possible ways and tried to recreate from scratch.....still stuck with the same thing

[2022-06-21 01:15] joe-kimmel-vmw commented on #740
Hi @SSan-dhya  - This is the github for the open source project secretgen-controller, which is used in the commercial solution known as TAP, but this is not a good place to ask for support on TAP installation.

Please follow up with whomever is supporting your TAP installation journey, and best of luck!

[2022-06-21 11:18] 100mik commented on #674
In the draft PR for this,
The use can supply multiple `--ytt-overlay-file` flags pointing to paths to overlay files or directories with overlay files.
`--ytt-overlays=false` can be used to drop values file similar to `--values` and `--values-file`.

If multiple overlays are supplied they are ordered in the order which they are supplied.
In the case of a folder with multiple files, the files will b

[2022-06-21 13:49] jorgemoralespou commented on #674
@100mik can you elaborate on the `--ytt-overlays` use case?

[2022-06-21 13:54] voor commented on #674
This functionality in particular would be great even for gitops use cases, having the ability to dump my files into a directory and then `kctrl blah blah -f my_directory` and dump out a well formatted secret that already injects all of the files would be super handy.  I don't think even `kubectl` has that kind of smartness when `--dry-run` creating secrets.

[2022-06-21 18:31] 100mik commented on #674
@jorgemoralespou If a user wants to stop using ytt overlays that were previously supplied to a package installation, they can do something like `kctrl package installed update -i <pkgi-name> --ytt-overlays=false`.

This flag is `true` by default, which means that `kctrl` will keep existing overlays supplied to it.
When set to `false`, it will delete the created secret and remove it's reference fro

[2022-06-21 19:50] jorgemoralespou commented on #674
I see. Doesn't feel intuitive, TBH.
I would name the flag something more obvious, like `--remove-overlays` and have it default to false. It's easier to understand.

[2022-06-23 10:31] voor commented on #729
One of the mechanisms that I've been playing around with lately is the [kapp.k14s.io/exists](https://carvel.dev/kapp/docs/v0.46.0/apply/#kappk14sioexists), it effectively tells a package something else is going to create this CRD or object, and you should hold your horses until it's there.  I realize it was primarily created to handle use cases like Gatekeeper or Dex where the operator makes its o

[2022-06-23 16:39] #659 closed, assigned to DennisDenuto

[2022-06-23 16:51] cppforlife commented on #753
"Fetching resources: wait: no child processes" error from:
- https://github.com/vmware-tanzu/carvel-kapp-controller/runs/6923327841?check_suite_focus=true#step:5:4575
- https://github.com/vmware-tanzu/carvel-kapp-controller/runs/7014548810?check_suite_focus=true#step:5:4402
[code]

[code]

[2022-06-23 18:28] cppforlife commented on #589
closing due to no activity. feel free to reopen.

[2022-06-23 18:28] #589 closed, assigned to benmoss

[2022-06-23 20:09] benmoss opened #760 "Cryptic errors when using an invalid PackageRepository"
**What steps did you take:**
Tried to create a PackageRepository that was actually not a PackageRepository bundle. Got this error:

[code]

**What happened:**
I will fill in more details / better repro, just jotting this down now.

[2022-06-25 00:17] #662 closed, assigned to 100mik

[2022-06-26 10:04] 100mik opened #763 "`kctrl`: Add a `package repository kick` command"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen. If applicable a visual representation of the UX.]
A command which triggers reconciliation for a Package Repository.
Similar to how `package installed kick` does for a package install.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog

[2022-06-26 18:24] 100mik commented on #763
Relevant thread: https://kubernetes.slack.com/archives/CH8KCCKA5/p1655917509001879

[2022-06-26 18:24] 100mik commented on #763
I wonder if there is a case for pause/status commands as well. But that can be pursued separately.

[2022-06-26 19:14] 100mik opened #765 "`kctrl`: handle multiple updates which need a pause to sync them up better"
### Problem at hand
#### Case 1: Package installs which fail before underlying app is created
If a package install which has values supplied while installation fails due to a bad version.
[code]
To fix this users might do
[code]
Which errors out because `kctrl` tries to wait for an app which does not exist to be paused.

To remedy this, the `waitForAppPause()`should ignore apps that cannot be foun

[2022-06-26 19:20] 100mik commented on #765
As of now, both the cases can be worked around by applying these changes separately,
First bumping the version,
[code]
And then updating the values,
[code]

[2022-06-26 19:22] 100mik commented on #765
Acceptance criteria for resolution of the issue would include:
- Ensuring we do not wait for apps do not exist to get paused
- Ensure that changes to the PackageInstall struct do not overwrite each other during the update
- Add tests to avoid regression

[2022-06-26 19:23] 100mik commented on #765
We should wait till #725 gets merged as it touches a lot of the same code and ytt overlays need to be considered while making changes to the package install as well.

[2022-06-27 12:31] praveenrewar commented on #753
`Fetching resources: wait: no child processes`
- https://github.com/vmware-tanzu/carvel-kapp-controller/runs/7072116629?check_suite_focus=true#step:5:4489

[code]

[2022-06-27 19:24] joe-kimmel-vmw commented on #535
a couple of notes from a followup discussion:
- providing namespace to TMC users can be thought of like "tell the users what directory you're storing files in" metaphor from a local install
- we should ensure we understand what resources users are interested in (would `kubectl get all` provide them?) and what the real goal (the "... So That ...") of the users who requested this feature.

[2022-06-27 20:45] aaronshurley opened #768 "imgpkg on OpenShift + GCP doesn't work without IMGPKG_ENABLE_IAAS_AUTH=false"
**What steps did you take:**
Deploy kapp-controller on an OpenShift cluster in GCP. Or, you could spin up a local cluster that does not have access to the metadata server.

**What happened:**
The resources are not created.

**What did you expect:**
kapp-controller to get deployed successfully.

**Anything else you would like to add:**
[See this Tekton issue for a similar scenario](https://github.c

[2022-06-28 19:47] #671 closed, assigned to 100mik

[2022-06-28 19:47] #763 closed, assigned to nobody

[2022-06-30 18:06] joe-kimmel-vmw commented on #428
I think this was closed by #657

[2022-06-30 18:06] #428 closed, assigned to joe-kimmel-vmw

[2022-06-30 18:17] joe-kimmel-vmw commented on #69
fixed by #569

[2022-06-30 18:17] #69 closed, assigned to benmoss

[2022-07-01 05:47] leonard520 opened #771 "Health Check (Liveness and Readiness probe for kapp controller)"
**Describe the problem/challenge you have**
I am wondering if health check is needed to maintain kapp controller in a production environment to help detect whether the controller still works

**Describe the solution you'd like**
Like other Kubernetes operators, add meaningful liveness and readiness probe

**Anything else you would like to add:**

---
Vote on this request

This is an invitation to

[2022-07-01 23:07] joe-kimmel-vmw commented on #771
@leonard520 thanks for filing this issue!

Do you have any specific situations or use-cases where you've been impacted?

For instance, as I understand it the general point of a liveness probe is so that the deployment can be self-healing and the control-plane will restart the container when it crashes.  Just to make sure this behavior was working, I added a panic to one of our reconcilers and rede

[2022-07-02 12:27] leonard520 commented on #771
Hi @joe-kimmel-vmw , from my understanding, if no defined liveness probe, k8s will try to restart the pod when the PID 1 process crash. However, I am not sure there is a case the main thread is still running but the controller is not able to be response anymore.
I see[ k8s operators](https://github.com/operator-framework/operator-sdk/commit/ea43495073a543ede5f10ea5790660004cf750be#diff-7c0d3cc64a4

[2022-07-02 12:55] leonard520 opened #772 "Package version maintenance best practice"
Hi team, I know there are some concepts to maintain the package versions, `PackageRepository` and `PackageInstall`.  `PackageRepository` can include several `Package`s and each `Package` can have several versions.
Assume we have already install `PackageRepository` `my-repo:1.0.0` and the `PackageInstall` `my-package:0.0.1` in the cluster. when there are `my-package:0.0.2` released, we will have th

[2022-07-05 17:09] joe-kimmel-vmw commented on #772
Thanks @leonard520 - as of kapp-controller 0.38.x this sentence is false (as long as the two packages with identical name+version are completely identical):

Because of that the short term recommendation is to leverage this ability and to prefer a path where you make one package repository per version.  Does that help?   We're definitely interested to hear more about your use-case and understand w

[2022-07-05 17:10] joe-kimmel-vmw commented on #772
see the docs here: https://carvel.dev/kapp-controller/docs/v0.38.0/packaging/#overlapping-package-repositories

[2022-07-05 17:50] cppforlife commented on #772
to add a bit more... all three methods are supported and can be useful depending on styles of usage. we typically recommend either:
- (a) to keep on adding packages to existing repo (most common recommendation)
- or, (b) having 1 pkg-repo == 1 "software" version (typically software is composed of multiple packages).

in case of (a) the only difficulty if you have to transfer pkg repo to a private

[2022-07-05 18:18] cppforlife commented on #771
we havent observed direct need for liveness probe yet, but in theory, yeah, it might be helpful if something makes controller-runtime goroutines "stuck". i think it's probably worth waiting for anybody to report a problem where this might have been useful so that we understand the underlying conditions.

[2022-07-06 14:53] #376 closed, assigned to neil-hickey

[2022-07-06 18:33] benmoss commented on #736
I think the arm-runner is not really practical for running a Kubernetes cluster

[2022-07-06 20:57] neil-hickey opened #774 "Publish a PackageCR for Kapp-Controller"
**Describe the problem/challenge you have**
[A description of the current challenge that you are experiencing.]
[Similar to Secretgen-controller](https://github.com/vmware-tanzu/carvel-secretgen-controller/pull/65), Kapp-controller should publish an OSS PackageCR and PackageMetadataCR so that it can be easily deployed without users needing to create these resources manually.

They will contain eve

[2022-07-07 15:33] cppforlife commented on #753
(https://github.com/vmware-tanzu/carvel-kapp-controller/runs/7234570328?check_suite_focus=true)
[code]

[2022-07-07 15:39] #672 closed, assigned to 100mik

[2022-07-07 18:46] joe-kimmel-vmw opened #777 "universal debug flag"
**Describe the problem/challenge you have**
kapp controller is especially hard to debug when it starts calling out to other binaries, and occasionally you just want a detailed log from imgpkg or something.

**Describe the solution you'd like**
a single environment variable in the kapp-controller deployment would kick all tools into debug level output, enabling us to drink sweet diagnostic elixir f

[2022-07-08 16:03] neil-hickey commented on #774
One interesting take-away from implementing this in Secretgen-controller is that when we were pushing to ghcr the new "github package" settings had to be changed to allow github actions to work.

Click on the `package` --> `Package Settings` --> `Manage Actions Access` section

<img width="1120" alt="Screen Shot 2022-07-07 at 3 29 43 PM" src="https://user-images.githubusercontent.com/6075668/17802

[2022-07-08 16:46] aaronshurley commented on #124
This was shipped in v0.33.1.

[2022-07-08 16:46] #124 closed, assigned to nobody

[2022-07-11 16:25] pivotaljohn commented on #201
"invalidated" ?

[2022-07-11 16:41] cppforlife commented on #753
Test_PackageInstall_UsesExistingAppWithSameName was fixed by #783

[2022-07-11 22:44] joe-kimmel-vmw commented on #484
see design proposal: https://hackmd.io/6FQhzRIPR_uceqtTqSIXaA

[2022-07-11 22:45] joe-kimmel-vmw commented on #577
see design proposal here: https://hackmd.io/6FQhzRIPR_uceqtTqSIXaA

[2022-07-11 22:56] joe-kimmel-vmw commented on #484
we will likely solve this alongside #577

[2022-07-11 22:59] joe-kimmel-vmw opened #781 "Expose cluster versions and capabilities to templating steps"
**Describe the problem/challenge you have**
see design proposal doc: https://hackmd.io/6FQhzRIPR_uceqtTqSIXaA

**Describe the solution you'd like**
per proposal doc, add to both Helm template specifically and ytt/cue templaters more generally

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

Helm shouldn't be talking to the cluster; we shoul

[2022-07-12 16:44] leonard520 commented on #772
@cppforlife Thanks for the suggestions. I have tried to use Kapp controller v0.38 and it can work with overlap package versions of different package repos. It is really cool.
However, I meet an issue and want to double confirm with you.
Say I have my-repo:1.0.0 which contains my-package:0.0.1 and your-package:0.0.1
I apply them in my cluster and now I am using my-package:0.0.1 and your-package:0.0

[2022-07-12 18:32] cppforlife commented on #772
@leonard520 you are right that this is indeed the current behaviour. when we were implementing it we didnt see an easy way to make this work quicker. definitely need to consider how we can improve this.

[2022-07-13 01:22] jessehu opened #784 "Support secret key in AppTemplateValuesSourceRef"
**Describe the problem/challenge you have**
We want to use a shared Secret across Package CRs, and use different keys in the Secret for different Package CRs.

**Describe the solution you'd like**
Add 'key' field in AppTemplateValuesSourceRef just like AppClusterKubeconfigSecretRef
https://github.com/vmware-tanzu/carvel-kapp-controller/blob/7d7ea1d65be1034906aca0145b895627ed4e233c/pkg/apis/kappctr

[2022-07-14 12:13] kartiklunkad26 opened #788 "kctrl: should have command to trigger immediate reconciliation attempt on a given package"
**Describe the problem/challenge you have**
When troubleshooting a deployment, we often need to wait several minutes for a reconciliation attempt on the packageinstall we want to reconfigure.

**Describe the solution you'd like**
If we had a "kctrl package installed trigger-reconciliation " command that simply paused and unpaused the underlying relevant reconciler we could short-circuit this delay

[2022-07-14 12:17] 100mik commented on #788
Heyo!

`kctrl package installed kick -i installation-name` would do exactly this

[2022-07-14 12:22] 100mik commented on #788
Worth noting that it was brought up that the command `kick` might not be the most obvious name.
But the help section should help with that.

Do you think this was inaccessible/ not easy to find?

[2022-07-14 15:09] kartiklunkad26 opened #789 "[Docs] Collecting metrics from kapp-controller to observe cluster's `app` resources"
**Context**
Users want to monitor the deployed `app` resources in their cluster, and be able to consume the metrics in their dashboard tool of choice (for eg; Prometheus)

We have the capability for it, but haven't exposed a meaningful of way of a user to use them.

**Acceptance Criteria**
Given I want to see a the metrics about `app` resources in my dashboard
Then I can follow a guide on carvel.d

[2022-07-14 16:23] leonard520 opened #790 "unable to retrieve the complete list of server APIs: data.packaging.carvel.dev/v1alpha1"
**What steps did you take:**
I met the error for several times but I am not sure what the exact reproduce step is. This time, I can only remember I was updating the secret of the package repo. After several rounds of `UNAUTHORIZED: authentication required,` (which could because I am using a wrong credential to the container registry), I am able to correct the secret. However, then the package repo

[2022-07-14 16:46] kartiklunkad26 commented on #788
I think this was a miss because it wasn't available in the downstream commercial CLI. Closing given we have this capability in kctrl.

[2022-07-14 16:46] #788 closed, assigned to nobody

[2022-07-14 16:51] kvmw commented on #772
to clarify one point about option a,
We need a new version of the package-repo, every time that we are adding/updating the packages. we cannot edit the packages in the existing package repo without creating a new image of it.  am i right?

[2022-07-14 19:30] benmoss commented on #753
TestPackageRepository https://github.com/vmware-tanzu/carvel-kapp-controller/runs/7339526938?check_suite_focus=true#step:5:4533

The kctrl logic in https://github.com/benmoss/carvel-kapp-controller/blob/1815114580ddbe149abf2f0cf5309c3163bae9d1/cli/pkg/kctrl/cmd/app/app_tailer.go#L202 seems sane, I'm not sure how this failure is happening.

[code]

[2022-07-15 09:35] showpune opened #792 "Different deployment mode to support good performance for 10k Apps"
**Describe the problem/challenge you have**
I need to use kapp-controller in a cluster to support deployment for 200 customers, and each customer has about 50 Apps. Totally we have more than 10000 Apps in the cluster.

1. The queue is blocked because of so many apps
2.  More pods can't help because each pod shares the same queue, they will conflict.
3. If one customer start lots of App, other cust

[2022-07-15 16:31] cppforlife commented on #772
right (registry resources are immutable), but you could be moving a tag to reference latest copy.

[2022-07-15 17:03] cppforlife commented on #792
hey @showpune, quick question,

are most of your Apps using `spec.cluster` to deploy to another cluster? (which also means it's not a primary concern that X number of kapp-controllers would be hitting same kubernetes cluster)

[2022-07-15 18:24] cppforlife commented on #790
@leonard520 how are you installing kapp-controller? via kapp deploy?

[2022-07-16 16:17] leonard520 commented on #772
Thanks @kvmw for the clarification. It is clear now.
@cppforlife I have one further question regarding to `PackageRepo`. Since registry resources are immutable, say `my-repo:1.0.0` always have `my-package:0.0.1` and `my-repo:1.0.0` will have `my-package:0.0.1` and `my-package:0.0.2`, what's the purpose for reconcile? Does it make sense to give the `syncPeriod` a large number?
Also, the question is

[2022-07-17 05:49] showpune commented on #792
Hi,

Yes and I use spec.cluster to deploy in my pressure test and hit the same Kubernetes cluster.
I don't think it is the problem to hit the same cluster because the TPS to the remote cluster is low when I deployed 250 Apps, but the reconcile is already blocked, normally it will take above 5 minutes to reconcile a App.
But if I use one deployment of kapp-controller for each namespace, the App wil

[2022-07-18 15:58] joe-kimmel-vmw commented on #772
@leonard520

In the case everything you're working with is completely fixed, you can think of it as assurance that the cluster is in the desired state. Any manual or automated changes not reflected in the declarative resources will be wiped clean at a regular interval, so it means that the system can be expected to be in the declared state.  In my head it's a little similar to how some providers w

[2022-07-18 17:04] cppforlife commented on #792
👍. your assessment aligns with mine.

would you be interested in carrying the work that you did in your fork into a PR to this repo?

[2022-07-18 18:51] joe-kimmel-vmw commented on #784
Thanks @jessehu - independent of future development in kapp-controller, we think you could potentially solve this problem with existing tools today by using the "secrets template" feature in secretgen controller to re-shape the original secret for each app (though that solution will add a few extra steps).

It sounds like we'll work on this eventually but I guess you and others are free to argue i

[2022-07-18 18:55] joe-kimmel-vmw commented on #789
Thanks for filing this issue @kartiklunkad26!   Can you give us some specific examples of how you're using kapp-controller metrics?  I think we will welcome you to contribute on this topic

[2022-07-19 03:01] jessehu commented on #784
Thanks Joe. This feature request is not high priority for us. We have a work around. I will see if we can make the contribution.

[2022-07-19 21:37] srm09 commented on #771
Coming from the CAPI/CAPV side of the table, `kapp-controller` is used to deploy the CPI/CSI pods which eventually move the nodes to a **Ready** state.
We have a use case, wherein a MachineHealthCheck can delete a node which is not in the **Ready** state. Due to some logic (CAPI does not drain this node), which causes the `kapp-controller` pod to show up as **Running** even when the underlying VM

[2022-07-19 21:40] joe-kimmel-vmw commented on #771
thanks @srm09  - tbh this sounds like buggy behavior elsewhere in the system,  but you're saying it could be fixed if we had health checks?

[2022-07-19 21:47] srm09 commented on #771
I wouldn't say buggy behavior, but sometimes due to environment delays/network latency node provisioning might take time. CAPI uses the provider id as a unique identifier for the node, which in case of vSphere is set by CPI.
Due to the above delays, we have seen situations arise wherein the node gets deleted but the state of the kapp-controller pods are shown as **Running**, but when we query the

[2022-07-19 21:48] srm09 commented on #771
Probably, I can simulate a similar scenario in this way. I can delete the VM on which `kapp-controller` is running. Am pretty sure this would cause a similar situation to arise.

[2022-07-20 10:53] cppforlife commented on #771
im not sure how readiness/liveness probe would help with that. if the node the is deleted, then in theory all pods on that node should be deleted as well. i believe kubelet is the one who maintains state of readiness/liveness probes and it would be gone, so there would be nothing to change them on a pod resource.

[2022-07-20 15:47] srm09 commented on #771
I have seen issues during testing wherein the VM corresponding to a node got deleted, without the node being actually (drained/cordoned)removed from the cluster. This causes the `kapp-controller` pod to show as **Running** even though when you query for, say, the logs for the pod, the api-server shows the error that the pod IP isn't reachable.
At least in our case, kapp is being used to deploy som

[2022-07-20 16:09] joe-kimmel-vmw commented on #790
@leonard520 This is unusual -- usually if an issue of the packaging APIs being unavailable is reported, there's absolutely no communication possible between the kubernetes API server and the kapp-controller extension API server. Those issues are generally due to the network being locked down in a way that prevents communication entirely.  I'm not aware of anything that can cause the kind of interm

[2022-07-20 16:14] joe-kimmel-vmw commented on #760
Thanks for filing this issue @benmoss!  Please do tell us more about your use-case and how to reproduce this bug.

[2022-07-21 22:17] cppforlife commented on #771
^ agreed and understood, but i dont see how readinessProbe and livenessProbe can help with this particular scenario since afaik they are executed by the VM itself (kubelet) and if VM is gone. overall this sounds like a general kubernetes problem -- what is responsible for deleting pods and nodes for which underlying VMs are gone?

[2022-07-24 14:53] ProNibs opened #796 "Allow registry credentials to be passed into kbld in template"
**Describe the problem/challenge you have**
I was looking to have a small App CR that took my main branch from git with k8s YAML in it, run a kbld on it, and deploy it.
It's better to have the sha256 image URLs rather than latest or even me manually editing it for versions.

**Describe the solution you'd like**
- Could just add a secretRef field to the kbld section
- Could allow kbld to re-use sec

[2022-07-25 16:07] joe-kimmel-vmw commented on #796
Thanks for filing this @ProNibs  - because you were encouraged to file this issue in slack I've marked it as 'accepted', and I think I understand the ask and use-case  but as always feel free to add any additional color that might be helpful!

[2022-07-25 18:11] joe-kimmel-vmw commented on #753
[code]

[2022-07-25 18:51] joe-kimmel-vmw opened #797 "Convert Kapp-controller's own deployment to use ytt schemas"
**Describe the problem/challenge you have**
they're clean, sleek and modern

**Describe the solution you'd like**
[A clear and concise description of what you want to happen. If applicable a visual representation of the UX.]

**Anything else you would like to add:**
This work could be seen as peeling of a pre-requisite for : https://github.com/vmware-tanzu/carvel-kapp-controller/issues/774

so if

[2022-07-25 18:52] joe-kimmel-vmw commented on #797
Thank you @joe-kimmel-vmw for submitting this issue!  We appreciate your contributing to our community.

[2022-07-28 17:16] aaronshurley opened #801 "Testing GHPB automation"
**What steps did you take:**
Is it really working?

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this addressed as soon as possible"
👎 "There are other more important things to focus on right now"

We are also happy to receive and review P

[2022-07-28 17:17] aaronshurley commented on #801
Yeah, it worked. Closing.

[2022-07-28 17:17] #801 closed, assigned to nobody

[2022-07-30 17:15] slapula opened #803 "x86-64 binaries in the arm64 image"
**What steps did you take:**
In an effort to learn more about Carvel tools, I wanted to deploy kapp-controller to my raspberry pi cluster running k0s.  I found that initial arm64 support was merged into the `develop` branch last month based on the work done in https://github.com/vmware-tanzu/carvel-kapp-controller/pull/680.  I forked this repository and created a tag with the cherry-picked commits

[2022-08-01 13:27] niitwh opened #805 "e2e tests failing on AKS"
**What steps did you take:**
I deployed the kapp-controller to an Azure kubernetes cluster successfully, and I ran e2e test `./hack/test-e2e.sh`

**What happened:**
The results show that many tests failed.  When running ` kapp delete -a test-cancel -n kappctrl-test --yes`
<img width="915" alt="截屏2022-08-01 下午8 33 05" src="https://user-images.githubusercontent.com/46929322/182148880-58409e30-2f59-4

[2022-08-01 13:28] benmoss commented on #760
This came out of a support request, a user had copied an imgpkg repository bundle to their Docker Hub account and then mistakenly used the wrong image as the repository image.

This repo is a decent repro of the core problem, which is just better error handling when a repo doesn't match the repo file structure

[code]

[2022-08-01 14:24] benmoss commented on #805
Hi @niitwh, thanks for filing this. I've reproduced that it seems e2es are failing on AKS. I'm running `./hack/test-e2e.sh -v -failfast` to see verbose logs and also stop the tests as soon as it encounters the first error, since from what you posted it looks like the suite is susceptible to test pollution from one failing test cascading to others.

You can also use `./hack/test-e2e.sh -run TestCon

[2022-08-01 14:27] #803 closed, assigned to nobody

[2022-08-01 17:31] benmoss opened #809 "Package signing & verification"
**Describe the problem/challenge you have**
As a consumer of packages, I want to have a way of verifying that the package was produced by a trusted party.

**Describe the solution you'd like**
Not a clear solution right now.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment t

[2022-08-01 17:37] aaronshurley opened #810 "kapp-controller works on OpenShift + vSphere"
**Describe the problem/challenge you have**
We want to ensure that kapp-controller's basic functionalities work on OpenShift + vSphere.

**Describe the solution you'd like**
We discussed as a team that the following plan would be sufficient:
1. Obtain an environment running on OpenShift + vSphere.
2. Run the e2e tests.
    1. If the tests succeed, we're done.
    2. If the tests fail, create issue

[2022-08-01 20:38] joe-kimmel-vmw commented on #810
it looks like the pipeline  we have for creating this isn't working at all right now.  We can try again or just wait:

 Bootstrap failed to complete: timed out waiting for the condition
[31mERROR[0m Failed to wait for bootstrapping to complete. This error usually happens when there is a problem with control plane hosts that prevents the control plane operators from creating the control plane.

[2022-08-04 15:04] #760 closed, assigned to nobody

[2022-08-05 13:11] voor commented on #60
Bumping this, since it's still a relevant feature.

[2022-08-05 16:30] joe-kimmel-vmw commented on #60
Thanks @voor we will bring this up at our next team meeting

[2022-08-05 16:39] #2 closed

[2022-08-06 09:02] niitwh commented on #805
Thanks a lot, the e2e test can run successfully after changing the test running environment.

[2022-08-06 09:02] #805 closed, assigned to nobody

[2022-08-08 21:58] joe-kimmel-vmw commented on #753
[code]

[2022-08-10 07:36] leonard520 opened #823 "Integration with Open Service Mesh"
Usually, service mesh injects a sidecar to pod/deployment to manage traffic/certificate. However, I find Carvel will reconcile and remove the sidecar. I am wondering if there is a way to make the packages managed by Carvel to co-work with service mesh? Thanks.

[2022-08-10 07:43] leonard520 commented on #790
I am using k8s api to install kapp-controller and I am not able to reproduce it recently. I think we can close the bug now and re-open if it happens again. Thanks for looking into it!

[2022-08-10 07:43] #790 closed, assigned to nobody

[2022-08-10 09:03] praveenrewar commented on #823
Hi @leonard520! You can use [kapp rebase rules](https://carvel.dev/kapp/docs/v0.51.0/config/#rebaserules) to copy fields from the resources present in cluster so that it doesn't get removed in further reconciliations.

[2022-08-10 14:50] cppforlife commented on #823
@leonard520 insertion of sidecar should happen during "save cycle" (via webhooks). fields added as part of the save cycle are not considered as changes by kapp (unless something else changes on the resources after the save cycle completes).

[2022-08-10 17:15] leonard520 commented on #823
Thanks for the quick response. I think I find the reason why the sidecar is removed. I am using https://openservicemesh.io/ and it will add an annotation to the namespace that enable auto sidecar injection. However, the annotation should be removed by reconciling so OSM think it shouldn't do sidecar injection. I will take a look at @praveenrewar 's suggestion to see if I can keep the annotation.
@

[2022-08-10 19:46] joe-kimmel-vmw commented on #810
I ran our e2e tests against a OS+VS cluster. at a high level the following tests failed:
[code]

The suite itself also timed out towards the end?  you can see above that a lot of these tests' failure mode is that they time out and i think we might've hit a suite-wide timeout.

It does look like the common thread is kind of "credentials and trust stuff is handled differently in openshift" .   ~I'm

[2022-08-11 00:19] #765 closed, assigned to 100mik

[2022-08-11 17:42] cppforlife commented on #823
yeah, if the namespace is created by a PackageInstall via kapp-controller, added annotations would be reconciled away. you can for example add this annotation (or add a rebase rule) via overlays -- https://carvel.dev/kapp-controller/docs/v0.38.0/package-install-extensions/

[2022-08-11 19:02] #484 closed, assigned to nobody

[2022-08-11 19:02] #577 closed, assigned to neil-hickey, joe-kimmel-vmw

[2022-08-11 19:05] #535 closed, assigned to cppforlife, DennisDenuto

[2022-08-12 00:04] YuxinZhou opened #825 "Is there a way to configure the merge strategy for the kapp-controller when reconciling the service resources?"
Hi carvel team,

We hit a problem when installing the Harbor package (https://github.com/vmware-tanzu/community-edition/tree/main/addons/packages/harbor) on our cluster. Would appreciate it if you could give some suggestions on this.

The problem is that the Harbor service will create some PVCs. On our cluster, the PVCs are also reconciled by another controller called CSI. The CSI controller will

[2022-08-12 03:53] praveenrewar commented on #825
Hi @YuxinZhou !

Yeah, this is an expected behaviour.

You can use an [overlay](https://carvel.dev/kapp-controller/docs/v0.38.0/package-install-extensions/) to add this annotation or  [kapp rebase rules](https://carvel.dev/kapp/docs/v0.51.0/config/#rebaserules) to copy fields (in this case the volume heath annotation) from the resource present in cluster so that kapp doesn't try to remove it in fu

[2022-08-14 15:42] ProNibs commented on #789
I was thinking about a similar thing:

I would love to be able to make a Grafana Dashboard that displays every App I have in my cluster and its status. However, the only port(s) used currently in the deployment of kapp-controller are strictly for the kubernetes api-server.

Looks like there is already App metrics configured to be collected in the prometheus format in the app_metrics.go file -- how

[2022-08-15 21:17] YuxinZhou commented on #825
Hi @praveenrewar, Thank you a lot for your quick response!

Regarding the overlay solution,  I forgot to mention that the annotation `volumehealth.storage.kubernetes.io/health` has a value (`accessible`, `inaccessible`, etc ) that the CSI  controller reconciles. So we don't want to patch a hard-coded annotation.  Could the overlay solutions be applied for such a use case?

The rebase rules look li

[2022-08-16 07:07] praveenrewar commented on #825
Hi @YuxinZhou

The annotation `ext.packaging.carvel.dev/ytt-paths-from-secret-name` can be used to add overlays to PackageInstalls (in this case it would add additional kapp config), it might look something like this:

[code]

[2022-08-16 07:59] 100mik opened #827 "`kctrl`: Post-alpha refactoring tracker for package authoring commands"
Tasks at hand:
- [x] Refactor vendor utils to be a scoped struct with associated functions
- [x] Refactor workflows to move away from the step interface and update them according to refactoring described above
    - [x] Local directory
    - [x] Generic vendir step
    - [x] Git release workflow
    - [x] Files from git repo
    - [x] Helm chart from git repo
    - [x] Helm chart from OCI reposito

[2022-08-16 07:59] 100mik opened #828 "`kctrl`: Tighten tests around package authoring commands"
- [x] Ensure that the packages/repositories generated are installable after the generation
- [x] Cover more cases (right now we only have a case covering packaging the upstream mongo helm chart)
    - [x] Use table tests
    - [ ] Avoid dependence on external artifacts
- [X] Ensure that the way we test the interactive flow is airtight
- [ ] local directory flow coverage

[2022-08-16 08:01] 100mik commented on #827
This is branching out from work that was ongoing in #766
In favour of breaking it down into digestible pieces and pulling in the authoring commands into an alpha release for early adopters.

[2022-08-16 08:01] 100mik commented on #828
This is branching out from work that was ongoing in #766
In favour of breaking it down into digestible pieces and pulling in the authoring commands into an alpha release for early adopters.

[2022-08-16 09:01] 100mik commented on #828
Deflating the PackageRepository commands test and/or loosening constraints to just check on `Deploy succeeded` instead of `Fetch succeeded` and `template succeeded` as well should go in with these changes

[2022-08-16 15:48] joe-kimmel-vmw commented on #789
Thanks @ProNibs  -

can you help us understand your goals with this dashboard?    who is going to refer to it, when, and why?   What kinds of questions will it help them answer?

[2022-08-16 20:11] neil-hickey commented on #823
Seems like this is solved via kapp rebase rules, @leonard520. Did you manage to get this working?

[2022-08-16 20:12] #686 closed, assigned to nobody

[2022-08-16 23:14] YuxinZhou commented on #825
@praveenrewar Thanks a lot!! This works for me! ( I changed `annotation` -> `annotations`)  I think it would be even better if there could be a way to configure the kapp-controller other than defining an overlay for each service. But this is good enough for us. Please feel free to close the thread.

[2022-08-17 00:00] YuxinZhou commented on #825
@praveenrewar is there a way to config this for kapp-controller so it applies to all services, not just one specific service?

[2022-08-17 13:14] praveenrewar commented on #825
Ohh, good catch!

Hmm, I don't think there's a way to do this as of now. Kapp-controller just used/s kapp to deploy apps, and doesn't know anything about rebase rules. And currently we don't have a way to set rebase rules applicable to all deployments (apart from the default rebase rules that come with kapp, which are very generic).

Do you have multiple PackageInstalls that would require these re

[2022-08-17 16:33] rohitagg2020 opened #831 "User feedback: `kctrl` package authoring commands"
We have created this issue to capture user feedback for kctrl alpha release.
Please add your feedback as **comments** and we will incorporate it in the description below after triaging it.

Suggestion: it will be helpful if you can add [CLI] or [Doc] to your comments/issues

************************* **Accepted feedback** ************************
- [x] [Doc] kctrl pkg release is missing in case of

[2022-08-17 17:00] YuxinZhou commented on #825
Got it, thank you! Yeah right. All packages with PVCs will hit the error because of the enforcement from the CSI controller on our cluster. So ideally we want to apply the rules to all services by default.

Please feel free to close the issue.

[2022-08-17 20:34] joe-kimmel-vmw commented on #810
confirmed from a user that packaging apis are working in this environment.

[2022-08-18 06:01] renuy commented on #831
[Doc] `kctrl pkg release ` is missing in case of cert-manager example [here](https://carvel.dev/kapp-controller/docs/develop/kctrl-package-authoring/#releasing-packages)

[2022-08-18 17:00] leonard520 commented on #823
Yes, I am able to make it works. Thanks a lot for the help.

[2022-08-18 17:00] #823 closed, assigned to nobody

[2022-08-18 22:11] ProNibs commented on #789
The dashboard would mainly be for Kubernetes Operators to see the overall health without having to go through multiple clusters and running a `kubectl get apps -A` each time and to see trends.

Most App CRDs are based off either OCI pulling or Git pulling, so the wrong push could break one or many App CRDs or could be everything depending on the OCI registry is down indicating that it's down.

Arg

[2022-08-20 07:28] mamachanko commented on #831
[docs] The `kctrl package init` command is not visible in the screenshot right after _” If we want to package cert-manager v1.9.0, we interact with package init somewhat like this:”_.

[2022-08-20 07:32] mamachanko commented on #831
[docs] The links to the “relevant faqs” return 404.

[2022-08-20 07:39] mamachanko commented on #831
[logs] When authoring and iterating or consuming packages, I would like to see logs of the contained pods. I know this is not directly related to this particular kctrl feature. I have also mentioned it [over here](https://github.com/vmware-tanzu/carvel-kapp/issues/582#issuecomment-1220484333). Maybe this is already possible 🤔?

[2022-08-22 06:08] 100mik commented on #831
To make things easier, I think we can react to resolved comments with a 🎉

[2022-08-22 08:28] rohitagg2020 opened #837 "Feedback on kctrl from `Graham Dumpleton`"
Feedback on kctrl from `Graham Dumpleton`

- [x] [Doc] Cert-manager example misses `kctrl pkg release -v 1.0.0` command. Fixed before release.
- [x] [Doc] Add the `kctrl pkg init` command in case of cert-manager example.
- [x] [Bug] If `kctrl pkg init` is not run successfully, then running `kctrl pkg release` fail with panic. Fixed before release.
- [x] `--local` and `--build` flags are missing wh

[2022-08-22 08:34] 100mik commented on #837
Branched out from #831

[2022-08-22 13:46] jdef opened #838 "kapp-controller leader election should provide safety during update operations"
**Describe the problem/challenge you have**
- no way to configure leader election for kapp-controller

**Describe the solution you'd like**
- we'd like a better guarantee for limiting the number of *active* kapp-controller reconcilers to 1 during rolling upgrades of our cluster

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

---
Vote on th

[2022-08-22 14:50] #825 closed, assigned to nobody

[2022-08-22 15:16] joe-kimmel-vmw commented on #838
@jdef Thanks for filing this issue. Can you share more about how you're using kapp-controller?  Right now there's not really a way to run multiple kapp-controllers at once

[2022-08-22 16:53] 100mik commented on #837
As of now we document the current behaviour here [here](https://carvel.dev/kapp-controller/docs/v0.40.0/kctrl-faq/#how-can-we-go-about-updating-a-package-dependent-on-an-upstream-release). Checking it off.

[2022-08-22 16:57] 100mik commented on #837
Looks like a missing check on `reconcilerErr` fixing it up.

[2022-08-22 16:59] 100mik commented on #837
We do mention this right after we show `package-resources.yml` in the tutorial. Does it need more clarity? Or needs to be highlighted more?

[2022-08-22 17:00] 100mik commented on #837
This feels a lot like an environment issue, and needs a closer look

[2022-08-22 17:40] #792 closed, assigned to nobody

[2022-08-22 21:33] jdef commented on #838
we're just getting started with it. it looks to be running an apiservice
(at least, there's an apiservice resource included in resources.yml) but
there's only a single replica. our concerns:

(a) if it's in ANY kind of api/controlplane hot-path, it should be HA (for
us, that translates to more than a single replica); which leads to ...
(b) added insurance that no more than 1 replica is attempting

[2022-08-23 05:47] renuy commented on #583
Still under discussion.

[2022-08-24 03:44] Rocking80 opened #844 "kapp-controller status Pending and never finish when deploying Unmanaged Clusters"
**What steps did you take:**
I am following  [getting-started-unmanaged](https://tanzucommunityedition.io/docs/v0.12/getting-started-unmanaged/) to deploying Tanzu unmanaged cluster.
1. Install Tanzu CLI on My windows desktop
2. Deploy a cluster using `tanzu unmanaged-cluster create beepboop`

**What happened:**
In step 2, the command output hung on  `kapp-controller status: Pending` and never fin

[2022-08-24 08:58] praveenrewar opened #845 "Add trivy scan workflow for kctrl"
**Describe the problem/challenge you have**
Currently we don't have a workflow to scan for security vulnerabilities in kctrl.

**Describe the solution you'd like**
We should update the existing trivy scan workflow to support kctrl or add a new one.

**Anything else you would like to add:**

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize ou

[2022-08-24 09:02] praveenrewar commented on #845
We can use the workflow in carvel-release-scripts once we start supporting kctrl in it (related issue - https://github.com/vmware-tanzu/carvel-release-scripts/issues/23).

[2022-08-25 14:44] joaopapereira commented on #688
After making the change to use AppCR uid I realized that in some cases it is not present. When we are dealing with package repositories we copy the AppCR but not the UID of it so when we are doing the fetch phase we do not have any UID, which becomes a problem.
Due to this, I think we will have to revert to the idea of `<some-location>/apps/{AppCR-Namespace}/{AppCR-name}` being the folder that wil

[2022-08-26 19:04] mwright-pivotal commented on #831
In some cases we find the need to first fetch an existing helm chart to tar file first locally so that we can make additional changes for testing.  For example Nvidia provides a set of sample apps https://catalog.ngc.nvidia.com/orgs/nvidia/helm-charts/video-analytics-demo. .. In the instructions we are asked to fetch the helm chart locally, then deploy.

It would be great if kctrl package init cou

[2022-08-27 12:20] corneil opened #847 "kctrl times out after 5min during package install"
`kctrl package install` produces error **`kapp: Error: Timed out waiting after 5m0s for resources:`**

I did set `--wait-timeout` to 15m but it didn't make a difference. Seems like we need `--wait-resource-timeout` to be passed to kapp.

Is there something I missed?

[2022-08-29 04:04] praveenrewar commented on #847
Hi @corneil !

The default wait timeout in kapp is 15 minutes, but I am guessing that the package you are using sets it to 5 minutes using the rawOptions in deploy section (https://carvel.dev/kapp-controller/docs/v0.40.0/app-spec/).

[2022-08-29 05:35] #700 closed, assigned to 100mik

[2022-08-29 05:35] rohitagg2020 opened #848 "kctrl - When syncing for helm Chart from Git, `pkg init` is not syncing the helm charts."

[2022-08-29 05:53] 100mik opened #849 "kctrl: keys from Package `spec` are not copied over from `package-resources`"
**What steps did you take:**
1. Create package-resources using `kctrl pkg init`
2. Add license or `releaseNotes` to Package in `package-resources.yml`
3. Make a release using `kctrl pkg release`

**What happened:**
The license and release notes fields do not get copied over to the release artefact

**What did you expect:**
The license and releaseNotes values should be copied over to the artefact

[2022-08-29 06:30] corneil commented on #847
Will that be part of the package itself?

[2022-08-29 07:05] praveenrewar commented on #847
Yes (https://carvel.dev/kapp-controller/docs/v0.40.0/packaging/#package).
You could probably confirm it by viewing the package that you are trying to install using kubectl.

[2022-08-30 21:25] joe-kimmel-vmw commented on #810
I think this is maybe a complete list of which e2e tests fail repeatedly and independently against openshift :

~--- FAIL: TestConfig_HTTPProxy (0.46s)~
~--- FAIL: TestConfig_KappDeployRawOptions (7.64s)~ -- passes on kc 0.40
--- FAIL: Test_App_FetchPath (6.05s)
    --- FAIL: Test_App_FetchPath/Single_Fetch_-_path_given (6.05s)
~--- FAIL: TestGitHttpsPublic (6.22s)~
--- FAIL: TestGitSshPrivate (45

[2022-09-01 04:47] #849 closed, assigned to nobody

[2022-09-01 15:54] joaopapereira commented on #844
Hey @Rocking80
If you are using windows containers, kapp-controller currently does not support it.
To look at the logs of kapp-controller you can try:
[code]
This should give you some logs if it is starting.

You can also execute `kubectl get pods -n kapp-controller -o yaml` this will get you information about the pods and maybe it will help diagnose is the pods are not able to standup.

[2022-09-02 06:22] Rocking80 commented on #844
Thanks @joaopapereira , if you take a look at the [getting-started-unmanaged](https://tanzucommunityedition.io/docs/v0.12/getting-started-unmanaged/) guide, it says windows is supported.

And I am using Windows (only *Docker Desktop* is needed) to deploy tanzu community, before the unmanaged cluster is deployed. The commands you show would not work yet.

[code]
Someone told me the stuck is because

[2022-09-02 13:21] mamachanko commented on #831
[cli] `kctrl package init` adds `creationTimestamp: null` to all the resource it creates in files. It's not a problem, but a minor distraction.

E.g.
[code]

[2022-09-02 13:26] mamachanko commented on #831
[cli]

`kctrl package release` fails to expand `~` as home:

[code]

[2022-09-02 13:32] mamachanko commented on #831
[cli]

`kctrl package init` suggests to follow up with `kctrl dev`, but that doesn't work ootb:

[code]

[2022-09-02 13:36] mamachanko commented on #831
[cli]

`kctrl pkg release` after a successful `kctrl pkg init` with local directory fails:

[code]

[2022-09-03 14:26] jdef commented on #838
Any other thoughts here from the KC team?

On Mon, Aug 22, 2022, 5:33 PM James DeFelice ***@***.***>
wrote:

[2022-09-03 21:03] joe-kimmel-vmw commented on #838
hi @jdef  - I just realized the maintainers had a sort of unfinished exchange that we hadn't percolated back out to you, sorry about that!

It seems like we'd be open to adding a leader/follower lease setup, similar to the k8s core controllers- would that satisfy your concerns?  I think this is something we'd be happy to do eventually and/or accept contributions for.

[2022-09-04 00:12] jdef commented on #838
Yep that would work fine, thanks.

On Sat, Sep 3, 2022, 5:03 PM Joe Kimmel ***@***.***> wrote:

[2022-09-05 17:27] 100mik commented on #831
@mamachanko the issues with the error `lstat .imgpkg/images.yml: no such file or directory` seem to be due to inappropriate error handling, this was resolved in #842

Where as the command `kctrl dev` is missing a `-f` flag. I think we could improve the error in the case where there are none of these required flags supplied. Something like "Expected at least 1 --file flag"

[2022-09-07 10:15] voor commented on #515
Just revisiting this thread since now there is [SecretTemplate](https://github.com/vmware-tanzu/carvel-secretgen-controller/blob/develop/docs/secret-template.md) which can make this a little cleaner, but you're still stuck passing things into both ytt and helm using annotations (since there's no way to pass something to multiple template steps), redirecting folks over to https://github.com/vmware-

[2022-09-07 10:17] voor commented on #122
Bumping this discussion and hoping to rekindle it, as this use case is now very well established when you're using Helm in conjunction with ytt overlays.

You can "hack" this in today leveraging the fact that when you need the value in multiple template steps if you know which one is first you can force things into the second one:
[code]

This is amazingly brittle, since you're forced to use paths

[2022-09-07 18:24] #781 closed, assigned to neil-hickey, joe-kimmel-vmw

[2022-09-08 21:29] cppforlife opened #863 "kapp-controller does not show kapp associatedResources after second deploy (noop)"
**What steps did you take:**
first deploy shows status.deploy.kapp.associatedResources content correctly; however, after second reconciliation that section is gone. is it kapp that no longer reports correct info or is it kapp-controller that somehow loses it?

**What did you expect:**
status.deploy.kapp.associatedResources should continue to persist.

**Anything else you would like to add:**
[Addi

[2022-09-09 00:21] joe-kimmel-vmw commented on #810
--- FAIL: TestGitHttpsPublic (6.22s)
 this test fails because it fetches an app over Git+HTTPS and the app fails to install.  the fetch works, so the test "succeeds" at the important part,  but it fails because the app is a redis installation that hasn't been openshifted.

[2022-09-09 00:49] joe-kimmel-vmw commented on #810
TestGitSshPrivate.  Fails to deploy its private git server on Openshift so the test can never run.

      5:29:26PM: ongoing: reconcile deployment/git-server (apps/v1) namespace: kappctrl-test
        5:29:26PM:  ^ Waiting for 1 unavailable replicas
        5:29:26PM:  L ok: waiting on replicaset/git-server-7944646467 (apps/v1) namespace: kappctrl-test
        5:29:26PM:  L ongoing: waiting on pod

[2022-09-09 04:51] renuy commented on #863
@praveenrewar please check from kapp perspective.
slack thread: https://kubernetes.slack.com/archives/CH8KCCKA5/p1662672602140659

[2022-09-09 06:43] praveenrewar commented on #863
We are saving the metadata file in a [temp directory](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/pkg/deploy/kapp.go#L55) which we remove after extracting the metadata and in kapp we [return early](https://github.com/vmware-tanzu/carvel-kapp/blob/develop/pkg/kapp/cmd/app/deploy.go#L187) when there are no changes so metadata is not saved to app-metadata file output.
I think

[2022-09-09 16:56] joe-kimmel-vmw commented on #810
HelmTests use the same redis package which can't install on openshift.

[2022-09-12 06:48] rohitagg2020 opened #867 "`kctrl` kctrl packaging authoring internal feedback"
- [ ] For the next steps, add a link to the documentation: https://carvel.dev/kapp-controller/docs/v0.40.0/kctrl-package-authoring/
- [ ] Running a second time and selecting a different source returns an error. We shouldnt ask for the second time.

[2022-09-12 09:55] 100mik opened #868 "Work towards having `kctrl` and `kapp-controller` be a part of a single go module"
---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this addressed as soon as possible"
👎 "There are other more important things to focus on right now"

We are also happy to receive and review Pull Requests if you want to help working on this iss

[2022-09-12 09:55] 100mik commented on #868
This would be cleaner and allow kctrl to use parts of kapp-controller without being dependent on a release

[2022-09-12 20:49] ThomasVitale commented on #831
The new `kctrl` functionality is really great, thanks for that! I find it quite straightforward to use to author packages and repositories. However, I feel a bit lost regarding the folder structure.

It would be great if we could define some guidelines on how to structure projects for Carvel packages and Carvel repositories and document them (just like Helm charts have a well-defined, standard str

[2022-09-14 04:25] rohitagg2020 opened #872 "kctrl dev command doesn't work on GKE cluster"
kctrl dev command doesn't work on GKE cluster

[2022-09-14 04:31] rohitagg2020 opened #873 "imgpkg bundle created during pkg release cmd should have user specified version"
**Describe the problem/challenge you have**
imgpkg bundle created during pkg release cmd has a tag `bundle-<TIMESTAMP>. User would like to have an option to override this default behavior with the user-specified version.

**Describe the solution you'd like**
Maybe adding a flag to pkg release cmd which will override this default behavior. or adding user-specified version as another tag while pushi

[2022-09-14 04:52] rohitagg2020 opened #874 "Change tag in Package-repositry.yml file created by pkg repo release cmd to human readable tag."
**Describe the problem/challenge you have**
Package-repository.yml file created by the pkg repo release command has sha digest as a tag for the pkg repo bundle. When we `kapp deploy` or `kubectl apply` this file and list the available repository on the cluster, we see the tag as `sha-digest` rather than human readable tag.

**Describe the solution you'd like**
We would like to see the sha-digest t

[2022-09-14 12:01] rohitagg2020 opened #875 "`kctrl` Enhance Kctrl package authoring documentation"
- [x] Document pre-reqs
     - [x] Identify k8s config - Mention that kctrl accepts ytt template files or helm template file
- [x] Update current documentation for making a release using kctrl package commands
    - [x] add `values.yml` file usage.
    - [x] Mention that Package-build, package-resources.yml and pkg-repo-build.yml needs to be checked-in into the git repo.
    - [x] Add notes for kb

[2022-09-14 17:51] #674 closed, assigned to 100mik

[2022-09-15 07:58] mamachanko opened #877 "`kctrl` panics on expired GCP token"
**What steps did you take:**
After some time I returned to a cluster and my token was expired. Then I ran
[code]

**What happened:**

[code]

**What did you expect:**
I expected the command to succeed.

**Anything else you would like to add:**
Once I refreshed my token with `kubectl get pods`, `kctrl` commands succeed as expected.

**Environment:**

Kubernetes provider: GKE

[code]

[code]

[code]

[2022-09-15 09:18] 100mik commented on #877
This is something we have run into `kapp` as well at times. I believe this should be handled better 🤔

[2022-09-15 11:57] praveenrewar commented on #877
Bumping the k8s libraries would resolve this. We do have https://github.com/vmware-tanzu/carvel-kapp-controller/pull/876 PR, but the go mod for cli is separate.

[2022-09-15 21:54] scarlettqu opened #878 "kapp-controller Pod stuck in CLBO and will never recover once the kapp-controller-sidecarexec container is SIGKILL’ed"
**What steps did you take:**
Over the uptime, noticed kapp-controller-sidecarexec is in CLBO due to /etc/kappctrl-mem-tmp/sidecarexec.sock: bind: address already in use.
I was able to reproduce the issue by sending a SIGKILL signal to the container using `kill -9 <container pid>`.

**What happened:**
The Pod stuck in CLBO and the package resource is not recognized.
[code]

**What did you expect:**

[2022-09-16 06:23] scarlettqu commented on #878
Thanks for the followup. Remove the file can unblock from the issue, but I still expect the Pod to recover without any manual operations on the cluster since the customer may not have the permission for this kind of solutions on the cluster.

For example, one possible solution may be to delete the socket file if it exists before starting sidecar-exec listener?

[2022-09-16 12:48] cppforlife commented on #753
[code]

[2022-09-16 22:54] aaronshurley opened #884 "v0.x.0: Update documentation to include imgpkg's IaaS auth updates"
**Describe the problem/challenge you have**
When we bump to the latest version of imgpkg for kapp-controller, we will need to update kapp-controller's documentation to use [the new IaaS authentication environment variables](https://carvel.dev/imgpkg/docs/v0.32.0/auth/#via-iaas).

**Describe the solution you'd like**
kapp-controller's documentation includes references to imgpkg's updated environmen

[2022-09-20 03:02] #848 closed, assigned to rohitagg2020

[2022-09-20 06:43] #877 closed, assigned to nobody

[2022-09-20 08:19] 100mik commented on #753
Ran into a failure for `Test_PackageInstalled_FromPackageInstall_DeletionFailureBlocks` [here](https://github.com/vmware-tanzu/carvel-kapp-controller/actions/runs/3088070074/jobs/4994122867#step:6:4080) where it seems like the deletion never fails.

[2022-09-20 20:00] 100mik commented on #674
We did go with `--ytt-overlays` as it was consistent with how we handle `values`

[2022-09-21 05:13] sethiyash opened #893 "`kctrl`: Support for creating multiple carvel packages of same project"
Until now we used to keep pkgbuild.yml at the root of the project but this is creating challenges when we want to create multiple packages of the same project.

[2022-09-21 20:35] 100mik commented on #831
Hey @ThomasVitale ! Sorry this fell off my radar. To answer a few:

`kctrl` pulls in any upstream config that needed into the `upstream` folder. And yes the recommended mode of adding additional overlays is described over [here ](https://carvel.dev/kapp-controller/docs/v0.41.0/kctrl-faq/#how-can-we-add-ytt-overlays-or-additional-configuration-to-upstream-release-artifacts).

 The documentation doe

[2022-09-23 21:45] joaopapereira opened #898 "When package repository is paused cannot be deleted"
**What steps did you take:**
1. Create a package repository using kapp
1. Set `paused: true` in the package repository
2. Try to delete it using kapp

**What happened:**
kapp blocked and could not delete the packagerepository

**What did you expect:**
The packagerepository gets deleted and kapp is not blocked

**Anything else you would like to add:**
This behavior was implemented for appcr in http

[2022-09-26 06:03] rohitagg2020 opened #899 "kctrl: Generate the openapi schema for helm chart."
**Describe the problem/challenge you have**
Today, when kctrl is used to package helm chart, it is not generating the openapi schema by reading values.yml.

**Describe the solution you'd like**
I would like kctrl to generate the openapi schema and be available as part of releasable package.

**Task**:
- [x] Proposal - https://hackmd.io/b436sCy1RnqTkSyjnzGwLg
- [ ] Add flag to disable the generatio

[2022-09-26 06:31] praveenrewar commented on #847
Hi @corneil !! Please let us know if you need more help on this, or if we can close the issue.

[2022-09-26 10:53] corneil commented on #847
Increasing the concurrency didn't help because the controlplane was rate limiting us.

By using more clusters each with 2 to 3 nodes the load on controlplane is within bounds and we get successful deployments of many instances.

[2022-09-26 10:53] #847 closed, assigned to praveenrewar

[2022-09-26 12:24] praveenrewar commented on #847
(BTW, the error is coming in the waiting stage, so eventually, in further kapp-controller reconciliations, the package installs should come in the Reconciled Successfully state if there's no other issue)

[2022-09-26 16:46] cppforlife commented on #878
this is addressed in v0.41.2

[2022-09-26 16:46] #878 closed, assigned to nobody

[2022-09-27 11:53] 100mik commented on #875
Adding two points,
- Documenting what an ideal GitHub workflow looks like?
- What is the recommended way of making these workflows/pipelines more secure? (SLSA. cosign in workflows?)

[2022-09-28 04:40] sabeer6870 opened #908 "kctrl to support offline rendering for given AppCr."
**Describe the problem/challenge you have**
Currently, `kctrl` have `dev` subcommand which can be used to deploy an app without having `kapp-ctrl` on the target `Kubernetes` cluster.
That's a very powerful feature. However, as a user of `kctrl` it's not clear as to what the `helm template <imgpkg_bundle>` would look like unless it's deployed.

**Describe the solution you'd like**
Once a user has h

[2022-09-29 15:25] praveenrewar commented on #863
Fixed in kapp [v0.53.0](https://github.com/vmware-tanzu/carvel-kapp/releases/tag/v0.53.0) and kapp-controller [v0.41.2](https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.41.2)

[2022-09-29 15:25] #863 closed, assigned to nobody

[2022-09-29 20:02] joe-kimmel-vmw opened #912 "kapp-controller fetch source integration with flux source-controller"
per some discussions - some users will have flux source-controller already installed and in use as part of their app development flow, so this integration would help us meet peeps where they're at

[2022-09-30 17:09] cppforlife commented on #908
cc @renuy

my 2c `--offline` => `--template`

[2022-10-01 16:03] sabeer6870 commented on #908
thanks updated  my post

[2022-10-04 04:54] 100mik opened #917 "`kctrl`:Remove dependency on cluster for the authoring commands"
**Describe the problem/challenge you have**
Today, some of the Package authoring commands are dependent on a connection to the cluster

**Describe the solution you'd like**
The authoring commands should not be dependent on the cluster unless resources are being deployed onto the cluster

**Tasks:**
- [ ] Ensure that core client is instantiated only when required in the `local` package

---
Vote on

[2022-10-04 07:32] 100mik commented on #917
This was previously being tracked in #632

[2022-10-04 07:34] 100mik commented on #872
@rohitagg2020 this is resolved in the previous release right?

[2022-10-04 07:45] 100mik opened #918 "`kctrl`: Allow users to push to multiple registries while releasing a package"
**Describe the problem/challenge you have**
Users might want to push container images to more than one OCI registries while releasing packages.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this addressed as soon as possible"
👎 "There are

[2022-10-04 07:58] 100mik commented on #918
This might require a change in `kbld` where we allow pushing the same image to multiple destinations. (Is not the case today to the best of my knowledge)
As of now users can run _just_ kbld with a different config in order to push the images to a separate registry once it has been built on the host.

[2022-10-04 08:02] 100mik opened #919 "`kctrl`: Allow users to use Helm charts in local directory while releasing"
**Describe the problem/challenge you have**
While using `kctrl` to release artifacts built from local directory, `kctrl` defaults to using `ytt` in the templating step

**Describe the solution you'd like**
`kctrl` could introduce a mode "Helm chart from Local Directory"
Alternatively it could attempt to detect if there are helm charts in the directory and add a templating step if so.

---
Vote on

[2022-10-04 08:06] 100mik commented on #919
Unprioritised for now, was previously tracked in #831

[2022-10-04 08:11] 100mik commented on #873
Adding on to potential use cases, @ThomasVitale mentioned that they would need to retrieve the bundle pushed for practices around supply chain security. Namely, SLSA and cosign I believe 🤔

[2022-10-04 08:27] 100mik opened #920 "`kctrl`: Allow users to supply values file for PackageInstalls while using the dev command"
**Describe the problem/challenge you have**
Users might want to test packages with different sets of values easily using the `dev` command.
As of today the only way to do this is to create a secret with the values on the cluster and refer to it in the package install.

**Describe the solution you'd like**
We need an experience similar to simply passing a  `--values-file` flag .
Only challenge I se

[2022-10-04 08:27] 100mik commented on #920
cc: @ThomasVitale looping you in since you were interested in this

[2022-10-04 08:33] 100mik opened #921 "`kctrl`: Use the kubeconfig on host while using the `dev` command by default"
**Describe the problem/challenge you have**
As of today, we use the service account specified in the PackageInstall while creating resources created as a result of the installation. This means users have to create service accounts to be able to use dev.
Alternatively, we could create the service account for the user if not present as well.

**Describe the solution you'd like**
Using a specified se

[2022-10-05 06:39] vicmarbev commented on #838
Hi @joe-kimmel-vmw, you mean using something like the [leaderelection](https://github.com/kubernetes/client-go/tree/master/tools/leaderelection) library from client-go, right? If that's the case, I'd be willing to work on this.

[2022-10-05 10:02] jdef commented on #838
That's what I had in mind

On Wed, Oct 5, 2022, 2:40 AM Víctor Martínez Bevià ***@***.***>
wrote:

[2022-10-05 19:55] praveenrewar opened #924 "`kctrl`: Updating version and values-file at the same time for an installed package errors out"
**What steps did you take:**
* Installed a specific version of a package and also provided values-file.
   - `kctrl package installed create -i test-pkg --package pkg.test.carvel.dev --version 2.0.0 --namespace test-ns --values-file values.yaml`
* Tried to update the package version along with the values-file
   - `kctrl package installed update -i test-pkg --package pkg.test.carvel.dev --version

[2022-10-10 10:41] matteo-magni opened #927 "kctrl package release: error at ytt phase"
**What steps did you take:**
- create Carvel package with some ytt logic that does `assert.fail`based on some validation of input values
- run `kctrl package release` against this package

**What happened:**
`kctrl` v0.40.0 goes through, v0.41.2 fails because no input values have been provided to `ytt`

**What did you expect:**
Input values will never be submitted to `kctrl package release` becaus

[2022-10-11 21:54] neil-hickey commented on #753
### Investigation of `wait: no child processes` flake

#### When does it happen?
This seems to be completely random

#### Why does it happen?
I attempted to perform a root cause analysis, but to not much success. I tried:
- re-running the e2e tests over 100 times against `minikube` and `kind` locally on a mac OSX.
- Forked the repo, running the e2e tests via the github action runner which uses `ki

[2022-10-12 05:54] rohitagg2020 commented on #927
@matteo-magni I have tried it and it seems ytt failed in version `0.40.0` as well. But `kctrl pkg release` continue to move onto next step. From version `0.41.2`, kctrl exits in case ytt throws an error.

Can you confirm this behavior?

[2022-10-12 06:20] rohitagg2020 opened #931 "kctrl: Improve the error message from vendir in case of kctrl dev if -l flag is not provided ."
kctrl: Improve the error message from vendir in case of kctrl dev if -l flag is not provided .

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this addressed as soon as possible"
👎 "There are other more important things to focus on right now

[2022-10-12 06:22] rohitagg2020 opened #932 "kctrl: Adding comments to the generated package-build and package-resources.yml."
Adding comments to the generated package-build and package-resources.yml.

This will make end user understand better the purpose of each file and section in them

[2022-10-12 06:25] rohitagg2020 opened #933 "kctrl: [Doc] Rerun package init/release override Package and PackageInstall."

[2022-10-12 06:25] rohitagg2020 opened #934 "kctrl:[Doc] Define what app spec will get overwritten(of packageBuild or package) in case of `pkg init rerun`."
Define what app spec will get overwritten(of packageBuild or package) in case of pkg init rerun. #

[2022-10-12 08:56] matteo-magni commented on #927
@rohitagg2020 Yes, exactly. `ytt` version is the same in both scenarios and it actually does fail if I run it over my code without the values, but it seems that `kctrl` v0.40.0 doesn't care.

[2022-10-13 04:29] rohitagg2020 commented on #927
We have received the feedback after v0.40.0 release to handle and propagate the errors. I will close this issue if there is no action item.

[2022-10-13 05:57] renuy commented on #927
@rohitagg2020 , if we know the PR for the issue, we could link it here and mark this as done?

[2022-10-13 08:54] #899 closed, assigned to rohitagg2020

[2022-10-13 19:55] neil-hickey commented on #844
Hey @Rocking80 , sorry for not getting back to follow up with you sooner. Did you make it any further? Do you still need our help? :)

[2022-10-17 06:03] rohitagg2020 commented on #927
Related PR: https://github.com/vmware-tanzu/carvel-kapp-controller/pull/834

[2022-10-17 06:03] #927 closed, assigned to rohitagg2020

[2022-10-18 05:36] #917 closed, assigned to 100mik

[2022-10-18 07:38] 100mik commented on #753
Another `wait: no child processes` on a failing `Test_SecretsAndConfigMapsWithCustomPathsCanReconcile` [here](https://github.com/vmware-tanzu/carvel-kapp-controller/actions/runs/3271118682/jobs/5380519294)

cc: @neil-hickey in case it helps

[2022-10-18 07:59] #874 closed, assigned to nobody

[2022-10-18 08:17] 100mik commented on #873
Closed with #930

[2022-10-18 08:17] #873 closed, assigned to rohitagg2020

[2022-10-19 04:29] #924 closed, assigned to praveenrewar

[2022-10-19 07:32] mamachanko opened #943 "Cannot release package with kctrl"
**What steps did you take:**

I have a directory containing the to-be contents of my package:
[code]
I ran
[code]
Then I adjusted `PackageBuild` manually:
[code]

Then I updated the resources in `package-resources.yaml` to reflect my needs:
 * Filled in metadata
 * Set `Package`
[code]

**What happened:**
When I run
[code]
it fails with
[code]

Annoyingly, my `package-build.yaml` gets overwritten

[2022-10-19 08:29] 100mik commented on #943
This is definitely not expected. We try to maintain user supplied values, gonna take a closer look a it.

[2022-10-20 11:25] #827 closed, assigned to 100mik

[2022-10-20 20:13] neil-hickey opened #949 "v0.42.0"
## Releasing a new minor / major:
- [x] OSS Release
    - [x] [Releasing via workflow](https://github.com/vmware-tanzu/carvel-kapp-controller/blob/develop/docs/dev.md#release).
    - [x] Close any GitHub issues that have been delivered.
    - [x] Add a link to the release on the issue.
- [x] Update the packaging repositories [kctrl]
    - [x] [Check if Update Homebrew](https://hackmd.io/uVpvITUuR4

[2022-10-20 20:19] neil-hickey commented on #949
@microwavables FYI we are in the process of releasing a new kapp-controller version.  Will ping on slack when we release, but expecting today / tomorrow.

[2022-10-21 18:53] neil-hickey commented on #425
closing in favour of our new centralised flaky test issue https://github.com/vmware-tanzu/carvel-kapp-controller/issues/753

[2022-10-21 18:53] #425 closed, assigned to nobody

[2022-10-21 18:58] neil-hickey commented on #306
Closing this issue out, we have provided a way to have a better experience with multiple fetches as part of PR https://github.com/vmware-tanzu/carvel-kapp-controller/issues/151

[2022-10-21 18:58] #306 closed, assigned to nobody

[2022-10-21 19:00] neil-hickey commented on #588
Closed as of https://github.com/vmware-tanzu/carvel-vendir/pull/167

[2022-10-21 19:00] #588 closed, assigned to DennisDenuto

[2022-10-21 19:02] voor commented on #306
Whoops, sorry, never came back to acknowledge that this was being employed successfully.

[2022-10-21 20:46] neil-hickey commented on #518
We do most if not all of the less secure work (third party / external tools for fetching, templating etc) in a sidecar now:

https://github.com/vmware-tanzu/carvel-kapp-controller/pull/775

I think this goes some way towards a less privileged user request. The sidecar is something we are going to improve on, so I'm going to close out this issue

[2022-10-21 20:46] #518 closed, assigned to nobody

[2022-10-21 20:48] neil-hickey commented on #774
https://github.com/vmware-tanzu/carvel-kapp-controller/pull/926

[2022-10-21 21:17] neil-hickey commented on #797
will be done as part of https://github.com/vmware-tanzu/carvel-kapp-controller/pull/926

[2022-10-21 21:17] #797 closed, assigned to nobody

[2022-10-24 20:22] neil-hickey commented on #949
Released! https://github.com/vmware-tanzu/carvel-kapp-controller/releases/tag/v0.42.0

[2022-10-24 20:22] #949 closed, assigned to joaopapereira, neil-hickey

[2022-10-25 05:30] rohitagg2020 commented on #872
Fixed: https://github.com/vmware-tanzu/carvel-kapp-controller/pull/885

[2022-10-25 05:30] #872 closed, assigned to rohitagg2020

[2022-10-25 05:56] renuy commented on #837
closing this issue as separate issues have been created for one's mentioned here

[2022-10-25 05:56] #837 closed, assigned to 100mik, rohitagg2020

[2022-10-25 05:57] renuy commented on #831
closing this issue as separate issues have been created for one's mentioned here

[2022-10-25 05:57] #831 closed, assigned to renuy, 100mik, rohitagg2020

[2022-10-25 18:43] 100mik opened #952 "`kctrl`: Allow users to move all container images dependencies while releasing"
**Describe the problem/challenge you have**
On doing a package/package repo release, the Package and PackageRepo bundles are pushed to the user specified registry, however any pre-existing container images that the Package might be dependent on are not moved to the repository where the bundles reside.

**Describe the solution you'd like**
Users might or might not want to do this while releasing pa

[2022-10-25 18:43] 100mik commented on #952
Branched out from #632

[2022-10-25 18:48] 100mik opened #953 "`kctrl`: Better errors for malformed `package-resources.yml`"
**Describe the problem/challenge you have**
[A description of the current challenge that you are experiencing.]
Today, if resources are missing from `package-resources.yml` we get an error somewhat like this,
[code]

**Describe the solution you'd like**
[A clear and concise description of what you want to happen. If applicable a visual representation of the UX.]
We should have a better error messa

[2022-10-25 18:50] 100mik commented on #953
Branched out of #632

[2022-10-25 19:14] 100mik opened #954 "`kctrl`: Allow users to watch for changes while using `dev`"
`kctrl dev` could have a flag that asks it to watch the resources it is deploying for changes (maybe `--watch`).
`kctrl` would perform a dev reconciliation whenever it detects changes.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see this add

[2022-10-25 20:16] 100mik commented on #943
This seems to be true, and might be a bit buggy.
This seems to be happening the command seems to reduce the config to the most minimal version (not intended at all)
Even if, `useKbldImagesLock` is removed it defaults to false, so it should not affect functionality of the `release` command itself.
This might be improved for a better user experience, we could not overwrite the file if there are no c

[2022-10-25 20:22] 100mik commented on #943
The output you shared however seems to be from when `useKbldImagesLock` output is set to `true` as it is trying to build images, which confuses me a bit.
Was this run after you set the value to false?

More so as of today,
`kctrl` expects the user supplied `.imgpkg` directory to reside in the root, so something like
[code]
Thought I would call that out 🤔

[2022-10-26 04:37] mamachanko commented on #952
I understand that "dependencies" are the images locked within `.imgpkg/images.ya?ml`?

[2022-10-26 05:30] 100mik commented on #952
That is correct! `kctrl` would delegate that work to the `imgpkg copy` command

[2022-10-26 12:09] gberche-orange opened #957 "Document FORCE_COLOR=1 in kapp --help"
**Describe the problem/challenge you have**

In order to include a shortcut for kapp in k9s, I need to pipe kapp output to the less command.

Unless the `export FORCE_COLOR=1` prereq, the `kapp inspect | less -R` fails to display colors. Same with --color or --tty flags

After searching a while, finally found the flag in https://kubernetes.slack.com/archives/CH8KCCKA5/p1600180101408100?thread_ts=1

[2022-10-26 19:08] #664 closed, assigned to joaopapereira

[2022-10-26 19:08] #688 closed, assigned to joaopapereira

[2022-10-26 19:08] #689 closed, assigned to joaopapereira

[2022-10-27 03:40] rohitagg2020 opened #958 "kctrl: Prerequisite handling - Check and warn about install required binaries instead of calling"
**Describe the problem/challenge you have**

kctrl: Prerequisite handling - Check and warn about install required binaries instead of calling. For helm, dont give the warning initially, only when authors select helm option, throw the appropriate error(something like: helm not found).

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our back

[2022-10-27 03:41] rohitagg2020 opened #959 "kctrl: Comment the package-build and package-resources.yml"
**Describe the problem/challenge you have**
Comment the generated `package-build` and `package-resources.yml` particularly the app section and its relevance/usage in the different commands.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would like to see thi

[2022-10-27 03:46] rohitagg2020 opened #960 "kctrl: Accept username and password for the registry from the user interaction and use it to authenticate."
**Describe the problem/challenge you have**

Accept username and password for the registry from the user interaction and use it to authenticate(for imgpkg commands) in `pkg release` and `pkg repo release`.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right of this comment to vote.

👍 "I would

[2022-10-27 04:44] rohitagg2020 opened #961 "kctrl: Re-running pkg init shouldnt ask for selecting the source."
**Describe the problem/challenge you have**

kctrl: Re-running pkg init shouldnt ask for selecting the source. Running a second time and selecting a different source returns an error. Therefore, very well we can skip this question altogether.

---
Vote on this request

This is an invitation to the community to vote on issues, to help us prioritize our backlog. Use the "smiley face" up to the right

[2022-10-31 11:27] praveenrewar opened #964 "Description for `kctrl dev` command in help section should also include package installs"
**What steps did you take:**
`kctrl dev -h`

**What happened:**
[code]

**What did you expect:**
The description for the `dev` command should `Deploy App CRs, Package CR and PackageInstall CRs`.
Description for the `-f` flag should just be `Set file name`

**Anything else you would like to add:**
[Additional information that will assist in solving the issue.]

**Environment:**

- kapp Controller v

[2022-11-02 22:05] ThomasVitale opened #966 "kctrl: Re-running "kctrl package init" deletes info from vendir.yml"
**What steps did you take:**
It seems that a regression has been introduce in v0.42.0 affecting the behaviour of the kctrl CLI when running `kctrl package init` a second time.

1. Get an existing Carvel package based on an upstream tool: `git clone https://github.com/arktonix/package-for-knative-eventing.git`
2. Navigate to the package directory: `cd package`
3. Run `kctrl package init`

**What ha

[2022-11-03 06:24] 100mik commented on #966
The expected behaviour is that `init` will load defaults from the file.
If run with the `--yes` flag, it will simply use the defaults instead of prompting the user.

I am going to verify this ^

Another issue that @mamachanko pointed out is that `kctrl` overwrites comments and rearranges keys in PackageBuild when the user runs init/release. This is something we will be creating an issue for

[2022-11-04 16:01] joaopapereira commented on #898
Accepting this issue

[2022-11-08 19:04] alexbarbato opened #970 "Document required permissions to deploy kapp-controller"
It would be super helpful to document as a part of the install process for kapp-controller to include the minimum set of permissions so users don't have issues deploying and/or don't potentially over provision permissions.

[2022-11-09 09:13] 100mik opened #971 "Should `kapp-controller` be running tests on latest version of k8s available?"
As of today, it looks like the `test-gh` workflow runs exclusively on Kubernetes version 1.20.4.
Where as "Kind cluster E2E tests" is locked onto using `kind v0.14.0` which defaults to using Kubernetes 1.24.0.

Are we intentionally maintaining a minimum supported version and maximum supported version here?
If that is not the case, I believe removing the version constraint on `helm/kind-action` wil

[2022-11-09 09:13] 100mik commented on #971
@neil-hickey happy to make the change if you think it is reasonable ^

[2022-11-10 05:50] 100mik commented on #966
@ThomasVitale looks like it is a regression :(
Gonna take a closer look at it (the other issue I mentioned is unrelated)

[2022-11-10 06:51] ThomasVitale commented on #966
@100mik thanks for looking into this issue.

[2022-11-14 18:13] joaopapereira commented on #884
It is live in https://carvel.dev/kapp-controller/docs/develop/install/#openshift

[2022-11-14 18:13] #884 closed, assigned to joaopapereira

[2022-11-15 00:20] #912 closed, assigned to nobody

[2022-11-15 09:22] #966 closed, assigned to nobody

[2022-11-15 19:26] alexbarbato commented on #884
The docs don't say where you're supposed to apply this env var - is it possible to add that context please? Actually the new ones might, hold please!

I think I found it, but the docs now state to remove the env var from the sidecar (which is useful!), but I think there must be versions of kapp-controller where that's nto the case and you have to explicitly set it.

[2022-11-15 19:28] joaopapereira commented on #884
`Remove the environment variable IMGPKG_ACTIVE_KEYCHAINS [environment variable](https://carvel.dev/imgpkg/docs/latest/auth/#via-iaas) from the deployment yaml of the sidecar container.`
This is what is in the docs. Do you think it is enough?

[2022-11-15 19:45] alexbarbato commented on #884
I think what confused me is in my deployment (from Tanzu Cluster Essentials) that var was not there but rather it had to be applied and set to false.

And that in with the CLI hint being super useful, but it didn't tell me the sidecar bit so I kind of had to play whack a mole to find the right config.

[2022-11-24 07:08] 100mik commented on #753
Seeing a lot of flake in the case where we expect consecutive successes to be 1 but it is 2. ([Example](https://github.com/vmware-tanzu/carvel-kapp-controller/actions/runs/3537907896/jobs/5938892839#step:5:4971) on `Test_PackageRepoStatus_Success`)

Maybe increasing sync period will help ensure that another reconciliation does not happen before we check for the case?
Edit: Again over [here](https:

[2022-11-27 00:19] #931 closed, assigned to nobody

[2022-11-29 20:22] #845 closed, assigned to praveenrewar

[2022-11-29 21:04] #971 closed, assigned to nobody

[2022-11-30 00:19] #844 closed, assigned to nobody